[2020-09-27 08:02] NordScandinavian commented on #1095
Сегодня приходил врач, направил завтра на выписку.
Завтра же приступлю к работе вновь

[2020-09-27 08:06] YuriSilenok commented on #1095
Хорошо

[2020-09-27 14:50] YuriSilenok commented on #1199
Ветка task-1199 удалена

[2020-09-27 14:53] YuriSilenok commented on #1187
Ветка issue-1187 удалена

[2020-09-27 14:53] YuriSilenok commented on #1088
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1088 составляет 3 дней. Активность в ветке issue-1088 составляет 3 дней. Активность по запросу #1357 составляет 2 дней. Нет запросов, которые должен проверить преподаватель

[2020-09-27 14:53] YuriSilenok commented on #1032
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1032 составляет 3 дней. Активность в ветке issue-1032 составляет 3 дней. Активность по запросу #1356 составляет 2 дней. Нет запросов, которые должен проверить преподаватель

[2020-09-27 18:04] VinogradovAlexandr781227 commented on #1346
@YuriSilenok Получается сейчас создавать запрос на проверку этого или сначала пилить функционал и тогда уже запрос на проверку всего?

[2020-09-27 18:44] YuriSilenok commented on #1346
создавайте запрос на проверку user story и поднимите задачу на кодирование user story.
Думаю это можно зачесть за 2 ЛР.

[2020-09-27 19:12] YuriSilenok commented on #1281
@MyachevM
Я возвращаю Вам задачу, но это в последний раз, следите ща своими задачами.

[2020-09-27 20:15] YuriSilenok commented on #1344
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1344 составляет 3 дней. Активность в ветке issue-1344 составляет 3 дней. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-28 09:12] VinogradovAlexandr781227 commented on #1346
Понял. Буду у компьютера, сделаю запрос и назначу ревьюверов

[2020-09-28 16:37] NordScandinavian commented on #1095
Состояние ухудшилось, оставили на больничном до 02.10, прошу прощения за отсутствие в рабочем составе.

[2020-09-28 17:24] YuriSilenok commented on #1095
Главное что предупредили, спасибо.

[2020-09-29 14:51] #1199 closed, assigned to YuriSilenok

[2020-09-29 15:02] #1187 closed, assigned to YuriSilenok

[2020-09-29 15:02] YuriSilenok commented on #1088
Ветка issue-1088 удалена

[2020-09-29 15:03] YuriSilenok commented on #1032
Ветка issue-1032 удалена

[2020-10-02 08:52] YuriSilenok commented on #1095
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1095 составляет 3 дней. Активность в ветке issue-1095 составляет 2 дней. Активность по запросу #1358 составляет 2 дней. Нет запросов, которые должен проверить преподаватель

[2020-10-02 08:54] YuriSilenok commented on #1346
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1346 составляет 3 дней. Активность в ветке issue-1346 составляет 2 дней. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-10-05 10:20] VinogradovAlexandr781227 commented on #1346
@YuriSilenok  Здравствуйте. Можно ли вернуть задачу? Переделал пул реквест. Если ответ положительный, то жду ревьюверов и поднимаю задачу на реализацию данного контента

[2020-10-06 00:52] YuriSilenok opened #1369 "Статистика активности команды Elite"
Статистика на 2020-10-06, средний балл 26.9
|User|Events|By days|Score|
| --- | --- | --- | --- |
|Юрий Силенок|126|[0, 4, 5, 5, 8, 21, 83]|4.68|
|Александр Виноградов|5|[1, 0, 0, 0, 0, 0, 4]|0.19|
|Завьялова Надежда|29|[16, 7, 4, 0, 0, 1, 1]|1.08|
|Артем Коваленко|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Мячев Михаил|14|[0, 1, 0, 3, 2, 0, 8]|0.52|
|Виноградов Александр|6|[0, 0, 0, 0, 0, 0, 6]|0.22|
|Vladimi

[2020-10-06 00:53] #1350 closed, assigned to YuriSilenok

[2020-10-07 00:02] YuriSilenok opened #1370 "Статистика активности по проекту"
Статистика на 2020-11-07, средний балл 19.9
|User|Events|By days|Score|
| --- | --- | --- | --- |
|Юрий Силенок|124|[0, 124, 0, 0, 0, 0, 0]|6.23|
|Александр Виноградов|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Артем Коваленко|2|[0, 0, 0, 0, 1, 0, 1]|0.1|
|Мячев Михаил|6|[0, 6, 0, 0, 0, 0, 0]|0.3|
|Виноградов Александр|1|[0, 1, 0, 0, 0, 0, 0]|0.05|
|Vladimir Nesgovorov|4|[0, 3, 0, 0, 0, 1, 0]|0.2|
|Жижикин Ива

[2020-10-07 10:52] YuriSilenok commented on #1346
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1346 составляет 2 дней. Активность в ветке issue-1346 составляет 3 дней. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-10-08 00:52] #1369 closed, assigned to YuriSilenok

[2020-10-09 14:03] YuriSilenok commented on #1354
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1354 составляет 21 дней. Активность в ветке issue-1354 составляет 2 дней. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-10-09 14:05] YuriSilenok commented on #1328
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1328 составляет 18 дней. Активность в ветке issue-1328 составляет 2 дней. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-10-15 21:24] YuriSilenok commented on #1346
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1346 составляет 8 дней. Активность в ветке issue-1346 составляет 4 дней. Активность по запросу #1366 составляет 2 дней. Нет запросов, которые должен проверить преподаватель

[2020-10-20 11:05] YuriSilenok commented on #1354
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1354 составляет 4 дней. Активность в ветке issue-1354 составляет 5 дней. Активность по запросу #1371 составляет 2 дней. Нет запросов, которые должен проверить преподаватель

[2020-10-21 18:48] YuriSilenok commented on #1346
Ветка issue-1346 удалена

[2020-10-21 23:50] YuriSilenok commented on #1344
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1344 составляет 21 дней. Активность в ветке issue-1344 составляет 5 дней. Активность по запросу #1361 составляет 2 дней. Нет запросов, которые должен проверить преподаватель

[2020-10-22 18:13] YuriSilenok commented on #1346
Возобновите работу над задачей

[2020-10-22 22:31] VinogradovAlexandr781227 commented on #1346
Понял. Спасибо. Завтра же загружу изменённые файлы, как доберусь до ноутбука.

[2020-10-23 09:45] YuriSilenok commented on #1344
[Зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1029316146&range=M6)

[2020-10-23 09:45] #1344 closed, assigned to YuriSilenok

[2020-10-24 06:37] VinogradovAlexandr781227 commented on #1346
Простите пожалуйста. Проблема с ноутбуком, я сегодня все залью

[2020-11-01 11:28] YuriSilenok opened #1373 "Исправить замечания предъявляемые к проверке кода для запроса #1371"
Привести код в соответствие с [требованиями](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/dev/Docs/Code-review/README.md) в запросе #1371 .

[2020-11-01 11:57] YuriSilenok commented on #1281
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1281 составляет 34 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-11-01 12:40] YuriSilenok opened #1374 "Уточнить структуру для модульных тестов моделей"
Проблема возникла в [этом](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/1371#issuecomment-720076729) комментарии.
Необходимо определить шаблоны имен для тестовый методов, классов, пространства имен. определить имена файлов и расположения этих файлов в проекте модульных тестов и папках

[2020-11-01 13:02] YuriSilenok commented on #1281
[зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=870820066&range=M4)

[2020-11-01 13:02] #1281 closed, assigned to YuriSilenok

[2020-11-08 16:57] NesgovorovVS commented on #1373
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/1367#issuecomment-723635061

[2020-11-13 09:39] NesgovorovVS commented on #1373
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/1367#issuecomment-726659794

[2020-11-19 09:11] #1370 closed, assigned to YuriSilenok

[2020-11-19 09:11] #1359 closed, assigned to YuriSilenok

[2020-11-19 09:11] YuriSilenok commented on #1354
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1354 составляет 19 дней. Активность в ветке issue-1354 составляет 21 дней. Активность по запросу #1371 составляет 10 дней. Нет запросов, которые должен проверить преподаватель

[2020-11-19 09:11] YuriSilenok commented on #1346
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1346 составляет 26 дней. Активность в ветке issue-1346 составляет 25 дней. Активность по запросу #1372 составляет 17 дней. Нет запросов, которые должен проверить преподаватель

[2020-11-19 09:11] YuriSilenok commented on #1328
Ветка issue-1328 удалена

[2020-11-19 09:11] YuriSilenok commented on #1095
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1095 составляет 40 дней. Активность в ветке issue-1095 составляет 33 дней. Активность по запросу #1358 составляет 13 дней. Нет запросов, которые должен проверить преподаватель

[2020-11-19 09:11] YuriSilenok commented on #1088
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1088 составляет 43 дней. Активность в ветке issue-1088 составляет 20 дней. Активность по запросу #1357 составляет 17 дней. Нет запросов, которые должен проверить преподаватель

[2020-11-19 09:11] YuriSilenok commented on #1087
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1087 составляет 19 дней. Активность в ветке issue-1087 составляет 25 дней. Активность по запросу #1368 составляет 13 дней. Нет запросов, которые должен проверить преподаватель

[2020-11-19 09:12] YuriSilenok commented on #1065
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1065 составляет 19 дней. Активность в ветке issue-1065 составляет 25 дней. Активность по запросу #1360 составляет 13 дней. Нет запросов, которые должен проверить преподаватель

[2020-11-19 09:12] YuriSilenok commented on #1032
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1032 составляет 43 дней. Активность в ветке issue-1032 составляет 33 дней. Активность по запросу #1356 составляет 14 дней. Нет запросов, которые должен проверить преподаватель

[2020-11-19 09:12] YuriSilenok opened #1375 "Текущая активность по задачам"
|User|Remains|Issue|Branch|Request|
|---|---|---|---|---|
|[Юрий Силенок](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/assigned/YuriSilenok)|5д. 16ч.|#1346->1д. 7ч.<-2020-11-19 12:11:19|[issue-1346](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/commits/issue-1346)->26д. 18ч.<-2020-10-25 00:49:05|#1372->19д. 6ч.<-2020-11-01 12:54:41|
|[Юрий Си

[2020-11-19 09:12] YuriSilenok opened #1376 "Статистика активности по проекту"
Статистика на 2020-11-20, средний балл 2.4
|User|Events|By days|Score|
| --- | --- | --- | --- |
|Юрий Силенок|15|[0, 0, 0, 0, 0, 0, 15]|6.25|
|Александр Виноградов|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Артем Коваленко|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Мячев Михаил|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Виноградов Александр|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Vladimir Nesgovorov|2|[2, 0, 0, 0, 0, 0, 0]|0.83|
|Жижикин Иван|0

[2020-11-23 14:41] NesgovorovVS commented on #1374
@YuriSilenok готов взять эту задачу, если вы её переоткроете и завершил бы полностью лабы с реструктуризацией т.е 1354 и 1373, этими тремя лабами закрыл бы все долги.

[2020-11-23 14:50] YuriSilenok commented on #1374
Думаю эта задача имеет решение вот в [этом](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/dev/Docs/Unit-test/README.md) документе. Проверьте, так ли это?

[2020-11-23 15:13] NesgovorovVS commented on #1374
Нет, не имеет, поэтому эта задача и была создана.

[2020-11-23 15:20] YuriSilenok commented on #1374
Да, я не сразу вспомнил зачем эта задача была создана, в документации, которую я привел выше, описывались названия относительно контроллера и его методом, а относительно модели нет описания.

[2020-11-27 21:13] NesgovorovVS commented on #1373
Завтра займусь этой задачей.

[2020-12-02 13:26] #1376 closed, assigned to YuriSilenok

[2020-12-02 13:26] #1375 closed, assigned to YuriSilenok

[2020-12-02 13:26] YuriSilenok commented on #1346
Ветка issue-1346 удалена

[2020-12-02 13:26] #1328 closed, assigned to YuriSilenok

[2020-12-02 13:27] YuriSilenok commented on #1240
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1240 составляет 13 дней. Активность в ветке issue-1240 составляет 31 дней. Активность по запросу #1367 составляет 19 дней. Нет запросов, которые должен проверить преподаватель

[2020-12-02 13:27] YuriSilenok commented on #1095
Ветка issue-1095 удалена

[2020-12-02 13:27] YuriSilenok commented on #1088
Ветка issue-1088 удалена

[2020-12-02 13:27] YuriSilenok commented on #1087
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1087 составляет 13 дней. Активность в ветке issue-1087 составляет 38 дней. Активность по запросу #1368 составляет 26 дней. Нет запросов, которые должен проверить преподаватель

[2020-12-02 13:27] YuriSilenok commented on #1065
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1065 составляет 13 дней. Активность в ветке issue-1065 составляет 38 дней. Активность по запросу #1360 составляет 26 дней. Нет запросов, которые должен проверить преподаватель

[2020-12-02 13:27] YuriSilenok commented on #1032
Ветка issue-1032 удалена

[2020-12-02 13:27] YuriSilenok opened #1378 "Текущая активность по задачам"
|User|Remains|Issue|Branch|Request|
|---|---|---|---|---|
|[Юрий Силенок](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/assigned/YuriSilenok)|1д. 04ч.|#1346->5д. 19ч.<-2020-12-02 16:26:54| | |
|[Юрий Силенок](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/assigned/YuriSilenok)|1д. 04ч.|#1240->5д. 19ч.<-2020-12-02 16:27:07|[issue-1240](ht

[2020-12-02 13:28] YuriSilenok opened #1379 "Статистика активности по проекту"
Статистика на 2020-12-08, средний балл 7.0
|User|Events|By days|Score|
| --- | --- | --- | --- |
|Юрий Силенок|39|[0, 20, 0, 0, 0, 0, 19]|5.57|
|Александр Виноградов|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Артем Коваленко|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Мячев Михаил|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Виноградов Александр|1|[0, 1, 0, 0, 0, 0, 0]|0.14|
|Vladimir Nesgovorov|5|[0, 1, 3, 0, 0, 0, 1]|0.71|
|Жижикин Иван

[2020-12-03 14:43] NesgovorovVS commented on #1373
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/1377#issuecomment-738037801

[2020-12-03 14:43] NesgovorovVS commented on #1354
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/1377#issuecomment-738037801

[2020-12-07 19:47] YuriSilenok commented on #1326
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1326 составляет 77 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-12-07 19:54] YuriSilenok commented on #1326
[зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1029316146&range=L10)

[2020-12-07 19:54] #1326 closed, assigned to YuriSilenok

[2021-05-17 14:08] #1379 closed, assigned to YuriSilenok

[2021-05-19 07:05] #1032 closed, assigned to YuriSilenok

[2021-05-19 07:05] #1065 closed, assigned to YuriSilenok

[2021-05-19 07:05] #1087 closed, assigned to YuriSilenok

[2021-05-19 07:05] #1088 closed, assigned to YuriSilenok

[2021-05-19 07:05] #1095 closed, assigned to YuriSilenok

[2021-05-19 07:05] #1240 closed, assigned to YuriSilenok

[2021-05-19 07:05] #1346 closed, assigned to YuriSilenok

[2021-05-19 07:05] #1354 closed, assigned to NesgovorovVS

[2021-05-19 07:05] #1373 closed, assigned to NesgovorovVS

[2021-05-19 07:05] #1374 closed, assigned to NesgovorovVS

[2021-05-19 07:05] #1378 closed, assigned to YuriSilenok

[2021-05-26 13:20] YuriSilenok opened #1445 "A closing curly bracket must not be preceded by a blank line"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found multiple issues last seen at 2e0647fe5852987d3bea7c00e4d54b2764699793:

#### A closing curly bracket must not be preceded by a blank line.
- [x]  [UnitTestOfTimetableOfClasses\UT_CGroup\UT_Update\UnitTest.cs:72](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blo

[2021-05-26 13:24] YuriSilenok opened #1446 "The code must not contain multiple blank lines in a row"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found multiple issues last seen at 2e0647fe5852987d3bea7c00e4d54b2764699793:

#### The code must not contain multiple blank lines in a row.
- [x]  [UnitTestOfTimetableOfClasses\UT_CGroup\UT_Update\UnitTest.cs:112](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/2e

[2021-05-26 13:25] YuriSilenok opened #1447 "An opening curly bracket must not be followed by a blank line"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found multiple issues last seen at 2e0647fe5852987d3bea7c00e4d54b2764699793:

#### An opening curly bracket must not be followed by a blank line.
- [x]  [UnitTestOfTimetableOfClasses\UT_CInstitute\UT_Update\UnitTest.cs:44](https://github.com/Students-of-the-city-of-Kostroma/Student-timetabl

[2021-05-26 13:30] YuriSilenok opened #1448 "Рефакторинг файлов с тестами для моделей"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found multiple issues last seen at 76926157959a9092267e34141d539392eb0b1596:

#### The code must not contain multiple blank lines in a row.
- [x]  [UnitTestOfTimetableOfClasses\MGroup\UnitTest.cs:5](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/76926157959a90922

[2021-05-26 14:13] Gelikan44 commented on #1448
Копанцев

[2021-05-26 14:17] AMAT0RY commented on #1447
Татаринов

[2021-05-26 14:20] SeaBreaze commented on #1446
Иванюк

[2021-05-26 19:37] codefactor-io[bot] opened #1451 "Fix 'Complex Method' issue in TimetableOfClasses\AddGroup.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Complex Method

It's currently on:
[TimetableOfClasses\AddGroup.cs:82-127](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddGroup.cs#L82)

Long or complex methods may lead to code that is difficul

[2021-05-26 19:52] codefactor-io[bot] opened #1452 "Fix 'Duplicate Code' issue in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found an issue: Duplicate Code

It's currently on:
[TimetableOfClasses\AddTeacher.cs:226-248](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddTeacher.cs#L226)
[TimetableOfClasses\AddAcademicDegree.c

[2021-05-27 10:11] #1446 closed, assigned to SeaBreaze

[2021-05-27 14:39] YuriSilenok opened #1455 "Разложить тестовые сценарии по своим местам"
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/tree/dev/UnitTestOfTimetableOfClasses

[2021-05-27 14:39] ElenaNazarova012 commented on #1455
Ето моё.

[2021-05-30 07:44] codefactor-io[bot] opened #1468 "Fix 13 Style issues in UnitTestOfTimetableOfClasses\UT_Insert_CUniversity.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### The code must not contain multiple blank lines in a row.
- [ ]  [UnitTestOfTimetableOfClasses\UT_Insert_CUniversity.cs:221](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/UnitTestOfTimetable

[2021-05-30 07:54] Gribova-Victoria commented on #1468
Грибова

[2021-05-30 12:56] codefactor-io[bot] opened #1469 "Fix 10 Style, 1 Duplication issues in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### An opening curly bracket must not be followed by a blank line.
- [x]  [TimetableOfClasses\AddTeacher.cs:133](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddTeacher.cs#L

[2021-05-30 13:02] kuznetsovanadya13 commented on #1469
Кузнецова

[2021-05-30 13:06] codefactor-io[bot] opened #1470 "Fix 1 Maintainability, 6 Style issues in LibOfTimetableOfClasses\MTeacher.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### The code contains an extra semicolon.
- [ ]  [LibOfTimetableOfClasses\MTeacher.cs:46](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/MTeacher.cs#L46)

#### An opening

[2021-05-30 13:08] Rashad5555 commented on #1470
Бабаев Рашад

[2021-05-30 13:18] codefactor-io[bot] opened #1471 "Fix 5 Style issues in TimetableOfClasses\AddUniversity.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### An opening curly bracket must not be followed by a blank line.
- [ ]  [TimetableOfClasses\AddUniversity.cs:158](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddUniversit

[2021-05-30 13:22] 6a6ka-v-kedax commented on #1471
Фёдоров Д

[2021-05-30 13:28] codefactor-io[bot] opened #1472 "Fix 11 Style, 1 Complexity issues in TimetableOfClasses\AddAcademicTitle.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### An else, catch, or finally statement must not be preceded by a blank line.
- [ ]  [TimetableOfClasses\AddAcademicTitle.cs:116](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClass

[2021-05-31 06:22] codefactor-io[bot] opened #1474 "Fix 2 Maintainability issues in azure-pipelines.yml"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### Trailing spaces
- [ ]  [azure-pipelines.yml:40](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/azure-pipelines.yml#L40)
- [ ]  [azure-pipelines.yml:39](https://www.codefactor.io/repository/g

[2021-05-31 06:22] codefactor-io[bot] opened #1475 "Fix 2 Maintainability issues in azure-pipelines.yml"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### Trailing spaces
- [ ]  [azure-pipelines.yml:40](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/azure-pipelines.yml#L40)
- [ ]  [azure-pipelines.yml:39](https://www.codefactor.io/repository/g

[2021-05-31 06:27] #1474 closed, assigned to nobody

[2021-05-31 07:08] codefactor-io[bot] opened #1476 "Fix 'A closing curly bracket must not be preceded by a blank line.' issue in LibOfTimetableOfClasses\Controllers.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found an issue: A closing curly bracket must not be preceded by a blank line.

It's currently on:
[LibOfTimetableOfClasses\Controllers.cs:24](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/Contro

[2021-05-31 07:23] DdarryyA commented on #1476
Яяяя

[2021-05-31 11:33] Daria-Vinogradova commented on #1452
Виноградова

[2021-06-01 03:56] headcrab8524 commented on #1475
Я возьму эту задачу

[2021-06-01 04:12] YuriSilenok commented on #1475
Что значит этот комментарий?

[2021-06-01 12:44] anita111art commented on #1445
взяла задачу

[2021-06-01 12:59] SlavaVinogradov commented on #1472
Можно ли взять задачу?

[2021-06-01 13:10] codefactor-io[bot] opened #1479 "Fix 4 Style issues in LibOfTimetableOfClasses\RefData.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### The code must not contain multiple blank lines in a row.
- [ ]  [LibOfTimetableOfClasses\RefData.cs:421](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/RefData.cs#L42

[2021-06-01 13:14] VoroninaOl commented on #1479
Взяла задачу

[2021-06-01 13:47] headcrab8524 commented on #1475
Я возьму эту задачу

[2021-06-01 14:23] #1475 closed, assigned to headcrab8524

[2021-06-01 14:26] codefactor-io[bot] opened #1483 "Fix 6 Style issues in LibOfTimetableOfClasses\CAcademicDegree.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### The code must not contain blank lines at the end of the file.
- [ ]  [LibOfTimetableOfClasses\CAcademicDegree.cs:117](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/C

[2021-06-01 14:41] UselessMarkus commented on #1483
Можно забронировать задачу?

[2021-06-01 15:44] codefactor-io[bot] opened #1484 "Fix 6 Style issues in LibOfTimetableOfClasses\MTitle.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### An opening curly bracket must not be followed by a blank line.
- [ ]  [LibOfTimetableOfClasses\MTitle.cs:54](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/MTitle.cs#

[2021-06-01 16:03] codefactor-io[bot] opened #1485 "Fix 11 Style issues in TimetableOfClasses\AddInstitute.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### An opening curly bracket must not be followed by a blank line.
- [ ]  [TimetableOfClasses\AddInstitute.cs:83](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddInstitute.c

[2021-06-01 16:22] michail221 commented on #1485
Сафонов М

[2021-06-01 16:25] MolotkovDaniil commented on #1484
Можно взять задачу?

[2021-06-01 16:53] xShende opened #1489 "Правка Insert"
- Распределить по папкам файлы, связанные с Insert в формате "CAcademicDegree/Insert/UnitTest.cs"
- Изменить namespace в формате "UnitTestOfTimetableOfClasses.UT_CAuditor.UT_Insert"
- Изменить названия методов с Task по формату "UT_ICAuditor".

[2021-06-01 16:58] xShende commented on #1489
Взята мной.

[2021-06-01 18:26] codefactor-io[bot] opened #1490 "Fix 9 Style issues in LibOfTimetableOfClasses\MAcademicLoad.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### A documentation header line must not be followed by a blank line.
- [x]  [LibOfTimetableOfClasses\MAcademicLoad.cs:181](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses

[2021-06-01 18:27] GlazovDaniil commented on #1490
Хачу лабу

[2021-06-01 18:34] codefactor-io[bot] opened #1492 "Fix 7 Style issues in LibOfTimetableOfClasses\MCHEI.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### The code must not contain blank lines at the end of the file.
- [ ]  [LibOfTimetableOfClasses\MCHEI.cs:94](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/MCHEI.cs#L94

[2021-06-01 18:36] MaximUvarov098 commented on #1492
Хочу

[2021-06-01 19:40] YuriSilenok commented on #1489
была допущена опечатка

[2021-06-01 21:43] codefactor-io[bot] opened #1497 "Fix 13 Style issues in UnitTestOfTimetableOfClasses\CUniversity\Insert\UnitTest.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues last seen at fc9f93f62e58973d2a4cdf4e3671a546a19617a9:

#### The code must not contain multiple blank lines in a row.
- [ ]  [UnitTestOfTimetableOfClasses\CUniversity\Insert\UnitTest.cs:221](https://www.codefactor.io/repository/github/students-of-the-city-

[2021-06-01 22:12] Maksoun44 commented on #1497
хочу

[2021-06-02 06:26] #1448 closed, assigned to Gelikan44

[2021-06-02 06:27] #1455 closed, assigned to ElenaNazarova012

[2021-06-02 06:27] #1447 closed, assigned to AMAT0RY

[2021-06-02 06:31] YuriSilenok commented on #1468
нет активности по задаче

[2021-06-02 06:32] YuriSilenok commented on #1469
по задаче нет активности

[2021-06-02 06:33] #1471 closed, assigned to 6a6ka-v-kedax

[2021-06-02 06:33] #1476 closed, assigned to DdarryyA

[2021-06-02 06:40] codefactor-io[bot] opened #1499 "Fix 'Duplicate Code' issue in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found an issue: Duplicate Code

It's currently on:
[TimetableOfClasses\AddTypesOfOccupation.cs:160-214](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddTypesOfOccupation.cs#L160)
[TimetableOfClasses

[2021-06-02 06:48] codefactor-io[bot] opened #1500 "Fix 4 Style, 1 Duplication issues in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### An opening curly bracket must not be followed by a blank line.
- [ ]  [LibOfTimetableOfClasses\MUniversity.cs:5](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/MUnive

[2021-06-02 09:18] DreAMer2308 commented on #1500
Смирнов С. Возьму

[2021-06-02 09:21] ShtekAndrei commented on #1468
Хочу взять

[2021-06-02 09:28] Gribova-Victoria commented on #1499
Грибова.В

[2021-06-02 10:00] YuriSilenok commented on #1468
Duplicate of #1497

[2021-06-02 10:00] #1468 closed, assigned to nobody

[2021-06-02 10:21] ShtekAndrei commented on #1469
Хочу взять

[2021-06-02 11:27] Nockolay23 commented on #1469
хочу взять задачу

[2021-06-02 11:46] #1497 closed, assigned to Maksoun44

[2021-06-03 02:02] DreAMer2308 commented on #1485
Можно взять эту задачу?

[2021-06-03 04:30] codefactor-io[bot] opened #1506 "Fix 'Duplicate Code' issue in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found an issue: Duplicate Code

It's currently on:
[TimetableOfClasses\AddTypesOfOccupation.cs:102-153](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddTypesOfOccupation.cs#L102)
[TimetableOfClasses

[2021-06-03 04:30] codefactor-io[bot] opened #1507 "Fix 'Duplicate Code' issue in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found an issue: Duplicate Code

It's currently on:
[TimetableOfClasses\University.cs:97-157](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/University.cs#L97)
[TimetableOfClasses\Teachers.cs:101-161](

[2021-06-03 04:34] YuriSilenok commented on #1485
нет

[2021-06-03 04:34] #1485 closed, assigned to michail221

[2021-06-03 04:42] #1470 closed, assigned to Rashad5555

[2021-06-03 04:43] #1479 closed, assigned to VoroninaOl

[2021-06-03 06:01] DreAMer2308 commented on #1492
Можно взять эту задачу?

[2021-06-03 06:28] YuriSilenok commented on #1492
нет

[2021-06-03 06:28] #1492 closed, assigned to MaximUvarov098

[2021-06-03 13:25] codefactor-io[bot] opened #1509 "Fix 'Complex Method' issue in TimetableOfClasses\AddAcademicDegree.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Complex Method

It's currently on:
[TimetableOfClasses\AddAcademicDegree.cs:60-128](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddAcademicDegree.cs#L60)

[2021-06-03 13:26] codefactor-io[bot] opened #1510 "Fix 'Complex Method' issue in LibOfTimetableOfClasses\MInstitute.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Complex Method

It's currently on:
[LibOfTimetableOfClasses\MInstitute.cs:24-48](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/MInstitute.cs#L24)

[2021-06-03 13:26] codefactor-io[bot] opened #1511 "Fix 'Duplicate Code' issue in TimetableOfClasses\AddAcademicDegree.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Duplicate Code

It's currently on:
[TimetableOfClasses\AddAcademicDegree.cs:109-125](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddAcademicDegree.cs#L109)
[TimetableOfClasses\AddAcademicDegree.

[2021-06-03 13:27] codefactor-io[bot] opened #1512 "Fix 'Duplicate Code' issue in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Duplicate Code

It's currently on:
[LibOfTimetableOfClasses\CDiscipline.cs:19-36](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/CDiscipline.cs#L19)
[LibOfTimetableOfClasses\CTrainingProfiles.

[2021-06-03 13:27] codefactor-io[bot] opened #1513 "Fix 'Duplicate Code' issue in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Duplicate Code

It's currently on:
[TimetableOfClasses\Enclosures.cs:25-66](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/Enclosures.cs#L25)
[TimetableOfClasses\StudyWeek.cs:63-104](https://www.co

[2021-06-03 13:27] codefactor-io[bot] opened #1514 "Fix 'Duplicate Code' issue in UnitTestOfTimetableOfClasses\CGroup\Update\UnitTest.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Duplicate Code

It's currently on:
[UnitTestOfTimetableOfClasses\CGroup\Update\UnitTest.cs:83-99](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/UnitTestOfTimetableOfClasses/CGroup/Update/UnitTest.cs#L83)
[UnitTestOf

[2021-06-03 13:27] codefactor-io[bot] opened #1515 "Fix 'Duplicate Code' issue in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Duplicate Code

It's currently on:
[LibOfTimetableOfClasses\CAcademicLoad.cs:19-33](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/CAcademicLoad.cs#L19)
[LibOfTimetableOfClasses\CCourseSchedul

[2021-06-03 13:27] codefactor-io[bot] opened #1516 "Fix 'Duplicate Code' issue in UnitTestOfTimetableOfClasses\CEnclosures\Update\UnitTest.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Duplicate Code

It's currently on:
[UnitTestOfTimetableOfClasses\CEnclosures\Update\UnitTest.cs:79-90](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/UnitTestOfTimetableOfClasses/CEnclosures/Update/UnitTest.cs#L79)
[

[2021-06-03 13:40] DreAMer2308 commented on #1510
Попробую.

[2021-06-03 19:52] YuriSilenok commented on #1469
где у запроса ссылка на эту задачу?

[2021-06-04 06:05] codefactor-io[bot] opened #1520 "Fix 4 Style issues in TimetableOfClasses\AddGroup.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### The code must not contain multiple blank lines in a row.
- [x]  [TimetableOfClasses\AddGroup.cs:90](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddGroup.cs#L90)
- [x]

[2021-06-04 06:08] #1445 closed, assigned to anita111art

[2021-06-04 06:08] #1472 closed, assigned to SlavaVinogradov

[2021-06-04 06:08] #1483 closed, assigned to UselessMarkus

[2021-06-04 06:09] #1484 closed, assigned to MolotkovDaniil

[2021-06-04 06:09] #1490 closed, assigned to GlazovDaniil

[2021-06-04 06:09] #1489 closed, assigned to xShende

[2021-06-04 06:46] YuriSilenok commented on #1451
задача снята по бездействию

[2021-06-04 08:18] ShtekAndrei commented on #1520
возьму

[2021-06-04 15:22] #1469 closed, assigned to Nockolay23

[2021-06-04 16:46] #1520 closed, assigned to ShtekAndrei

[2021-06-05 22:01] batygin307 commented on #1500
Возьму

[2021-06-06 06:55] YuriSilenok commented on #1499
к сожалению проблема крылась глубже и была не в задублированном коде. после решения проблемы устаревших форма не добавленных в проект, данная задача является не актуальной. Персонально вам будет выдана другая задача, по проще.

[2021-06-06 06:55] #1499 closed, assigned to Gribova-Victoria

[2021-06-06 06:56] codefactor-io[bot] opened #1526 "Fix 6 Style issues in UnitTestOfTimetableOfClasses\CInstitute\Insert\UnitTest.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues last seen at fc9f93f62e58973d2a4cdf4e3671a546a19617a9:

#### The code must not contain blank lines at the end of the file.
- [ ]  [UnitTestOfTimetableOfClasses\CInstitute\Insert\UnitTest.cs:96](https://www.codefactor.io/repository/github/students-of-the-ci

[2021-06-06 06:57] YuriSilenok commented on #1499
напишите комментарий в задаче #1526 что бы я мог выдать ее вам

[2021-06-06 06:59] Gribova-Victoria commented on #1526
Грибова

[2021-06-06 10:52] Judgment-Kazzy commented on #1511
Жуков

[2021-06-07 19:37] Daniil34525 commented on #1513
Яблоков

[2021-06-10 18:31] DreAMer2308 commented on #1506
Возьму

[2021-06-12 20:23] yungkrevetka commented on #1516
Трефилов

[2021-06-13 11:15] DreAMer2308 commented on #1506
Юрий Викторович, проверьте эту задачу, в кодфакторе меня в неё не пускает, да и через список ошибок в кодфакторе её не найти.

[2021-06-13 13:00] YuriSilenok commented on #1506
Сейчас должно работать

[2021-06-14 12:56] DreAMer2308 commented on #1506
Юрий Викторович, тут проблема:
CodeFactor found an issue: Duplicate Code:

1. `TimetableOfClasses\AddTypesOfOccupation.cs:102-153`
![изображение](https://user-images.githubusercontent.com/82033589/121895187-9d842080-cd28-11eb-98d2-2add2cb2951e.png)
2.  `TimetableOfClasses\AddGroup.cs:124-173` - показывает только Complex Method
![изображение](https://user-images.githubusercontent.com/82033589/12189

[2021-06-14 14:15] TumelliYN commented on #1515
Хочу получить это задание.
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/1515

[2021-06-14 17:51] YuriSilenok commented on #1506
Я припоминаю эту проблему, она уже исправлена в рамках другой задачи.

[2021-06-14 17:51] #1506 closed, assigned to DreAMer2308

[2021-06-14 17:57] DreAMer2308 commented on #1506
А можете новую задачу тогда создать? Там уже многие заняты просто.

пн, 14 июн. 2021 г. в 20:51, Юрий Силенок ***@***.***>:

--
Смирнов Станислав,
20-ИМбо-3б

[2021-06-14 18:01] YuriSilenok commented on #1506
там есть свободные задачи, выбери что тебе больше нравиться.

[2021-06-14 18:06] DreAMer2308 commented on #1510
Возьму

[2021-06-14 20:38] ghost commented on #1512
Беру. Румянцев Ф.

[2021-06-15 13:24] Sergey2105 commented on #1514
Рощин

[2021-06-16 05:14] #1511 closed, assigned to Judgment-Kazzy

[2021-06-16 05:14] #1509 closed, assigned to nobody

[2021-06-16 05:14] #1500 closed, assigned to batygin307

[2021-06-16 05:14] #1452 closed, assigned to Daria-Vinogradova

[2021-06-16 05:14] #1451 closed, assigned to nobody

[2021-06-16 16:39] RomaSkrund commented on #1513
Хочу выполнить эту задачу

[2021-06-16 18:44] DreAMer2308 commented on #1510
Юрий Викторович, проверьте пожалуйста pull request по этому заданию.

[2021-06-17 06:18] YuriSilenok commented on #1510
об отправленных коммитах на github сделанных в рамках pull request мне приходит уведомление на почту

[2021-06-17 08:30] codefactor-io[bot] opened #1537 "Fix 5 Style issues in TimetableOfClasses\AcademicTitle.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### The code must not contain blank lines at the end of the file.
- [ ]  [TimetableOfClasses\AcademicTitle.cs:166](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AcademicTitle

[2021-06-17 08:30] TumelliYN commented on #1537
Беру

[2021-06-17 08:31] TumelliYN commented on #1515
А как снятся с задачи?

[2021-06-17 08:33] codefactor-io[bot] opened #1538 "Fix 5 Style issues in LibOfTimetableOfClasses\MGroup.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### The code must not contain multiple blank lines in a row.
- [ ]  [LibOfTimetableOfClasses\MGroup.cs:184](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/MGroup.cs#L184)

[2021-06-17 08:33] YuriSilenok commented on #1515
![image](https://user-images.githubusercontent.com/14871471/122361381-dbb75500-cf5f-11eb-9502-64f90aadeb2e.png)

[2021-06-17 08:34] TumelliYN commented on #1515
Можете снять?
![image](https://user-images.githubusercontent.com/81413377/122361488-f4276f80-cf5f-11eb-96c1-761f8aba4b2e.png)

[2021-06-17 08:35] YuriSilenok commented on #1515
вот же у тебя написано

![image](https://user-images.githubusercontent.com/14871471/122361604-14572e80-cf60-11eb-80d0-1f9667a0d5c6.png)

[2021-06-17 08:43] TumelliYN commented on #1515
Я нажимаю на эту кнопку, ничего не происходит

[2021-06-17 08:49] abram00v commented on #1538
Заберу

[2021-06-17 08:52] codefactor-io[bot] opened #1541 "Fix 4 Style issues in TimetableOfClasses\Start.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### An opening curly bracket must not be followed by a blank line.
- [ ]  [TimetableOfClasses\Start.cs:87](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/Start.cs#L87)

#### T

[2021-06-17 09:09] EvgenSSSSS commented on #1541
Мое

[2021-06-17 09:25] codefactor-io[bot] opened #1542 "Fix 2 Style issues in TimetableOfClasses\Teachers.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### An opening curly bracket must not be followed by a blank line.
- [ ]  [TimetableOfClasses\Teachers.cs:70](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/Teachers.cs#L70)
-

[2021-06-17 09:26] #1537 closed, assigned to TumelliYN

[2021-06-17 10:07] #1510 closed, assigned to DreAMer2308

[2021-06-17 10:35] #1541 closed, assigned to EvgenSSSSS

[2021-06-17 12:22] MihailPashin commented on #1542
Пасхин 20-ИС

[2021-06-17 12:30] YuriSilenok commented on #1542
я же сказал что эти задачи не для ИС, читайте чат

[2021-06-17 12:32] YuriSilenok commented on #1542
нужна задача? возьмите #1515

[2021-06-17 12:47] MihailPashin commented on #1515
Попробую эту задачу, Пасхин 20-ИС

[2021-06-17 19:19] #1507 closed, assigned to nobody

[2021-06-17 19:43] AntonRechkin commented on #1542
Речкин 20-ИИбо-1

[2021-06-17 19:54] codefactor-io[bot] opened #1546 "Fix 5 Style issues in LibOfTimetableOfClasses\CGroup.cs"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/overview/dev) found multiple issues:

#### An opening curly bracket must not be preceded by a blank line.
- [ ]  [LibOfTimetableOfClasses\CGroup.cs:87](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/LibOfTimetableOfClasses/CGroup.cs#

[2021-06-18 05:13] #1526 closed, assigned to Gribova-Victoria

[2021-06-18 06:43] #1542 closed, assigned to AntonRechkin

[2021-06-20 17:46] #1514 closed, assigned to Sergey2105

[2021-06-29 05:09] #1516 closed, assigned to yungkrevetka

[2021-06-30 05:09] #1512 closed, assigned to nobody

[2021-07-02 05:09] #1546 closed, assigned to nobody

[2021-07-02 05:09] #1515 closed, assigned to MihailPashin

[2021-07-02 05:09] #1538 closed, assigned to abram00v

[2021-07-02 05:09] #1513 closed, assigned to RomaSkrund

[2021-10-01 14:15] ArtemKuznetsov44 commented on #1546
Я могу взяться за выполнение данной задачи

[2021-10-03 12:58] YuriSilenok opened #1553 "Multiple empty lines"
[Удалите эти проблемы](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/issues?category=Style&groupId=18)

[2021-10-03 12:59] YuriSilenok commented on #1546
@ArtemKuznetsov44 возьмите задачу #1553

[2021-10-05 07:03] #1553 closed, assigned to nobody

[2021-11-28 17:28] YuriSilenok opened #1557 "Duplication issues in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Duplicate Code

It's currently on:
[TimetableOfClasses\AddTeacher.cs:141-151](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/AddTeacher.cs#L141)
[TimetableOfClasses\AddAcademicDegree.cs:119-130](ht

[2021-11-28 17:36] RomaSkrund commented on #1557
хочу взять

[2021-12-04 13:53] YuriSilenok opened #1558 "Duplication issues in multiple files"
[CodeFactor](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable) found an issue: Duplicate Code

It's currently on:
[TimetableOfClasses\Enclosures.cs:25-66](https://www.codefactor.io/repository/github/students-of-the-city-of-kostroma/student-timetable/source/dev/TimetableOfClasses/Enclosures.cs#L25)
[TimetableOfClasses\StudyWeek.cs:63-104](https://www.co

[2021-12-04 20:40] SergeySmi commented on #1558
Хочу взять

[2021-12-05 10:23] RomaSkrund commented on #1557
Здравствуйте, столкнулся с такой проблемой, при скачивании проекта из ветки dev, при открытии форм AddTeacher и AddAcademicDegree возникают такие ошибки (фото 1 и фото 2), в то же время при скачивании кода из ветки master такой ошибки нет, можно ли использовать проект скаченный из ветки master или есть способ решить эту проблему?
![2](https://user-images.githubusercontent.com/84276106/144742641-c3

[2021-12-05 10:29] YuriSilenok commented on #1557
Дробый день,

Был способ, спрлсите в общем чате.

Спасибо,
Юрий

вс, 5 дек. 2021 г., 13:23 RomaSkrund ***@***.***>:

[2021-12-05 13:11] RomaSkrund commented on #1557
К сожалению, в общем чате ответ на свой вопрос не получил, поэтому буду исправлять проект, скаченный из ветки master.

[2021-12-09 05:28] YuriSilenok commented on #1557
Таким образом вы нарушите модель git flow

[2021-12-10 06:30] RomaSkrund commented on #1557
Как уже писал в общем чате, формы ветки dew заработали. Прошу прощения за доставленные неудобства.

[2022-01-26 05:01] #1558 closed, assigned to SergeySmi

[2022-01-26 05:01] #1557 closed, assigned to RomaSkrund