[2020-06-30 05:03] YuriSilenok commented on #477
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:03] YuriSilenok commented on #912
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:03] YuriSilenok commented on #910
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:03] YuriSilenok commented on #776
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:03] YuriSilenok commented on #775
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:03] YuriSilenok commented on #935
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:04] YuriSilenok commented on #933
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:04] YuriSilenok commented on #915
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:04] YuriSilenok commented on #893
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:04] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:04] YuriSilenok commented on #834
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:04] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-06-30 05:04] YuriSilenok commented on #1197
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:04] YuriSilenok commented on #1196
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:04] YuriSilenok commented on #1193
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:04] YuriSilenok commented on #1195
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:04] YuriSilenok commented on #1191
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:04] YuriSilenok commented on #1190
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:04] YuriSilenok commented on #1189
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:04] YuriSilenok commented on #1161
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:04] YuriSilenok commented on #1156
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:04] YuriSilenok commented on #1155
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:04] YuriSilenok commented on #1153
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:04] YuriSilenok commented on #1151
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:04] YuriSilenok commented on #1150
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:04] YuriSilenok commented on #1148
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:04] YuriSilenok commented on #1147
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:04] YuriSilenok commented on #1144
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:04] YuriSilenok commented on #1146
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:05] YuriSilenok commented on #1131
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:05] YuriSilenok commented on #1078
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:05] YuriSilenok commented on #1078
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:05] YuriSilenok commented on #1074
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:05] YuriSilenok commented on #1075
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:05] YuriSilenok commented on #1016
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:06] YuriSilenok commented on #988
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:06] YuriSilenok commented on #957
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:06] YuriSilenok commented on #954
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:06] YuriSilenok commented on #951
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:06] YuriSilenok commented on #951
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:06] YuriSilenok commented on #950
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:06] YuriSilenok commented on #948
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:06] YuriSilenok commented on #949
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:06] YuriSilenok commented on #947
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:06] YuriSilenok commented on #933
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:06] YuriSilenok commented on #922
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:06] YuriSilenok commented on #920
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:06] YuriSilenok commented on #915
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:06] YuriSilenok commented on #893
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:06] YuriSilenok commented on #816
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:06] YuriSilenok commented on #798
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:06] YuriSilenok commented on #787
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:07] YuriSilenok commented on #752
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #752
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #740
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #726
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #717
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #697
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #689
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #685
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #683
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #682
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #680
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #678
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #676
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #672
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:07] YuriSilenok commented on #656
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #544
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #524
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #524
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:08] YuriSilenok commented on #499
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #499
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:08] YuriSilenok commented on #477
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #474
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #468
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #468
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:08] YuriSilenok commented on #464
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:08] YuriSilenok commented on #463
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:08] YuriSilenok commented on #459
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #459
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:08] YuriSilenok commented on #454
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:08] YuriSilenok commented on #453
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:08] YuriSilenok commented on #446
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #444
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #443
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:08] YuriSilenok commented on #443
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:09] YuriSilenok commented on #412
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:09] YuriSilenok commented on #394
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #384
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:09] YuriSilenok commented on #383
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:09] YuriSilenok commented on #381
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #382
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:09] YuriSilenok commented on #381
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #368
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #366
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #357
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #357
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:09] YuriSilenok commented on #355
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:09] YuriSilenok commented on #346
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #354
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:09] YuriSilenok commented on #323
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #322
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #307
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #306
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #301
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:09] YuriSilenok commented on #286
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:09] YuriSilenok commented on #287
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:09] YuriSilenok commented on #238
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #206
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #201
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #199
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #198
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #197
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #186
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #182
Пожалуйста, добавьте описание к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #177
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #175
Пожалуйста, измените заголовок на более детальный

[2020-06-30 05:10] YuriSilenok commented on #151
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:10] YuriSilenok commented on #119
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #97
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:10] YuriSilenok commented on #47
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:10] YuriSilenok commented on #25
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-06-30 05:10] YuriSilenok commented on #2
Пожалуйста, добавьте веху к этой задаче

[2020-06-30 05:10] YuriSilenok commented on #2
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:03] YuriSilenok commented on #201
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #201
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #97
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #47
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #97
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #47
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #322
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #25
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #322
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #25
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #717
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #287
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #717
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #287
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #186
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #182
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #186
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #182
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #468
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #459
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #443
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #468
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #459
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #443
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-01 05:03] YuriSilenok commented on #198
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #197
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #175
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #151
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #307
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #306
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #323
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #444
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #357
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #355
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #354
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #454
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #453
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #474
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #446
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #524
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #464
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #463
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #412
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #384
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #383
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #382
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #301
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #544
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #734
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #753
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:03] YuriSilenok commented on #816
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #477
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #912
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #910
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #776
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #775
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #935
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #933
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #915
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #893
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #834
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-01 05:04] YuriSilenok commented on #1197
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:04] YuriSilenok commented on #1196
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:04] YuriSilenok commented on #1195
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:04] YuriSilenok commented on #1193
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:04] YuriSilenok commented on #1191
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:04] YuriSilenok commented on #1190
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:04] YuriSilenok commented on #1189
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:04] YuriSilenok commented on #1161
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:04] YuriSilenok commented on #1156
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:05] YuriSilenok commented on #1155
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:05] YuriSilenok commented on #1153
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:05] YuriSilenok commented on #1151
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:05] YuriSilenok commented on #1150
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:05] YuriSilenok commented on #1148
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:05] YuriSilenok commented on #1147
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:05] YuriSilenok commented on #1146
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:05] YuriSilenok commented on #1144
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:05] YuriSilenok commented on #1131
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #1078
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #1078
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #1075
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #1074
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #1016
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #988
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #957
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #954
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #951
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #951
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:06] YuriSilenok commented on #950
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:06] YuriSilenok commented on #949
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:06] YuriSilenok commented on #948
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:06] YuriSilenok commented on #947
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:06] YuriSilenok commented on #933
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #922
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:06] YuriSilenok commented on #920
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:07] YuriSilenok commented on #915
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:07] YuriSilenok commented on #893
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:07] YuriSilenok commented on #816
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:07] YuriSilenok commented on #798
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:07] YuriSilenok commented on #787
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:07] YuriSilenok commented on #752
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:07] YuriSilenok commented on #752
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:07] YuriSilenok commented on #740
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:07] YuriSilenok commented on #726
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:07] YuriSilenok commented on #717
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:08] YuriSilenok commented on #697
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:08] YuriSilenok commented on #689
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:08] YuriSilenok commented on #685
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:08] YuriSilenok commented on #683
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:08] YuriSilenok commented on #682
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:08] YuriSilenok commented on #680
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:08] YuriSilenok commented on #678
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:08] YuriSilenok commented on #676
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:08] YuriSilenok commented on #672
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:08] YuriSilenok commented on #656
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #544
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #524
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #524
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:09] YuriSilenok commented on #499
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #499
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:09] YuriSilenok commented on #477
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #474
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #468
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #468
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:09] YuriSilenok commented on #464
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:09] YuriSilenok commented on #463
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:09] YuriSilenok commented on #459
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #459
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:09] YuriSilenok commented on #454
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:09] YuriSilenok commented on #453
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:09] YuriSilenok commented on #446
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #444
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #443
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:09] YuriSilenok commented on #443
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:09] YuriSilenok commented on #412
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:10] YuriSilenok commented on #394
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #384
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:10] YuriSilenok commented on #383
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:10] YuriSilenok commented on #382
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:10] YuriSilenok commented on #381
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #381
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #368
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #366
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #357
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #357
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:10] YuriSilenok commented on #355
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:10] YuriSilenok commented on #354
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:10] YuriSilenok commented on #346
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #323
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #322
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #307
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #306
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #301
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:10] YuriSilenok commented on #287
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:10] YuriSilenok commented on #286
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #238
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:10] YuriSilenok commented on #206
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:11] YuriSilenok commented on #201
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:11] YuriSilenok commented on #199
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:11] YuriSilenok commented on #198
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:11] YuriSilenok commented on #197
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:11] YuriSilenok commented on #186
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:11] YuriSilenok commented on #182
Пожалуйста, добавьте описание к этой задаче

[2020-07-01 05:11] YuriSilenok commented on #177
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:11] YuriSilenok commented on #175
Пожалуйста, измените заголовок на более детальный

[2020-07-01 05:11] YuriSilenok commented on #151
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:11] YuriSilenok commented on #119
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:11] YuriSilenok commented on #97
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:11] YuriSilenok commented on #47
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:11] YuriSilenok commented on #25
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-01 05:11] YuriSilenok commented on #2
Пожалуйста, добавьте веху к этой задаче

[2020-07-01 05:11] YuriSilenok commented on #2
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:02] YuriSilenok commented on #201
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:02] YuriSilenok commented on #201
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:02] YuriSilenok commented on #97
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:02] YuriSilenok commented on #47
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:02] YuriSilenok commented on #97
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:02] YuriSilenok commented on #47
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:02] YuriSilenok commented on #25
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:02] YuriSilenok commented on #322
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:02] YuriSilenok commented on #322
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:03] YuriSilenok commented on #25
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:03] YuriSilenok commented on #717
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #287
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #717
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:03] YuriSilenok commented on #287
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:03] YuriSilenok commented on #186
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #182
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #186
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:03] YuriSilenok commented on #182
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:03] YuriSilenok commented on #468
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #459
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #443
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #468
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:03] YuriSilenok commented on #459
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:03] YuriSilenok commented on #443
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-02 05:03] YuriSilenok commented on #198
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #197
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #175
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #151
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #307
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #306
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #323
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #444
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #357
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #355
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #354
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #454
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #453
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #474
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #446
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #524
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #463
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #464
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #412
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #384
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #383
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #382
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #301
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #544
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #734
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #753
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #816
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #477
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #912
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #910
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #776
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #775
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #935
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #933
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #915
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #893
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #834
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:03] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-02 05:04] YuriSilenok commented on #1197
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:04] YuriSilenok commented on #1196
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:04] YuriSilenok commented on #1195
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:04] YuriSilenok commented on #1193
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:04] YuriSilenok commented on #1191
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:04] YuriSilenok commented on #1190
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:04] YuriSilenok commented on #1189
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:04] YuriSilenok commented on #1161
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:04] YuriSilenok commented on #1156
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:04] YuriSilenok commented on #1155
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:04] YuriSilenok commented on #1153
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:04] YuriSilenok commented on #1151
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:04] YuriSilenok commented on #1150
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:04] YuriSilenok commented on #1148
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:04] YuriSilenok commented on #1147
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:04] YuriSilenok commented on #1146
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:04] YuriSilenok commented on #1144
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:05] YuriSilenok commented on #1131
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:05] YuriSilenok commented on #1078
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:05] YuriSilenok commented on #1078
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:05] YuriSilenok commented on #1075
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:05] YuriSilenok commented on #1074
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:05] YuriSilenok commented on #1016
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:05] YuriSilenok commented on #988
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:06] YuriSilenok commented on #957
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:06] YuriSilenok commented on #954
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:06] YuriSilenok commented on #951
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:06] YuriSilenok commented on #951
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:06] YuriSilenok commented on #950
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:06] YuriSilenok commented on #949
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:06] YuriSilenok commented on #948
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:06] YuriSilenok commented on #947
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:06] YuriSilenok commented on #933
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:06] YuriSilenok commented on #922
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:06] YuriSilenok commented on #920
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:06] YuriSilenok commented on #915
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:06] YuriSilenok commented on #893
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:06] YuriSilenok commented on #834
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:06] YuriSilenok commented on #816
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:06] YuriSilenok commented on #798
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:06] YuriSilenok commented on #787
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:06] YuriSilenok commented on #752
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:06] YuriSilenok commented on #752
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #740
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #726
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #717
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #697
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #689
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #685
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #683
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #682
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #680
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #678
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #676
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #672
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:07] YuriSilenok commented on #656
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #544
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #524
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #524
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:08] YuriSilenok commented on #499
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #499
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:08] YuriSilenok commented on #477
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #474
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #468
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #468
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:08] YuriSilenok commented on #464
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:08] YuriSilenok commented on #463
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:08] YuriSilenok commented on #459
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #459
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:08] YuriSilenok commented on #454
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:08] YuriSilenok commented on #453
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:08] YuriSilenok commented on #446
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #444
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #443
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:08] YuriSilenok commented on #443
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #412
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #394
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #384
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #383
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #382
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #381
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #381
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #368
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #366
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #357
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #357
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #355
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #354
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #346
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #323
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #322
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #323
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #307
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #306
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #301
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #287
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:09] YuriSilenok commented on #286
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:09] YuriSilenok commented on #238
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #206
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #201
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #199
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #198
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #197
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #186
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #182
Пожалуйста, добавьте описание к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #177
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #175
Пожалуйста, измените заголовок на более детальный

[2020-07-02 05:10] YuriSilenok commented on #151
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:10] YuriSilenok commented on #119
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #119
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:10] YuriSilenok commented on #97
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:10] YuriSilenok commented on #47
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:10] YuriSilenok commented on #25
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 05:10] YuriSilenok commented on #2
Пожалуйста, добавьте веху к этой задаче

[2020-07-02 05:10] YuriSilenok commented on #2
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-02 08:21] #2 closed, assigned to YuriSilenok

[2020-07-02 08:23] #25 closed, assigned to YuriSilenok

[2020-07-02 08:23] #47 closed, assigned to YuriSilenok

[2020-07-02 08:23] #97 closed, assigned to YuriSilenok

[2020-07-02 08:25] #119 closed, assigned to YuriSilenok

[2020-07-02 08:26] #175 closed, assigned to YuriSilenok

[2020-07-02 08:27] #177 closed, assigned to YuriSilenok

[2020-07-02 08:28] #197 closed, assigned to YuriSilenok

[2020-07-02 08:30] #1144 closed, assigned to YuriSilenok

[2020-07-02 09:03] #199 closed, assigned to YuriSilenok

[2020-07-02 09:05] #201 closed, assigned to bolotovaksenya

[2020-07-02 09:06] #459 closed, assigned to YuriSilenok

[2020-07-02 09:07] #468 closed, assigned to YuriSilenok

[2020-07-02 12:26] ssas18 opened #1276 "Изменить максимальную длину полного имени сущности "Институт""
Увеличить кол-во символов поля _fullname  до 60

[2020-07-02 12:28] ssas18 opened #1277 "Изменить набор допустимых символов для полного имени сущности "Институт""
Добавить в проверку "точку", добавить возможность использования заглавных букв в поле, помимо первой.

[2020-07-02 14:11] ssas18 commented on #1276
Изменения замержены

[2020-07-02 14:25] YuriSilenok commented on #1276
Задачи нужно на меня вешать после мержа, что бы я их  в журнале отмечал и сам закрывал

[2020-07-02 21:45] NordScandinavian commented on #1095
1>------ Сборка запущено: проект: LibOfTimetableOfClasses, конфигурация: Debug|AnyCPU ------
D:\_Универсам\ТРПО\Student-timetable\LibOfTimetableOfClasses\LibOfTimetableOfClasses.csproj(116,5): error : Данный проект ссылается на пакеты NuGet, отсутствующие на этом компьютере. Используйте восстановление пакетов NuGet, чтобы скачать их.  Дополнительную информацию см. по адресу: http://go.microsoft.co

[2020-07-03 05:02] YuriSilenok commented on #322
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #322
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-03 05:02] YuriSilenok commented on #717
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #287
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #717
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-03 05:02] YuriSilenok commented on #287
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-03 05:02] YuriSilenok commented on #182
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #182
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-03 05:02] YuriSilenok commented on #443
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #443
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-03 05:02] YuriSilenok commented on #151
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #307
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #306
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #323
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #444
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #357
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #355
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #354
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #454
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #453
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #474
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:02] YuriSilenok commented on #446
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #524
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #464
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #463
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #412
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #384
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #383
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #382
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #301
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #544
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #734
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #753
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #816
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #477
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #912
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #910
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #776
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #775
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #935
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #915
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #933
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #893
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #834
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 05:03] YuriSilenok commented on #1161
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:03] YuriSilenok commented on #1156
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:03] YuriSilenok commented on #1155
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:03] YuriSilenok commented on #1153
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1151
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1150
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1148
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1147
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1146
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1131
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1078
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1078
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1075
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1074
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:04] YuriSilenok commented on #1016
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:05] YuriSilenok commented on #988
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:05] YuriSilenok commented on #980
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-03 05:05] YuriSilenok commented on #957
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:05] YuriSilenok commented on #954
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:05] YuriSilenok commented on #951
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:05] YuriSilenok commented on #933
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:05] YuriSilenok commented on #922
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:05] YuriSilenok commented on #920
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:05] YuriSilenok commented on #816
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:05] YuriSilenok commented on #798
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #752
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #752
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #740
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #726
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #717
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #697
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #689
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #685
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #683
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #682
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #680
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #678
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #676
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #672
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:06] YuriSilenok commented on #656
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:07] YuriSilenok commented on #544
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:07] YuriSilenok commented on #524
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:07] YuriSilenok commented on #499
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:07] YuriSilenok commented on #477
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:07] YuriSilenok commented on #474
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:07] YuriSilenok commented on #446
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:07] YuriSilenok commented on #444
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:07] YuriSilenok commented on #443
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #394
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #381
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #381
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #368
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #366
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #357
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #346
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #323
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #322
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #307
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #306
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #286
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #238
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #206
Пожалуйста, добавьте веху к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #198
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #186
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 05:08] YuriSilenok commented on #182
Пожалуйста, добавьте описание к этой задаче

[2020-07-03 07:14] ssas18 commented on #1277
Изменения замержены

[2020-07-03 08:28] YuriSilenok commented on #1276
[Зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1274241490&range=K5)

[2020-07-03 08:28] #1276 closed, assigned to YuriSilenok

[2020-07-03 08:43] YuriSilenok commented on #1095
Код или другие сообщения в IDE и прочем нужно оформлять как положено, вот так
[code]
Тогда это становится читабельным.

packages это папка в которую будут устанавливаться пакеты из NuGet. Ее нет в репозитории и не должно быть. Это инсталируемые пакеты. Видимо вы недавно склонировали проект и получили эту проблему. Вам нужно установить через диспетчер пакетов NuGet недостающие пакеты.

Начнем с тог

[2020-07-03 08:46] YuriSilenok commented on #1277
[зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1274241490&range=L5)

[2020-07-03 08:46] #1277 closed, assigned to YuriSilenok

[2020-07-03 10:16] #157 closed, assigned to NesgovorovVS

[2020-07-03 10:27] #1078 closed, assigned to YuriSilenok

[2020-07-03 10:28] #443 closed, assigned to YuriSilenok

[2020-07-03 10:28] #717 closed, assigned to Chippa99fm

[2020-07-03 10:29] #182 closed, assigned to sidelong44

[2020-07-03 10:29] #287 closed, assigned to YuriSilenok

[2020-07-03 10:29] #322 closed, assigned to ZhezlovaDaria

[2020-07-03 10:30] #680 closed, assigned to YuriSilenok

[2020-07-03 10:30] #186 closed, assigned to ZhizhikinIvan

[2020-07-03 10:31] #357 closed, assigned to YuriSilenok

[2020-07-03 10:31] #524 closed, assigned to YuriSilenok

[2020-07-03 10:31] #893 closed, assigned to YuriSilenok

[2020-07-03 10:31] #672 closed, assigned to Pipyao

[2020-07-03 10:32] #151 closed, assigned to YuriSilenok

[2020-07-03 10:32] #816 closed, assigned to ZhezlovaDaria

[2020-07-03 10:32] #915 closed, assigned to YuriSilenok

[2020-07-03 10:32] #306 closed, assigned to Chippa99fm

[2020-07-03 10:32] #933 closed, assigned to Takunava

[2020-07-03 10:34] #752 closed, assigned to Takunava

[2020-07-03 10:34] #544 closed, assigned to altavelor

[2020-07-03 10:34] #446 closed, assigned to altavelor

[2020-07-03 10:34] #477 closed, assigned to MasterDesigner

[2020-07-03 10:34] #323 closed, assigned to YuriSilenok

[2020-07-03 10:35] #307 closed, assigned to YuriSilenok

[2020-07-03 10:35] #444 closed, assigned to altavelor

[2020-07-03 10:35] #798 closed, assigned to YuriSilenok

[2020-07-03 10:35] #951 closed, assigned to YuriSilenok

[2020-07-03 10:35] #474 closed, assigned to YuriSilenok

[2020-07-03 10:36] #676 closed, assigned to YuriSilenok, itword7111

[2020-07-03 10:36] #412 closed, assigned to YuriSilenok

[2020-07-03 10:36] #301 closed, assigned to YuriSilenok

[2020-07-03 10:36] #384 closed, assigned to YuriSilenok

[2020-07-03 10:37] #382 closed, assigned to YuriSilenok

[2020-07-03 10:37] #453 closed, assigned to YuriSilenok

[2020-07-03 10:37] #463 closed, assigned to YuriSilenok

[2020-07-03 10:37] #464 closed, assigned to YuriSilenok

[2020-07-03 10:38] #499 closed, assigned to YuriSilenok

[2020-07-03 10:39] #383 closed, assigned to YuriSilenok

[2020-07-03 10:39] #198 closed, assigned to YuriSilenok

[2020-07-03 10:39] #355 closed, assigned to YuriSilenok

[2020-07-03 10:40] #454 closed, assigned to YuriSilenok

[2020-07-03 10:40] #354 closed, assigned to YuriSilenok

[2020-07-03 10:40] #1016 closed, assigned to DenisSavelev

[2020-07-03 10:41] #776 closed, assigned to altavelor

[2020-07-03 10:41] #912 closed, assigned to VinogradovAlexandr781227

[2020-07-03 10:41] #740 closed, assigned to YuriSilenok

[2020-07-03 10:42] #381 closed, assigned to Mikleproxorov, MyachevM

[2020-07-03 10:42] #753 closed, assigned to PopovMilan

[2020-07-03 10:42] #834 closed, assigned to YuriSilenok

[2020-07-03 10:42] ssas18 commented on #1244
Изменения замержены

[2020-07-03 10:42] #775 closed, assigned to VinogradovAlexandr781227

[2020-07-03 10:43] #910 closed, assigned to KudelinRoman

[2020-07-03 10:43] #734 closed, assigned to altavelor

[2020-07-03 10:43] #1151 closed, assigned to YuriSilenok

[2020-07-03 10:43] #682 closed, assigned to YuriSilenok

[2020-07-03 10:43] #683 closed, assigned to YuriSilenok

[2020-07-03 10:44] #685 closed, assigned to YuriSilenok

[2020-07-03 10:45] #286 closed, assigned to YuriSilenok

[2020-07-03 10:45] #1091 closed, assigned to YuriSilenok

[2020-07-03 10:45] #1189 closed, assigned to YuriSilenok

[2020-07-03 10:45] #1190 closed, assigned to YuriSilenok

[2020-07-03 10:45] #1191 closed, assigned to YuriSilenok

[2020-07-03 10:45] #1193 closed, assigned to YuriSilenok

[2020-07-03 10:45] #1195 closed, assigned to YuriSilenok

[2020-07-03 10:45] #1196 closed, assigned to YuriSilenok

[2020-07-03 10:45] #1197 closed, assigned to YuriSilenok

[2020-07-03 10:51] ZhizhikinIvan commented on #186
Здравствуйте, Юрий Викторович.

Почему вы закрыли задачу #186? Я бы добавил описание, но чуть позже, так
как сейчас занят 2мя другими задачами. Если не сложно откройте её заново и
я добавлю описание.

Жижикин Иван
17-ИДбо-3Б

пт, 3 июл. 2020 г. в 13:31, Юрий Силенок <notifications@github.com>:

[2020-07-03 10:56] YuriSilenok opened #1280 "Исправить сбои в автотестах расположенных в файле UT_Update_CAcademicLoad"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit) указам у заголовка тест-комплекта ссылку на гугл документ с исследованием по белому ящику.
- Автоматизировать полученные сценарии
- Перенест

[2020-07-03 11:10] YuriSilenok commented on #186
![image](https://user-images.githubusercontent.com/14871471/86463796-d9e88780-bd36-11ea-98cd-1a1c9b20f7c1.png)
Эта задача была с вас [снята](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/186#issuecomment-492527431)

[2020-07-03 11:16] YuriSilenok commented on #1244
[зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1274241490&range=M5)

[2020-07-03 11:16] #1244 closed, assigned to YuriSilenok, ssas18

[2020-07-03 11:17] ZhizhikinIvan commented on #186
Юрий Викторович, если вам не сложно, повесьте её обратно на меня. Описание добавлю, как закончу с остальными двумя задачами (в течении дня).
И не могли бы вы поконкретней сформулировать условия задачи, где конкретно надо создать эту кнопку "Удалить дисциплины", ведь по идее её можно создать где угодно.

[2020-07-03 11:22] YuriSilenok commented on #186
Вы не поняли, эта задача вообще сейчас не требуется и в ближайшем будущем вообще не потребуется.

[2020-07-03 11:25] ZhizhikinIvan commented on #186
Тогда не могли бы вы выдать мне другую задачу, для закрытия задолженности по учёбе.
И да, теперь описание подходящее? :D

[2020-07-03 11:46] YuriSilenok commented on #1177
Сбои воспроизводятся

[2020-07-03 12:37] YuriSilenok commented on #1088
Снова сбои
[code]

[2020-07-03 12:50] YuriSilenok commented on #1066
Разобраться со странной нумерацией

[code]

[2020-07-03 12:52] YuriSilenok commented on #1036
[code]

[2020-07-03 12:54] YuriSilenok commented on #1087
[code]

[2020-07-03 12:57] YuriSilenok commented on #1032
[code]

[2020-07-03 13:00] YuriSilenok opened #1281 "Исправить сбои в автотестах расположенных в файле UT_Deleted_CTeacher"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit) указам у заголовка тест-комплекта ссылку на гугл документ с исследованием по белому ящику.
- Автоматизировать полученные сценарии
- Перенест

[2020-07-03 13:01] YuriSilenok commented on #1281
[code]

[2020-07-03 13:12] YuriSilenok opened #1282 "Исправить сбои в автотестах расположенных в файле UT_Update_CDiscipline"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit) указам у заголовка тест-комплекта ссылку на гугл документ с исследованием по белому ящику.
- Автоматизировать полученные сценарии
- Перенест

[2020-07-03 13:15] YuriSilenok commented on #980
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 13:15] YuriSilenok commented on #980
Пожалуйста, обратите внимание что эта задача находится в вехе для которой не указан дедлайн

[2020-07-03 13:15] YuriSilenok commented on #935
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 13:15] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 13:15] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-03 13:17] YuriSilenok commented on #980
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-03 13:23] Heriuple opened #1283 "Исправлен сбой в автотестах расположенных в файле UT_Insert_CInstitute"
#1096

[2020-07-03 13:31] YuriSilenok opened #1284 "Разработка тестов для конструктора класса MTeacher"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit) указам у заголовка тест-комплекта ссылку на гугл документ с исследованием по белому ящику.
- Автоматизировать полученные сценарии
- Перенест

[2020-07-03 15:23] JennyShel18 opened #1285 "Критический сбой при работе со связью группа-нагрузка"
Является необходимым для задачи https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/1228

1.В справочнике открыть форму нагрузка
2.Нажать Добавить
3.При вводе данных в форме добавления нагрузки нажимаем кнопку "Сохранить"
Ожидаемый результат: Успешное добавление нагрузки в форму нагрузка
Фактический результат: При добавлении нагрузки возникает ошибка, внешний ключ из группы

[2020-07-03 15:45] #980 closed, assigned to YuriSilenok

[2020-07-03 16:52] Heriuple commented on #1283
![image](https://user-images.githubusercontent.com/49808925/86485417-52643e00-bd61-11ea-8a41-4b3deeb57105.png)
Прошу прощения за глупые вопросы. Ошибка возникает в таске 616_1, который добавляет в пустую таблицу данные института. Не могу понять, на каком этапе возникает проблема, вероятнее всего таблица уже поступает не пустой. Как в данном случае проверить, заполнена таблица или нет?

[2020-07-03 17:30] YuriSilenok commented on #1285
В описании бага нужно написать сценарий при котором будет воспроизводится этот баг. Именно выполнение этого сценариев и будет потом алгоритмом проверки того, что баг не воспроизводится

[2020-07-03 17:40] YuriSilenok commented on #1192
Обсуждаем белый ящик тут.
Как правильно расставлять регионы?
Я считаю что в регионах у вас ошибка

[2020-07-03 17:42] YuriSilenok commented on #1285
Когда создадите запрос на слияние, он должен быть слинкован с этой задачей

[2020-07-03 18:10] ZhizhikinIvan commented on #1192
Юрий Викторович, поясните, какая у меня ошибка в регионах?

Я исходил из того, что в модели, 2 поля, каждое из которых должно быть уникальным. Поэтому у меня 3 региона:
Первый (R1) для добавления новых данных.
Второй (R2) и третий (R3) проверяют уникальность каждого из полей.

[2020-07-03 18:15] YuriSilenok commented on #1192
Во первых слинкуйте запрос с задачей, без этого сложно искать ваш запрос что бы посмотреть отчет.

Во вторых , в управляющие графе всегда одна начальная вершина и одна конечная. Последняя скобка так же нумеруется.

[2020-07-03 18:17] YuriSilenok commented on #1192
Относительно регионов.
Один внешний регион, он как правило R1, остальные внутренние, это зевать что они со всех сторон ограничены рёбрами графа.

[2020-07-03 18:21] Heriuple commented on #1096
Веха была изменена.
Не совсем понятно, как именно использовать метод белого ящика, в данной ошибке.
Граф строить требуется, по условиям добавления полей университета?

![image](https://user-images.githubusercontent.com/49808925/86491309-1e921400-bd73-11ea-981d-5277fa629fe4.png)

[2020-07-03 18:30] ZhizhikinIvan commented on #1192
Ссылка на задачу: https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/1286

Добавил конечную вершину, изменил граф.
Прошу провести ревью.

[2020-07-03 18:35] YuriSilenok commented on #1096
Вы должны изучить код метода insert и для него строить, выходными параметрами или состоянием системы вы создаёте лишь условия для прохождения какого либо маршрута

[2020-07-03 18:46] YuriSilenok commented on #1192
Линк сделали не правильно, сы сослались на комментарий из запроса.

[2020-07-03 18:47] YuriSilenok commented on #1192
Потрудитесь оформить все в виде гугл документа и ссылку предоставить здесь а не в запросе

[2020-07-03 19:15] Heriuple commented on #1096
![image](https://user-images.githubusercontent.com/49808925/86493551-9f084300-bd7a-11ea-8e9d-b400ea62c0c3.png)
![image](https://user-images.githubusercontent.com/49808925/86493563-a92a4180-bd7a-11ea-971c-0f6319a8f625.png)
Граф должен выглядеть в таком ключе?
Прошу прощения за использование отличного от других редактора

[2020-07-03 19:32] NordScandinavian commented on #1095
Где мне узнать имя пакета, который нужно установить?
Конкретное имя, которое я смогу прописать в командной строке (или где-то в менеджере NuGet)

[2020-07-03 20:00] ZhizhikinIvan commented on #1192
Ссылка на отчёт: https://docs.google.com/document/d/1pgoKuwV36YeAschSRpbugzQxA1XXBiTPVSjkndgf9iM/edit?usp=sharing

[2020-07-03 22:26] NordScandinavian commented on #1095
Разобрался
Уточняю

"Исправить сбои в автотестах"
Что конкретно надо сделать?
Поправить тесты чтобы выполнялись (проблема в них)
Или поправить код чтобы тесты выполнялись (проблема в коде)?
@YuriSilenok

[2020-07-03 23:22] NordScandinavian commented on #1095
Идём дальше
Столкнулся с непреодолимой проблемой в методе CInstitute.Insert

![image](https://user-images.githubusercontent.com/47521360/86500826-8872e380-bd9c-11ea-8338-a0f4c88fb60d.png)

Для того, чтобы понять, что делать дальше - что менять - нужно знать структуру и связи таблиц
Где я могу посмотреть структуру и связи таблиц проекта?

Кроме этого, нашёл проблему в коде, связанную с неверной вал

[2020-07-04 05:02] YuriSilenok commented on #935
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-04 05:02] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-04 05:02] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-04 07:27] ssas18 commented on #1280
@YuriSilenok , я нашел причину сбоя автотеста
 ![image](https://user-images.githubusercontent.com/47377817/86507296-d0672a00-bddf-11ea-958c-d47a10a05013.png)
После добавления в рефдату этих данных:
![image](https://user-images.githubusercontent.com/47377817/86507320-14f2c580-bde0-11ea-9b4b-96c877659d40.png)
Автотест проходит успешно
![image](https://user-images.githubusercontent.com/47377817/86507

[2020-07-04 07:51] ssas18 commented on #1036
@YuriSilenok ,
![image](https://user-images.githubusercontent.com/47377817/86507855-10301080-bde4-11ea-880f-507cde71ea9d.png)
Возможно добавление преподавателей работает некорректно, так как даже преподавателей из RefData не добавляет по той же самой ошибке

[2020-07-04 08:40] JennyShel18 commented on #1285
Сценарий добавлен

[2020-07-04 11:25] ssas18 commented on #1280
В данном автотесте при изменении поля Discipline изменение проходит внутреннюю проверку, в следствие чего никакие символы кроме букв русской раскладки не проходят, вываливается exception, следовательно до метода update не доходит.
Изменять сценарий автотеста?

[2020-07-04 11:38] Heriuple commented on #1096
Здравствуйте, Юрий Викторович. Проработал таблицу тестирования, нужно глубже уходить, в метод добавления строк или так достаточно?

![image](https://user-images.githubusercontent.com/49808925/86511642-c2c39b80-be03-11ea-9d99-788a598d29eb.png)

[2020-07-04 14:25] YuriSilenok commented on #1192
Разбираем ошибки в чате

пт, 3 июл. 2020 г., 23:01 Жижикин Иван <notifications@github.com>:

[2020-07-04 15:13] ssas18 commented on #1280
Можете пожалуйста проверить и сказать что здесь не так:
https://docs.google.com/document/d/1j1WoxQgpvsnNo4nunZRD_sw_wNAxTa1UUu0-uiDu0d8/edit?usp=sharing

[2020-07-04 15:15] ssas18 commented on #1066
Юрий Викторович, можете проверить и сказать что здесь не так?
https://docs.google.com/document/d/1HYClxoAFzQ8clVSmZNnhXsSXjoydJSrqHJwvI-yATUY/edit?usp=sharing

[2020-07-04 15:28] ZhizhikinIvan commented on #1177
Ссылка на отчёт: https://docs.google.com/document/d/18LIF6k2ZP5xZom-4-y8Bb9HLqf4zR814ewl1bEfyipg/edit?usp=sharing

[2020-07-04 16:11] YuriSilenok commented on #1095
Вы проектируете тесты, они могут оставаться прежними или измениться. Если они прежние, то причина сбоя две. Или появилось новое ограничение и тесты устарели или что-то стало не правильно работать. Тогда вы поднимаете баг и бросает ссылку сюда. Свои баги справлять нельзя.

[2020-07-04 16:14] YuriSilenok commented on #1095
Все связи вы можете найти в библиотеке классов в файле рефдата

[2020-07-04 16:16] YuriSilenok commented on #1095
Поднимите баг

[2020-07-04 16:18] YuriSilenok commented on #1036
Поднимите баг, ссылку в чат.

[2020-07-04 16:24] YuriSilenok commented on #1096
Жду от вас ссылку на гугл документ со всеми расчетами

[2020-07-04 16:26] YuriSilenok commented on #1280
У меня нет доступа к файлу

[2020-07-04 16:32] YuriSilenok commented on #1066
Запросил доступ к документу

[2020-07-04 16:36] ssas18 commented on #1280
Теперь должно работать
https://docs.google.com/document/d/1j1WoxQgpvsnNo4nunZRD_sw_wNAxTa1UUu0-uiDu0d8/edit?usp=sharing

[2020-07-04 16:37] ssas18 commented on #1066
Исправил параметры доступа
https://docs.google.com/document/d/1HYClxoAFzQ8clVSmZNnhXsSXjoydJSrqHJwvI-yATUY/edit?usp=sharing

[2020-07-04 16:39] YuriSilenok commented on #1177
1 тест, не думаю что таблица должна быть обязательно пустой, что бы тест прошел
11 тест, избыточный, так как дублирует предыдущие тесты.

[2020-07-04 16:45] YuriSilenok commented on #1280
У управляющего графа всегда должна быть одна конечная вершина.

[2020-07-04 16:48] YuriSilenok commented on #1066
См. Чат

[2020-07-04 16:51] ZhizhikinIvan commented on #1177
Да, в первом тесте, таблица необязательно должна быть пустой. Поправил отчёт.

[2020-07-04 16:52] ssas18 opened #1288 "Критический сбой метода Insert класса CTeacher"
Является необходимым для задачи #1036
1.В приложении найти класс CTeacher и в нем метод Insert.
2.Поставить точку остановы на одной из первых строк блока try.
3.Пройти шагом с обходом до строки "Debug.WriteLine(ex.Source);"
4 Увидеть сообщение об ошибке.
Ожидаемый результат: Успешное добавление преподавателя
Фактический результат: Ошибка ексепшена "
   "Для ForeignKeyConstraint AcademicLoad-Teache

[2020-07-04 16:56] ssas18 commented on #1285
Еще один метод воспроизведения данного бага:
1.В приложении найти класс CTeacher и в нем метод Insert.
2.Поставить точку остановы на одной из первых строк блока try.
3.Пройти шагом с обходом до строки "Debug.WriteLine(ex.Source);"
4 Увидеть сообщение об ошибке.
Ожидаемый результат: Успешное добавление преподавателя
Фактический результат: Ошибка ексепшена "
  "Для ForeignKeyConstraint AcademicLoad-

[2020-07-04 16:58] YuriSilenok commented on #1177
А что думаете про 11 тест, считаете его избыточным?

[2020-07-04 16:59] ZhizhikinIvan commented on #1177
11 тест по смыслу дублирует предыдущие, но в 11 тесте мы добавляем дважды абсолютно одинаковые данные и в других тестах мы этого не делали.

[2020-07-04 16:59] YuriSilenok commented on #1288
Дубликат #1285

[2020-07-04 17:07] YuriSilenok commented on #1177
Да, мы ещё и парами не проверяем и тройками не проверяем. Мы хотим экономить ресурсы, так как исчерпывабщее тестирование недостедимо. Можете загуглить термин исчерпывающее тестирование. Невада цель решить задачу оптимизации, как за меньшее количества тестов проверить больше количество функционала. И по этому я предлагаю 11 тест убрать.

[2020-07-04 17:07] ssas18 commented on #1280
Исправил указанную ошибку

[2020-07-04 17:08] ssas18 commented on #1066
Вроде бы как исправил указанную ошибку

[2020-07-04 17:09] YuriSilenok commented on #1177
Да, мы ещё и парами не проверяем и тройками не проверяем. Мы хотим экономить ресурсы, так как исчерпывабщее тестирование недостедимо. Можете загуглить термин исчерпывающее тестирование. Невада цель решить задачу оптимизации, как за меньшее количества тестов проверить больше количество функционала. И по этому я предлагаю 11 тест убрать.

[2020-07-04 17:12] ZhizhikinIvan commented on #1177
Отчёт поправил.

[2020-07-04 17:34] YuriSilenok commented on #1280
Я вижу все равно 4 конечных вершины

[2020-07-04 17:37] YuriSilenok commented on #1066
Не исправили. Давайте эту задачу приостановил пока не поймёте как делать белый ящик в другой задаче. Не хочу видеть одни и те же ошибки дважды.

[2020-07-04 17:38] ssas18 commented on #1280
Вы видите данный скриншот?
![image](https://user-images.githubusercontent.com/47377817/86517999-3a122300-be36-11ea-8279-e87686920e3a.png)

[2020-07-04 17:38] ssas18 commented on #1066
Хорошо

[2020-07-04 17:39] YuriSilenok commented on #1177
У вас уже написаны автотесты что ставит статус passed?

[2020-07-04 17:40] YuriSilenok commented on #1280
Нет, возможно файл не успел обновиться, посмотрю ещё раз.

[2020-07-04 17:45] YuriSilenok commented on #1280
Вершина 3. Это условие с двойным ветвлением но из вершины 3 у вас выходит только одно ребро

[2020-07-04 18:52] ZhizhikinIvan commented on #1177
Да, написаны.

[2020-07-04 19:33] Heriuple commented on #1096
https://docs.google.com/document/d/1De5UsTnpPy3oPA5Gcd2JWyQGcfZS7ip0MVPxgiQGTpc/edit?usp=sharing
Большая часть документа это скриншоты , из-за работы на разных устройствах с разным программным обеспечением, прошу прощения.

[2020-07-05 05:02] YuriSilenok commented on #935
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-05 05:02] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-05 05:02] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-05 05:02] YuriSilenok commented on #1288
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-05 06:12] ssas18 commented on #1280
Исправил
https://docs.google.com/document/d/1j1WoxQgpvsnNo4nunZRD_sw_wNAxTa1UUu0-uiDu0d8/edit?usp=sharing

[2020-07-05 11:35] ssas18 commented on #1288
Юрий Викторович, почему данный таск снова открыт?
Что мне нужно с ним делать, я просто не понимаю

[2020-07-05 12:44] YuriSilenok commented on #1177
Тогда жду запроса для проверки

[2020-07-05 12:48] YuriSilenok commented on #1177
В ваших тестах предусмотрены проверки реляционных связей?

[2020-07-05 16:39] ZhizhikinIvan commented on #1177
Да, предусмотрены.

[2020-07-05 18:06] Takunava commented on #935
Задача закрыта в связи с тем, что веха в которой она находиться закрыта

[2020-07-05 18:09] Takunava commented on #935
А также с тем, что [слияние](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/939) было проведено
pull#939

[2020-07-06 05:02] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 05:02] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 05:02] YuriSilenok commented on #1288
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 05:04] YuriSilenok commented on #935
Пожалуйста, добавьте ответсвенного на эту задачу

[2020-07-06 09:23] YuriSilenok commented on #1177
Жду размещения отчета на гитхаб, а раз так, то дальнейшее обсуждение в запросе.

[2020-07-06 09:27] #935 closed, assigned to Takunava

[2020-07-06 09:28] #1239 closed, assigned to bormolei

[2020-07-06 09:29] YuriSilenok commented on #1096
В связи с новыми правилами, жду вашего отчета на гитхаб, обсуждение в запросе

[2020-07-06 09:31] YuriSilenok commented on #1280
Добрый день. Жду вашего отчета на гитхаб, дальнейшее обсуждение в запросе

[2020-07-06 09:38] YuriSilenok commented on #1288
То что и было написано, задачи не могут быть без ответственного, даже закрытые.

[2020-07-06 09:38] #1288 closed, assigned to YuriSilenok

[2020-07-06 09:40] ssas18 commented on #1280
Здравствуйте, отчет уже в пул реквесте

[2020-07-06 09:47] YuriSilenok commented on #1280
![image](https://user-images.githubusercontent.com/14871471/86580005-c895ba00-bf86-11ea-97a2-15d72319bbf8.png)
укажите его, пожалуйста

[2020-07-06 09:47] YuriSilenok commented on #1280
и судя по всему вы не запросили у меня проверку, я там назначен проверяющим?

[2020-07-06 09:56] ssas18 commented on #1280
Да, я забыл сделать запрос на проверку

[2020-07-06 11:13] YuriSilenok commented on #1285
[Зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1274241490&range=K10)

[2020-07-06 12:14] #1123 closed, assigned to YuriSilenok

[2020-07-06 12:14] #787 closed, assigned to YuriSilenok

[2020-07-06 12:14] #947 closed, assigned to YuriSilenok

[2020-07-06 12:15] #948 closed, assigned to YuriSilenok

[2020-07-06 12:15] #949 closed, assigned to YuriSilenok

[2020-07-06 12:15] #950 closed, assigned to YuriSilenok

[2020-07-06 12:16] #346 closed, assigned to YuriSilenok

[2020-07-06 12:16] #368 closed, assigned to YuriSilenok

[2020-07-06 12:16] #366 closed, assigned to YuriSilenok

[2020-07-06 12:16] #678 closed, assigned to YuriSilenok

[2020-07-06 12:17] #920 closed, assigned to YuriSilenok

[2020-07-06 12:17] #922 closed, assigned to YuriSilenok

[2020-07-06 12:17] #1153 closed, assigned to YuriSilenok

[2020-07-06 12:17] #1155 closed, assigned to YuriSilenok

[2020-07-06 12:17] #1156 closed, assigned to YuriSilenok

[2020-07-06 12:18] #1161 closed, assigned to YuriSilenok

[2020-07-06 12:18] #238 closed, assigned to YuriSilenok

[2020-07-06 12:20] #1216 closed, assigned to NesgovorovVS

[2020-07-06 13:01] YuriSilenok opened #1299 "Нарушено правило именования веток"
['Heriuple-UT_Insert_CInstitute', 'ifuwmnn-patch-1']

Приведите имена веток в соответсвие

[2020-07-06 13:01] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 13:02] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 14:21] YuriSilenok commented on #1299
['Heriuple-UT_Insert_CInstitute', 'tesk-2']

Приведите имена веток в соответсвие

[2020-07-06 14:21] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 14:21] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 15:23] YuriSilenok commented on #1299
['Heriuple-UT_Insert_CInstitute']

Приведите имена веток в соответсвие

[2020-07-06 15:23] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 15:23] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 15:26] YuriSilenok commented on #1299
['Heriuple-UT_Insert_CInstitute']

Приведите имена веток в соответсвие

[2020-07-06 15:26] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 15:26] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 15:48] YuriSilenok commented on #1299
['Heriuple-UT_Insert_CInstitute'] Приведите имена веток в соответсвие

[2020-07-06 15:48] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 15:48] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-06 18:34] VinogradovAlexandr781227 commented on #1284
Приступил к выполнению задания

[2020-07-07 05:02] YuriSilenok commented on #1299
['Heriuple-UT_Insert_CInstitute'] Приведите имена веток в соответсвие

[2020-07-07 05:02] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-07 05:02] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-07 07:01] ssas18 commented on #1036
Юрий Викторович, баг до сих пор остался, переоткрывать #1288  ?

[2020-07-07 07:14] YuriSilenok commented on #1036
Вы в какой ветке это проверили?

[2020-07-07 08:04] ssas18 commented on #1036
создал ветку 1036 и проверил

[2020-07-07 08:42] YuriSilenok commented on #1036
Нужно проверить в ветке dev, если там не воспроизводится, то смержите в вашу ветку ветку дев, если в дев воспроизводится, то переоткройте баг и дайте сценарий воспроизведения в нем со всеми скринами.

[2020-07-07 09:20] ssas18 commented on #1288
Баг все же воспроизводится, это мы можем проверить 2 способами:
1  Запускаем приложение, справочники - преподаватели - добавить преподавателя

[2020-07-07 09:22] YuriSilenok commented on #1288
Вы написали в клон, пишите в оригинальный баг

[2020-07-07 09:24] YuriSilenok commented on #1288
И я сказал вам переоткрыть его, а не просто комментарий написать

[2020-07-07 09:27] ssas18 commented on #1285
Баг все же воспроизводится, это мы можем проверить 2 способами:
1.  Запускаем приложение, справочники - преподаватели - добавить
![image](https://user-images.githubusercontent.com/47377817/86758036-3d7ef780-c04c-11ea-8d07-49cd51d2e621.png)
выбираем ученую степень, ученое звание, нажимаем сохранить.
Видим сообщение об ошибке:
![image](https://user-images.githubusercontent.com/47377817/86758338-77e8

[2020-07-07 09:28] ssas18 commented on #1288
Извините, случайно опубликовал комментарий

[2020-07-07 09:30] YuriSilenok commented on #1285
@JennyShel18 обратите внимание что баг вами не был исправлен.

[2020-07-07 13:54] ssas18 commented on #1280
@YuriSilenok , в пул реквесте по данной задаче я, как Вы и просили, назначил ревьюверами 2-ух человек, это произошло где-то в 10 утра, они не проявляли никакой активности, я назначил ревьюверами еще 2-ух человек, где-то 3-4 часа назад, от них тоже нет активности.
Что мне делать?

[2020-07-07 15:34] YuriSilenok commented on #1280
Вы можете назначать всю команду, как я упоминал, те кто освободяться раньше с работы или других дел, посмотрят.

[2020-07-08 05:02] YuriSilenok commented on #1299
['Heriuple-UT_Insert_CInstitute'] Приведите имена веток в соответсвие

[2020-07-08 05:02] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-08 05:02] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-08 16:21] JennyShel18 commented on #1285
@ssas18 но твой сбой не относится к моему багу, который я исправляла. У меня баг возникал при добавлении нагрузки, когда указываешь группу, а у тебя баг возникает при добавлении учителя, то есть при добавлении имени учителя у тебя вылетает исключение. Изначально мой баг был не связан с исправлением твоего.

[2020-07-08 17:21] JennyShel18 commented on #1285
Теперь сбой Саши исправлен

[2020-07-08 20:03] Heriuple opened #1307 "Исправил сбои в автотестах в файле UT_Insert_CAcademicDegree"
#1188

[2020-07-09 05:02] YuriSilenok commented on #1299
['Heriuple-UT_Insert_CInstitute'] Приведите имена веток в соответсвие

[2020-07-09 05:02] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-09 05:02] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-09 17:07] JennyShel18 commented on #1285
@YuriSilenok Задачу можно закрывать?

[2020-07-09 17:46] YuriSilenok commented on #1285
Задачу должен закрыть @ssas18, так как он переоткрыл этот баг и он должен подтвердить что сбой больше не наблюдается

[2020-07-09 17:56] JennyShel18 commented on #1285
Хорошо

[2020-07-09 18:43] YuriSilenok commented on #1284
3 дня назад вы писали что приступили к выполнению задачи, но нет ни запроса ни ветки, почему?

[2020-07-09 18:53] ssas18 commented on #1285
Бага больше не наблюдаю

[2020-07-09 18:53] #1285 closed, assigned to ssas18, JennyShel18

[2020-07-09 19:08] ssas18 commented on #1036
@YuriSilenok  , После исправления бага ошибок в автотестах нет. мне все же заливать отчет или Вы мне выдадите мне
 другую задачу?

[2020-07-09 22:14] NordScandinavian commented on #1095
Я не могу по этому файлу понять, какие ограничения на вставку у меня есть, потому что конкретно всё ломается в методе вставки
И поэтому надо знать, какая структура хранения данных применяется и знать её технические особенности
Поэтому где я это могу взять, не зная структуры проекта до этого?

[2020-07-10 05:02] YuriSilenok commented on #1299
['Heriuple-UT_Insert_CInstitute', 'merge-dev-task-1999', 'merge-master-task-1999'] Приведите имена веток в соответсвие

[2020-07-10 05:02] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-10 05:02] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-10 12:46] NordScandinavian commented on #1095
Вопрос такой
Что осталось сделать ещё?
Тесты поправил, в соответствии с ограничениями, сценарии составлены верно но не учтены как раз таки эти ограничения
Мне внести это в Pre-condition или не стоит?

[2020-07-10 16:11] #1307 closed, assigned to Heriuple

[2020-07-10 16:16] Heriuple commented on #1307
Неправильное место по созданию этого решения

[2020-07-10 19:41] YuriSilenok commented on #1036
Вы уже начали делать, вы вполне можете закончить работу над белым ящиком и привести автотесты в соответствие с полученными тестами. Там могут и новые сбои вылезти. Мое пожелание продолжить, по право выбора за вами.

[2020-07-10 19:44] YuriSilenok commented on #1095
Осталось научится вести ветки как положено.

[2020-07-10 19:46] ssas18 commented on #1036
Понял, хорошо, продолжу

[2020-07-10 20:37] VinogradovAlexandr781227 opened #1310 "Разработал тесты для конструктора класса MTeacher"
#1284
[Сценарии (исправления task-252)](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)

[2020-07-11 05:02] YuriSilenok commented on #942
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-11 05:02] YuriSilenok commented on #977
Пожалуйста, обратите внимание что эта задача находится в закрытой вехе, а сама является открытой

[2020-07-11 05:42] #942 closed, assigned to FvckNeighbors

[2020-07-11 05:43] #977 closed, assigned to FvckNeighbors

[2020-07-11 05:53] #1299 closed, assigned to YuriSilenok, Heriuple

[2020-07-11 05:54] #957 closed, assigned to basandpnv

[2020-07-11 05:55] #988 closed, assigned to sidelong44

[2020-07-11 06:02] #954 closed, assigned to itword7111

[2020-07-11 06:05] #394 closed, assigned to yuliagolubevaa5, nrabotko

[2020-07-11 21:43] NesgovorovVS opened #1311 "Исправил сбой в автотестах расположенных в файле UT_Delete_CGroup"
#1065

[2020-07-12 05:05] YuriSilenok commented on #1311
Дубликат #1065

[2020-07-12 05:05] #1311 closed, assigned to YuriSilenok

[2020-07-12 16:33] ssas18 opened #1312 "Дефект в методе update класса CAcademicLoad.cs"
Проверка  MAcademic.Group == null  не нужна в данном классе , а точнее в методе update  по причине того, что данная проверка осуществляется вне этого метода. Данная ошибка находится [здесь](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/409fc228c17b1a23e27838b812a70de3f6a8bab0/LibOfTimetableOfClasses/CAcademicLoad.cs)

#1280

[2020-07-14 19:10] YuriSilenok commented on #1312
Пожалуйста, добавьте ссылки на код где допущена данная ошибка

[2020-07-15 06:29] ssas18 commented on #1312
Ошибка находится в классе CAcademicLoad.cs в методе Update(119 строка)

[2020-07-15 18:21] YuriSilenok commented on #1312
Вы дали описание, а нужна ссылка, что бы кликнул по ней я смог перейти к версии файла в котором  содержится ошибка.

[2020-07-16 11:29] ssas18 commented on #1312
Данная ошибка находиться [здесь ](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/dev/LibOfTimetableOfClasses/CAcademicLoad.cs)

[2020-07-16 17:54] YuriSilenok commented on #1312
Почти правильно.
Теперь расскажу сокровенное.
Слова "Версия файла" означает что есть некий коммит в котором зафиксировано состояние файла.
То есть новый коммит порождает новую версию файла, даже если файл не менялся.
Суть вот в чем, каждый коммит знает из какого другого коммита он был сделан, таким образом получается древовидная структура. И каждая ветка этого дерева имеет свое название. Давайте п

[2020-07-17 06:47] ssas18 commented on #1312
То есть

То есть мне нужно указать на тот коммит в котором появился этот файл или данные строчки, с которыми связана ошибка?
и я не совсем понял как мне перейти на конкретный коммит, как здесь
![image](https://user-images.githubusercontent.com/47377817/87756981-82f0b100-c812-11ea-9c01-d6bfed71f192.png)

[2020-07-17 14:15] Heriuple opened #1315 "Исправлены сбои в автотестах расположенных в файле UT_Insert_CAcademicDegree #1188"
#1188

[2020-07-19 14:54] YuriSilenok commented on #1312
![image](https://user-images.githubusercontent.com/14871471/87877739-b422da00-c9e8-11ea-9803-54a24d25abd7.png)
- 1 Вы попадете на последний коммит ветки
- 2 Вы попадете на список коммитов ветки из которого вы сможете перейти на интересующий вас коммит.

А так способов перейти на коммит, достаточно много, я показал самые простые.

[2020-07-19 14:58] YuriSilenok commented on #1238
[Зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=870820066&range=L4)

[2020-07-19 14:58] #1238 closed, assigned to YuriSilenok, MyachevM

[2020-07-19 15:09] ssas18 commented on #1312
это правильный [коммит ?](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/409fc228c17b1a23e27838b812a70de3f6a8bab0/UnitTestOfTimetableOfClasses/UT_Update_CAcademicLoad.cs)

[2020-07-19 18:46] YuriSilenok commented on #1312
Да, вы указали верно, теперь разберемся с тем, где находится на самом деле ошибка.
`MAcademic.Group == null` эта строчка находится в тесте?

[2020-07-20 06:38] ssas18 commented on #1312
понял свою ошибку, простите за невнимательность получается [так](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/409fc228c17b1a23e27838b812a70de3f6a8bab0/LibOfTimetableOfClasses/CAcademicLoad.cs)

[2020-07-20 12:06] YuriSilenok commented on #1312
Да, совершенно верно, теперь осталось собраться с мыслью, и подробно описать суть проблемы в описании этой задачи.

[2020-07-22 11:40] YuriSilenok commented on #1312
@ssas18 Обратил внимание на заголовок бага. Могли бы поправить описав суть бага. Можно воспользоваться вот [этой](https://habr.com/ru/company/docsvision/blog/264163/) статьей для понимания того что там должно быть.

[2020-07-22 14:22] ssas18 commented on #1312
Исправить баг расположенный в UT_Update_CAcademicLoad?

[2020-07-23 15:35] YuriSilenok commented on #1312
Давайте не будет путать термины, [ознакомьтесь](http://okiseleva.blogspot.com/2015/05/blog-post_29.html)
Дефект находится в другом месте. И мы как бы уже даже определились где она находится. Сами юнит тесты воспроизводят сбой, они не содержат дефекта.

[2020-07-23 15:50] ssas18 commented on #1312
Логичес

Логическая ошибка в классе CAcademicLoad.cs?

[2020-07-23 15:56] YuriSilenok commented on #1312
Не ошибка, а дефект. Ошибка это момент когда разработчик ошибся, в результате которой в программном продукте появляется дефект, который проявляется в виде сбоя при выполнении определенного сценария. Для описания сбоя создается баг. На основании описания разработчик должен иметь возможность понять как воспроизвести сбой. В нашем случае сбоя у нас не будет, так как по сути это дублирующая проверка.

[2020-07-23 16:27] YuriSilenok commented on #1312
Так, а описание?

[2020-07-23 16:30] ssas18 commented on #1312
Изменить автотест на класс?

[2020-07-23 16:43] YuriSilenok commented on #1312
Вы можете упоминать автотесты только для того, что бы не забыть потом его исправить.

[2020-07-24 11:25] Alphavite51 commented on #1312
получается в классе CAcademicLoad.CS есть часть кода которая написано не рационально и ее нужно изменить?

[2020-07-24 11:38] ssas18 commented on #1312
Да, а точнее в методе update

[2020-07-24 15:18] YuriSilenok commented on #1312
@Alphavite51 есть причина по которой вы закрыли эту задачу?

[2020-07-24 15:20] Alphavite51 commented on #1312
У меня она не закрыта

[2020-07-24 15:31] YuriSilenok commented on #1312
Так, интересно, можете показать скрин?

[2020-07-24 15:34] Alphavite51 commented on #1312
![Screenshot_2020-07-24-18-33-23.png](https://user-images.githubusercontent.com/47320668/88408492-4d346500-cddc-11ea-9acc-98079cd175f5.png)

[2020-07-24 15:37] YuriSilenok commented on #1312
Я на этом скрине вижу что задача закрыта.
![image](https://user-images.githubusercontent.com/14871471/88408847-c764e980-cddc-11ea-8518-3ee84b9635c5.png)

[2020-07-24 15:38] YuriSilenok commented on #1312
А вот запись о том что вы задачу закрыли
![image](https://user-images.githubusercontent.com/14871471/88408910-dea3d700-cddc-11ea-9c1d-d89302f59ed5.png)

[2020-07-24 15:41] YuriSilenok commented on #1312
А вы как определяете что задача открыта?

[2020-07-24 15:46] Alphavite51 commented on #1312
Как ее теперь открыть?

[2020-07-24 15:47] Alphavite51 commented on #1312
Все, вроде разобрался

[2020-07-26 10:29] Alphavite51 commented on #1312
Что должен делать метод?

[2020-07-27 11:35] Alphavite51 commented on #1312
Что должен этот метод делать?

[2020-07-27 11:40] ssas18 commented on #1312
Обновляет данные в рефдате

[2020-07-27 13:40] Alphavite51 commented on #1312
так он и обновляет вроде, что не верно то там

[2020-07-27 13:56] Alphavite51 commented on #1312
у меня выдает ошибку референсов в которой не подключены сборки " IController " , " Model " и " MAcademicLoad "

[2020-07-27 13:58] ssas18 commented on #1312
В нем есть излишняя проверка

[2020-07-27 16:35] YuriSilenok commented on #1312
Если вы обнаружили сбой, то нужно поднять баг.

[2020-07-28 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #1065
Добрый день. В ветке task-1065 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #1284
Добрый день. В ветке task-1284 давно не было активности

[2020-07-28 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-07-28 08:12] NesgovorovVS commented on #1065
Здравствуйте, ветка не заброшена, как и две другие, в ближайшее время будут выгружены изменения и добавлены на проверку все участники группы.

[2020-07-28 10:50] YuriSilenok commented on #1065
Изменения должны выгружаться сразу. Не держите изменения только локально. Про самолёт рассказывать не буду.

[2020-07-29 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #1036
Добрый день. В ветке task-1036 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #1065
Добрый день. В ветке task-1065 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #1066
Добрый день. В ветке task-1066 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #1281
Добрый день. В ветке task-1281 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #1284
Добрый день. В ветке task-1284 давно не было активности

[2020-07-29 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-07-29 22:34] NesgovorovVS commented on #1065
Ветка не заброшена, я не забываю о ней, я пытаюсь разобраться в этом. Ещё день посижу и если не пойму, будет ряд вопросов, которые задам в общей конфе.

[2020-07-30 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1036
Добрый день. В ветке task-1036 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1065
Добрый день. В ветке task-1065 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1066
Добрый день. В ветке task-1066 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1280
Добрый день. В ветке task-1280 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1281
Добрый день. В ветке task-1281 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1284
Добрый день. В ветке task-1284 давно не было активности

[2020-07-30 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-07-30 06:50] VinogradovAlexandr781227 commented on #1310
Начал разработку отчёта по задаче. Надеюсь сегодня, завтра залью

[2020-07-30 06:51] VinogradovAlexandr781227 commented on #1284
Разрабатываю отчет. Надеюсь сегодня, завтра залью

[2020-07-30 17:46] YuriSilenok commented on #1192
[Зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1029316146&range=J10)

[2020-07-30 17:46] #1192 closed, assigned to YuriSilenok, ZhizhikinIvan

[2020-07-30 20:04] YuriSilenok commented on #1065
Нет доказательств того, что вы что-то пробуете, отправляйте данные каждый раз, как что-то меняете. Такова политика проекта.

[2020-07-30 20:04] YuriSilenok commented on #1310
Залили?

[2020-07-30 20:05] YuriSilenok commented on #1284
Заливайте промежуточные результаты, такова политика проекта.

[2020-07-31 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1036
Добрый день. В ветке task-1036 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1065
Добрый день. В ветке task-1065 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1066
Добрый день. В ветке task-1066 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1280
Добрый день. В ветке task-1280 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1281
Добрый день. В ветке task-1281 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1284
Добрый день. В ветке task-1284 давно не было активности

[2020-07-31 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-07-31 10:29] YuriSilenok opened #1318 "Разработать методически рекомендации к использованию метода тестирования "Белый ящик""
- Последовательно описать алгоритм действий
- Привести пример
- Результат работы должен быть представлен в репозитории в файле Student-timetable/Docs/White-box/README.md

[2020-07-31 17:39] YuriSilenok opened #1321 "Разработать требования к модульным тестам"
Определить:
- структуру тестов
- требования к оформлению
- Документ расположить в Student-timetable/Docs/Unit-test/README.md

[2020-08-01 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #1065
Добрый день. В ветке task-1065 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #1281
Добрый день. В ветке task-1281 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #1282
Добрый день. В ветке task-1282 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #1284
Добрый день. В ветке task-1284 давно не было активности

[2020-08-01 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-08-01 12:11] NesgovorovVS commented on #1065
Добрый день, комментарии читаю, сегодня изменения будут залиты.

[2020-08-01 16:04] ifuwmnn opened #1323 "Отделение инициализации данных рефдаты из её конструктора."
Требуется отделить инициализацию данных рефдаты из её конструктора.

[2020-08-01 21:17] NesgovorovVS commented on #1065
Появились трудности с заливом на гитхаб, не видит, что я создал папку и добавил туда файл
![image](https://user-images.githubusercontent.com/47756995/89110648-8bbdc580-d455-11ea-9692-a9c2e5f8d2cb.png)

[2020-08-01 21:55] NesgovorovVS commented on #1065
отложил на сутки, до решения проблемы

[2020-08-02 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1065
Добрый день. В ветке task-1065 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1187
Добрый день. В ветке task-1187 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1199
Добрый день. В ветке task-1199 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1240
Добрый день. В ветке task-1240 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1264
Добрый день. В ветке task-1264 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1281
Добрый день. В ветке task-1281 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1282
Добрый день. В ветке task-1282 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1284
Добрый день. В ветке task-1284 давно не было активности

[2020-08-02 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-08-02 22:55] NesgovorovVS commented on #1065
![image](https://user-images.githubusercontent.com/47756995/89134258-6059da00-d52c-11ea-971a-60efe5a6fdb2.png)
пронумерованный код для отчёта, чтобы не потерять

[2020-08-02 23:07] NesgovorovVS commented on #1240
![image](https://user-images.githubusercontent.com/47756995/89134451-0823d780-d52e-11ea-905c-28701e295a81.png)
Для отчёта

[2020-08-02 23:16] NesgovorovVS commented on #1087
![image](https://user-images.githubusercontent.com/47756995/89134654-4d94d480-d52f-11ea-85fd-b7340ecc9700.png)
Разметка кода

[2020-08-03 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1187
Добрый день. В ветке task-1187 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1199
Добрый день. В ветке task-1199 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1240
Добрый день. В ветке task-1240 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1264
Добрый день. В ветке task-1264 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1281
Добрый день. В ветке task-1281 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1282
Добрый день. В ветке task-1282 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1284
Добрый день. В ветке task-1284 давно не было активности

[2020-08-03 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-08-03 19:09] NesgovorovVS commented on #1087
![image](https://user-images.githubusercontent.com/47756995/89218014-ee3dcf80-d5d5-11ea-804c-275440373b08.png)
исправленная разметка для отчёта

[2020-08-03 19:12] NesgovorovVS commented on #1240
![image](https://user-images.githubusercontent.com/47756995/89218210-555b8400-d5d6-11ea-8c09-51fbb4bc6efb.png)
Исправлена разметка кода для будущего отчёта

[2020-08-03 20:02] #1074 closed, assigned to YuriSilenok

[2020-08-03 20:03] #206 closed, assigned to altavelor

[2020-08-03 20:03] #655 closed, assigned to Takunava, Pipyao

[2020-08-03 20:05] #697 closed, assigned to nrabotko

[2020-08-03 20:31] YuriSilenok commented on #1323
При таком отделении, возникнет множество сбоев в автотестах, по идее все можно решить за 15 минут, главное уметь пользоваться автозаменой по проекту. Количество сбоев не должно увеличется.
@Students-of-the-city-of-Kostroma/17-elite кто возьмётся?

[2020-08-03 20:32] YuriSilenok commented on #1323
@ifuwmnn вы и я проверяем запрос, вы не можете делать эту задачу

[2020-08-03 20:36] YuriSilenok commented on #1087
Все это должно попасть в отчёт в репозиторий, а не сюда

[2020-08-04 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1082
Добрый день. В ветке task-1082 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1096
Добрый день. В ветке task-1096 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1187
Добрый день. В ветке task-1187 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1199
Добрый день. В ветке task-1199 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1240
Добрый день. В ветке task-1240 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1264
Добрый день. В ветке task-1264 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1284
Добрый день. В ветке task-1284 давно не было активности

[2020-08-04 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-08-04 06:35] YuriSilenok commented on #1227
Снято по отсутствию активности

[2020-08-04 06:54] #726 closed, assigned to Pipyao

[2020-08-04 06:58] #656 closed, assigned to Takunava, Pipyao

[2020-08-04 07:00] #1131 closed, assigned to YuriSilenok

[2020-08-04 07:02] #1146 closed, assigned to YuriSilenok

[2020-08-04 07:03] #1075 closed, assigned to YuriSilenok

[2020-08-04 07:03] #1148 closed, assigned to YuriSilenok

[2020-08-04 07:05] #1150 closed, assigned to YuriSilenok

[2020-08-04 07:05] #1147 closed, assigned to YuriSilenok

[2020-08-04 07:07] #689 closed, assigned to nrabotko

[2020-08-04 07:50] NesgovorovVS commented on #1264
Ветка не заброшена, займусь ей в течение 2-3 дней, после добавления отчётов в 3 ветки

[2020-08-04 07:56] YuriSilenok commented on #1264
Постарайтесь делать их параллельно.

[2020-08-04 08:13] YuriSilenok commented on #1283
Появилась задача #1323, которая могла бы вам помочь решить эту проблему.

[2020-08-04 08:17] YuriSilenok commented on #1315
Duplicate of #1188

[2020-08-04 08:17] #1315 closed, assigned to Heriuple

[2020-08-04 08:27] YuriSilenok commented on #1065
У вас получилось залить картинки?

[2020-08-05 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-08-05 05:02] YuriSilenok commented on #1082
Добрый день. В ветке task-1082 давно не было активности

[2020-08-05 05:03] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-08-05 05:03] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-08-05 05:03] YuriSilenok commented on #1096
Добрый день. В ветке task-1096 давно не было активности

[2020-08-05 05:03] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-08-05 05:03] YuriSilenok commented on #1187
Добрый день. В ветке task-1187 давно не было активности

[2020-08-05 05:03] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-08-05 05:03] YuriSilenok commented on #1199
Добрый день. В ветке task-1199 давно не было активности

[2020-08-05 05:03] YuriSilenok commented on #1264
Добрый день. В ветке task-1264 давно не было активности

[2020-08-05 05:03] YuriSilenok commented on #1284
Добрый день. В ветке task-1284 давно не было активности

[2020-08-05 05:03] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-08-05 19:17] VinogradovAlexandr781227 commented on #1310
@YuriSilenok  Извините за возможно глупый вопрос. У меня задача: Разработка тестов для конструктора класса MTeacher.
У меня по ходу изучения вопроса появился вопрос: Мне для всего конструктора в совокупности писать или для каждого отдельного элемента типа FirstName, SecondName и т.д.?

[2020-08-05 20:46] YuriSilenok commented on #1310
![Screenshot_20200805_232736_com.vkontakte.android.jpg](https://user-images.githubusercontent.com/14871471/89462270-d43af300-d775-11ea-8a4d-407bb235da3b.jpg)

[2020-08-05 21:01] YuriSilenok commented on #1264
Сегодня будет активность по задаче?

[2020-08-05 21:10] NesgovorovVS commented on #1264
Нет, параллельно делаю три ветки, в них изменения будут позже, с этой тоже разберусь, тут вроде только нет документации xml

[2020-08-06 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1082
Добрый день. В ветке task-1082 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1096
Добрый день. В ветке task-1096 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1187
Добрый день. В ветке task-1187 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1199
Добрый день. В ветке task-1199 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1264
Добрый день. В ветке task-1264 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1284
Добрый день. В ветке task-1284 давно не было активности

[2020-08-06 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-08-06 16:46] VinogradovAlexandr781227 commented on #1284
@YuriSilenok Это задача, которую я реализую в task-1310

[2020-08-06 19:55] YuriSilenok commented on #1284
Вы хотите сказать что эта задача дубликат?

[2020-08-06 19:58] YuriSilenok commented on #1284
Дубликат #1310

[2020-08-06 19:58] #1284 closed, assigned to VinogradovAlexandr781227

[2020-08-07 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-08-07 05:02] YuriSilenok commented on #1082
Добрый день. В ветке task-1082 давно не было активности

[2020-08-07 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-08-07 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-08-07 05:02] YuriSilenok commented on #1096
Добрый день. В ветке task-1096 давно не было активности

[2020-08-07 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-08-07 05:02] YuriSilenok commented on #1187
Добрый день. В ветке task-1187 давно не было активности

[2020-08-07 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-08-07 05:02] YuriSilenok commented on #1199
Добрый день. В ветке task-1199 давно не было активности

[2020-08-07 05:02] YuriSilenok commented on #1264
Добрый день. В ветке task-1264 давно не было активности

[2020-08-07 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-08-07 16:11] VinogradovAlexandr781227 commented on #1310
@YuriSilenok Понял ваш ответ. Делаю задание.

[2020-08-07 22:21] NesgovorovVS commented on #1264
Прошу задачу не снимать, проставлю приоритеты в течении суток.

[2020-08-07 22:21] NesgovorovVS commented on #1240
Прошу задачу не снимать, проставлю приоритеты в течении суток.

[2020-08-07 22:21] NesgovorovVS commented on #1087
Прошу задачу не снимать, проставлю приоритеты в течении суток.

[2020-08-07 22:21] NesgovorovVS commented on #1065
Прошу задачу не снимать, проставлю приоритеты в течении суток.

[2020-08-08 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-08-08 05:02] YuriSilenok commented on #1082
Добрый день. В ветке task-1082 давно не было активности

[2020-08-08 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-08-08 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-08-08 05:02] YuriSilenok commented on #1096
Добрый день. В ветке task-1096 давно не было активности

[2020-08-08 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-08-08 05:02] YuriSilenok commented on #1187
Добрый день. В ветке task-1187 давно не было активности

[2020-08-08 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-08-08 05:02] YuriSilenok commented on #1199
Добрый день. В ветке task-1199 давно не было активности

[2020-08-08 05:03] YuriSilenok commented on #1264
Добрый день. В ветке task-1264 давно не было активности

[2020-08-08 05:03] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-08-08 14:01] YuriSilenok commented on #1310
22 часа назад вы начали делать задание, где результаты вашего труда?

[2020-08-09 05:02] YuriSilenok commented on #1032
Добрый день. В ветке task-1032 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1036
Добрый день. В ветке task-1036 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1082
Добрый день. В ветке task-1082 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1088
Добрый день. В ветке task-1088 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1095
Добрый день. В ветке task-1095 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1096
Добрый день. В ветке task-1096 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1177
Добрый день. В ветке task-1177 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1187
Добрый день. В ветке task-1187 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1188
Добрый день. В ветке task-1188 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1199
Добрый день. В ветке task-1199 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1264
Добрый день. В ветке task-1264 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1310
Добрый день. В ветке task-1310 давно не было активности

[2020-08-09 05:02] YuriSilenok commented on #1318
Добрый день. В ветке task-1318 давно не было активности

[2020-08-09 17:58] ssas18 commented on #1036
Прошу не удалять, т.к. жду проверки

[2020-08-09 17:59] ssas18 commented on #1066
Прошу не удалять, т.к. жду проверки

[2020-08-09 17:59] ssas18 commented on #1280
Прошу не удалять, т.к. жду проверки

[2020-08-09 21:06] VinogradovAlexandr781227 commented on #1310
@YuriSilenok А изменения получается нужно заливать вообще все, какими бы они не были по итогу деятельности?

[2020-08-10 06:17] YuriSilenok commented on #1310
Дам именно так. В ветку вы заливаете все, а запрос вы создаёте тогда, когда
можно проверять, полностью или частично.

пн, 10 авг. 2020 г., 0:06 Александр Виноградов <notifications@github.com>:

[2020-08-10 13:58] YuriSilenok commented on #1323
@Students-of-the-city-of-Kostroma/17-elite
Если кто-то умеет грамотно пользоваться заменой, то это задача для вас.

[2020-08-11 15:55] ifuwmnn commented on #1082
Здравствуйте, я же написал в ветке, что нет активности т.к. по идее всё
проходит кроме одного теста, который фэйлится из-за refdata, я поднял
задачу на её отделение, и как эта задача будет решена то и ветку можно
будет закрыть, но никто не берётся за
эту задачу.

вс, 9 авг. 2020 г. в 08:02, Юрий Силенок <notifications@github.com>:

[2020-08-11 17:39] YuriSilenok commented on #1264
@NesgovorovVS  На каком основании Вы отменили мое решение и забрали задачу себе?

[2020-08-11 17:42] YuriSilenok commented on #1240
Если у вас нет уважительной причины по которой нет активности, задача будет с вас снята.

[2020-08-11 17:44] YuriSilenok commented on #1087
[Коммент](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/1240#issuecomment-672127384)

[2020-08-11 17:45] YuriSilenok commented on #1065
[Коммент](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/1240#issuecomment-672127384)

[2020-08-11 17:55] YuriSilenok commented on #1036
Где метка приоритета?

[2020-08-11 17:56] YuriSilenok commented on #1066
Где метки приоритета?

[2020-08-11 17:56] YuriSilenok commented on #1280
Где метки приоритета?

[2020-08-11 18:05] YuriSilenok commented on #1312
@ssas18
Подтвердите что претензий по багу у вас больше нет

[2020-08-11 18:06] NesgovorovVS commented on #1264
ошибся задачей видимо, 1265 моя

[2020-08-11 18:08] YuriSilenok commented on #1082
Сегодня задача выдана, Следите за ней.
Необходимо в комментарием сослаться на задачу которая вас блокирует.
Тогда я смогу понять что в задаче нет активности из-за конкретной ОТКРЫТОЙ задачи.
И если задача будет с вас снята, то потом я снова ее на вас перевешу.

[2020-08-11 18:11] NesgovorovVS commented on #1065
в течение суток новые изменения будут загружены

[2020-08-11 18:11] NesgovorovVS commented on #1240
в течение суток новые изменения будут загружены

[2020-08-11 18:11] NesgovorovVS commented on #1087
в течение суток новые изменения будут загружены

[2020-08-11 18:16] YuriSilenok commented on #1264
А 1265 это запрос к текущей задача и все равно задача с вас снята, я не вижу оснований по которым вы вдруг начали заниматься этой задачей, а запрос нужно закрыть.
Тем более что коммит который выкатили ровным счетом ничего не меняет, те изменения которые вы сделали не делают комментарии технической документацией.
Запрос будет закрыт в ближайшее время.

[2020-08-11 18:20] NesgovorovVS commented on #1264
"Вообще не заметил, как вы у меня забрали задачу, аж 20 июня
Вы бы хоть поправили, когда я вам на сообщения отвечал и когда заливал изменения,что задача уже не моя"

[2020-08-12 04:36] ssas18 commented on #1312
Баг устранён

[2020-08-12 07:53] YuriSilenok commented on #1264
О любых изменениях в задачах приходит уведомление на почту. Читайте почту.
Хотите сказать что я должен при чтении каждого сообщения проверять на ком висит задача, извините, но Ваша обязанность следить за СВОИМИ задачами!

[2020-08-12 07:57] YuriSilenok commented on #1312
@ssas18 возвращает задачу @Alphavite51 так как он проверку выполнил,
@Alphavite51 назначает на меня для выставления отметки в журнал.

[2020-08-13 11:21] ifuwmnn commented on #1082
В задаче нет активности, т.к. меня блокирует задача #1323

[2020-08-13 13:02] YuriSilenok commented on #1283
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-13 13:02] YuriSilenok commented on #1282
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-13 13:02] YuriSilenok commented on #1227
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-13 14:13] YuriSilenok commented on #1312
[Зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1640195575&range=J8)

[2020-08-13 14:13] #1312 closed, assigned to YuriSilenok

[2020-08-13 15:08] YuriSilenok commented on #1323
У вас уже есть первые наработки? Ожидал увидеть ветку, вдруг что-то есть на что можно посмотреть?

[2020-08-13 15:14] YuriSilenok commented on #1318
Выполнено

[2020-08-13 15:14] #1318 closed, assigned to YuriSilenok

[2020-08-14 06:09] YuriSilenok commented on #1177
[Зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1029316146&range=K10)

[2020-08-14 06:09] #1177 closed, assigned to YuriSilenok, ZhizhikinIvan

[2020-08-14 06:12] YuriSilenok commented on #1264
Закрыта, так как потеряла свою актуальность

[2020-08-14 06:12] #1264 closed, assigned to YuriSilenok

[2020-08-15 16:54] VinogradovAlexandr781227 commented on #1310
@YuriSilenok
Извиняюсь, что долго не было продвижения.
Что вы имеете ввиду под кодом свойств и как его раскрыть?

[2020-08-15 18:21] YuriSilenok commented on #1310
У класса есть свойства, каждое свойство запрограммировано и имеет исходный код. Конструктор поочерёдно вызывает эти свойства. Есть еще какие-то вопросы?

[2020-08-17 05:02] YuriSilenok commented on #1199
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-17 05:02] YuriSilenok commented on #1188
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-17 05:02] YuriSilenok commented on #1187
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-17 05:03] YuriSilenok commented on #1096
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-17 05:03] YuriSilenok commented on #1095
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-17 05:03] YuriSilenok commented on #1088
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-17 05:03] YuriSilenok commented on #1032
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-17 12:48] YuriSilenok commented on #1227
Эта задача будет разбита на три другие

[2020-08-17 12:58] YuriSilenok opened #1326 "На форму расписание добавить расписание для студентов"
Эта задача является частью #1227
---
Я как студент должен иметь возможность просмотреть свое расписание.
Для того что бы я мог увидеть свое расписание, я должен выбрать из выпадающего списка институт.
После выбора института, поле "Выберите направление подготовки" должно стать доступным и содержать значения соответствующие моему институту.
После выбора профиля подготовки, поле "Выберите группу" дол

[2020-08-17 13:20] Alphavite51 commented on #1323
с каким фаилом необходимо работать RefData.cs ??

[2020-08-17 13:22] YuriSilenok commented on #1323
- В конструкторе указанного Вами файла есть часть, которая заполняет таблицы данными, ее нужно перенести в отдельный метод.
- Когда вы сделаете предыдущий шаг, половина +- автотестов упадет. Нужно будет во всем тестах, которые упали из-за ваших изменений добавить вызов метода добавление данных в таблице.

У Вас остались еще вопросы?

[2020-08-17 13:26] Alphavite51 commented on #1323
Нет, спасибо за объснение

[2020-08-18 06:44] YuriSilenok commented on #1188
Устаревшая ветка для этой задачи будет удалена в ближайшее время

[2020-08-18 06:44] YuriSilenok commented on #1187
Устаревшая ветка для этой задачи будет удалена в ближайшее время

[2020-08-18 06:44] YuriSilenok commented on #1088
Устаревшая ветка для этой задачи будет удалена в ближайшее время

[2020-08-18 06:44] YuriSilenok commented on #1032
Устаревшая ветка для этой задачи будет удалена в ближайшее время

[2020-08-18 07:16] YuriSilenok commented on #1187
Ветка удалена

[2020-08-18 07:17] YuriSilenok commented on #1188
Ветка удалена

[2020-08-18 07:19] YuriSilenok commented on #1088
Ветка удалена

[2020-08-18 07:19] YuriSilenok commented on #1032
Ветка удалена

[2020-08-19 15:20] Alphavite51 commented on #1323
InitData же уже в отдельном методе, получается первый пункт уже выполене, или я что то не понимаю

[2020-08-19 15:47] YuriSilenok commented on #1323
Да, хорошо что вы разобрались.
Теперь вызов этого метода в конструкторе нужно убрать и сделать  этот метод доступным для вызова из вне

[2020-08-20 05:02] YuriSilenok commented on #1281
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-20 13:38] VinogradovAlexandr781227 commented on #1310
Извините, затупил.
Нет. Больше вопросов нет.

[2020-08-20 14:08] YuriSilenok commented on #1310
5 дней? серьезно?

[2020-08-20 14:40] Alphavite51 commented on #1323
Вызов InitData нужно удалить?

[2020-08-20 14:48] YuriSilenok commented on #1323
Думаю да. Но вы лучше делайте, а не спрашивайте.

[2020-08-20 18:36] ZhizhikinIvan commented on #1326
Здравствуйте Юрий Викторович.
Программа не запускается. Есть ошибки в данных RefData.cs. Мне править их?

[2020-08-20 19:06] ZhizhikinIvan commented on #1326
Юрий Викторович, не могли бы вы конкретизировать задачу, я не особо понимаю, что мне надо сделать.
Какой выпадающий список вы имеете ввиду (на форме "Расписание" их 3 штуки)?

![image](https://user-images.githubusercontent.com/47943099/90814101-43494780-e331-11ea-804d-ebf991329717.png)

[2020-08-21 04:22] YuriSilenok commented on #1326
Программа должна запускаться, в какой ветке вы это делаете?

[2020-08-21 04:27] YuriSilenok commented on #1326
Все интересующие вас вы падающие списки находятся на снимке экрана в левом верхнем углу, над таблицей. Вы их не видите?

[2020-08-21 05:02] YuriSilenok commented on #1282
Устаревшая ветка для этой задачи будет удалена в ближайшее время

[2020-08-21 05:02] YuriSilenok commented on #1199
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-21 05:02] YuriSilenok commented on #1095
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-21 05:03] YuriSilenok commented on #1082
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-21 10:14] YuriSilenok commented on #1282
Ветка удалена, запрос #1304 закрыт

[2020-08-21 10:25] YuriSilenok opened #1328 "На форму расписание добавить расписание для преподавателей"
Эта задача является частью #1227
---
Я как преподаватель должен иметь возможность отфильтровать свое расписание, что бы ускорить поиск своего расписания
Для того что бы я мог увидеть свое расписание я должен иметь возможность ввести в поисковую строку свою фамилию.
После ввода своей фамилии в списке должны остаться только те, преподаватели, которые содержат искомое фразу.
При выборе из списка фами

[2020-08-21 10:27] YuriSilenok commented on #1082
@ifuwmnn думаю Вам стоит поинтересоваться когда будет завершена блокирующая вас задача, возможно оказать помощь.

[2020-08-22 05:02] YuriSilenok commented on #1096
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-22 07:51] ssas18 commented on #1280
Прошу меня простить, но примерно сутки буду находиться в отъезде, по приезду будут исправлены все замечания

[2020-08-22 07:51] ssas18 commented on #1066
Прошу меня простить, но примерно сутки буду находиться в отъезде, по приезду будут исправлены все замечания

[2020-08-22 07:52] ssas18 commented on #1036
Прошу меня простить, но примерно сутки буду находиться в отъезде, по приезду будут исправлены все замечания

[2020-08-22 23:02] NesgovorovVS commented on #1328
Прошу не снимать задачу, работаю над ней.

[2020-08-22 23:02] NesgovorovVS commented on #1240
Прошу задачу не снимать, идут оставшиеся работы над ней.

[2020-08-22 23:03] NesgovorovVS commented on #1087
Прошу задачу не снимать, идут оставшиеся работы над ней.

[2020-08-22 23:03] NesgovorovVS commented on #1065
Прошу задачу не снимать, идут оставшиеся работы над ней.

[2020-08-23 06:26] VinogradovAlexandr781227 commented on #1310
Осталось корректировать отчёт и выложить.

[2020-08-23 11:30] ssas18 commented on #1036
@YuriSilenok  , я снова тут и очень жду Вашей проверки по #1309

[2020-08-23 11:31] ssas18 commented on #1280
@YuriSilenok  , я снова тут и очень жду Вашей проверки по #1294

[2020-08-23 11:31] ssas18 commented on #1066
@YuriSilenok  , я снова тут и очень жду Вашей проверки по #1295

[2020-08-23 11:42] YuriSilenok commented on #1280
Проверять я буду завтра утром, может быть коллеги смогут чем-то помочь в проверке, но это что-то невероятное, только вы работаете в этом плане нормально.

[2020-08-23 12:38] YuriSilenok commented on #1066
Я бы так же хотел видеть ответы на мои вопросы, даже если вы решили что-то исправить исходя из моего вопроса

[2020-08-23 12:40] ssas18 commented on #1066
Прошу прощения, сейчас все исправлю

[2020-08-23 12:45] ssas18 commented on #1280
Хорошо, жду проверки

[2020-08-23 14:40] ZhizhikinIvan commented on #1326
Юрий Викторович, я так понял, что мне необходимо реализовать вот эти выпадающие списки (на снимке макета обведены красным)?
Так же хотелось бы уточнить, входит ли в мою задачу, реализация заполнения расписания (на снимке макета обведено синим)? Если да, то откуда мне взять само расписание?

![image](https://user-images.githubusercontent.com/47943099/90980999-2bf39f80-e567-11ea-9000-922b4b61cbb7.pn

[2020-08-23 15:36] YuriSilenok commented on #1326
Для вас эта формулировка не означает что таблица с расписанием должна заполняться?

[2020-08-23 15:40] YuriSilenok commented on #1326
Все контроллеры (таблицы) которые имеются на данный момент, находятся в классе RefData. Изучите их пожалуйста. Если окажется что контролёров и слюнки к ней не будет существовать, то вам нужно будет поднять задачу, её выполнением займётся другой человек, а вы будете принимать эту задачу.

[2020-08-24 05:02] YuriSilenok commented on #1323
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-24 05:02] YuriSilenok commented on #1321
Устаревшая ветка для этой задачи будет удалена в ближайшее время

[2020-08-24 06:26] YuriSilenok commented on #1328
Если вы работаете над дней, где ветка с коммитами?

[2020-08-24 06:28] YuriSilenok commented on #1240
Все промежуточные результаты должны быть отображены в коммитах, ваше сообщение не несет полезной нагрузки

[2020-08-24 06:29] YuriSilenok commented on #1087
Какие работы? Вы только спамите в комментариях, где коммиты?!!

[2020-08-24 06:30] YuriSilenok commented on #1065
Где хоть один коммит, уже 4 задача в которой я наблюдаю этот комментарий, а ни одного свежего коммита не видел, ГДЕ?

[2020-08-24 06:31] YuriSilenok commented on #1310
Если Вы заявляете такое, то нужно говорить и о том, когда вы это сделаете, КОГДА?

[2020-08-24 06:31] YuriSilenok commented on #1310
ГДЕ ПРОМЕЖУТОЧНЫЕ РЕЗУЛЬТАТЫ?

[2020-08-24 07:06] YuriSilenok commented on #1199
ПОЧЕМУ ВЫ НИЧЕГО НЕ ДЕЛАЕТЕ ПО ЗАДАЧЕ?

[2020-08-24 07:33] NesgovorovVS commented on #1065
Сегодня вечером будут коммиты

[2020-08-24 07:34] NesgovorovVS commented on #1328
Сегодня вечером будут коммиты
Ветка уже пущена.

[2020-08-24 07:34] NesgovorovVS commented on #1240
Сегодня вечером будут коммиты.

[2020-08-24 07:35] NesgovorovVS commented on #1087
Сегодня вечером будут коммиты

[2020-08-24 07:54] #1321 closed, assigned to YuriSilenok

[2020-08-24 12:56] Alphavite51 commented on #1323
Пул реквест делать из дев или из мастера

[2020-08-24 18:02] VinogradovAlexandr781227 commented on #1310
Извините пожалуйста. Дома сейчас с интернетом проблемы. Буду с работы изменения вливать. Завтра на работе будет коммит

[2020-08-24 18:40] NordScandinavian commented on #1088
Прошу не снимать задачи по не активности, отчёты будут выложены 25.08

[2020-08-24 18:41] NordScandinavian commented on #1032
Прошу не снимать задачи по не активности, отчёты будут выложены 25.08

[2020-08-24 20:24] NesgovorovVS commented on #1328
![image](https://user-images.githubusercontent.com/47756995/91092410-a8b67480-e660-11ea-8615-4ad20356bd12.png)
появилась проблема в запуске проекта + появились файлы, которые показывает гит, что я менял, но я их не трогал, исправляю
![image](https://user-images.githubusercontent.com/47756995/91092579-e915f280-e660-11ea-922c-bd7cdd5572a7.png)

[2020-08-25 05:02] YuriSilenok commented on #1096
Устаревшая ветка для этой задачи будет удалена в ближайшее время

[2020-08-25 05:02] YuriSilenok commented on #1082
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-25 08:36] NesgovorovVS commented on #1328
решил проблему, вечером выгружу новые изменения

[2020-08-25 10:25] YuriSilenok commented on #1323
Об этом написано в документации, в чате и например вот в [этой](https://habr.com/ru/post/106912/) статье.

[2020-08-25 11:09] YuriSilenok commented on #1096
удалена

[2020-08-25 19:24] ZhizhikinIvan commented on #1326
Задача не заброшена. Работа над ней продолжается.

[2020-08-27 06:05] YuriSilenok commented on #1326
Чем докажете? Где ваша ветка на гитхаб с промежуточными результатами?
![image](https://user-images.githubusercontent.com/14871471/91398283-77969980-e844-11ea-83bd-d376bce0124f.png)

[2020-08-27 21:27] ZhizhikinIvan commented on #1326
Переделал форму "Расписание" согласно макету. Сейчас пытаюсь разобраться с реализацией загрузки данных в выпадающие списки и в само расписание. Ветка с результатом будет в скором времени.

![image](https://user-images.githubusercontent.com/47943099/91496522-f3d0c180-e8c4-11ea-9a7c-173755b39afa.png)

[2020-08-28 05:02] YuriSilenok commented on #1310
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-28 05:02] YuriSilenok commented on #1199
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-28 05:03] YuriSilenok commented on #1095
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-28 07:42] NordScandinavian commented on #1095
Прошу вернуть задачу, разбирался с нюансами оформления графов

[2020-08-28 08:51] YuriSilenok commented on #1095
А где тогда промежуточные результаты за 4 дня?
Почему их нет?
![image](https://user-images.githubusercontent.com/14871471/91541371-ecd99b80-e924-11ea-954d-bd1d9f93faaf.png)

[2020-08-28 08:59] YuriSilenok commented on #1095
В место этой задачи вы можете взять задачу #1199

[2020-08-28 09:00] NordScandinavian commented on #1095
2 дня ждал проверки, на второй день после проверки сделал изменения.

[2020-08-28 11:06] YuriSilenok commented on #1326
вы нормальные слова понимаете, я спрашиваю ветку, вы мне скрин пихаете.

[2020-08-28 11:09] YuriSilenok commented on #1095
Вам было сказано

Ну давайте, покажите, какие работы Вы проверили?

[2020-08-28 11:32] YuriSilenok commented on #1323
- если вы закончили задачу, почему вы её еще держите на себе?
- вы во все связанные задачи написали о том, что нужно получить обновления из дев?

[2020-08-29 05:02] YuriSilenok commented on #1088
Задача с Вас снята, так как по ней давно не было активности.

[2020-08-29 12:12] NordScandinavian commented on #1088
Прошу вернуть задачу, жду вашей проверки в пул реквесте

[2020-08-29 16:54] NordScandinavian commented on #1088
@YuriSilenok, здравствуйте.
Прилагаю скрин, подтверждающий активность в пул реквесте.
4 дня назад(25.08) был залит отчёт, 26 чиcла был одобрен одним человеком, и 28 ещё одним.
Правило 2 дней активности, по идее, соблюдено.
Считаются ли аппрувы активностью в задаче?
![image](https://user-images.githubusercontent.com/47521360/91641872-c9e7de00-ea2f-11ea-8366-dd9314a5349f.png)

[2020-08-29 17:06] NordScandinavian commented on #1095
@YuriSilenok, здравствуйте. Хочу разобраться с активностью в этой задаче. Может, и не вернуть задачу, но на будущее, чтобы понимать принцип.
24.08 были залиты изменения, ожидал проверки коллегами.
26.08 был оставлен комментарий с ошибкой,
28.06 исправления по комментарию были произведены и залиты.
По идее, правило 2 дней было соблюдено, активность была создана обсуждением ошибок.
Я правильно понял

[2020-08-29 18:02] ssas18 commented on #1280
В данной задаче нет активности т.к жду проверки

[2020-08-29 18:02] ssas18 commented on #1066
В данной задаче нет активности т.к жду проверки

[2020-08-29 18:02] ssas18 commented on #1036
В данной задаче нет активности т.к жду проверки

[2020-08-29 18:26] YuriSilenok commented on #1323
Я не увидел что бы вы во все ОТКРЫТЫЕ связанные запросы и задачи написали.

[2020-08-29 18:39] YuriSilenok commented on #1088
Апрувы считаются активностью, забирайте свою задачу.

[2020-08-29 18:41] YuriSilenok commented on #1095
Вы можете забрать свою задачу

[2020-08-29 18:45] YuriSilenok commented on #1280
Активность по основной задаче считается по времени комментариев и коммита в ветке. В дальнейшем будет расширении функционала проверки и будут учитываться время комментариев в связанных задачах и запросах.

[2020-08-29 19:58] Alphavite51 commented on #1082
Ветка смержена, можете продолжать работу, вам нужно мержить dev в вашу ветку!

[2020-08-29 19:59] Alphavite51 commented on #1283
Ветка смержена, можете продолжать работу, вам нужно мержить dev в вашу ветку!

[2020-08-30 10:27] Heriuple opened #1339 "Разработать функцию корректировки норм учебной нагрузки для сотрудников вуза"
User Story v 0.11

"Мне, как члену учебного отдела, требуется функция корректировки норм учебной нагрузки для преподавателей вуза, чтобы автоматизировать работу по проверке нагрузки установленным нормам".

Критерии приемки:
1) В зависимости от занимаемой должности (декан, заведующий кафедры) или же учебного звания (профессор, старший преподаватель) можно было у каждого из них изменять максимальное

[2020-08-30 21:48] NesgovorovVS opened #1340 "Исправление опечаток в документе README.MD"
@YuriSilenok  сразу извиняюсь за инициативу, просто при повторном прочтении заметил опечатки и решил исправить.

[2020-08-31 06:33] NesgovorovVS commented on #1328
Не было возможности продолжать работу из-за ошибки. Прошу задачу не снимать.
![image](https://user-images.githubusercontent.com/47756995/91689498-eb9aaf80-eb6c-11ea-8feb-79adf6698904.png)

[2020-08-31 09:31] YuriSilenok commented on #1036
так, я хотел связать активности в связанных задачах.
Сейчас этим займусь

[2020-08-31 13:26] YuriSilenok commented on #1036
Все, с завтрашнего утра к активности задачи будет приплюсовываться активность запроса. Тогда не будет нужны писать комментарии в основную задачу, что бы продлить ее активность, если не было коммитов.

[2020-08-31 13:52] YuriSilenok commented on #1082
Вы можете продолжить работу над задачей.

[2020-09-01 14:43] YuriSilenok commented on #1326
Задача с Вас снята, так как по ней давно не было активности.

[2020-09-01 14:43] YuriSilenok commented on #1310
Устаревшая ветка task-1310 будет удалена в ближайшее время

[2020-09-01 14:44] YuriSilenok commented on #1199
Задача с Вас снята, так как по ней давно не было активности.

[2020-09-01 14:44] YuriSilenok commented on #1032
Задача с Вас снята, так как по ней давно не было активности.

[2020-09-01 17:53] ZhizhikinIvan commented on #1326
@YuriSilenok Юрий Викторович, можно как-нибудь вернуть задачу? В запросе была активность.

[2020-09-01 18:22] YuriSilenok commented on #1326
Возвращайте, завтра ещё посмотрю почему так получилось.

вт, 1 сент. 2020 г., 20:53 Жижикин Иван <notifications@github.com>:

[2020-09-02 05:02] YuriSilenok commented on #1310
Устаревшая ветка task-1310 будет удалена в ближайшее время

[2020-09-02 05:02] YuriSilenok commented on #1281
Задача с Вас снята, так как по ней давно не было активности.

[2020-09-02 05:02] YuriSilenok commented on #1240
Задача с Вас снята, так как по ней давно не было активности.

[2020-09-02 05:02] YuriSilenok commented on #1199
Устаревшая ветка task-1199 будет удалена в ближайшее время

[2020-09-02 05:03] YuriSilenok commented on #1095
Задача с Вас снята, так как по ней давно не было активности.

[2020-09-02 05:03] YuriSilenok commented on #1088
Задача с Вас снята, так как по ней давно не было активности.

[2020-09-02 05:03] YuriSilenok commented on #1087
Задача с Вас снята, так как по ней давно не было активности.

[2020-09-02 05:03] YuriSilenok commented on #1065
Задача с Вас снята, так как по ней давно не было активности.

[2020-09-02 05:26] NesgovorovVS commented on #1065
![image](https://user-images.githubusercontent.com/47756995/91935238-f3399000-ecf5-11ea-9086-33e9192747bc.png)
можно вернуть задачу?

[2020-09-02 05:26] NesgovorovVS commented on #1087
![image](https://user-images.githubusercontent.com/47756995/91935280-0b111400-ecf6-11ea-9275-66c26e13fd5a.png)
можно вернуть задачу?

[2020-09-02 05:27] NesgovorovVS commented on #1240
![image](https://user-images.githubusercontent.com/47756995/91935325-2845e280-ecf6-11ea-9527-f5d55da3e9c5.png)
можно вернуть задачу?

[2020-09-02 05:34] Heriuple commented on #1339
По задаче работа продолжается, из-за технических осложнений ход её замедлился.

[2020-09-02 05:46] #1310 closed, assigned to YuriSilenok

[2020-09-02 06:04] YuriSilenok commented on #1199
Устаревшая ветка task-1199 будет удалена в ближайшее время

[2020-09-02 06:04] YuriSilenok commented on #1088
Устаревшая ветка task-1088 будет удалена в ближайшее время

[2020-09-02 06:21] YuriSilenok commented on #1199
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1199 составляет 0 дней. Активность по ветке task-1199 составляет 8. Актовность по запросуотсутствует.

[2020-09-02 06:46] NordScandinavian commented on #1032
@YuriSilenok, прошу вернуть задачу, в ней была активность 19 часов назад.
прошу проверить в пул реквесте отчёты, необходимое кол-во аппрувов есть.

[2020-09-02 08:00] NordScandinavian commented on #1088
@YuriSilenok , прошу проверить в пул реквесте отчёты, необходимое кол-во аппрувов есть.

[2020-09-02 08:01] NordScandinavian commented on #1095
@YuriSilenok , прошу проверить в пул реквесте отчёты, необходимое кол-во аппрувов есть.

[2020-09-02 08:08] YuriSilenok commented on #1283
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/1217#issuecomment-685427703

[2020-09-02 08:20] YuriSilenok commented on #1032
Предоставьте скрин активности между 30.08.2020 17:44 и 01.09.2020 17:44
![image](https://user-images.githubusercontent.com/14871471/91957005-225bfb80-ed0e-11ea-8085-a5375a1fc2ed.png)
Сможете?

[2020-09-02 08:26] YuriSilenok commented on #1032
я задачу вам верну, но скрин жду

[2020-09-02 09:16] YuriSilenok commented on #1340
думаю эту задачу можно будет зачесть за долг.
Но так как это задача не имеет отношения к программированию, то попробуйте 5 человек заставить проверить ваш запрос.

[2020-09-02 09:18] YuriSilenok commented on #1328
Судя по активности в ветке, вы решили проблему. если это так, то нужно отписывать что проблема решена, что бы человек читающий о вашей проблеме знал, что проблема еще актуальна. На тот случай если он соберется помочь вам решить ее.

[2020-09-02 11:08] NesgovorovVS commented on #1328
А я отписывал,но в диалог, что проблема решена.

[2020-09-03 15:14] YuriSilenok commented on #1323
Задача была на меня перевешана потому что вы отказываетесь её выполнять?

[2020-09-03 15:16] Alphavite51 commented on #1323
Она же выполнена

[2020-09-03 15:17] Alphavite51 commented on #1323
И вы сами просили ее на вас перевести для отметки

[2020-09-03 15:38] Alphavite51 commented on #1323
@YuriSilenok перевел на вас задачу, проверьте ее пожалуйста

[2020-09-03 15:48] YuriSilenok commented on #1088
В скором времени

[2020-09-03 15:52] YuriSilenok commented on #1095
Мне приходят уведомления о запросах на проверку и о проверках других участников команды. Учитывая новые правила валидация, можно больше не писать об этом в основной задаче.

[2020-09-03 15:53] YuriSilenok commented on #1328
Чаты не главное, все должно документироваться в задачах, запросах, коммита.

[2020-09-03 16:16] NordScandinavian commented on #1032
Не могу найти тот коммент, от которого  я отталкивался. указывая 19 часов с последней активности.
Самый близкий по времени коммент

![image](https://user-images.githubusercontent.com/47521360/92140070-507a3200-ee19-11ea-84de-3c5ddbca9745.png)
На скрине не могу показать время, но он был оставлен в 14.50 1.08

[2020-09-03 16:45] YuriSilenok commented on #1032
То есть активность была после того, как с вас сняли задачу.

[2020-09-03 16:58] NordScandinavian commented on #1032
Нет, задача была снята 1.08 в 17.44, а последняя активность(на то время) была в 14.50 1.08

[2020-09-03 17:02] YuriSilenok commented on #1032
Да, возможно это было связано с одним багом, связанным с часовым поясом. Сейчас он исправлен.

[2020-09-04 13:41] YuriSilenok opened #1343 "Автозачет по дисциплине ТРПО"
Это экспериментальная задача.

[2020-09-04 15:30] YuriSilenok commented on #1343
Статистика на 2020-09-04 18:29:50.142440
|User|Events|Score
| --- | --- | --- |
|Юрий Силенок - @YuriSilenok|118|19.8|
|Александр Виноградов - @VinogradovAlexandr781227|0|0.0|
|Валерий Машарин - @Proffet78|5|0.3|
|АлександрСоколов - @Alphavite51|25|1.3|
|Александр Коваленко - @ssas18|14|0.7|
|Евгения Щелкунова - @JennyShel18|6|0.3|
|Завьялова Надежда - @badsster|0|0.0|
|Артем Коваленко - @NordScan

[2020-09-05 05:06] YuriSilenok commented on #1343
Статистика на 2020-09-05 05:02:11.422540
|User|Events|
| --- | --- |
| Юрий Силенок - @YuriSilenok | 121 |
| Александр Виноградов - @VinogradovAlexandr781227 | 0 |
| Валерий Машарин - @Proffet78 | 5 |
| АлександрСоколов - @Alphavite51 | 25 |
| Александр Коваленко - @ssas18 | 14 |
| Евгения Щелкунова - @JennyShel18 | 6 |
| Завьялова Надежда - @badsster | 0 |
| Артем Коваленко - @NordScandinavian |

[2020-09-05 17:11] YuriSilenok opened #1344 "Разработать методические рекомендации к составлению пользовательской истории"
- требования к заголовку
- критерии качества user story
- указать из каких пунктов должен состоять документ.
- раскрыть критерии приемлемости каждого пункта.
- указать роль документа в жизненном цикле ПО
- указать какие документы должны быть изменены и созданы на основании пользовательской истории.
- информацию разместить в файлы Docs/Contributers/user_story.md
- отсылка на метки

[2020-09-06 05:03] YuriSilenok commented on #1343
Статистика на 2020-09-06 05:02:06.714873
|User|Events|
| --- | --- |
| Юрий Силенок - @YuriSilenok | 116 |
| Александр Виноградов - @VinogradovAlexandr781227 | 0 |
| Валерий Машарин - @Proffet78 | 5 |
| АлександрСоколов - @Alphavite51 | 15 |
| Александр Коваленко - @ssas18 | 17 |
| Евгения Щелкунова - @JennyShel18 | 6 |
| Завьялова Надежда - @badsster | 0 |
| Артем Коваленко - @NordScandinavian |

[2020-09-07 05:07] YuriSilenok commented on #1343
Статистика на 2020-09-07 05:02:10.745062
|User|Events|
| --- | --- |
| Юрий Силенок - @YuriSilenok | 119 |
| Александр Виноградов - @VinogradovAlexandr781227 | 0 |
| Валерий Машарин - @Proffet78 | 5 |
| АлександрСоколов - @Alphavite51 | 15 |
| Александр Коваленко - @ssas18 | 19 |
| Евгения Щелкунова - @JennyShel18 | 5 |
| Завьялова Надежда - @badsster | 0 |
| Артем Коваленко - @NordScandinavian |

[2020-09-07 06:22] YuriSilenok commented on #1343
Статистика на 2020-09-07 09:21:15.551044
|User|Events|Score
| --- | --- | --- |
|Юрий Силенок - @YuriSilenok|117|17.9|
|Александр Виноградов - @VinogradovAlexandr781227|0|0.0|
|Валерий Машарин - @Proffet78|0|0.0|
|АлександрСоколов - @Alphavite51|16|0.9|
|Александр Коваленко - @ssas18|19|1.1|
|Евгения Щелкунова - @JennyShel18|5|0.3|
|Завьялова Надежда - @badsster|0|0.0|
|Артем Коваленко - @NordScan

[2020-09-07 07:13] YuriSilenok commented on #1343
Статистика на 2020-09-07 10:12:33.677206
|User|Events|By days|Score|
| --- | --- | --- | --- |
|Юрий Силенок - @YuriSilenok|113|[14, 8, 17, 36, 5, 28, 5]|17.6|
|Александр Виноградов - @VinogradovAlexandr781227|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Валерий Машарин - @Proffet78|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|АлександрСоколов - @Alphavite51|16|[1, 0, 0, 3, 5, 7, 0]|0.9|
|Александр Коваленко - @ssas18|19|[1, 3

[2020-09-07 07:15] YuriSilenok commented on #1343
Статистика на 2020-09-07 10:14:52.725570
|User|Events|By days|Score|
| --- | --- | --- | --- |
|Юрий Силенок - @YuriSilenok|114|[15, 8, 17, 36, 5, 28, 5]|17.7|
|Александр Виноградов - @VinogradovAlexandr781227|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Валерий Машарин - @Proffet78|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|АлександрСоколов - @Alphavite51|16|[1, 0, 0, 3, 5, 7, 0]|0.9|
|Александр Коваленко - @ssas18|19|[1, 3

[2020-09-07 07:15] YuriSilenok commented on #1343
Статистика на 2020-09-07 10:15:29.287324
|User|Events|By days|Score|
| --- | --- | --- | --- |
|Юрий Силенок - @YuriSilenok|115|[5, 28, 5, 36, 17, 8, 16]|17.8|
|Александр Виноградов - @VinogradovAlexandr781227|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Валерий Машарин - @Proffet78|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|АлександрСоколов - @Alphavite51|16|[0, 7, 5, 3, 0, 0, 1]|0.9|
|Александр Коваленко - @ssas18|19|[0, 0

[2020-09-07 07:32] YuriSilenok opened #1345 "Статистика активности по проекту"
Это экспериментальная задача.
Статистика публикуется ежедневно.

[2020-09-07 07:32] #1343 closed, assigned to YuriSilenok

[2020-09-07 07:35] YuriSilenok commented on #1345
Статистика на 2020-09-07 10:35:10.154457
|User|Events|By days|Score|
| --- | --- | --- | --- |
|Юрий Силенок - @YuriSilenok|96|[4, 26, 5, 32, 12, 7, 10]|17.3|
|Александр Виноградов - @VinogradovAlexandr781227|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Валерий Машарин - @Proffet78|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|АлександрСоколов - @Alphavite51|16|[0, 7, 5, 3, 0, 0, 1]|0.9|
|Александр Коваленко - @ssas18|19|[0, 0,

[2020-09-07 07:48] #1227 closed, assigned to YuriSilenok

[2020-09-07 07:54] #1188 closed, assigned to YuriSilenok

[2020-09-07 07:54] #1096 closed, assigned to YuriSilenok

[2020-09-07 07:54] #1282 closed, assigned to YuriSilenok

[2020-09-07 07:54] #1283 closed, assigned to YuriSilenok

[2020-09-07 07:56] YuriSilenok commented on #1323
[Зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1640195575&range=K8)

[2020-09-07 13:31] YuriSilenok commented on #1345
Статистика на 2020-09-07 13:28:09.022506
|User|Events|By days|Score|
| --- | --- | --- | --- |
|@YuriSilenok|103|[3, 31, 0, 32, 12, 7, 18]|18.1|
|@VinogradovAlexandr781227|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|@Proffet78|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|@Alphavite51|16|[0, 9, 3, 3, 0, 0, 1]|0.88|
|@ssas18|19|[0, 0, 0, 12, 4, 3, 0]|1.05|
|@JennyShel18|1|[1, 0, 0, 0, 0, 0, 0]|0.06|
|@NordScandinavian|9|[0, 6,

[2020-09-07 13:36] YuriSilenok commented on #1095
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1095 составляет 3 дней. Активность в ветке task-1095 составляет 10 дней. Активность по запросу #1329 составляет 3 дней. Нет запросов, которые должен проверить преподаватель

[2020-09-07 13:43] #1323 closed, assigned to YuriSilenok

[2020-09-07 14:29] YuriSilenok commented on #1088
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1088 составляет 3 дней. Активность в ветке task-1088 составляет 13 дней. Активность по запросу #1333 составляет 3 дней. Нет запросов, которые должен проверить преподаватель

[2020-09-07 17:11] VinogradovAlexandr781227 opened #1346 "Разработать функцию корректировки учебной нагрузки для студентов вуза"
Мне как члену учебного отдела, требуется функция корректировки нагрузки для студентов вуза, чтобы   не тратить время на проверку соблюдений норм при составлении нагрузки.
__________________________
Критерии приёмки:

- Объем учебной нагрузки обучающегося должен составлять 54 академических часа в неделю, включая все виды аудиторной и вне аудиторной учебной нагрузки.
- Объем обязательных аудиторных

[2020-09-08 05:04] YuriSilenok commented on #1345
Статистика на 2020-09-08 05:03:45.958823
|User|Events|By days|Score|
| --- | --- | --- | --- |
|@YuriSilenok|117|[13, 18, 9, 34, 8, 1, 34]|22.8|
|@VinogradovAlexandr781227|2|[0, 0, 0, 0, 0, 0, 2]|0.09|
|@Proffet78|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|@Alphavite51|29|[0, 11, 4, 0, 0, 0, 14]|1.27|
|@ssas18|26|[0, 0, 0, 14, 3, 2, 7]|1.14|
|@JennyShel18|1|[0, 0, 0, 0, 0, 0, 1]|0.04|
|@NordScandinavian|17|[0,

[2020-09-08 15:47] VinogradovAlexandr781227 commented on #1346
@YuriSilenok Забыл вчера вас заассанить для проверки

[2020-09-08 15:50] YuriSilenok commented on #1346
для чего она ему требуется?

[2020-09-08 16:12] YuriSilenok commented on #1346
Пожалуйста, добавьте веху к этой задаче

[2020-09-08 16:12] YuriSilenok commented on #1340
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1340 составляет 6 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-08 16:13] YuriSilenok commented on #1340
А перевешивать кто будет?
пробуйте

[2020-09-08 16:14] YuriSilenok commented on #1339
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1339 составляет 6 дней. Активность в ветке task-1339 составляет 6 дней. Активность по запросу #1342 составляет 3 дней. Нет запросов, которые должен проверить преподаватель

[2020-09-08 16:52] NesgovorovVS commented on #1340
Перевесил задачу на вас

[2020-09-08 17:53] YuriSilenok commented on #1346
Пожалуйста, добавьте веху к этой задаче

[2020-09-08 17:58] YuriSilenok commented on #1339
Тэк. Понятно. Пора делать документы

[2020-09-08 18:33] YuriSilenok commented on #1346
Пожалуйста, добавьте веху к этой задаче

[2020-09-09 08:56] VinogradovAlexandr781227 commented on #1346
@YuriSilenok Есть законодательные нормы нагрузки для студентов По Федеральном закону «Об образовании в Российской Федерации» при реализации образовательных программ. Думаю для соблюдения законности деятельности университета такая функция нам потребуется с учётом того, что это приложение призвано облегчить деятельность по созданию расписания

[2020-09-09 15:06] YuriSilenok commented on #1346
Для сотрудника, соблюдение норм, это головная боль. формулировка в этом направлении будет такая.
... для того, что бы я не смог ошибиться при составлении учебной нагрузки для студентов.

[2020-09-09 15:07] YuriSilenok commented on #1346
ну или не тратить время на проверку соблюдений норм при составлении нагрузки. это дажее правильнее, так как заказчик увидит что вот именно здесь будет экономится время и деньги.

[2020-09-09 17:46] YuriSilenok commented on #1345
Прежде чем закрыть задачу, ее нужно перевесить на преподавателя, с целью выставления отметки в журнал.

[2020-09-09 17:50] YuriSilenok commented on #1339
Приступайте пока к реализации, формулировки по ходу уточним

[2020-09-10 06:31] YuriSilenok commented on #1345
Статистика на 2020-09-10
|User|Events|By days|Score|
| --- | --- | --- | --- |
|@YuriSilenok|159|[9, 33, 4, 5, 33, 28, 47]|28.5|
|@VinogradovAlexandr781227|4|[0, 0, 0, 0, 2, 1, 1]|0.14|
|@Proffet78|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|@Alphavite51|36|[4, 0, 0, 0, 14, 15, 3]|1.26|
|@ssas18|68|[0, 14, 3, 2, 7, 13, 29]|2.38|
|@JennyShel18|1|[0, 0, 0, 0, 1, 0, 0]|0.04|
|@NordScandinavian|12|[2, 0, 0, 0, 8, 0

[2020-09-10 06:49] YuriSilenok opened #1347 "Разработать требования к выставлению меток для задач и запросов"
- Выделить группы меток и дать им общее описание
- Описать предназначение каждой метки и случаи когда метка должна ставится.
- Описать для каких типов задач какие метки должны ставиться
- Документ должен размещаться в папке Docs/Contributers/labels.md

[2020-09-10 07:34] YuriSilenok opened #1348 "Убрать из всех методов контроллеров Insert, Update, Delete обработку исключений"
Когда метод возвращает false, то автотестам непонятно, из-за какого ограничения произошел сбой и мы не можем предоставить пользователю и разработчику больше полезной информации для устранения проблемы.

[2020-09-10 08:06] YuriSilenok commented on #1095
У вас есть шанс.

[2020-09-10 10:56] YuriSilenok commented on #1082
За одну задачу может быть ответсвеннен только один человек

[2020-09-10 11:08] YuriSilenok commented on #1082
[Зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=718242162&range=L4)

[2020-09-10 11:08] #1082 closed, assigned to YuriSilenok

[2020-09-10 12:29] YuriSilenok commented on #1066
[Зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1274241490&range=N5)

[2020-09-10 12:29] #1066 closed, assigned to YuriSilenok

[2020-09-10 12:44] YuriSilenok commented on #1036
[зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1274241490&range=O5)

[2020-09-10 12:44] #1036 closed, assigned to YuriSilenok

[2020-09-10 14:27] YuriSilenok commented on #1280
[зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=1274241490&range=V5)

[2020-09-10 14:27] #1280 closed, assigned to YuriSilenok

[2020-09-10 17:25] KoprovDmitry commented on #1187
у меня возник вопрос, сбои автотестов в файле UT_Delete_CTeacher прокомментированы напротив методов
мне нужно исправить прокомментированый сломанный автотест?

[2020-09-10 18:02] YuriSilenok commented on #1187
Ознакомьтесь с [этой](https://www.github.com/Students-of-the-city-of-Kostroma/Student-timetable/tree/dev/Docs%2FWhite-box%2FREADME.md) инструкцией.

[2020-09-10 18:28] KoprovDmitry commented on #1187
ознакомился и возник другой вопрос, следуя этой инструкции я должен сделать отчёт тестируемого метода Delete?
а так же, если я сделаю отчёт, то в каком формате его предпочтительно делать и куда его отправлять для проверки?

[2020-09-10 18:36] YuriSilenok commented on #1187
В идеале инструкция должна быть исчерпывающее, но это только первая версия. Поступи следующим образом. Вы поднимаете задачу с заголовком: "Улучшить методические рекомендации для белого ящика" в тело задачи вы перечислите что нужно добавить в инструкцию. В той задаче мы продолжим обсуждение со всей командой.

[2020-09-10 18:48] KoprovDmitry commented on #1187
Боюсь я не смогу поднять задачу из-за двух причин: 1) где поднять задачу; 2) незнание как поднимать задачи.
Вопросы возникли в результате ограничения времени по выполнению работы ( активности работы ), чем грозит мне закрытием выполнения данного задания.

[2020-09-10 18:52] YuriSilenok commented on #1187
Если вы с компьютера, то в правом верхнем углу зелёная кнопка New Issue. Нажмите на неё.

[2020-09-10 19:13] YuriSilenok commented on #1187
Вопросы о том, как пользоваться git и github можно задавать в общий чат.

[2020-09-10 19:31] badsster opened #1349 "Методические рекомендации к составлению пользовательской истории"
#1344
В данной задаче необходимо создать методические рекомендации к составлению пользовательской истории.
Должны быть реализованы следующие требования:
- требования к заголовку
- требования к атрибутам
- указать из каких пунктов должен состоять документ.
- раскрыть критерии приемлемости каждого пункта.
- указать роль документа в жизненном цикле ПО
- указать какие документы должны быть изменены и

[2020-09-10 21:01] YuriSilenok commented on #1345
Статистика на 2020-09-11
|User|Events|By days|Score|
| --- | --- | --- | --- |
|@YuriSilenok|221|[33, 4, 5, 33, 28, 47, 71]|31.6|
|@VinogradovAlexandr781227|4|[0, 0, 0, 2, 1, 1, 0]|0.13|
|@Proffet78|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|@Alphavite51|43|[0, 0, 0, 14, 15, 3, 11]|1.36|
|@JennyShel18|1|[0, 0, 0, 1, 0, 0, 0]|0.03|
|@NordScandinavian|10|[0, 0, 0, 8, 0, 2, 0]|0.32|
|@MyachevM|31|[5, 2, 7, 5, 6,

[2020-09-11 04:37] #1349 closed, assigned to badsster

[2020-09-11 04:38] YuriSilenok commented on #1349
Clone #1344

[2020-09-11 05:47] YuriSilenok commented on #1345
Статистика на 2020-09-11
|User|Events|By days|Score|
| --- | --- | --- | --- |
|@YuriSilenok|222|[33, 4, 5, 33, 28, 47, 72]|29.3|
|@VinogradovAlexandr781227|4|[0, 0, 0, 2, 1, 1, 0]|0.14|
|@Proffet78|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|@Alphavite51|43|[0, 0, 0, 14, 15, 3, 11]|1.47|
|@JennyShel18|1|[0, 0, 0, 1, 0, 0, 0]|0.03|
|@badsster|1|[0, 0, 0, 0, 0, 0, 1]|0.03|
|@NordScandinavian|10|[0, 0, 0, 8, 0, 2

[2020-09-11 05:48] #1345 closed, assigned to YuriSilenok

[2020-09-11 06:12] YuriSilenok opened #1350 "Статистика активности по проекту"
Статистика на 2020-10-06, средний балл 26.9
|User|Events|By days|Score|
| --- | --- | --- | --- |
|Юрий Силенок|126|[0, 4, 5, 5, 8, 21, 83]|4.68|
|Александр Виноградов|5|[1, 0, 0, 0, 0, 0, 4]|0.19|
|Завьялова Надежда|29|[16, 7, 4, 0, 0, 1, 1]|1.08|
|Артем Коваленко|0|[0, 0, 0, 0, 0, 0, 0]|0.0|
|Мячев Михаил|14|[0, 1, 0, 3, 2, 0, 8]|0.52|
|Виноградов Александр|6|[0, 0, 0, 0, 0, 0, 6]|0.22|
|Vladimi

[2020-09-11 07:41] KoprovDmitry opened #1351 "Улучшить методические рекомендации для белого ящика"
- добавить более подробное описание "Тестовые сценарии" в [Методические рекомендации к использованию метода тестирования "Белый ящик"](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/dev/Docs/White-box/README.md)

[2020-09-11 07:47] KoprovDmitry commented on #1351
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/dev/Docs/White-box/README.md
добавить в инструкцию "что делать с отчётом после его заполнения"

[2020-09-11 07:48] KoprovDmitry commented on #1187
я поднял задачу [1351](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/1351), можете проверить, правильно ли я поднял задачу?

[2020-09-11 08:39] YuriSilenok commented on #1351
Пожалуйста, заполните описание

[2020-09-11 08:39] YuriSilenok commented on #1351
Пожалуйста, добавьте веху

[2020-09-11 08:39] YuriSilenok commented on #1351
Пожалуйста, добавьте ответсвенного

[2020-09-11 08:39] YuriSilenok commented on #1351
Пожалуйста, добавьте метки

[2020-09-11 08:51] YuriSilenok commented on #1187
Вам нужно исправить замечания

[2020-09-11 09:13] YuriSilenok opened #1352 "Добавить описание жизненного цикла для задачи."
документ разместить в Docs/Life-cycle.md

[2020-09-11 09:21] YuriSilenok commented on #1351
Поднял задачу #1352

[2020-09-11 09:32] YuriSilenok commented on #1351
Пожалуйста, ознакомьтесь с коротким документам из запроса #1353. Отвечает ли он на ваш вопрос?

[2020-09-11 10:09] KoprovDmitry commented on #1351
после ознакомления с короткими документами мне стало все более непонятно

[2020-09-11 11:54] VinogradovAlexandr781227 commented on #1346
@YuriSilenok замечание учтено и исправлено

[2020-09-11 16:31] YuriSilenok commented on #1351
Задавайте вопросы

[2020-09-11 17:26] badsster commented on #1344
@YuriSilenok добрый вечер. Я посмотрела видео о составлении пользовательских историй и хотелось бы понять, что является объектом моих рассуждений. Программа расписания или это будет какой-то отдельный документ, файл?

И хотелось бы ещё узнать про какую аудио конференцию Вы писали, когда она состоится и какой жизненный цикл проекта мне нужно описать, потому что пока не понятно, с чего мне нужно нач

[2020-09-11 18:06] YuriSilenok commented on #1344
Создайте файл в репозитрии, опишите  в нем требования к пользовательской истории. Все что сможете

[2020-09-11 18:27] KoprovDmitry commented on #1351
Когда знакомился с документами, то мне показалось что я хожу по кругу между тремя задачами и в итоге не смог уловить суть как других задач ( #1352 и #1353  ), так и этой.

Единственное что понял, наверное не правильно, в этой задаче ( #1351 ) в описании предоставляется выбор/описание для добавления изменений в существующую инструкцию, а всё, что вне описания это разбор какие изменения стоит добавл

[2020-09-11 18:36] badsster commented on #1344
![IMG_20200911_211958](https://user-images.githubusercontent.com/47521045/92960557-7f765080-f476-11ea-9d4b-a6a1164d1ffe.png)
@YuriSilenok Подскажите, пожалуйста, я создала ветку 1344 и файл user_story.md.
Его создание вроде бы должно отображаться в этой задаче, а надписи Create user_story.md не появилось. Я создала как-то не так или пока там нет текста, он не отображается?

[2020-09-12 06:17] YuriSilenok commented on #1351
- описание/тело текущей задачи вы так и не заполнили, но думаю опять же для этого Вам, как человеку не посвящённого, термин непонятен.
- я так и не увидел конкретного вопроса. Что вы не можете сделать?

[2020-09-12 06:19] YuriSilenok commented on #1344
Изменения в ветке отображаются в запросе на слияние, а не в задаче

[2020-09-12 17:20] VinogradovAlexandr781227 commented on #1346
@YuriSilenok Я могу начинать прописывать реализацию и реализовывать данную функцию?

[2020-09-12 20:32] YuriSilenok commented on #1346
Да

[2020-09-13 05:03] YuriSilenok commented on #1326
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1326 составляет 10 дней. Активность в ветке task-1326 составляет 4 дней. Активность по запросу #1338 составляет 3 дней. Нет запросов, которые должен проверить преподаватель

[2020-09-13 06:48] ZhizhikinIvan commented on #1326
@YuriSilenok Юрий Викторович, а можно как-нибудь вернуть задачу? Сегодня вечером планировал залить обновление в решении.

[2020-09-13 06:51] YuriSilenok commented on #1326
Добрый день,
в чем проблема, Вы в принципе четвертый день нечего не делаете?

[2020-09-13 06:56] ZhizhikinIvan commented on #1326
Я третий день болею. Был не в состоянии работать. Сегодня получше стало, думал доделать задачу, ну или попытаться это сделать.

[2020-09-13 07:01] YuriSilenok commented on #1326
Если вы поняли что не в состоянии работать и есть возможность ответить, пожалуйста, предупреждайте об этом. иначе это выглядит неправдоподобно.

[2020-09-13 08:08] KoprovDmitry commented on #1351
могу я сначала взять некоторое время для ознакомления с работой github?

[2020-09-13 09:31] YuriSilenok commented on #1351
Да, конечно, двое суток вам на это хватит?

[2020-09-13 13:09] KoprovDmitry commented on #1351
хватит, если можете дать мне ссылку где я могу ознакомиться с github, если я начну искать сам нужное, то это займёт больше времени

[2020-09-13 13:11] KoprovDmitry commented on #1187
я выявил причину сбоев автотеста, могу ли я добавить/изменить код по своему усмотрению?

[2020-09-13 13:11] KoprovDmitry commented on #1187
или мне сделать отчёт по выявленной причине сбоев автотеста, как по инструкции?

[2020-09-13 15:08] YuriSilenok commented on #1187
Конечно, вы вправе делать в отдельной ветке все что угодно. Когда вы посчитаете что вме готово, вам нужно будет представить работу на проверку через pull request.

[2020-09-13 15:10] YuriSilenok commented on #1187
Отчёт делается не по выявленным причинам. Вы берете указанный метод и составляет для него сценарии по белому ящику, потом автоматизация этих сценариев. Скорее всего часть существующих автотестов вы измените, вплодь до их количества.

[2020-09-13 16:05] YuriSilenok commented on #1351
Вам нужно
- для git c командами:
  - git clone
  - git status
  - git add
  - git commit
  - git pull
  - git push
  - git branch
  - git checkout

Все эти команды описаны на [официальном сайте](https://git-scm.com/book/ru/v2/%D0%92%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5-%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B-Git)

- для github с понятиями
  - issue
  - pull request
  - label
  - milestone
  - pr

[2020-09-13 19:38] badsster commented on #1344
@YuriSilenok добрый вечер, написала заголовки в документе user_story.md.
Хотелось бы узнать :
1) Можно ли словарь терминов сделать в этом же документе или лучше создать новый ?

[2020-09-13 20:09] YuriSilenok commented on #1344
Обычно словари делают отдельным документом, а если терминов не много. то их расшифровывают прямо в тексте. что за термины. если они на прямую не относятся к материалу, то расшифровка терминов не должна производится, должна быть отсылка. вообщем все от контекста.

[2020-09-14 07:37] KoprovDmitry commented on #1351
возможно я  не так выразился, но я не знаю как пользоваться сайтом github, но самой git я могу пользоваться на базовом уровне

[2020-09-14 08:09] YuriSilenok commented on #1351
Я не могу устроить Вам индивидуальное занятие по изучению ресурса github.
Воспринимайте его как обычный таск-менеджер (если с таковыми работали).
Вы входите в состав команды и общие вопросы, относящиеся к github, git и жизненным циклом проекта, Вы можете интересоваться в чате. Коллеги Вам ответят и Вы со временем сможете помочь коллегам.

[2020-09-15 05:03] YuriSilenok commented on #1199
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1199 составляет 12 дней. Активность в ветке task-1199 составляет 21 дней. Активность по запросу #1228 составляет 3 дней. Нет запросов, которые должен проверить преподаватель

[2020-09-16 05:03] YuriSilenok commented on #1346
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1346 составляет 3 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-17 10:05] KoprovDmitry commented on #1187
я обновил автотест UT_Delete_CTeacher используя отчёт по [методу тестирования "белый ящик"](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/dev/Docs/White-box/README.md) в ветке task-1187, можете проверить на правильность выполнения ( правильность следования логике выполнения задачи )?

[2020-09-17 10:15] YuriSilenok commented on #1187
Для того, что бы я что-то проверил, у вас должен быть создан запрос на проверку, где нужно указать в качестве проверяющих всю коману, включая меня. Вот список команды:
VinogradovAlexandr781227
ifuwmnn
JennyShel18
NesgovorovVS
MyachevM
badsster
ZhizhikinIvan
NordScandinavian
Heriuple
Alphavite51

[2020-09-17 10:17] YuriSilenok commented on #1187
Об этом написано [здесь](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/task-1352/Docs/life-cycle.md).

[2020-09-17 18:12] KoprovDmitry commented on #1187
Ссылка не корректна ( [выдает ошибку](https://prnt.sc/uj2pq2) ), можете переотправить?

[2020-09-17 20:09] VinogradovAlexandr781227 commented on #1346
@YuriSilenok Юрий Викторович. Я затупил если честно. Мне ведь требуется сейчас создать ветку, скинуть туда сторис ссылкой и расписать какие конкретно изменения я буду поэтапно вносить в проект?

[2020-09-17 20:43] YuriSilenok opened #1354 "Реструктуризация проекта UnitTestOfTimetableOfClasse"
Привести структуру проекта в соответствие с документами [White-box](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/dev/Docs/White-box/README.md) и [Unit-test](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/dev/Docs/Unit-test/README.md)

[2020-09-17 20:51] YuriSilenok commented on #1354
У одной задачи может быть только один ответсвенный

[2020-09-18 09:12] YuriSilenok commented on #1187
Да, теперь этот документ переехал в dev и теперь документ доступен [здесь](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/dev/Docs/life-cycle.md)

[2020-09-18 09:26] #1352 closed, assigned to YuriSilenok

[2020-09-18 09:27] #1351 closed, assigned to YuriSilenok

[2020-09-18 09:33] YuriSilenok commented on #1346
Сейчас идет разработка требований в рамках задачи #1344, вы можете почитать то что там уже сделано.
Читать нужно в ветке, а вопросы задавать в той задаче.

[2020-09-18 13:06] VinogradovAlexandr781227 commented on #1346
@YuriSilenok Понял, изучу материал и приступаю

[2020-09-19 21:44] VinogradovAlexandr781227 commented on #1346
@YuriSilenok Хочу уточнить. Я создаю ветку, создаю файл user_story.md, в котором описываю действия, которые находятся в описании задачи #1344
Соответственно вливаю эти изменения и жду вашей проверки? Я правильно понял?

[2020-09-20 16:36] KoprovDmitry commented on #1187
извините, но вторая ссылка в "В рамках созданной задачи создается ветка (branch), соответсвующая требованиям."
тоже некорректна в [документе](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/dev/Docs/life-cycle.md)

[2020-09-20 17:24] YuriSilenok commented on #1344
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1344 составляет 7 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:24] YuriSilenok commented on #1339
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1339 составляет 11 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:24] YuriSilenok commented on #1328
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1328 составляет 17 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:24] YuriSilenok commented on #1326
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1326 составляет 5 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:24] YuriSilenok commented on #1281
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1281 составляет 18 дней. Активность в ветке issue-1281 составляет 3 дней. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:24] YuriSilenok commented on #1240
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1240 составляет 18 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:24] YuriSilenok commented on #1095
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1095 составляет 10 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:24] YuriSilenok commented on #1088
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1088 составляет 10 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:24] YuriSilenok commented on #1087
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1087 составляет 18 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:24] YuriSilenok commented on #1065
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1065 составляет 18 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:24] YuriSilenok commented on #1032
Задача с Вас снята, так как по ней давно не было активности. Активность по основной задаче #1032 составляет 17 дней. Ветка отсутствует. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-20 17:28] badsster commented on #1344
@YuriSilenok Юрий Викторович, добрый вечер. Верните, пожалуйста, задачу. Я веду ежедневную работу по данному документу. Пытаюсь понять, как оформить последние 2 пункта. Не понимаю, как это нет ветки, если я создала ветку в которой хранится документ user_story.md.

[2020-09-20 18:43] YuriSilenok commented on #1346
Вам нужно создать документ user story в git и реализовать ее в рамках той же задачи.

[2020-09-20 18:56] YuriSilenok commented on #1326
Задание обсуждать правильнее в самом задании.
В ответ на Ваш [вопрос](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/1338#issuecomment-695819377)

У выпадающих списков есть поле с ресурсами, в которое можно подключить таблицу. В список можно вывести только один столбец из какой-то таблицы, а так же можно выполнить фильтрацию этих данных. Ничего хардкодить особо не приде

[2020-09-20 19:00] YuriSilenok commented on #1187
Действительно, не очень хорошо получилось, ссылка теперь работает, проверьте, пожалуйста.

[2020-09-20 19:32] ZhizhikinIvan commented on #1326
В данный момент направление подготовки никак не связанно с институтом. Как это должно быть реализовано?

[2020-09-20 19:32] YuriSilenok commented on #1340
[зачтено](https://docs.google.com/spreadsheets/d/1uBd4d3VvI4rYeuXkXmqLyEZSitS8K9pfVUDtM3i1Vg4/edit#gid=870820066&range=L7)

[2020-09-20 19:32] #1340 closed, assigned to YuriSilenok

[2020-09-20 19:34] #1348 closed, assigned to YuriSilenok

[2020-09-20 19:35] #1347 closed, assigned to YuriSilenok

[2020-09-20 19:42] YuriSilenok commented on #1326
Думаю должна быть связь между ними. Сможете ее сделать?

[2020-09-20 19:47] ZhizhikinIvan commented on #1326
Сделать то смогу, но это потребует изменений в RefData и возможно в юнит тестах.
В CDirectionOfPreparation добавить поле с коротким именем института, а в RefData добавить Relation между таблицами CDirectionOfPreparation и CInstitute.

[2020-09-20 19:50] YuriSilenok commented on #1326
За тесты не волнуйтесь, на вашу работу не повлияет. Реализуйте связь.

[2020-09-22 07:02] VinogradovAlexandr781227 commented on #1346
Сегодня вечером залью

[2020-09-22 07:25] #1339 closed, assigned to YuriSilenok

[2020-09-22 10:02] YuriSilenok opened #1359 "Текущая активность по задачам"
|User|Remains|Issue|Branch|Request|
|---|---|---|---|---|
|[Vladimir Nesgovorov](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/assigned/NesgovorovVS)|0д. 18ч.|#1240->8д. 4ч.<-2020-10-30 13:02:12|[issue-1240](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/commits/issue-1240)->6д. 5ч.<-2020-11-01 12:07:55|#1367->6д. 5ч.<-2020-11-01 12:08:07|
|[Ал

[2020-09-22 17:43] YuriSilenok commented on #1344
![image](https://user-images.githubusercontent.com/14871471/93917866-38a91600-fd14-11ea-8e23-eca42a36ae40.png)
- почему у нас 2 ветки?

[2020-09-22 18:02] YuriSilenok commented on #1344
и при этом вы ведете не правильную?

[2020-09-22 19:49] badsster commented on #1344
@YuriSilenok Добрый вечер, Юрий Викторович. Увидела в беседе вк, что task обновился на issue, поэтому создала issue-1344. Мне нужно вести issue-1344 или все также продолжать работу в task-1344?

И еще один вопрос по созданию документации.
У меня остался последний пункт и я не понимаю, какие документы мне нужно создать.
Пункты отчета я расписала и мне нужно понять, что еще кроме отчета должно описы

[2020-09-22 19:54] YuriSilenok commented on #1344
![image](https://user-images.githubusercontent.com/14871471/93930654-6008de80-fd26-11ea-8f35-729ec9bbd812.png)
Вам нужно было создать issue из task, а вы создали из dev. по этому у вас две параллельные ветки. вам нужно смержить ветку task в issue и удалить task

[2020-09-22 20:00] YuriSilenok commented on #1344
после беседы с пользователем, мы находим какое улучшение хотим сделать. все это мы описываем в user story, на основании нее нужно внести правки в ТЗ, так же нужно будет внести в тестовый план новую стори для тестирования и на основании user story составляются функциональные тесты.

[2020-09-22 20:13] badsster commented on #1344
@YuriSilenok Лучше уточню у Вас, чтобы не допустить ошибки повторно. Правильно ли я понимаю мне нужно зайти в gitbush и написать команду $ git branch -d issue-1344.
И после удаления, зайти в task-1344 и создать внутри issue-1344 ?
Скриншот прилагаю для примера.

![image](https://user-images.githubusercontent.com/47521045/93932693-3ef5bd00-fd29-11ea-9852-db927bf838d5.png)

[2020-09-22 20:17] YuriSilenok commented on #1344
выглядит верно, делайте, а там проверю

[2020-09-22 20:36] YuriSilenok commented on #1344
осталось удалить ветку task

[2020-09-22 21:31] badsster commented on #1344
@YuriSilenok Надеюсь, что внесла изменения верно.  Спасибо Вам за помощь.
Закончила написание документации, ожидаю Вашей проверки и внесения необходимых корректировок.

[Документ](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/issue-1344/Docs/Contributers/user_story.md)

[2020-09-22 21:33] YuriSilenok commented on #1344
проверка осуществляется при помощи запросов на слияние [pull request](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/compare)

[2020-09-24 04:37] YuriSilenok commented on #1187
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1187 составляет 3 дней. Активность в ветке issue-1187 составляет 2 дней. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-24 05:43] NordScandinavian commented on #1095
Прошу не снимать задачу по неактивности. Болел, не мог сесть за задачи, не позволяло состояние.

[2020-09-24 05:43] NordScandinavian commented on #1088
Прошу не снимать задачу по неактивности. Болею, не мог сесть за задачи, не позволяло состояние.

[2020-09-24 05:43] NordScandinavian commented on #1032
Прошу не снимать задачу по неактивности. Болею, не мог сесть за задачи, не позволяло состояние.

[2020-09-24 06:26] YuriSilenok commented on #1095
следите пожалуйста за дедлайнами по вашим задачам.
правильно предупреждать в первый день больничного.
завтра вечером, например, вы можете написать о том. когда вы приступите к выполнению задач или когда вас выписывают или когда это станет известно.
держите нас в курсе.

[2020-09-24 07:03] YuriSilenok commented on #1346
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1346 составляет 2 дней. Активность в ветке issue-1346 составляет 3 дней. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель

[2020-09-24 10:38] badsster commented on #1344
@YuriSilenok Добрый день,Юрий Викторович. Правильно я понимаю мне нужно произвести слияние запросов из dev в issue - 1344?
![IMG_20200924_133526](https://user-images.githubusercontent.com/47521045/94134790-242b6180-fe6b-11ea-8329-046e34f7c9ed.png)

[2020-09-24 10:41] YuriSilenok commented on #1344
Интерпретация не верная, вы не сливаете запросы.
Вы создаете запрос на слияние двух веток.
Нужно нажать на зеленую кнопку.

[2020-09-25 20:03] VinogradovAlexandr781227 commented on #1346
Залил изменение. @YuriSilenok  Проверьте пожалуйста на соответствие документации. Сделал вроде все примерно по инструкции задачи #1344. Не совсем понял некоторые моменты к примеру про: Требования к атрибутам и Acceptance Criteria, так же не уверен, что правильно написал тестирование. Старался расписывать все в соответствии с рекомендательнным документом.

[2020-09-26 13:39] YuriSilenok commented on #1346
Создавайте запрос, будем проверять

[2020-09-26 14:05] YuriSilenok commented on #1346
Относительно требований к вашей стори, то что вы меня здесь спрашивали и я вам отвечал, не имеет особой силы, так как есть конкретная задача и запрос к ней, где вы должны все уточнять.

[2020-09-26 17:38] YuriSilenok commented on #1281
Задача с Вас  снята, так как по ней давно не было активности. Активность по основной задаче #1281 составляет 6 дней. Активность в ветке issue-1281 составляет 2 дней. Запрос отсутствует. Нет запросов, которые должен проверить преподаватель