[2019-05-19 13:05] litdex opened #740 "Не реализовано ограничение на ввод в таблице Профиль подготовки"
Описание :
В разделе "профиль подготовки" нету ограничение на ввод данных, можно ввести очень огромное число, также длина строки "краткого названия" профиля подготовки может превышать длину "полного названия".
![Screenshot_7](https://user-images.githubusercontent.com/38160123/57982559-b9387200-7a4f-11e9-939a-0e9c5466a352.png)

Ожидается:
1. Ограничение длины вводимой информации до оптимальной.
2.

[2019-05-19 13:23] litdex opened #741 "Невозможно изменить информацию о группе после добавления"
План - отчёт на Sprint7 #773
Разработка Sprint 7 #774
Описание бага:
Невозможно изменить информацию о группе после добавления. Выдает некорректную ошибку
![Screenshot_8](https://user-images.githubusercontent.com/38160123/57982772-69a77580-7a52-11e9-9c77-bdf7869a4ea3.png)

[2019-05-19 14:44] ghost commented on #726
Баг устранен

[2019-05-19 15:01] Pipyao commented on #726
Проверено, баг устранён и не воспроизводится в ветке Alliance-4.

[2019-05-19 15:36] #737 closed, assigned to Mikleproxorov

[2019-05-19 15:37] #735 closed, assigned to Mikleproxorov

[2019-05-19 15:37] #736 closed, assigned to Mikleproxorov

[2019-05-19 15:38] #738 closed, assigned to Mikleproxorov

[2019-05-19 15:55] YuriSilenok opened #749 "При проверке класса модели Корпус, найден конструктор нарушающий ограничения"
План - отчёт на Sprint7 #773
Разработка Sprint 7 #774

Данная ошибка должна была вызвать вопросы у проверявшего код.
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/commit/5f95c768409000f412d047ef5967dc16b3383d76

[2019-05-19 16:36] YuriSilenok opened #751 "При проверке класса модели Преподаватель, найдены конструкторы нарушающие ограничения"
План - отчёт на Sprint7 #773
Разработка Sprint 7 #774

[2019-05-19 17:06] Takunava opened #752 "Выполнить слияние Alliance-4 --> Testing"
очень плохое описание

[2019-05-19 17:19] PopovMilan opened #753 "Добавить изменения из ветки Union-4 в ветку Testing"
План #758
По завершению Sprint 4 добавить все изменения в ветку Testing основываясь на следующем [алгоритме](https://docs.google.com/document/d/1beSQGSigaFHiJAraMO14VxGes9m8IYLwf7IWxj91Hvg/edit)

[2019-05-19 17:31] FvckNeighbors commented on #730
Исправил

[2019-05-19 17:31] #730 closed, assigned to FvckNeighbors

[2019-05-19 20:10] YuriSilenok commented on #638
Метку поставили, отлично, а комментарий о том что задача является дубликатом такого-то задачи
![image](https://user-images.githubusercontent.com/14871471/57987536-51078180-7a8b-11e9-9ec9-0815199a4d4a.png)

[2019-05-19 20:11] YuriSilenok commented on #636
Почему мои комментарии игнорируются?

[2019-05-19 20:12] YuriSilenok commented on #621
Закрыта не правильно

[2019-05-19 20:15] YuriSilenok commented on #753
Заголовки запросов на слияние не соответствуют действительности

[2019-05-19 20:16] YuriSilenok commented on #665
Где отчет о тестировании?

[2019-05-19 20:19] PopovMilan commented on #753
Такая формулировка, должна быть?

[2019-05-19 20:26] PopovMilan commented on #665
А какова форма отчета?

[2019-05-19 20:41] YuriSilenok commented on #665
На лекции были? посмотрите на то, что должен проверить ст. тестировщик в таких задачах. Эти сведения и должны быть тут отображены, форма не так важна, список это будет или таблица.

[2019-05-20 04:54] YuriSilenok commented on #37
@MaximTrapeznikov почему эта задача была открыта?

[2019-05-20 04:55] YuriSilenok commented on #37
Удаление существующей строки вы будете осуществлять по совпадению каких атрибутов?

[2019-05-20 04:57] YuriSilenok commented on #105
Почему была открыта эта задача если она является дубликатом?

[2019-05-20 09:06] Takunava commented on #161
@YuriSilenok
Здравствуйте,
Я готов приступить к выполнению задачи

[2019-05-20 09:11] bolotovaksenya commented on #105
Извиняюсь, перепутала, хотела оригинал исправить

[2019-05-20 09:12] bolotovaksenya commented on #105
@YuriSilenok

[2019-05-20 09:15] bolotovaksenya commented on #100
@YuriSilenok , здравствуйте.
Прошу проверить правильность выполнения ЛР №1.
Спасибо.

[2019-05-20 11:29] YuriSilenok commented on #142
@Баг не воспроизводится в [v0.12-Testing]( https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/releases/tag/v0.12-Testing)

[2019-05-20 11:29] #142 closed, assigned to Proffet78, ssas18

[2019-05-20 11:49] PopovMilan opened #758 "План на Sprint 4 - Союз"
Добавить у сущности Преподаватель выбор Ученого звания и Ученой степени.

Разработка
#730
#716
#667
#668
#669

Тестирование
#738
#736
#735
#737
#706
#712
#665

Мерж
#753

[2019-05-20 11:50] Takunava opened #759 "План на Sprint 4 - Альянс"
Задачи на спринт:
- [x]  Добавить выбор Директора Института из существующих преподавателей #655
- [x] Исправить выбор ВУЗа из существующих ВУЗов #656
- [x]  Доработать таблицу сценариев #616
- [x]  Восстановить табуляцию #697
- [x] Выполнить слияние Alliance-4 --> Testing  #752
- [x] Исправить баги #726 #680 #685 #682 #230 #393 #678 #394 #684 #676
- [x]  Исправить юнит-тесты #661

[2019-05-20 11:54] #13 closed, assigned to MyachevM

[2019-05-20 11:54] #5 closed, assigned to MyachevM

[2019-05-20 12:03] #665 closed, assigned to PopovMilan

[2019-05-20 12:15] map82top commented on #300
В ветке 17-ISbo-2b-6 данный баг не актуален

[2019-05-20 12:15] #300 closed, assigned to altavelor

[2019-05-20 12:18] map82top commented on #206
В ветке 17-ISbo-2b-6 баг не воспроизводится

[2019-05-20 12:19] map82top commented on #144
В ветке 17-ISbo-2b-6 баг не воспроизводится

[2019-05-20 12:19] #144 closed, assigned to altavelor

[2019-05-20 12:35] map82top opened #760 "Документация кода относящегося к справочнику Группа"
План - отчёт на Sprint7 #773
Разработка Sprint 7 #774
Добавить описание к публичным свойствам, методам, конструкторам и к самим классам MGroup и CGroup
(комментарий для документирования генерируется тройным слешем)

[2019-05-20 12:39] map82top opened #761 "Документация кода относящегося к справочнику Преподаватели"
План - отчёт на Sprint7 #773
Разработка Sprint 7 #774
Добавить описание к публичным свойствам, методам, конструкторам и к самим классам MTeacher и CTeacher
(комментарий для документирования генерируется тройным слешем)

[2019-05-20 12:43] map82top opened #763 "Документация кода относящегося к справочнику ВУЗы"
План - отчёт на Sprint7 #773
Разработка Sprint 7 #774
Добавить описание к публичным свойствам, методам, конструкторам и к самим классам MUniversity и CUniversity
(комментарий для документирования генерируется тройным слешем)

[2019-05-20 12:44] map82top opened #764 "Документация кода относящегося к справочнику Корпус"
План - отчёт на Sprint7 #773
Разработка Sprint 7 #774
Добавить описание к публичным свойствам, методам, конструкторам и к самим классам MEnclosures и CEnclosures
(комментарий для документирования генерируется тройным слешем)

[2019-05-20 13:14] NordScandinavian opened #765 "План на спринт №1"
Разработать функциональность для сущности Кафедра
Таблица Кафедры содержит сокращённое название, полное название, заведующий кафедры, институт.
В окне расписания в drop down справочнике добавить пункт "Кафедры".
Заголовок формы Кафедры.
Место для кнопок (удалить/изменить/добавить)

[2019-05-20 13:28] NordScandinavian opened #766 "Этап разработки для Sprint 1 - DreamTeam"
План #765

[2019-05-20 13:31] NordScandinavian opened #767 "Этап тестирования для Sprint 1 - DreamTeam"
План #765

[2019-05-20 13:34] NordScandinavian opened #768 "Этап мержа веток для Sprint 1 - DreamTeam"
План #765

[2019-05-20 13:36] nrabotko opened #769 "План на Sprint 5 - Альянс"
- [x]  Исправить баги ( 23.05.2019 ) #677 #672

- [x]  Этапы тестирования:
         -  Переделать сценарии тестирования ( 23.05.2019 )
        - Провести мануальное тестирование ( 24.05.2019 )
        - Убрать клонирующие сценарии тестирования (22.05.2019)

- [x]  Добавить комментарии с помощью /// в контроллер и модуль (24.05.2019) #787

В comment написать ссылку на задачу через #805

[2019-05-20 13:47] nrabotko opened #770 "Разработать сценарии теститрования пригодные для мануального тестирования для метода Insert(Model model) сущности Институт"
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)
#806

[2019-05-20 14:12] abramovaalina opened #771 "Разработка сценариев тестирования для формы Кафедра"
Этап тестирования #767
План #765

1. Открыть "Справочники" - Найти раздел "Кафедры".
2. Открыть "Кафедры" - Открывается новая форма.
3. На форме должны быть расположены блоки (Сокращенное название, Полное название, Заведующий кафедрой, Институт).
4. Расположены кнопки (Удалить, Изменить, Добавить), при нажатии ничего не происходит.
5. При изменении размеров формы, кнопки закреплены в правой нижней

[2019-05-20 14:39] YuriSilenok opened #772 "Этап разработки"
План #769
- [x] Исправить баги  #677 #672
- [x] Прокомментировать код #787

[2019-05-20 14:55] KharlamovaAlexandra opened #773 "План - отчёт на Sprint7"
Задачи на спринт:

-Исправление недочетов ( описано в to do)
-Задачи на разработку (  #774  ) : Разобраться с багами ( до вечера воскресения крайний срок )
-Задачи на тестирование (  #775 ) : Нахождение багов с помощью мануального тестирования и покрытие тестами всех  частей кода ( до вечера пятницы крайний срок)
-Слияние всего в ветку Testing и сделать релиз (  #776  ) ( 26.05)

20.05 - Получены

[2019-05-20 15:03] KharlamovaAlexandra opened #774 "Разработка Sprint 7"
План  #773
Спринт 7 посвящен исправлению багов.
Найденные и принятые на исправление баги:

1.  #739 Ошибка при вставке некорректных данных в таблицу ВУЗы.
2.  #783 Программа падает при удалении пустой таблицы.
3. #779 Программа падает при двойном клике по заголовку таблицы.
4. #741 Невозможно изменить информацию о группе после добавления
5. #778 Не отображается запись в графе окна
6. #782 Наличие

[2019-05-20 15:09] KharlamovaAlexandra opened #775 "Тестирование Sprint 7"
План #773
Спринт 7 посвящен исправлению багов.

Задачи на проведение мануального тестирования :
1) #780
2) #791

Задачи на написание сценариев:
 #912

Задачи на написание тестов:
 #910

[2019-05-20 15:10] KharlamovaAlexandra opened #776 "Релиз Sprint 7"
План #773

Задача #774 на разработку закрыта
Задача #775 на тестирование закрыта

Можно приступать к слиянию в Testing  и релизу

[2019-05-20 15:38] YuriSilenok commented on #776
Ни план ссылается на этап, а этап на план. Дочерняя задача ссылается на родителя
Можете метку этапа поставить

[2019-05-20 15:44] SamuraSwordS commented on #26
Могу предположить, что исправлено

[2019-05-20 18:17] cdvinvate opened #778 "Не отображается запись в графе окна"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #780
Разработка Sprint 7 #774
Ликвидация долгов за 1 спринт #920
Шаги реализации бага:
1.Открыть справочник "Преподаватели"
2.Нажать "добавить"
3.Заполнить форму, а в графе окна написать "Пн.Вт."
4.Нажать сохранить
Ожидаемый результат:
В добавленной записи в графе окно "Пн.Вт."
Фактический результат:
![image](https://user-images.githubu

[2019-05-20 18:38] cdvinvate opened #779 "Программа падает при двойном клике по заголовку таблицы"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #780
Разработка Sprint 7 #774
План - отчёт на Sprint7 #773
Провести мануальное тестирование #780
Разработка Sprint 7 #774
Ликвидация долгов за 1 спринт #920
Шаги реализации бага:
1.Открыть справочник "Группы"
2.Нажать "добавить"
3.В "профиль подготовки" нажать "выбрать"
4.Двойным кликом нажать на "Краткое названия профиля подготовки"
Ож

[2019-05-20 18:39] Jeen99 commented on #740
Максим. количество символов для столбца **"Полное названия профиля подготовки"** - 40 символов.

[2019-05-20 18:43] Jeen99 commented on #740
Ограничение желательно реализовать в модели "Профиль подготовки".

[2019-05-20 18:49] #739 closed, assigned to YuriSilenok, SergeAlekseev

[2019-05-20 18:58] KharlamovaAlexandra opened #780 "Провести мануальное тестирование"
Задача на тестирование #775
Ликвидация долгов за 1 спринт #920
Ликвидация долгов за 3 спринт #922

В Sprint 7  провести мануальное тестирование областей: Преподаватель, Группа, Корпус, ВУЗ, Выбор направления подготовки у группы, Выбор ВУЗа у корпуса.

Найденные баги:
1) #778  Не отображается запись в графе окна
2) #779  Программа падает при двойном клике по заголовку таблицы
3) #782  Наличие недоп

[2019-05-20 19:05] #196 closed, assigned to KharlamovaAlexandra

[2019-05-20 19:17] cdvinvate opened #782 "Наличие недопустимых символов в таблице"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #780
Разработка Sprint 7 #774
Ликвидация долгов за 1 спринт #920
Шаги реализации бага:
1.Открыть справочник "Группы"
2.Нажать "добавить"
3.В "профиль подготовки" нажать "выбрать"
4.Нажать "добавить"
5.Ввести в поля формы одни числа
Ожидаемый результат:
Программа не дает вводить цифры пользователю либо выдает предупреждение
Фактический р

[2019-05-20 19:22] YuriSilenok commented on #780
В описании используйте однотипные форматирование

[2019-05-20 19:25] cdvinvate commented on #780
Понял, спасибо.

[2019-05-20 19:46] bormolei commented on #578
В ветке 17-ISbo-2a-6 не воспроизводится,была добавлена возможность поставить знак "."

[2019-05-20 19:46] #578 closed, assigned to MihailBobylev

[2019-05-20 20:08] cdvinvate opened #783 "Программа падает при удалении пустой таблицы"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #780
Разработка Sprint 7 #774
Ликвидация долгов за 1 спринт #920

Шаги реализации бага:
1.Открыть справочник "ВУЗы"
2.Нажать "удалить"
Ожидаемый результат:
![image](https://user-images.githubusercontent.com/47520627/58048732-e8380c00-7b53-11e9-9c02-c156f625c0f5.png)

Фактический результат:
![image](https://user-images.githubusercontent.

[2019-05-20 20:16] YuriSilenok commented on #769
Перевесите на меня, когда спринт будет завершен

[2019-05-20 20:18] nrabotko commented on #769
@YuriSilenok, хорошо

[2019-05-20 20:18] YuriSilenok commented on #685
@itword7111 Я бы ожидал еще какой-нибудь комментарий от Вас, а том могу пропустить Ваши баги как обычные.

[2019-05-20 20:19] YuriSilenok commented on #685
@itword7111 Зачтено

[2019-05-20 20:21] YuriSilenok commented on #683
Эта задача не может быть зачтена, так как судя по всему является дубликатом, ссылку на которою ни кто не предоставил

[2019-05-20 20:23] YuriSilenok commented on #682
@itword7111 зачтено

[2019-05-20 20:26] YuriSilenok commented on #680
@itword7111  Зачтено

[2019-05-20 20:28] YuriSilenok commented on #678
@itword7111 зачтено

[2019-05-20 20:29] YuriSilenok commented on #677
@itword7111 здесь непонятная ситуация для меня, можете ли вы воспроизвести этот баг в последнем релизе?

[2019-05-20 20:31] YuriSilenok commented on #676
@itword7111 кажется вы открыли баги все подряд, этот баг даже не исправлялся, так как был найден в устаревшей ветке.

[2019-05-20 20:32] YuriSilenok commented on #187
Так куда вы данные вводите?

[2019-05-20 20:34] YuriSilenok commented on #26
Куда Вы вводите данные?

[2019-05-20 20:37] Takunava commented on #752
Слияние успешно выполнено #762

[2019-05-20 20:47] nrabotko opened #784 "Убрать клонирующие сценарии тестирования для методов Update(Model model), Delete(Model model), Insert(Model model) сущности Институт"
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)
#806

P.S. Заменить клонирующие юнит-тесты на мануальные тесты

[2019-05-20 20:57] nrabotko opened #785 "Разработать сценарии тестирования пригодных для мануального тестирования для метода Delete(Model model) сущности Институт"
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)
#806

[2019-05-20 20:59] nrabotko opened #786 "Разработать сценарии теститрования пригодные для мануального тестирования для метода Update(Model model) сущности Института"
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)
#806

[2019-05-20 21:12] nrabotko opened #787 "Добавить комментарии в Institute, AcademicTitle"
Добавить краткий итог о типе или члене ( `<summary>` )
Прокомментировать все публичные методы и классы, поля, свойства, конструкторы во всем решении.
#769
#772

[2019-05-20 22:29] itword7111 commented on #677
В последней версии ветки Alliance-4 этого бага нет

![image](https://user-images.githubusercontent.com/38357886/58055870-d82a2780-7b67-11e9-83fa-1c94d7033693.png)

[2019-05-21 04:42] map82top commented on #783
@Proffet78  Здесь так же не должно быть чего-нибудь сложного, просто добавить условие

[2019-05-21 07:01] YuriSilenok commented on #677
Сам баг это задача, и он есть и не живёт в ветках. Баг описывает шаги по воспроизведению сбоя и другие технические детали для воспроизведения сбоя. Сбой это появление ошибки которая находится в какой-то ветке. Когда ошибка исправлена проверяют баг на предмет воспроизводимрсти сбоя. От этого всегда говорят что баг воспроизводится там-то или не воспроизводится там-то

[2019-05-21 08:06] 16-vt-1a opened #788 "Улучшить добавление справочника "Преподаватели" (Ученая степень)"
При добавления нового справочника "Преподаватели" не удается выбрать ученую степень у преподавателя , ибо справочник "ученая степень" пуст (При первом использовании программы не сразу понятно, что сначала необходимо заполнить справочник "ученая степень", после чего будет возможность выбрать ее в добавлении справочника "Преподаватели").
Реализовать вместо выпадающего списка чекбокс с отключенной фу

[2019-05-21 08:06] 16-vt-1a opened #789 "Улучшить добавление справочника "Преподаватели" (Ученое звание)"
При добавления нового справочника "Преподаватели" не удается выбрать Ученое звание у преподавателя , ибо справочник "Ученое звание" пуст (При первом использовании программы не сразу понятно, что сначала необходимо заполнить справочник "Ученое звание", после чего будет возможность выбрать ее в добавлении справочника "Преподаватели"). Реализовать переход к заполнению Ученого звания из преподавателя,

[2019-05-21 08:46] YuriSilenok commented on #788
@16-vt-1a Укажите правильную версию ПО

[2019-05-21 08:46] YuriSilenok commented on #789
@16-vt-1a Укажите правильную версию ПО

[2019-05-21 10:20] Proffet78 opened #791 "Провести мануальное тестирование"
Задача на тестирование #775

В Sprint 7 провести мануальное тестирование областей: Преподаватель, Группа, Корпус, ВУЗ, Выбор направления подготовки у группы, Выбор ВУЗа у корпуса.

Найденные баги:
1) #828 Программа падает при сохранении нового корпуса корпуса
2) #878 Изменение краткого названия профиля, при добавлении нового профиля подготовки
3) #879 Невозможно добавить нового преподавателя
4) #8

[2019-05-21 10:44] KudelinRoman commented on #663
"В проекте TimetableOfClasses класс RefData перенести статические поля в проект LibOfTimetableOfClasses класс Controllers"
В переносе нет смысла так как класс Controllers уже содержит те поля которые имеются в RefData

[2019-05-21 11:57] YuriSilenok commented on #663
Controllers поля нужно объеденить исключив дубликаты, а Controllers должен переименовать в RefData. Должен остаться только один класс хранящий доступ к контроллерам с именем RefData

[2019-05-21 12:02] KudelinRoman commented on #663
Будет выполнено после 11 вечера
21 мая 2019 г. 14:57 пользователь "Юрий Силенок" <notifications@github.com>
написал:

[2019-05-21 13:08] #630 closed, assigned to MihailBobylev

[2019-05-21 13:10] YuriSilenok commented on #696
Мне страшно спрашивать, почему на последнем спринте вы замержили с синтаксическими ошибками?

[2019-05-21 13:24] Jeen99 commented on #696
Кроме не исправных Юнит-тестов там нет ошибок, если верить CI.
![image](https://user-images.githubusercontent.com/32433285/58099644-bd49c880-7be4-11e9-9905-06006c0eaf5d.png)
На работу основной программы это никак не виляет, а тесты все равно планируется править, так почему не замержить?

[2019-05-21 13:24] YuriSilenok commented on #696
Необходимо устранить замечания:
- Откатил ваши изменения из ветку спринта  #792. В ветке могут быть сбои по автотестам, но нельзя допускать ломанного проекта, в том числе и автоматической библиотеки.
- ваша ветка task-696 была пущена из конца 5 спринта, почему?

[2019-05-21 13:31] YuriSilenok commented on #696
- Вы пустите новую ветку task-696-1 от последнего коммита текущего спринта.
- В ней измените функциональность, если ваша функциональность будет содержать настолько сильные изменения что автотесты не будут компилироваться, то должны быть созданы 2 задачи на изменение сценариев и исправление автотестов в той же ветке.
- Когда тестировщики подтвердят что автотестыв исправлены в ветке task-696-1, тогд

[2019-05-21 13:35] Jeen99 commented on #696
Я должен сам поднять эти задачи или сообщить это главному тестировщику?

[2019-05-21 13:38] YuriSilenok commented on #696
Вы должны сообщить
https://docs.google.com/presentation/d/187r1uDGzXg_CqAncaExp_TSQBLoPOgIoXfYTNeabWNU/edit#slide=id.g5785e0de3c_0_212
![image](https://user-images.githubusercontent.com/14871471/58100680-c63b9980-7be6-11e9-9c15-eaa86f6727a9.png)
Внимательнее на лекциях

[2019-05-21 13:38] Jeen99 commented on #696
Не обратил на это внимание. Это на что-то влияет и как это можно отследить через Гитхаб?

[2019-05-21 13:41] YuriSilenok commented on #696
![image](https://user-images.githubusercontent.com/14871471/58100749-ec613980-7be6-11e9-8b8b-9269c3cdcb19.png)

Визулально можно посмотреть [здесь](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/network)
Линия ветки уходит в прошлое.
Проследите синию линию

Косвенно, можно понять по мержконфликтам, что у Вас и произошло.
Их почти не должно быть при мерже тасков

[2019-05-21 13:44] YuriSilenok commented on #696
Вы со вчерашнего вечера держите спринт в поломанном состоянии.
Это плохо. Я надеюсь в дальнейшем мы будем из\бегать дальнейших систуаций.
![image](https://user-images.githubusercontent.com/14871471/58101021-7f9a6f00-7be7-11e9-83ce-50d21fce8222.png)

[2019-05-21 13:46] Jeen99 commented on #696
Хорошо. Просто раньше мы немного по другому действовали, сначала разработчики выполняли задачу и после этого писались тесты.

[2019-05-21 13:48] YuriSilenok commented on #696
Да, все верно, тесты были под новую функциональность, сейчас идеть болезненный процесс (переделывание существующей функциональности). Это накладывает ограничение.
На следующей лекции будем разбирать более детально все эти ситуации на примерах.

[2019-05-21 13:53] Jeen99 commented on #696
Как мне нужно уведомить глав. тестировщика? Прикрепить сюда с просьбой выполнить задачу или поднять задачу или это не имеет значение и подойдет любой сбособ, даже переписка в ВК?

[2019-05-21 13:55] YuriSilenok commented on #783
Почему task-783 пущен от Testing?

[2019-05-21 13:58] YuriSilenok commented on #696
лучше в запросе на слияние через сабаку перечислить старшего тестировщика и тимлида (куда без него) что бы обратили на, то их автоматически тесты больше не работают. можте отправить из в слайды. Все в вкомментарии.

[2019-05-21 14:10] Jeen99 commented on #696
Каким образом теперь загрузить отмененные изменения в новую ветку? Использовать cherry-pick?

[2019-05-21 14:17] Jeen99 commented on #696
@YuriSilenok,  А вот эту работу #630 не нужно тоже откатывать?

[2019-05-21 14:35] Jeen99 commented on #696
Тесты стали не актуальны уже в #630. И если сейчас править тесты для задачи #696, то часть ошибок останется.

[2019-05-21 14:36] YuriSilenok commented on #696
Больше ничего открытывать не будет, сейчас главное усилие нужно пустить на исправление в текущей задаче. Есть возможность пускать ветки от конкретного коммита (что бы использовать рабочий проект с автотестами) еще можно пустить ветку от таска (если только в ней есть функуиональность).

[2019-05-21 14:37] Chippa99fm commented on #187
В поля формы ?

[2019-05-21 14:37] YuriSilenok commented on #696
Вы можете восстановить ветку и в ней продолжить работу, под другой задачей, и еще одним запросом залить изменения.

[2019-05-21 14:38] YuriSilenok commented on #187
А сценарии пишите для модульного тестирования?

[2019-05-21 14:40] Chippa99fm commented on #187
Пишу их по примеру сценариев из спринтов

[2019-05-21 14:50] YuriSilenok commented on #187
А почему сценарии из спринта правильные?

[2019-05-21 14:51] Chippa99fm commented on #187
Не могу знать.
Они не правильные ?

[2019-05-21 14:53] YuriSilenok commented on #187
я тоже не могу знать, они мной не проверяются.
А те сценарии которые были взяты за образец, они для тестирования через вэбинтерфейс или через модульное тестирование?

[2019-05-21 15:04] map82top commented on #783
Неопытность исполнителя задачи. Я ему не сказал откуда надо ветку пускать

[2019-05-21 15:05] map82top commented on #783
@Proffet78 Ветку нужно делать от 17-ISbo-2b-7

[2019-05-21 15:06] YuriSilenok commented on #783
Здравствуйте, @map82top

Видимо нужно написать ему в этой задаче о том, что следующая ветка должна называться task-783-1

Спасибо,
Юрий

[2019-05-21 15:10] Chippa99fm commented on #187
Модульное тестировани

[2019-05-21 15:11] cdvinvate opened #794 "Нет ограничения уникальности значений для столбца "Почта" в таблице "ВУЗы" при добавлении нового ВУЗа"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #780
Разработка Sprint 7 #774
Ликвидация долгов за 1 спринт #920
Шаги реализации бага:
1.Открыть справочник "ВУЗы"
2.Нажать "добавить"
3.Заполнить поля формы
4. Создать еще один ВУЗ с такой же электронной почтой
Ожидаемый результат:
Программа сообщит пользователю, что данная почта уже занята и невозможно добавить ВУЗ.
Фактический резуль

[2019-05-21 15:12] YuriSilenok commented on #187
Здравствуйте,

модульное тестирование не предполагает использование графического интерфейса, это значит что вы не можете что-либо **вводить** куда-либо.

Как Вы думаете, как стоит видоизменить сценарии?

Спасибо,
Юрий

[2019-05-21 15:13] Chippa99fm commented on #187
Вместо "Ввод" написать "Отправка" ?

[2019-05-21 15:17] YuriSilenok commented on #794
Здравствуйте, @cdvinvate,

заголовок бага должен отвечать на три вопроса
https://habr.com/ru/company/docsvision/blog/264163/
- Что не работает?
- Где не работает?
- Когда не работает?

В данном случае вы можете написать

Спасибо,
Юрий

[2019-05-21 15:18] Chippa99fm commented on #187
Мои сценарии практически идентичны сценариям моих одногруппников, у них так же модульное тестирование. Не понимаю, что нужно видоизменить..

[2019-05-21 15:19] cdvinvate opened #795 "Нет ограничения для одинаковых записей для столбца "Телефон" в таблице "ВУЗы" при добавлении нового ВУЗа"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #780
Разработка Sprint 7 #774
Ликвидация долгов за 3 спринт #922
Шаги реализации бага:
1.Открыть справочник "ВУЗы"
2.Нажать "добавить"
3.Заполнить поля формы
4. Создать еще один ВУЗ с таким же телефоном
Ожидаемый результат:
Программа сообщит пользователю, что данный телефон уже занят и невозможно добавить ВУЗ.
Фактический результат:
![i

[2019-05-21 15:21] YuriSilenok commented on #187
Я все же стал говорить что их работы являются эталоном и могут быть использованы для образа.
Это так не работает, главное здесь логика.
Я хотчу донести что вы не вводите какие-либо значеня, а передаете их в конструктор, методы и т.д.
Ориентируйтесь на то, что эти сценарии должны быть автоматизированы.

Спасибо,
Юрий

[2019-05-21 15:26] Jeen99 commented on #696
Правильно я понимаю, что в таком случае нужно сначала восстановить тесты для #630. А потом уже создавать ветку task-696-1 для #696, иначе так и будет висеть ошибка в task-696-1.

[2019-05-21 15:27] cdvinvate opened #796 "Нет ограничения некорректных символов в таблице "Профиль подготовки" при добавлении нового профиля подготовки"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #780
Разработка Sprint 7 #774
Ликвидация долгов за 3 спринт #922
Шаги реализации бага:
1.Открыть справочник "Профиль подготовки"
2.Нажать "добавить"
3.Заполнить поля символами "++=="
4.Нажать "добавить"
Ожидаемый результат:
Программа не дает вводить данные символы пользователю либо выдает предупреждение
Фактический результат:
![image](h

[2019-05-21 15:28] Chippa99fm commented on #187
Сделал поправку на то, что мы не вводим данные, а передаём их в конструктор.
Спасибо,
Михайлов Василий

[2019-05-21 15:32] cdvinvate commented on #794
Здравствуйте @YuriSilenok

Приму на вооружение.

Спасибо,
Дмитрий

[2019-05-21 15:41] YuriSilenok commented on #187
Здравствуйте, @Chippa99fm

Никаких рекомендаций по кодированию сценариев нет. Я видел подобное сокращение и указывал на эту ошибку, пожалуйста, опишите по шагам что это значит.

Спасибо,
Юрий

[2019-05-21 15:51] Chippa99fm commented on #187
Берём и при изменении данных передаём краткое название "ИВТ" на замену краткому названию "ИПП"

[2019-05-21 15:57] YuriSilenok commented on #187
Здравствуйте, @Chippa99fm

Это вопрос?

Спасибо,
Юрий

[2019-05-21 15:58] Chippa99fm commented on #187
Вы же попросили указать, что это значит. Я и указал.

[2019-05-21 16:07] DemiKor opened #798 "Создать справочник "Учебная неделя""
Создать справочник "Учебная неделя" на которой располагается таблица со столбцами:
* номер
* наименование

Кнопки:
* Удалить
* Изменить
* Добавить

В качестве образца оформления и поведения использовать справочник "Преподаватели"

[2019-05-21 16:08] YuriSilenok commented on #798
Здравствуйте, @DemiKor

Используйте правильное форматирование списков
https://guides.github.com/features/mastering-markdown/

Спасибо,
Юрий

[2019-05-21 16:19] #741 closed, assigned to YuriSilenok, Chippa99fm

[2019-05-21 16:23] YuriSilenok commented on #741
Здравствуйте, @litdex

Я бы ожидал что Ваши баги будут содержать сценарий воспроизведения бага.
Ознакомьтесь пожалуйста https://habr.com/ru/company/docsvision/blog/264163/

Спасибо,
Юрий

[2019-05-21 16:24] YuriSilenok commented on #187
Здравствуйте, @Chippa99fm

Уточняю, это нужно расписать в тестовых сценариях.

Спасибо,
Юрий

[2019-05-21 16:25] Chippa99fm commented on #187
И везде, где есть такая стрелочка, означающая замену - нужно это расписать????

[2019-05-21 16:28] DariaMann opened #799 "Автоматизировать unit-тесты класса CTrainingProfile"
Исправить тест на выбора Направления подготовки у Профиля подготовки
Результаты запишите в [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=54897640)

[2019-05-21 16:32] DariaMann opened #800 "Автоматизировать unit-тесты класса CAuditor"
Автоматизировать тест на выбор у Аудитории Корпуса.
Результаты в запишите [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=54897640)

[2019-05-21 16:34] YuriSilenok commented on #799
Я потом спрошу какие автоматические тесты были изменены этим таском

[2019-05-21 16:35] DariaMann opened #801 "Автоматизировать unit-тесты класса CDiscipline"
Протестировать и исправить unit-тесты, если были выявлены ошибки.
Результаты в запишите [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=54897640)

[2019-05-21 16:35] Chippa99fm commented on #187
Здравствуйте, @YuriSilenok

Извините, но почему такое должен расписывать только я, если у моих одногруппников стоят такие же обозначения замены без уточнений.
Сжальтесь...

[2019-05-21 16:36] YuriSilenok commented on #801
Агрегированные результаты должны попать в задачу, я буду спрашивать сколько тестов и как прогнались в результате выполнения этого таска.

[2019-05-21 16:42] YuriSilenok commented on #187
Здравствуйте @Chippa99fm

Видимо потому что они реализовали эти сценарии в спринте,
а вы делаете ЛР04 и сдаете ее мне.

Не думаю что среди сданных лабораторных работ найдутся те, которые содержат такие же ошибки.

Вы знаете как проверить, сдан тот сценарий который бал взят за образец?

Спасибо,
Юрий.

[2019-05-21 16:43] DariaMann opened #802 "Автоматизировать unit-тесты класса CDirectionOfPreparation"
Результаты в запишите [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=54897640)

[2019-05-21 16:45] Chippa99fm commented on #187
Здравствуйте, @YuriSilenok

Нет, не знаю :c

Спасибо,
Михайлов Василий

[2019-05-21 16:56] YuriSilenok commented on #187
Здравствуйте, @Chippa99fm

Каждый сценарий имеет уникальный номер который формируется из номера задачи на его разработку.
Например сценарий который разработан выше Вашего ` task-26`
Эти суенарии соджержат точно такие же сокращения как у Вас, вероятно он и стал образцом.
Смотрим на задачу этих сценариев #26 и видим что она открыта
Кстати обратите внимание, что он идет по тем же ошибкам что и Вы, но

[2019-05-21 16:58] #801 closed, assigned to ZhezlovaDaria

[2019-05-21 17:10] YuriSilenok commented on #801
Здравствуйте, @DariaMann

Какова причина закрытия задачи?
Я бы ожидал, что причина внезапных закрытий должна быть указана всегда.

Спасибо,
Юрий

[2019-05-21 17:13] YuriSilenok commented on #800
Здравствуйте, @DariaMann

Я бы не тпонял каие номера тестовых сценариев я должен автоматизировать.
Как Вы это орпеделяете?

Спасибо,
Юрий

[2019-05-21 17:25] DariaMann commented on #801
Здравствуйте, @YuriSilenok

Unit-тесты на данный класс не требуют автоматизации так как они не были изменены. По этому я закрыла задачу.

Спасибо,
Дарья

[2019-05-21 17:26] YuriSilenok commented on #630
Нужна метка Story

[2019-05-21 17:32] YuriSilenok commented on #696
Не совсем понимаю уже, возможно устал.

Могу предположить что в обеих ветках у вас одна причина сбоев, можете пофиксить в одной из них, а потом из нормальной ветки смержить туда, где есть ошибки, причем это можно сделать без запроса, при помощи команды git merge

[2019-05-21 17:51] YuriSilenok commented on #772
Какая веха у плана?

[2019-05-21 17:55] YuriSilenok commented on #787
Ссылки на план в задачах можно не делать, достаточно только на этап

[2019-05-21 18:08] YuriSilenok commented on #786
Здесь должна быть ссылка на этап тестирования, а не на план спринта.

[2019-05-21 18:11] litdex commented on #740
Баг успешно исправлен

[2019-05-21 18:14] Jeen99 commented on #696
Примерно так и хотели делать, правда ошибки в ветках все же разные.

[2019-05-21 18:17] #758 closed, assigned to PopovMilan

[2019-05-21 18:37] Chippa99fm commented on #187
Здравствуйте.
Я заменил в сценариях символ "->"
Спасибо.
Михайлов Василий.

[2019-05-21 18:39] cdvinvate opened #804 "Программа падает при удалении измененной записи таблицы "Профиль подготовки""
План - отчёт на Sprint7 #773
Провести мануальное тестирование #780
Разработка Sprint 7 #774
Ликвидация долгов за 3 спринт #922
Шаги реализации бага:
1.Открыть справочник "Профиль подготовки"
2.Нажать "добавить"
3.Ввести в поле "Полное название профиля подготовки"  значение "214"
4.Ввести в поле "Краткое название профиля подготовки"  значение "21435678"
5.Нажать "сохранить "
6.Нажать "изменить" и и

[2019-05-21 18:48] nrabotko opened #806 "Этапы тестирования"
План #769

- [x] Убрать клонирующие сценарии тестирования ( #784 )
- [x] Доработать сценарии тестирования ( #786 #785 #770 )
- [x] Провести мануальное тестирование ( #903 #904 #905 )
- [x] Дописать юнит-тесты (#897 #888 )

[2019-05-21 18:49] PopovMilan opened #807 "План на Sprint 5 (1) - Союз"
Фикс багов.
Документация кода.
Добавление проверок вводимых данных.
 Добавить предлагаемые изменения.

[2019-05-21 18:54] PopovMilan opened #808 "Этап мержа веток для Sprint 5(1)"
План #807

[2019-05-21 18:56] PopovMilan opened #809 "Этап разработки для Sprint 5 (1)"
План #807

[2019-05-21 18:57] Mikleproxorov opened #810 "Этап тестирования для Sprint 5 (1)"
План #807

[2019-05-21 19:44] GubanovAndrey commented on #651
Прошу прощения. Выбор Направления подготовки был реализован в спринте 17-ISbo-2a-4

[2019-05-21 20:04] Chippa99fm commented on #187
Здравствуйте, @YuriSilenok

Всё готово!

Спасибо,
Михайлов Василий

[2019-05-21 20:50] #651 closed, assigned to GubanovAndrey

[2019-05-21 20:52] #800 closed, assigned to ZhezlovaDaria

[2019-05-21 20:52] #799 closed, assigned to ZhezlovaDaria

[2019-05-21 20:54] itword7111 opened #815 "В "Ученые звания" можно добавить, некорректную запись"
#954
Название ветки: Alliance-5 Фиксация 0e454f9
Баг воспроизводится в v0.18-Testing
Шаги реализации бага:
1. Открыть справочник "Ученые звания"
2. Нажать "добавить"
3. В поле "Сокращенная запись уч. звания" ввести "   е"
4. В поле "Полная запись уч. звания" ввести "   е"
5. Нажать "создать и закрыть"
Ожидаемый результат:
создается новая ученая степень
![image](https://user-images.githubuserconten

[2019-05-21 20:57] DariaMann commented on #802
Unit-тесты на класс CDirectionOfPreparation не требуют автоматизации так как они не были изменены.

[2019-05-21 20:57] #802 closed, assigned to ZhezlovaDaria

[2019-05-21 21:39] SamuraSwordS commented on #26
Имел в виду , замена одних данных на другие

[2019-05-22 04:22] bormolei commented on #652
Названия исправлены.

[2019-05-22 04:23] bormolei commented on #642
Названия исправлены.

[2019-05-22 05:14] YuriSilenok commented on #642
Закрыто неправильно

[2019-05-22 05:18] YuriSilenok commented on #642
Я Не Увидел в описании в какой версии программы Вы нашли этот баг и не увидел в комментарии при закрытии версию программы на которой баг не воспроизвелся.

[2019-05-22 05:33] YuriSilenok commented on #652
- нет версии ПО в которой найден баг
- нет версии по в которой перестал воспроизводится
- заголовок не отвечает на вопрос где?

[2019-05-22 05:43] #759 closed, assigned to nrabotko

[2019-05-22 06:00] bormolei commented on #652
Исправлено название. Баг перестал воспроизводиться в ветке 17-ISbo-2a-5

[2019-05-22 06:00] #652 closed, assigned to ZhezlovaDaria, Parallusion

[2019-05-22 06:01] bormolei commented on #642
Исправлено название. Баг перестал воспроизводиться в ветке 17-ISbo-2a-5

[2019-05-22 06:01] #642 closed, assigned to ZhezlovaDaria

[2019-05-22 06:08] ZhezlovaDaria opened #816 "Добавить изменения из ветки 17-ISbo-2a-6 в ветку Testing"
очень плохое описание

[2019-05-22 06:48] ZhezlovaDaria opened #819 "План на спринт 7"
- Устранить все предупреждения в проекте
- Исправить баги, поступившие за первые пять дней спринта
- Поиск багов и ретест багов только на релизовых сборках
- Задокументировать код

[2019-05-22 06:49] ZhezlovaDaria opened #820 "Этап разработки на спринт 7 группы 17-ИСбо-2а"
План #819

Этапы разработки:
- [x] Устранить все предупреждения в проекте (#834)
- [x] Задокументировать код (#836, #837)
- [x] Исправить баги, поступившие за первые пять дней спринта (#855)

[2019-05-22 07:36] YuriSilenok opened #822 "В классе СEnclosures первая буква использована из кириллического алфавита"
- Открыть класс CEnclosures
- Переключить клавиатуру на русскую раскладку
- Нажать Ctrl+F
- В поле поиска ввести букву С

[2019-05-22 09:49] DemiKor commented on #798
Выполнено в ветке task-798
Пул реквест заведен

[2019-05-22 10:54] Takunava commented on #772
Веха для 5 спринта, я просто забыл поставить

[2019-05-22 11:11] YuriSilenok commented on #815
- Здравсвуйте, Вы знаете как найти команду ответсвенную за эту предметную область?
-  используйте правильное форматирование для списков https://guides.github.com/features/mastering-markdown/
- В какой версии ПО вы это нашли?

[2019-05-22 11:49] YuriSilenok commented on #798
- Еще раз напоминаю что нужно правильно использовать форматирование для списков, если вы не понимаете о чем я говорю, спросите.
- Заголовок запроса на слияние должно повторять по сути заголовок задачи с ответом на вопрос "что было сделано?"
- Обратите на комментарий в запросе

[2019-05-22 11:50] YuriSilenok commented on #789
@16-vt-1a v0.14 не является полным названием.

[2019-05-22 11:53] YuriSilenok commented on #789
Меня поставите ответсвенным когда придет время засчитывать балл

[2019-05-22 11:54] YuriSilenok commented on #788
Меня поставите ответственным когда придет время засчитывать балл

[2019-05-22 11:54] YuriSilenok commented on #788
@16-vt-1a v0.14 не является полным названием.

[2019-05-22 11:55] YuriSilenok commented on #740
Вами?

Вы должны попытатьтся его воспроизвести и указать воспроизвелся он или нет на каком-то релизе
еще необходжимо указать на каком релизе начал воспроизводится этот баг?

[2019-05-22 12:04] YuriSilenok commented on #187
Здравствуйте, @Chippa99fm

разбираем этот сценарий
[code]
Как программно Вы представляете 4 шаг. Мне все равно непонячтно что нужно сделать при автоматизации под словом заменить? И какой Вы от этого ожидаете результат?

[2019-05-22 12:06] YuriSilenok commented on #161
Здравсвуйте @Takunava

Забирайте,

Спасибо,
Юрий

[2019-05-22 12:10] YuriSilenok commented on #26
А что под заменой вы понимаете и самое главное, где?

[2019-05-22 12:30] #760 closed, assigned to isengrims

[2019-05-22 13:47] itword7111 commented on #815
версия v0.14-Testing

[2019-05-22 14:46] #704 closed, assigned to isengrims

[2019-05-22 16:04] #696 closed, assigned to ZhezlovaDaria

[2019-05-22 17:26] purplegen commented on #21
Состояние таблицы контроллера | Группа [[0-9]{2}-[А-Я]{2}[а-я]{2}-[0-9]{1}[а-я]{1}] | Семестр [1-2]{1} | Профиль подготовки [А-я]{1-256}[а-я]{0-256} | Смена [1-2]{1} | Студентов [0-50] | Пар/день min [0-6] | Пар/день max [1-6] | Выходные [А-Я]{1}[а-я]{1-10}
-- | -- | -- | -- | -- | -- | -- | -- | --
Удалить запись при совпадении всех атрибутов | task-21-1 | task-21-1 | task-21-1 | task-21-1 | task

[2019-05-22 17:30] cdvinvate opened #827 "Программа не дает изменять профиль подготовки у группы"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #780
Разработка Sprint 7 #774
Ликвидация долгов за 3 спринт #922
Шаги реализации бага:
1.Открыть справочник "Группы"
2.Нажать "добавить"
3.Во всплывшем окне нажимаем "да"
4. В открывшемся окне создаем два профиля подготовки
5. Выбираем один из них двойным кликом
6. В окне "добавление группы" жмем "сохранить"
7. Жмем на кнопку изменить и

[2019-05-22 17:30] #764 closed, assigned to SamuraSwordS

[2019-05-22 17:32] Proffet78 opened #828 "Программа падает при сохранении нового корпуса"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #791
Разработка Sprint 7 #774
Баг воспроизводиться в v0.15-Testing
Ликвидация долгов по Sprint3 #927

Шаги :
1) Открыть форму "Корпус"
2) Нажать кнопку "добавить"
3) заполнить все поля
4) нажать кнопку "добавить вуз"
5) добавить вуз (заполнив все поля)
6) добавить вуз в корпус
7) нажать кнопку "добавить вуз"
8) изменить название вуза
9)

[2019-05-22 17:51] #663 closed, assigned to KudelinRoman

[2019-05-22 18:16] #761 closed, assigned to SergeAlekseev

[2019-05-22 18:36] SamuraSwordS commented on #26
Ну может, наверное, лучше сказать, что "старые" значения полей обновятся на те , что мы подаём в новом объекте модели

[2019-05-22 18:38] YuriSilenok commented on #774
Кажется вы не в ту сторону ссылки ставите, задачи на этап разработки должны ссылаться.

[2019-05-22 18:42] KharlamovaAlexandra commented on #774
@YuriSilenok  Моя вина, плохо объяснила. Исправим. Мы используем двухсторонние ссылки, мне так удобнее следить

[2019-05-22 18:52] #778 closed, assigned to SamuraSwordS

[2019-05-22 19:23] Proffet78 commented on #779
@YuriSilenok ,
Здравствуйте,
В понедельник, после пары мы с вами договорились, что я могу взять два бага исправить их и вы сможете засчитать мне лабораторную работу ( ЛР3.1)

С уважением, Машарин Валерий 17-ИСбо-2б

[2019-05-22 19:23] Proffet78 commented on #783
@YuriSilenok ,
Здравствуйте,
В понедельник, после пары мы с вами договорились, что я могу взять два бага исправить их и вы сможете засчитать мне лабораторную работу ( ЛР3.2)

С уважением, Машарин Валерий 17-ИСбо-2б

[2019-05-22 20:53] sidelong44 opened #832 "Разработать форму "Кафедры""
План #765

Открывать форму кликом на пункт "Кафедры" в выпадающем меню "Справочники".
Форма должна иметь GridView со столбцами:
* Сокращенное название
* Полное название
* Заведующий кафедрой
* Институт

Внизу формы, в правом углу должны быть кнопки: Удалить / Изменить / Добавить

[2019-05-22 21:18] #832 closed, assigned to sidelong44

[2019-05-22 21:19] #766 closed, assigned to sidelong44

[2019-05-22 22:18] Jeen99 opened #834 "Устранить все предупреждения в проекте"
Этап разработки: #820

Сейчас в проекте есть предупреждения, по большей части они связаны с неиспользуемыми переменными. Необходимо устранить предупреждения (**отключать их не нужно! =)** ).

![image](https://user-images.githubusercontent.com/32433285/58212415-6385f300-7cf7-11e9-98f0-ae7685753a76.png)

_Ветку для которой нужно делать правки (17-ISbo-2a-7). Свою ветку task-*** создавать от 17-ISbo-

[2019-05-22 22:20] Jeen99 commented on #834
@YuriSilenok, какие метки должны стоять у данной задачи?

[2019-05-22 22:46] VinogradovAlexandr781227 opened #835 "Написать сценарии для задачи реализованной в прошлом спринте"
Задача на написание  сценариев #912

Написание сценариев для задачи реализованной в прошлом спринте
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=983700952)

[2019-05-22 22:51] Jeen99 opened #836 "Добавить комментарии для разработанных Моделей"
Этап разработки: #820

Необходимо задокументировать код относящийся к прикрепленным меткам, используя комментарии.

Комментарии имеют вид :
[code]
Так же могут иметь описание входных параметров и возвращаемых значений в зависимости от метода, свойства.

Комментарии должны отображать суть методов или свойств. В первую очередь необходимо добавить комментарии для публичных методов. Дополнительно для

[2019-05-22 22:55] Jeen99 opened #837 "Добавить комментарии для разработанных Контроллеров"
Этап разработки: #820

Необходимо задокументировать код относящийся к прикрепленным меткам, используя комментарии.

Комментарии имеют вид :
[code]
Так же могут иметь описание входных параметров и возвращаемых значений в зависимости от метода, свойства.

Комментарии должны отображать суть методов или свойств. В первую очередь необходимо добавить комментарии для публичных методов. Дополнительно для

[2019-05-23 03:36] litdex commented on #740
@YuriSilenok добрый день, хотел проверить его в testing 0.15, но файл exe не запускается

[2019-05-23 04:11] Chippa99fm commented on #187
4. Заменить:
Создаётся новй объект класса MUniversity и ему присваивается модель, поступающая на вход метода. После чего находим строку с нашм ВУЗом в таблице по ИНН.

Создаём новый объект класса DataRow.
- Передаём в столбец "Краткое название" новое название "ИВТ" на замену "ИПП".
- Передаём в столбец "Полное название" новое название "Институт Вычислительной техники" на замену "Институт Педагогик

[2019-05-23 07:27] itword7111 commented on #815
assign делать на туже команду, на которую вешал (кто делает ветку Alliance-5 )
?

ср, 22 мая 2019 г. в 14:30, Юрий Силенок <notifications@github.com>:

[2019-05-23 07:36] itword7111 commented on #815
а в какой ветке мне баги искать в  Alliance-5   ?

чт, 23 мая 2019 г. в 10:27, Павел Калашников <pavelkalashnikov9819@gmail.com

[2019-05-23 08:02] FvckNeighbors opened #838 "У сущности Преподаватель реализовать функционал выбора Кафедры путем связывания с таблицей Кафедра"
Добавить выпадающий список для выбора Кафедры в форму добавления Преподавателя. Связать выпадающий список с таблицей Кафедры.

[2019-05-23 12:06] ivshr opened #839 "План на Sprint 3 - 17-ИДбо-3а"
Номер| Описание
-- | --
 №1 #1012 #1021| Разработать функционал для формы "Вид занятия". Реализовать функции: Добавить, Изменить, Удалить (+Вопрос при удалении), Сортировка, Количество строк в таблице, Привести имена столбцов в соответствие с программой http://rector.spb.ru/setup4u.exe. При разработке, учитывать написание комментариев.
 №2 #842 #1020 #1040 #1042 #1043 #1044 | Разработать сценарии

[2019-05-23 12:11] MariNazarova opened #840 "Создать форму таблицы Вид занятия"
Разработка формы таблицы для кнопки [добавить](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/398)
В соответствиями с [функциональными требованиями](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/1021) к разработке

[2019-05-23 12:14] MariNazarova opened #841 "Создание таблицы формы Вид занятия"
Создать таблицу в форме
[Этап разработки](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/1012)
[План спринта 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)

[2019-05-23 12:23] MasterDesigner opened #842 "Этап тестирования для спринта 3. 17-ИДбо-3а"
Разработать автотесты для модели сущности MTypesOfOccupation
Разработать автотесты для контроллера  сущности CTypesOfOccupation
Разработать сценарий тестирования для модели (описать действия программы) сущности TypesOfOccupation
Разработать сценарий тестирования для контроллера (описать действия программы)  сущности TypesOfOccupation
Разработать сценарий тестирования для представления (описать дей

[2019-05-23 12:32] ivshr opened #843 "Поставить задачу на проведение мануального тестирования формы "Вид занятия""
Поставить задачу на проведение мануального тестирования формы "Вид занятия" с соответствии с [планом](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)

[2019-05-23 12:35] MasterDesigner opened #844 "Автоматизация сценариев. 17-ИДбо-3а"
Разработать автотесты для модели (Model Model)
Разработать автотесты для контроллера (Controller)
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)

[2019-05-23 12:38] MasterDesigner opened #846 "Модульное тестирование Вид занятий. 17-ИДбо-3а"
Провести мануальное тестирование для 3 спринта
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)

[2019-05-23 12:49] YuriSilenok commented on #160
Задача снята и передана на реализацию @AnastasiaSpihtorenko

[2019-05-23 14:46] FvckNeighbors commented on #766
Моей команде на этом спринте нужно связать вашу таблицу Кафедра с нашей таблицей. Поэтому хотелось бы кое-что уточнить. Я правильно понимаю, закрытие этапа разработки означает, что вы не будете больше ничего разрабатывать? Просто форма Кафедра, без функционала - ваша задача на спринт? Или вы будете реализовывать добавление/удаление Кафедры?

[2019-05-23 15:55] sidelong44 commented on #766
Всё верно, на этот спринт разработка закончена, дальнейшее добавление функционала будет в следующем спринте

[2019-05-23 17:03] map82top commented on #827
@KharlamovaAlexandra
Баг на данный момент времени не воспроизводится в ветке 17-ISbo-2b-7

[2019-05-23 17:09] YuriSilenok commented on #827
1. Указать версию релиза где был найден баг
2. Разработчик может проверить в спринтовой ветке это баг но не закрывая указать ветку где не воспроизвелся
3. Тестировщик нашедший баг проверяет в релизе. Указывает номер релиза.

[2019-05-23 18:01] #796 closed, assigned to isengrims

[2019-05-23 18:06] #804 closed, assigned to SamuraSwordS

[2019-05-23 18:24] #771 closed, assigned to abramovaalina

[2019-05-23 19:07] #794 closed, assigned to Chippa99fm

[2019-05-23 19:08] #795 closed, assigned to Chippa99fm

[2019-05-23 19:15] FvckNeighbors opened #850 "Изменить проверки полей при добавлении уч. степени, изменить положение кнопок"
Требования к проверкам полей в AddAcademicDegree:
1. При вводе в поля сокращенная уч. степень и полная уч. степень - первая буква должна становится заглавной.
2. Ограничение по символам - 25 символов.
3. Ввести можно только русские буквы, точку и тире.
4. Если поле не заполнено - выводить предупреждение о том, какое поле не заполнено. Если оба поля не заполнены - выводить предупреждение о том, что

[2019-05-23 19:17] #763 closed, assigned to Chippa99fm

[2019-05-23 19:21] YuriSilenok commented on #159
@VinogradovAlexandr781227 Эта Ваша новая задача, приведите ее описание в порядок и приступайте.

[2019-05-23 19:27] YuriSilenok commented on #151
Баг закрыт, так как Справочники-Справочники удалены из программы

[2019-05-23 19:42] FvckNeighbors opened #851 "Изменить проверки полей при добавлении уч. звания, изменить положение кнопок"
Требования к проверкам полей в AddAcademicTitle:
1. При вводе в поля сокращененное уч. звание и полное уч. звание - первая буква должна становится заглавной.
2. Ограничение по символам - 25 символов.
3. Ввести можно только русские буквы, точку и тире.
4. Если поле не заполнено - выводить предупреждение о том, какое поле не заполнено. Если оба поля не заполнены - выводить предупреждение о том, что

[2019-05-23 20:59] yuliagolubevaa5 commented on #784
Заменила клонирующие юнит-тесты на мануальные. @Pipyao , прошу проверить правильность сделанных исправлений.

[2019-05-23 21:00] Takunava opened #853 "Программа падает при нажатии кнопки изменить формы Ученые звания"
![image](https://user-images.githubusercontent.com/47320250/58286201-e5892100-7db6-11e9-88f0-0149138ae90e.png)
Этап разработки #772

[2019-05-23 21:08] FvckNeighbors opened #854 "Добавить документацию кода"
Этап разработки #809

[2019-05-23 21:09] Jeen99 opened #855 "Поправить общий контроллер"
Этап разработки: #820

В классе Controllers несколько раз происходит добавление одинаковых контроллеров в DataSet. Из-за этого проект не запускается.
![image](https://user-images.githubusercontent.com/32433285/58286760-20d81f80-7db8-11e9-88c8-d5230bb190bb.png)

 Необходимо поправить. Дополнительно можно поправить оформление кода, чтобы он был более читаем.

[2019-05-23 21:20] #853 closed, assigned to Takunava

[2019-05-23 21:43] #850 closed, assigned to DenisSavelev

[2019-05-23 22:03] FvckNeighbors opened #858 "Нельзя добавить учёную степень с тире"
Название ветки: Union-5
Шаги реализации бага:
1. Открыть справочник "Ученая степень"
2. Нажать "Добавить"
3. В поле "Сокращенная запись ученой степени" ввести К-т"
4. В поле "Полная запись ученая степень" ввести "Кандидат"
5. Нажать "Создать и закрыть"

Ожидаемый результат:
Ученая степень успешно добавится

Фактический результат:
![image](https://user-images.githubusercontent.com/47320314/58289215

[2019-05-23 22:14] Takunava commented on #815
Здравствуйте,
я не вижу тут собственно бага скорей похоже на улучшение

[2019-05-23 22:15] Takunava commented on #815
Собственно данная задача выполнена в ветку #851

[2019-05-23 22:18] #815 closed, assigned to Takunava

[2019-05-23 22:27] #851 closed, assigned to Takunava

[2019-05-23 22:29] #677 closed, assigned to itword7111

[2019-05-23 22:29] Takunava commented on #677
В последней версии программы в ветке Alliance-5 данный баг не воспроизводиться

[2019-05-23 22:41] Takunava commented on #137
Форма была создана и функционал реализован в ветке Alliance-5

[2019-05-23 22:41] #137 closed, assigned to MaximTrapeznikov

[2019-05-23 22:44] Takunava commented on #787
Комментарии добалены

[2019-05-24 05:11] #836 closed, assigned to ZhezlovaDaria

[2019-05-24 05:13] Jeen99 commented on #855
Поправлено.  В ветке 17-ISbo-2a-7 не воспроизводится.

[2019-05-24 05:14] #855 closed, assigned to ZhezlovaDaria

[2019-05-24 08:19] YuriSilenok commented on #37
@Students-of-the-city-of-Kostroma/17isa Почему эта задача на разработку сценариев тестированя не включена во второй спринт?

[2019-05-24 08:26] YuriSilenok opened #863 "Исправить сбои в автоматических тестах"
Список тестов
- Task_271_1
- Task_271_2
- Task_334_1
- Task_334_2
- Task_334_3
- Task_334_4
- Task_334_5
- Task_334_6
- Task_334_7
- Task_334_8

Исправить до 31.05.2019 включительно

[2019-05-24 08:30] YuriSilenok opened #864 "Исправить сбои в автоматических тестах"
Список тестов
- Task_336_1
- Task_336_2
- Task_336_3
- Task_336_4
- Task_336_5
- Task_552_1
- Task_552_2
- Task_552_3
- Task_552_4
- Task_552_5

Исправить до 31.05.2019 включительно

[2019-05-24 08:57] YuriSilenok opened #865 "Исправить сбои в автоматических тестах"
Список тестов
- Task_552_6
- Task_553_1
- Task_553_2
- Task_553_3
- Task_553_3
- Task_553_5
- Task_271_5
- Task_335_1
- Task_335_2
- Task_335_3

Исправить до 31.05.2019 включительно

[2019-05-24 09:02] YuriSilenok opened #866 "Исправить сбои в автоматических тестах"
Исправить сбои в тестах.
При необходимости исправить автотесты и сценарии
- Task_335_4
- Task_335_5
- Task_337_1
- Task_337_2
- Task_337_3
- Task_337_4
- Task_339_1
- Task_339_2
- Task_420_1
- Task_420_2

Исправить до 31.05.2019 включительно

[2019-05-24 09:05] YuriSilenok opened #867 "Исправить сбои в автоматических тестах"
Исправить сбои в тестах.
При необходимости исправить автотесты и сценарии
- Task_420_3
- Task_420_4
- Task_420_5
- Task_420_6
- Task_421_1
- Task_421_2
- Task_421_3
- Task_421_4
- Task_485_1
- Task_485_2

Исправить до 31.05.2019 включительно

[2019-05-24 11:31] MyachevM commented on #638
Duplicate of #5

[2019-05-24 11:31] MyachevM commented on #636
Duplicate of #622

[2019-05-24 11:32] #638 closed, assigned to PopovMilan, MyachevM

[2019-05-24 11:32] #636 closed, assigned to PopovMilan, MyachevM

[2019-05-24 12:47] Mikleproxorov opened #868 "Данные из поля "Окна" при добавлении Преподавателя не сохраняются в таблицу"
Название ветки: Union-5
Шаги реализации бага:
  1. Открыть справочник "Преподаватель"
  2. Нажать "Добавить"
  3. Заполнить все поля
  4. Нажать "Сохранить"

Ожидаемый результат:
Все колонки таблицы "Преподаватель" отображаются

Фактический результат:
![image](https://user-images.githubusercontent.com/47320469/58328611-2b87c880-7e3b-11e9-864a-3b28596d5984.png)

Этап разработки #809

[2019-05-24 13:27] Takunava opened #869 "Доработать проверки полей в форме Институт"
Требования к проверкам полей:
1.Ограничение по символам - 50 символов.
2. Минимальное кол-во символов - 1 символ.
3.Если поле не заполнено - выводить предупреждение о том, какое поле не заполнено. Если поле заполнено ошибочно - предупреждать об этом.
Этап разработки #772

[2019-05-24 13:46] litdex commented on #741
Здравствуйте, @YuriSilenok

Зачтите пожалуйста задания, на которые я вас заасигнил

Спасибо,
Максим

[2019-05-24 14:47] MasterDesigner opened #872 "Мануальное тестирование формы добавления Вида занятия"
Произвести мануальное тестирование и заполнить свою таблицу с результатами.
Этап https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842 тестирования
[Таблица](https://docs.google.com/spreadsheets/d/1cKQcFnioprGTfVmXnvlxUJMDc2T76tS3rFDfatkAEWw/edit?usp=sharing)
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)
[Таск на раз

[2019-05-24 15:08] MasterDesigner opened #873 "Автоматизировать сценарии тестирования методом юнит-тестирования для метода Insert(Model model) класса СTypesOfOccupation"
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=812383542)
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)
[Таск на разработку сценария](https://github.com/Students-of-the-city-of-Kostroma/Stu

[2019-05-24 15:12] MasterDesigner opened #874 "Мануальное тестирование формы изменения Вида занятия"
Произвести мануальное тестирование и заполнить свою таблицу с результатами.
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842
[Таблица](https://docs.google.com/spreadsheets/d/18H1KMkdLOGQap2s1incsICBm8a_SF7DbDw6iGudFrb8/edit?usp=sharing)
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)
[Таск на раз

[2019-05-24 15:15] MasterDesigner opened #875 "Автоматизировать сценарии тестирования методом юнит-тестирования для метода Update(Model model) класса СTypesOfOccupation"
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=812383542)
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)
[Таск на разработку сценария](https://github.com/Students-of-the-city-of-Kostroma/Stu

[2019-05-24 15:17] MasterDesigner opened #876 "Мануальное тестирование формы удаления Вида занятия"
Произвести мануальное тестирование и заполнить свою таблицу с результатами.
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842
[Таблица](https://docs.google.com/spreadsheets/d/1cKQcFnioprGTfVmXnvlxUJMDc2T76tS3rFDfatkAEWw/edit?usp=sharing)
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)
[Таск на раз

[2019-05-24 15:19] MasterDesigner opened #877 "Автоматизировать сценарии тестирования методом юнит-тестирования для метода Delete(Model model) класса СTypesOfOccupation"
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=812383542)
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)
[Таск на разработку сценария](https://github.com/Students-of-the-city-of-Kostroma/Stu

[2019-05-24 15:32] YuriSilenok commented on #783
Здравствуйте,

@Proffet78, я не увидел существенных изменений в запросе #825 я не уверен что баг не воспроизводится.
@isengrims, Вы закрыли баг, на каком основании? Вы попытались воспроизвести баг?
@cdvinvate, Вы нашли баг, в какой версии он у Вас воспроизвелся?

Спасибо,
Юрий

[2019-05-24 15:35] YuriSilenok commented on #779
Здравствуйте,

@isengrims, Вы закрыли баг, на каком основании? Вы попытались воспроизвести баг?
@cdvinvate, Вы нашли баг, в какой версии он у Вас воспроизвелся?

Спасибо,
Юрий

[2019-05-24 15:36] Proffet78 opened #878 "Изменение краткого названия профиля, при добавлении нового профиля подготовки"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #791
Разработка Sprint 7 #774
Баг воспроизводиться в v0.15-Testing
Ликвидация долгов по Sprint3 #927

Шаги:

1) Открыть форму "Профиль подготовки"
2) Нажать кнопку "добавить"
3) заполнить все поля
4) нажать кнопку "создать и закрыть"
5) изменяется шрифт краткого название (Название написано заглавными буками)

Ожидаемый результат:
Добавл

[2019-05-24 15:40] Proffet78 opened #879 "Невозможно добавить нового преподавателя"
Баг воспроизводиться в v0.15-Testing
Ликвидация долгов по Sprint3 #927

Шаги:

1) Открыть форму "Преподаватели"
2) Нажать кнопку "добавить"
3) заполнить все поля
4) нажать кнопку "сохранить"
5) выдает сообщение, что не все поля заполнены, хотя все заполнено,также не понятно , какие поля введены некорректно.

Ожидаемый результат:
Создание нового преподавателя.

Фактический результат:
Выдает сообщен

[2019-05-24 15:41] YuriSilenok commented on #187
Кажется что-то пошло не так.
Можете предоставить код для этого сценария?

[2019-05-24 15:55] YuriSilenok commented on #26
Да, так лучше.

Есть вопросы относительно этого,
такой системы сокращений не существует.

-Шифр: "17-ИСбо-2а" -> "17-ИСбо-2б"
-Численность: 12 -> 13

[2019-05-24 15:58] YuriSilenok commented on #21
@Students-of-the-city-of-Kostroma/17isb Поясните пожалуйста, почему Ваша команда не реализовала эту задачу во втором спринте?

[2019-05-24 15:59] Proffet78 opened #880 "Невозможно создать нового преподавателя, не создавая заранее ученую степень и звание"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #791
Баг воспроизводиться в v0.15-Testing
Разработка Sprint 7 #774
Ликвидация долгов по Sprint3 #927

Шаги:

1) Открыть форму "Преподаватели"
2) Нажать кнопку "добавить"
3) заполнить все поля

Ожидаемый результат:
возможность заполнение полей ученое звание и степень, не создавая их заранее, в итоге создать преподавателя.

Фактический ре

[2019-05-24 16:02] YuriSilenok commented on #880
@Proffet78 пожалуйста, добавьте нумерацию шагов, ожидаемый результат, фактический результат, придерживайтесь пожалуйста общепринятых требований

[2019-05-24 16:04] YuriSilenok commented on #877
Где ссылка на этап автоматизации?
Где метки? Вспоминаем ЛР01

[2019-05-24 16:11] purplegen commented on #21
@YuriSilenok Здравствуйте

Скажите мне пожалуйста недочеты по сценариям, я делаю это для ЛР4.1

Спасибо

[2019-05-24 16:12] purplegen commented on #779
Здравствуйте,

@YuriSilenok баг был исправлен, поэтому задача и закрыта.

Спасибо,
Денис Плотников 17-ИСбо-2

[2019-05-24 16:16] YuriSilenok commented on #876
Добавить метки и ссылку на этап тестирования

[2019-05-24 16:19] YuriSilenok commented on #779
Сам баг это задача, и он есть и не живёт в ветках. Баг описывает шаги по воспроизведению сбоя и другие технические детали для воспроизведения сбоя. Сбой это появление ошибки которая находится в какой-то ветке (обнаруживаются автотестами) или релизе (обанруживаются мануально). Когда ошибка исправлена проверяют баг на предмет воспроизводимости сбоя. От этого всегда говорят что баг воспроизводится та

[2019-05-24 16:23] YuriSilenok commented on #21
@isengrims здравствуйте,

у вас не было активности с 22 марта, обычно я снимаю задачи через неделю или две, в вашем случае есть фактор везения, я ее не заметил.
Если окажется что эти сценарии уже существуют,  то окажется уже не нуждается в исполнении.

Так что, жду ответа от тимлида или старшего тестировщика.

Спасибо,
Юрий

[2019-05-24 16:24] YuriSilenok commented on #874
метки + ссылка на этап

[2019-05-24 16:24] YuriSilenok commented on #873
Ссылка на план + метки

[2019-05-24 16:25] YuriSilenok commented on #872
ссылка на этап + метки

[2019-05-24 16:28] Proffet78 opened #881 "Невозможно добавить ВУЗ с одинаковым кратким названием"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #791
Разработка Sprint 7 #774
Баг воспроизводиться в v0.15-Testing
Ликвидация долгов по Sprint3 #927

Шаги:
1) Открыть форму "ВУЗы"
2) Нажать кнопку "добавить"
3) заполнить все поля
4) нажать "сохранить"
5) Нажать кнопку "добавить"
6) заполнить все поля (изменить в полном названии "Костромской" на "Курский" , аббревиатура КГУ)
7) нажать

[2019-05-24 16:29] purplegen commented on #783
Здраствуйте,

@YuriSilenok В 7 спринте не воспроизводится, в 6 воспроизводится

Спасибо

[2019-05-24 16:30] YuriSilenok commented on #869
Вы доработали функциональность, и есть вопросы:
- почему вы стали менять автотетсы без задачи на это?
- Где задача на изменение сценариев ссылающаяся на эту задачу?
- Где задача на разработку новых сценариев для новых ограничений  ссылающаяся на эту задачу?
- Где задача на автоматизацию сценариев тестированя для новых сценариев тестирования  ссылающаяся на эту задачу?
- Где задача на мануальное те

[2019-05-24 16:31] cdvinvate commented on #779
Здравствуйте,

@YuriSilenok, баг был найден в ветке testing

Спасибо,
Дмитрий Иванцов 17-ИДбо-3

[2019-05-24 16:33] purplegen commented on #21
@YuriSilenok эти сценарии уже существуют. Как видите не очень корректно (если я могу так говорить)

![image](https://user-images.githubusercontent.com/45204879/58343051-c5ab3900-7e5a-11e9-9aec-1d1a970a82c9.png)

Спасибо

[2019-05-24 16:40] Proffet78 opened #882 "Возможность существования двух, разных по названию, корпусов, на одном адресе и с одним телефоном"
План - отчёт на Sprint7 #773
Провести мануальное тестирование #791
Разработка Sprint 7 #774
Баг воспроизводиться в v0.15-Testing
Ликвидация долгов по Sprint3 #927

Шаги:

1) Открыть форму "Корпуса"
2) Нажать кнопку "добавить"
3) заполнить все поля
4) нажать кнопку "сохранить"
5) Нажать кнопку "добавить"
6) создать другой корпус ( другое название, адрес, телефон)
7) нажать кнопку"сохранить"
8) нажа

[2019-05-24 16:42] cdvinvate commented on #827
Баг был найден в ветке testing и в ветке 17-ISbo-2b-7 был исправлен

[2019-05-24 16:42] #827 closed, assigned to isengrims

[2019-05-24 16:45] Proffet78 commented on #791
Для защиты выполнения Sprint 3, необходимо 8 багов, 3 бага были найдены в Sprinte 6:
1) #721 Изменение ФИО ректора, при редактировании ВУЗа ,
2) #719 Программа терпит крах при удалении преподавателя в форме «Преподаватели»
3) #722 Программа терпит крах при удалении изменённого профиля

На паре от 20 мая было обговорено что данные баги могут входить в число 8.

[2019-05-24 16:46] SergeAlekseev commented on #722
Баг воспроизводился в ветке 17-ISbo-2b-6 (6 спринт), сейчас в ветке 17-ISbo-2b-7 (7 спринт), уже не воспроизводится, значит исправлен и можно закрывать задачу.

[2019-05-24 16:51] #722 closed, assigned to SergeAlekseev

[2019-05-24 17:01] KharlamovaAlexandra commented on #21
Добрый вечер, @YuriSilenok

По неопытности  не была ( поднята новая/ замечена существующая ) задача на написание сценариев отдельно, но есть задача #316  реализованная в Sprint2  в ходе которой задание было выполнено

С уважением,
тимлид

[2019-05-24 17:08] SamuraSwordS commented on #26
Изменил, в соответствии с тем, что написал выше.

[2019-05-24 17:41] YuriSilenok commented on #828
Опечатка в заголовке

[2019-05-24 17:59] #878 closed, assigned to isengrims

[2019-05-24 18:05] cdvinvate commented on #780
Для защиты выполнения Sprint 1 и Sprint 3 необходимо 10 багов, 1 баг был найден в Sprinte 6:
#704  Программа падает при двойном клике по заголовку таблицы
На паре от 20 мая были обговорены все условия и то, что данный баг может входить в число 10.

[2019-05-24 18:27] cdvinvate opened #884 "У корпуса невозможно изменить ВУЗ"
План - отчет на Sprint7 #773
Провести мануальное тестирование #780
Разработки Sprint 7 #774
Ликвидация долгов за 3 спринт #922
Шаги для реализации:
1.Перейти по меню Справочники-Корпуса, предварительно создав 2 вуза в справочнике-ВУЗы
2.Нажать на кнопку "добавить"
3.Заполнить поля, корректными значениями, нажать "Добавить ВУЗ" и выбрать один из созданных вузов
4.Нажать кнопку "Сохранить"
5.Нажать

[2019-05-24 19:14] #880 closed, assigned to SergeAlekseev

[2019-05-24 19:15] #882 closed, assigned to SamuraSwordS

[2019-05-24 19:26] yuliagolubevaa5 opened #888 "Добавить юнит-тесты для метода Update(Model model) по обновлённым сценариям"
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)
#806

[2019-05-24 19:40] yuliagolubevaa5 opened #889 "Доработать имеющиеся сценарии с учётом нового функционала"
#869
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)

[2019-05-24 20:03] Chippa99fm commented on #187
Здравствуйте.
1 создаем модель Институт
MInstitute inst = new MInstitute("ИАСТ", "Институт Автоматизированных систем и технологий", "Шварцнегер В.А.", "КГУ");
2 Вызываем метод Insert и передаем в него нашу модель
СInstitute g = new СInstitute ();
g.Insert(inst);
3 Изменяем ФИО ректора
inst.Namerektor="Иванов И.И";
4 Вызываем метод Update
g.Update(inst);
Будет примерно как-то так
Спасибо.

[2019-05-24 20:48] Takunava commented on #869
Здравствуйте,
метки я забыл поставить моя ошибка, а UT я изменил чтобы нормально прошли тесты, и сказал тестировщикам, как можно видеть выше задачи уже начали поднимать.

[2019-05-24 20:49] yuliagolubevaa5 opened #890 "Невозможно изменить поле "Директор института" на форме "Изменение института""
1. Перейти на вкладку "Изменение института"
![image](https://user-images.githubusercontent.com/47320351/58355618-ae317780-7e7d-11e9-832c-428794f9b42f.png)
2. Ввести новые данные в поле "Директор института", либо с помощью кнопки "Добавить" и ввести данные на форме "Добавить преподавателя"
![image](https://user-images.githubusercontent.com/47320351/58355821-46c7f780-7e7e-11e9-836a-f9a456f08c79.png)

[2019-05-24 21:18] Pipyao commented on #784
Исправление внесены верные, сценарии-клоны были заменены.

[2019-05-24 21:18] #784 closed, assigned to Pipyao

[2019-05-24 21:58] VinogradovAlexandr781227 commented on #835
Задача выполнена

[2019-05-24 21:58] VinogradovAlexandr781227 commented on #835
Закрыта в связи с выполнением задачи

[2019-05-24 21:58] #835 closed, assigned to VinogradovAlexandr781227

[2019-05-24 22:00] VinogradovAlexandr781227 opened #891 "Написать unit-тесты для проверки TrainingProfiles в форме Group"
Задача на написание unit -тестов #910

[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=983700952)
#775

[2019-05-24 22:03] VinogradovAlexandr781227 opened #892 "Исправить ошибки в существующих unit-тестах"
Задача на написание unit -тестов #910
Исправить следующие тесты
Task_397_2
Task_397_3
Task_496_7
Task_496_8
task_396_2
task_396_3
Task_497_1
Task_497_7
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=983700952)
Родительская задача #775

[2019-05-24 22:43] itword7111 opened #893 "В справочнике "Ученые звания" в поля можно вводить некорректные символы"
#954
Название ветки: Alliance-5 Фиксация 0e454f9
Баг воспроизводится в v0.18-Testing
Шаги реализации бага:
1. Открыть справочник "Ученые звания"
2. Нажать "добавить"
3. В поле "Сокращенная запись уч. звания"вставить скопированную строку - "ā "
4. В поле "Полная запись уч. звания" вставить скопированную строку - "ā "
5. Нажать "создать и закрыть"
Ожидаемый результат:
![image](https://user-images.gi

[2019-05-24 23:06] itword7111 opened #894 "В справочнике "Институт" не выводится сообщение об ошибке"
#954
Название ветки: Alliance-5
Шаги реализации:
1. Открыть справочник "Институт", предварительно создав запись в справочнике "ВУЗы", вуз не должен называться "АА"
2. Нажать "добавить"
3. Во все поля ввести "АА"
4. Нажать "создать и закрыть"
Ожидаемый результат:
![image](https://user-images.githubusercontent.com/38357886/58360433-77655c80-7e91-11e9-899a-a42130b396f5.png)
Фактический результат:
![i

[2019-05-25 06:55] map82top commented on #782
Данный баг исправлен в пул риквесте #848, поэтому я закрываю данную задачу.

[2019-05-25 06:55] #782 closed, assigned to MaximTrapeznikov

[2019-05-25 07:25] yuliagolubevaa5 commented on #889
Сценарии для методов Insert(Model model), Delete (Model model) и Update(Model model) были доработаны. Прошу проверить правильность внесённых изменений @Pipyao

[2019-05-25 07:35] yuliagolubevaa5 opened #897 "Внести изменения в существующие юнит-тесты по обновлённым сценариям с учётом нового функционала"
#869, #889
#806
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)

[2019-05-25 07:37] map82top commented on #879
Данный баг возникает из-за отсутсвия проверок на корректность вводимых данных
в моделях и на формах Ученые степени и Ученые звания. Эти сущности не относятся
к сфере нашей ответственности, поэтому мы переводим ее тем, кто отвечает за эти формы.

Требования, которые мы предъявляем к краткому названию ученой степени:

- длинна 25
- первая буква заглавная
- можнно вводить русские или английские буквы

[2019-05-25 07:47] VinogradovAlexandr781227 opened #898 "Написать unit-тесты для проверки University в форме Enclosures"
Задача на написание unit -тестов #910

[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=983700952)
#775

[2019-05-25 07:52] VinogradovAlexandr781227 opened #899 "Написать unit-тесты для проверки AcafemicTitle и AcademiucDegree в форме Teachers"
Задача на написание unit -тестов #910

[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=983700952)
#775

[2019-05-25 08:41] yuliagolubevaa5 commented on #786
Были разработаны сценарии мануального тестирования для метода Update (Model model) Прошу проверить выполнение данной задачи @Pipyao

[2019-05-25 08:43] yuliagolubevaa5 commented on #770
Были разработаны сценарии мануального тестирования для метода Insert (Model model) Прошу проверить выполнение данной задачи @Pipyao

[2019-05-25 11:56] #767 closed, assigned to abramovaalina

[2019-05-25 12:24] #884 closed, assigned to Chippa99fm

[2019-05-25 12:25] #749 closed, assigned to Chippa99fm

[2019-05-25 12:25] #751 closed, assigned to Chippa99fm

[2019-05-25 13:11] Takunava commented on #894
В какой версии воспроизводится данный баг?

[2019-05-25 13:11] Takunava commented on #869
Задача выполнена

[2019-05-25 13:11] #869 closed, assigned to Takunava

[2019-05-25 13:12] Takunava commented on #893
Как мне кажется данная задача не является багом

[2019-05-25 13:39] itword7111 commented on #893
improvement или bug ставить?

[2019-05-25 13:43] itword7111 commented on #894
![image](https://user-images.githubusercontent.com/38357886/58370174-26df1500-7f0c-11e9-98c4-75a54a6a3c62.png)

[2019-05-25 13:44] itword7111 commented on #894
в последней вроде

[2019-05-25 13:45] #889 closed, assigned to yuliagolubevaa5, Pipyao

[2019-05-25 13:50] yuliagolubevaa5 opened #903 "Провести мануальное тестирование для метода Insert(Model model) сущности Институт"
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)
#806

[2019-05-25 13:52] yuliagolubevaa5 opened #904 "Провести мануальное тестирование для метода Delete(Model model) сущности Институт"
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)
#806

[2019-05-25 13:55] Pipyao commented on #786
Сколько сценариев было разработано?

[2019-05-25 13:56] yuliagolubevaa5 opened #905 "Провести мануальное тестирование для метода Update(Model model) сущности Институт"
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)
#806

[2019-05-25 13:59] yuliagolubevaa5 commented on #786
@Pipyao , четыре, 2 из них включают в себя проверку каждого атрибута.

[2019-05-25 14:08] Pipyao commented on #786
Проверено, сценарии расписаны верно.

[2019-05-25 14:08] #786 closed, assigned to yuliagolubevaa5, Pipyao

[2019-05-25 14:20] bormolei commented on #152
Баг не воспроизвелся в ветке 17-ISbo-2a-5

[2019-05-25 14:20] #152 closed, assigned to bormolei

[2019-05-25 15:01] Pipyao commented on #770
Проверено, сценарии расписаны верно.

[2019-05-25 15:01] #770 closed, assigned to yuliagolubevaa5, Pipyao

[2019-05-25 18:08] Mikleproxorov opened #906 "В "Ученую степень" можно добавить некорректную запись"
Название ветки: Union-5
Шаги реализации бага:

1. Открыть справочник "Ученая степень"
2. Нажать "Добавить"
3. В поле "Сокращенная запись ученой степени" ввести знак " - "
4. В поле "Полная запись ученая степень" ввести знак " - "
5. Нажать "Создать и закрыть"
Ожидаемый результат:
Вывод ошибки "Невозможно добавить некорректную запись"

Фактический результат:
![image](https://user-images.githubuserc

[2019-05-25 18:12] Mikleproxorov commented on #868
Данный баг воспроизводиться только в ветке Union-5. После мёржа в Testing воспроизводиться не должен. Поэтому данный таск закрывается.

[2019-05-25 18:12] #868 closed, assigned to DenisSavelev

[2019-05-25 18:15] Mikleproxorov commented on #858
Данный баг больше не воспроизводиться.

[2019-05-25 18:15] #858 closed, assigned to DenisSavelev

[2019-05-25 18:21] Mikleproxorov commented on #879
Проверки в уч. степени и уч.звании уже были добавлены. Данный такс больше не актуален, поэтому закрываем.

[2019-05-25 18:21] #879 closed, assigned to PopovMilan

[2019-05-25 18:25] #837 closed, assigned to MihailBobylev

[2019-05-25 18:35] #231 closed, assigned to PopovMilan

[2019-05-25 19:09] yuliagolubevaa5 commented on #785
Были разработаны сценарии мануального тестирования для метода Delete (Model model) в кол-ве 3 шт. Прошу проверить выполнение данной задачи @Pipyao

[2019-05-25 19:12] #881 closed, assigned to isengrims

[2019-05-25 19:19] Mikleproxorov commented on #906
Баг не воспроизводится.

[2019-05-25 19:19] #906 closed, assigned to DenisSavelev

[2019-05-25 19:20] #891 closed, assigned to KudelinRoman

[2019-05-25 19:20] #898 closed, assigned to KudelinRoman

[2019-05-25 19:20] #899 closed, assigned to KudelinRoman

[2019-05-25 19:20] FvckNeighbors commented on #789
Данная функциональность была уже сделана #887

[2019-05-25 19:20] FvckNeighbors commented on #788
Данная функциональность была уже сделана #887

[2019-05-25 19:21] VinogradovAlexandr781227 opened #908 "Исправить сломанные тесты"
Задача на написание unit -тестов #910

[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=983700952)
#775

[2019-05-25 19:32] PopovMilan opened #909 "Разработать сценарии тестирования для смежных функциональностей AcademicDegree и AcademicTitle в форме Teachers"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)

[2019-05-25 19:45] KharlamovaAlexandra opened #910 "Написание unit-тестов в Sprint7"
Задача на тестирование #775

В течении Sprint7 реализованы следующие unit-тесты:
#891
#892
#898
#899
#908

[2019-05-25 19:53] PopovMilan commented on #909
Задача является дубликатом. #899

[2019-05-25 19:54] #909 closed, assigned to PopovMilan

[2019-05-25 20:06] KudelinRoman opened #912 "Написание сценариев в Sprint 7"
Задача на тестирование #775

В течении Sprint7 реализованы следующие сценарии:
#835

[2019-05-25 20:56] KharlamovaAlexandra commented on #774
Разработка в Sprint7 окончена

[2019-05-25 20:56] #774 closed, assigned to altavelor

[2019-05-25 20:57] #780 closed, assigned to cdvinvate

[2019-05-25 20:57] #791 closed, assigned to Proffet78

[2019-05-25 22:26] itword7111 opened #914 "В справочнике "Ученые звания", при изменении размеров окна "Добавление уч. звания" кнопки отражаются не корректно"
#954
Название ветки: Alliance-5 Фиксация 0e454f9e
Баг воспроизводится в ветке Testing Фиксация 627ac450
Шаги реализации бага:
1. Открыть справочник "Ученые звания"
2. Нажать "добавить"
3. Уменьшить размер высоты окна

Ожидаемый результат:
кнопки остаются в нижней части окна,
Фактический результат:
![image](https://user-images.githubusercontent.com/38357886/58375144-2a4abe80-7f55-11e9-84ac-0d04d6e1

[2019-05-25 22:37] itword7111 opened #915 "В справочнике "Ученые звания" при изменения значения поля на тоже значение, всплывает сообщение об ошибке"
#954
Название ветки: Alliance-5 фиксация 0e454f9e
В ветке Testing Фиксация 627ac45 при реализации бага на 6 этапе программа терпит крах
Баг воспроизводиться в v0.18-Testing
Шаги реализации бага:
1. Открыть справочник "Ученые звания"
2. Нажать "добавить"
3. В поле "Сокращенная запись уч. звания"Ее"
4. В поле "Полная запись уч. звания" ввести "Еее"
5. Нажать "создать и закрыть"
6. Нажать "изменить"

[2019-05-26 06:40] YuriSilenok commented on #915
@itword7111
У нас сейчас существуют релизы и я бы ожидал что Вы будете искать баги в последнем релизе и перепроверять исправление бага в релизе.
Пожалуйста, подтвердите что баг воспроизводится в последнем релизе с указанием версии релиза.

[2019-05-26 06:41] YuriSilenok commented on #914
@itword7111
У нас сейчас существуют релизы и я бы ожидал что Вы будете искать баги в последнем релизе и перепроверять исправление бага в релизе.
Пожалуйста, подтвердите что баг воспроизводится в последнем релизе с указанием версии релиза.

[2019-05-26 06:44] YuriSilenok commented on #892
- Нужно указать список автотестов, перечислите их в описании задачи
- Где ссылка на родительскую задачу?

[2019-05-26 06:48] YuriSilenok commented on #910
Все эти задачи которые перечислены в описании должны ссылаться на текущую задачу, так как она для них является родительской. А перечисленный задачи являются подзадачами для текущей задачи.

[2019-05-26 06:49] YuriSilenok commented on #912
#835 должна ссылаться на эту задачу, а не на оборот

[2019-05-26 06:52] YuriSilenok commented on #775
Почему задача #791 не ссылается на эту задачу?

[2019-05-26 06:56] YuriSilenok commented on #791
@Proffet78
Для учета этих Вы можете создать задачу, ликвидация долгов по лабораторной работе №100 или спринту №200. И сделать перекресные ссылки, в задаче на 8 багов, в багах, на эту задачу.

[2019-05-26 06:57] YuriSilenok commented on #780
@cdvinvate
Для учета этих Вы можете создать задачу, ликвидация долгов по лабораторной работе №100 или спринту №200. И сделать перекресные ссылки, в задаче на 8 багов, в багах, на эту задачу.

[2019-05-26 07:00] YuriSilenok commented on #828
Вы мой комментарий заигнорили?

[2019-05-26 07:04] YuriSilenok commented on #908
- Обратите внимание но май вопрос в запросе на слияние #911
- Где список сценариев которые были исправлены?

[2019-05-26 07:23] itword7111 commented on #915
Это оно?
![image](https://user-images.githubusercontent.com/38357886/58378648-fea0f600-7f9f-11e9-9551-0ef28aae4952.png)
Кроме названия ветки, нужно указывать фиксацию?(a8a44ad1)
с 24 числа была последняя фиксация на текущий момент, баг актуален

[2019-05-26 07:59] KharlamovaAlexandra commented on #910
Исправлено

[2019-05-26 08:02] #828 closed, assigned to isengrims

[2019-05-26 08:03] KharlamovaAlexandra commented on #775
Исправлено

[2019-05-26 08:05] KharlamovaAlexandra commented on #912
Исправлено

[2019-05-26 08:12] YuriSilenok commented on #271
добрый день, я обнаружил автотесты 271. тестовых тестовых сценариев в таким номером не существует. пожалуйста, исправьте номера. эта проблема выявлена в ветке Testing.

[2019-05-26 08:22] #908 closed, assigned to KudelinRoman

[2019-05-26 09:51] cdvinvate opened #920 "Ликвидация долгов за 1 спринт"
Проведение мануального тестирования #780
Найденные баги:
1) #778  Не отображается запись в графе окна
2) #779  Программа падает при двойном клике по заголовку таблицы
3) #782  Наличие недопустимых символов в таблице
4) #783  Программа падает при удалении пустой таблицы
5) #794  Нет ограничения уникальности значений для столбца "Почта" в таблице "ВУЗы" при добавлении нового ВУЗа

[2019-05-26 09:53] cdvinvate commented on #920
Для защиты выполнения Sprint 1 необходимо найти 5 багов(по рекомендации тимлида). Об этом есть пометка в таблице об успеваемости.

[2019-05-26 09:54] cdvinvate opened #922 "Ликвидация долгов за 3 спринт"
Проведение мануального тестирования #780
Найденные баги:
1) #795  Нет ограничения для одинаковых записей для столбца "Телефон" в таблице "ВУЗы" при добавлении нового ВУЗа
2) #796  Нет ограничения некорректных символов в таблице "Профиль подготовки" при добавлении нового профиля подготовки
3) #804  Падение программы при удалении измененной записи таблицы "Профиль подготовки"
4) #827  Программа не д

[2019-05-26 09:57] cdvinvate commented on #922
Для защиты выполнения Sprint 3 необходимо найти 5 багов(по рекомендации тимлида). Об этом есть пометка в таблице об успеваемости. Еще 1 баг был найден в Sprinte 6:

#704 Программа падает при двойном клике по заголовку таблицы
На паре от 20 мая были обговорены все условия и то, что данный баг может входить в число найденных.

[2019-05-26 10:24] KharlamovaAlexandra commented on #776
Сделано

[2019-05-26 10:45] KharlamovaAlexandra commented on #773
Sprint7 закрыт

[2019-05-26 10:45] #773 closed, assigned to YuriSilenok, KharlamovaAlexandra

[2019-05-26 10:56] bolotovaksenya commented on #905
Было проведено мануальное тестирование для данного метода, тесты, кроме тех, что ссылаются на баг #890, прошли успешно.

[2019-05-26 10:57] bolotovaksenya commented on #904
Проведено мануальное тестирование для данного метода, все тесты прошли успешно.

[2019-05-26 10:59] bolotovaksenya commented on #903
Было проведено мануальное тестирование для данного метода, все тесты прошли успешно.

[2019-05-26 11:58] ghost commented on #893
@itword7111
Более подробный сценарии реализации бага, а именно вод таких символов(без numpad)

[2019-05-26 12:31] Pipyao commented on #785
Проверено, все 3 сценария расписаны верно.

[2019-05-26 12:31] #785 closed, assigned to yuliagolubevaa5

[2019-05-26 12:46] Takunava opened #926 "Исправить ошибки в тестах"
Исправить следующие ошибки:
![image](https://user-images.githubusercontent.com/47320250/58381994-34a89f00-7fcd-11e9-93dd-f20b7bbe66bd.png)
Тесты с ошибками находятся в #894

[2019-05-26 12:58] Proffet78 opened #927 "Ликвидация долгов по Sprint3"
Здравствуйте!
На паре от 20 мая было обговорено, что необходимо найти 8 багов, для защиты выполнения sprint 3, в котором я не участвовал. Вот все баги, которые я нашёл:

1. #828 Программа падает при сохранении нового корпуса корпуса
2. #878 Изменение краткого названия профиля, при добавлении нового профиля подготовки
3. #879 Невозможно добавить нового преподавателя
4. #880 Невозможно создать новог

[2019-05-26 13:00] badsster opened #928 "Мануальное тестирование формы "Кафедра""
Задача на тестирование #771
План #765
В Sprint 1 провести мануальное тестирование областей: Кафедра, Сокращенное название, Полное название, Заведующий кафедрой, Институт.

При проверке по сценарию тестирования багов не было найдено. Форма сделана корректно.

[2019-05-26 13:00] #928 closed, assigned to badsster

[2019-05-26 13:03] Proffet78 opened #929 "Ликвидация долгов за ЛР03.1 и ЛР03.2"
Здравствуйте,

В понедельник (20.05) , после пары мы с вами договорились, что я могу взять два бага исправить их и вы сможете засчитать мне две лабораторные работы ( ЛР3.1 и ЛР3.2).

Я выполнил задание, прошу вас проверить:
1) #783
2) #779

[2019-05-26 13:05] Proffet78 commented on #783
Ликвидация долгов за ЛР03.1 #929

[2019-05-26 13:06] Proffet78 commented on #779
Ликвидация долгов за ЛР03.2 #929

[2019-05-26 13:21] Takunava commented on #926
Тесты исправлены

[2019-05-26 13:21] #926 closed, assigned to nrabotko

[2019-05-26 13:30] Takunava commented on #893
Это скорее улучшение, и то я не понимаю как и зачем вы вводили эти символы

[2019-05-26 13:31] Pipyao commented on #672
Проверено, баг более не воспроизводится в ветке Alliance-5.

[2019-05-26 13:39] Pipyao commented on #894
Проверено, баг более не воспроизводится в ветке Alliance-5.

[2019-05-26 13:39] #894 closed, assigned to Pipyao

[2019-05-26 13:42] ghost commented on #893
Считаю, что такие символы не уместны, их никто не будет вводить

[2019-05-26 13:45] #905 closed, assigned to Pipyao, bolotovaksenya

[2019-05-26 13:45] #903 closed, assigned to Pipyao, bolotovaksenya

[2019-05-26 13:51] #904 closed, assigned to bolotovaksenya

[2019-05-26 14:33] Takunava opened #933 "Переименовать Controllers в RefData"
очень плохое описание

[2019-05-26 14:47] Takunava opened #935 "Выполнить слияние Alliance-5 --> Testing"
Этап разработки #772

[2019-05-26 15:03] Pipyao commented on #914
Проверено, баг более не воспроизводится в ветке Alliance-5.

[2019-05-26 15:03] #914 closed, assigned to Pipyao

[2019-05-26 15:37] #888 closed, assigned to nrabotko

[2019-05-26 15:37] #897 closed, assigned to nrabotko

[2019-05-26 15:43] nrabotko commented on #806
Все задачи выполнены.

[2019-05-26 15:43] #806 closed, assigned to Pipyao

[2019-05-26 15:59] YuriSilenok commented on #161
Эта задача уже реализована здесь #617

[2019-05-26 15:59] #161 closed, assigned to Takunava

[2019-05-26 18:01] PopovMilan opened #940 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Update(Model model) сущности Кафедра"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)

[2019-05-26 19:12] #843 closed, assigned to MasterDesigner

[2019-05-26 20:04] #854 closed, assigned to FvckNeighbors

[2019-05-26 20:05] #809 closed, assigned to FvckNeighbors

[2019-05-26 20:25] PopovMilan opened #942 "Добавить изменения из ветки Union-5 в ветку Testing"
Этап мержа #808

[2019-05-26 20:41] PopovMilan opened #944 "Мануальное тестирование сущности Ученая степень и Преподаватель"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)

Количество тестов - 30
Пройдено - 30
Сбои - 0
Заблокировано - 0
Не выполнено - 0

[2019-05-26 21:08] #944 closed, assigned to PopovMilan

[2019-05-26 21:22] #808 closed, assigned to PopovMilan

[2019-05-26 21:56] PopovMilan commented on #940
Состояние таблицы контроллера | Сокращенная запись кафедры [[А-Я][а-я]] | Полная запись кафедры [[А-Я][а-я]] | Заведующий кафедры [[А-Я][а-я]]
-- | -- | -- | --
Изменение записи при совпадении всех атрибутов | task-940-5 | task-940-5 | task-940-5
Изменение записи при совпадении только одного атрибута | task-940-2 | task-940-3 | task-940-4
Изменение записи когда все атрибуты отличаются | task-940-1

[2019-05-27 05:38] #783 closed, assigned to isengrims, Proffet78, cdvinvate

[2019-05-27 05:38] #779 closed, assigned to isengrims, Proffet78, cdvinvate

[2019-05-27 08:23] KudelinRoman commented on #892
Здравствуйте.
Дополнили описание задачи.
Спасибо.

[2019-05-27 08:53] #892 closed, assigned to KudelinRoman

[2019-05-27 10:22] #810 closed, assigned to Mikleproxorov

[2019-05-27 10:26] nrabotko commented on #772
Все задачи выполнены.

[2019-05-27 10:26] #772 closed, assigned to Takunava

[2019-05-27 10:37] VinogradovAlexandr781227 opened #946 "Создать комментарии для методов тестирования"
Task-855

[2019-05-27 10:42] VinogradovAlexandr781227 opened #947 "Создать комментарии для методов тестирования"
task-250
Исправить нумерацию методов.

[2019-05-27 10:42] VinogradovAlexandr781227 opened #948 "Создать комментарии для методов тестирования"
task-247

[2019-05-27 10:43] VinogradovAlexandr781227 opened #949 "Создать комментарии для методов тестирования"
task-497

[2019-05-27 10:46] VinogradovAlexandr781227 opened #950 "Распределить тесты"
Из Selection распределить тесты и удалить Selection.

[2019-05-27 11:21] PopovMilan commented on #940
Здравствуйте, Юрий Викторович
Проверьте пожалуйста л.р. №4.1
Спасибо.

[2019-05-27 11:49] KharlamovaAlexandra commented on #920
Баги подняты на одну и ту же ошибку по вине тимлида( меня )

[2019-05-27 11:49] KharlamovaAlexandra commented on #922
Баги подняты на одну и ту же ошибку по вине тимлида( меня )

[2019-05-27 11:58] YuriSilenok commented on #614
Зачтено

[2019-05-27 11:58] #614 closed, assigned to KudelinRoman

[2019-05-27 12:06] YuriSilenok commented on #21
Проверю, так как сценарии реализованные в спринте не покрывают необходимую функциональность.

[2019-05-27 14:11] Takunava opened #951 "Из корневой директории удалить папку Student-timetable"
Удаление должно происходить из ветки Testing

[2019-05-27 15:24] cdvinvate commented on #778
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 15:40] cdvinvate commented on #779
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 15:43] cdvinvate commented on #795
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 15:44] cdvinvate commented on #796
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 15:46] cdvinvate commented on #804
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 16:01] cdvinvate commented on #884
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 16:06] cdvinvate commented on #827
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 16:11] cdvinvate commented on #704
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 16:14] cdvinvate commented on #782
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 16:15] cdvinvate commented on #783
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 16:16] cdvinvate commented on #794
В релизе v0.16-Testing баг не воспроизводится.

[2019-05-27 16:21] sidelong44 opened #952 "План на спринт №2 - DreamTeam"
# Работа с моделью Кафедра.

Требуется создать класс-модель _Кафедра_ с полями:
* Краткое название (`shortTitle`);
* Полное название (`fullTitle`);
* Заведующий кафедрой (`departmentHead`);
* Институт (`Institute`).

Для каждого поля реализовать соответствующие readonly-свойства и статические методы их валидации. Метод валидации должен возвращать boolean-значение успешности проверки поля в соответ

[2019-05-27 16:28] YuriSilenok commented on #922
Зачтено 4 из 5

[2019-05-27 16:29] YuriSilenok commented on #920
зачтено 1 остальные не проверялись

[2019-05-27 17:21] itword7111 commented on #914
@YuriSilenok  Если баг в последнем релизе не воспроизводиться, нужно что-то писать?

[2019-05-27 17:26] Proffet78 commented on #927
Здравствуйте!
Последние 3 бага, были найдены в 6 спринте, вы сказали, что мы их тоже можем учесть.
Спасибо.

[2019-05-27 21:02] Chippa99fm commented on #187
@YuriSilenok , здравствуйте!
Я сделал. Проверьте, пожалуйста !

[2019-05-28 07:23] 16-vt-1a commented on #789
Все сделали

[2019-05-28 07:24] 16-vt-1a commented on #788
все исправили

[2019-05-28 07:29] itword7111 opened #954 "Ликвидация задолженности за 4 семестр"
#894
#893
#815
#914
#915

[2019-05-28 08:14] YuriSilenok commented on #788
зачтено

[2019-05-28 08:14] #788 closed, assigned to YuriSilenok

[2019-05-28 08:17] YuriSilenok commented on #789
Зачтено

[2019-05-28 08:17] #789 closed, assigned to YuriSilenok

[2019-05-28 12:17] #807 closed, assigned to PopovMilan

[2019-05-28 12:21] PopovMilan opened #955 "План на Sprint 6 - Союз"
Разработать статический класс Logs, содержащий три метода GetInfo, GetError и Write, который записывает логи в Logs.txt

Протестировать класс Logs

[2019-05-28 12:23] PopovMilan opened #956 "Этап тестирования для Sprint 6 - Союз"
Ссылка на план #955
Разработать сценарии для класса Logs #978
Протестировать корректность вывода класса Logs в файл
Мануальное тестирование класса Logs #979

[2019-05-28 17:05] ssas18 commented on #153
Баг не воспроизводится в текущей ветке

[2019-05-28 17:05] #153 closed, assigned to ssas18

[2019-05-28 17:36] GubanovAndrey opened #957 "Не корректно работает кнопка отмены в форме направление подготовки"
1)Нажимаешь кнопку "добавить" в форме направление подготовки.
2)Нажимаешь кнопку "отмена"   (Не заполняя форму вообще).
Ожидаемый результат : форма закроется.
Реальный результат : Выводит ошибку о том , что код направления подготовки введен не правильно.

[2019-05-28 17:38] GubanovAndrey commented on #957
![Снимок](https://user-images.githubusercontent.com/47377845/58499294-847f9580-8188-11e9-8c53-d8968a7c6c9a.PNG)

[2019-05-28 18:12] GubanovAndrey opened #958 "Невозможно создать запись в таблице Профиль подготовки с дублирующим атрибутом Краткое название профиля подготовки"
1)Нажать на кнопку "создать" в форме профиль подготовки.
2)Создать объект класс MTrainingProfile с кратким названием, которое уже использовалось.
Ожидаемый результат: количество записей увеличиться на одну.
Реальный результат: вывод ошибки.
![Снимок2](https://user-images.githubusercontent.com/47377845/58501466-2acd9a00-818d-11e9-812f-ac549f9b52fa.PNG)

[2019-05-28 18:20] GubanovAndrey opened #959 "Некорректное название столбца в форме профиль подготовки ("ширф")"
Опечатка в названии первого столбца
![Снимок3](https://user-images.githubusercontent.com/47377845/58502014-4e451480-818e-11e9-9241-4a86bd45fd89.PNG)

[2019-05-28 19:03] YuriSilenok commented on #21
Добрый день @isengrims

- task-21-2 Удалить запись при совпадении поля "Группа"
Дело в том, что кроме группы у Вас совпадают и другие атрибуты, а должна только группа.

В остальном все хорошо. Перепроверьте сценарии на предмет совпадения только одного атрибута.

Спасибо,
Юрий

[2019-05-28 19:24] YuriSilenok commented on #26
С новыми сценариями мне стали понятны Ваши формулировки в Description.
Вы писали

Я предлагаю написать следующее
`Проверка отсутствия ограничения уникальности для атрибута "Численность"`

Сценарий task-26-1 не имеет особого смысла для проверки ограничения уникальности, так как для проверки любого ограничения, (не важно, проверяется его наличие или отсутствие, это все один и тот же тест с разными о

[2019-05-28 20:50] sidelong44 opened #960 "Этап разработки для Sprint 2 - DreamTeam"
План #952

# Модель Кафедра

Требуется создать класс-модель _Кафедра_ с полями:

* Краткое название (`shortTitle`);
* Полное название (`fullTitle`);
* Заведующий кафедрой (`departmentHead`);
* Институт (`institute`).

Для каждого поля реализовать соответствующие readonly-свойства и статические методы их валидации. Метод валидации должен возвращать boolean-значение успешности проверки поля в соотве

[2019-05-28 21:18] sidelong44 opened #961 "Этап тестирования для Sprint 2 - DreamTeam"
План #952

* Разработать (и актуализировать) сценарии тестирования формы _Кафедра_;
* Разработать сценарии тестирования формы _Добавить кафедру_;
* Разработать сценарии unit-тестов модели _Кафедра_;
* Разработать автоматизированные сценарии для unit-тестов;
* Провести мануальное тестирование;
* Разработать unit-тесты для модели _Кафедра_.

Добавлять сценарии в [таблицу](https://docs.google.com/spr

[2019-05-28 21:37] sidelong44 opened #962 "Этап мержа веток для Sprint 2 - DreamTeam"
План #952

[2019-05-28 21:42] sidelong44 opened #963 "Разработать сценарии тестирования формы Добавить кафедру"
План #952
Этап тестирования #961
Добавлять сценарии в [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).

Сценарии должны содержать проверку корректности валидаций формы

[2019-05-28 21:47] sidelong44 opened #964 "Обновить сценарии тестирования для формы Кафедра"
План #952
Этап тестирования #961

Перенести сценарии из #771 в [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw).
Дополнить сценарий проверки работы кнопки Добавить кафедру

[2019-05-28 21:51] sidelong44 commented on #771
Нужно перенести сценарии тестирования в [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).
Рекомендую заняться @badsster по #964, чтобы двум людям не выполнять одну и ту же работу.
К сведению, @abramovaalina

[2019-05-28 21:55] sidelong44 opened #965 "Разработать сценарии unit-тестов модели Кафедра"
План #952
Этап тестирования #961
Добавлять сценарии в [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw).

[2019-05-28 22:02] sidelong44 opened #966 "Разработать сценарии для автоматизации тестирования интерфейса"
План #952
Этап тестирования #961
Добавлять сценарии в [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw).

Написать сценарии для проверки интерфейса.

[2019-05-28 22:08] sidelong44 opened #967 "Провести мануальное тестирование формы Кафедра и формы Добавить кафедру"
План #952
Этап тестирования #961

Сценарий тестирования формы _Кафедра_ #771
Сценарий тестирования формы _Добавить кафедру_ #963

[2019-05-28 22:12] sidelong44 opened #968 "Разработать unit-тесты для модели Кафедра"
План #952
Этап тестирования #961

Сценарии unit-тестов #965

[2019-05-29 05:51] Parallusion commented on #820
Все задачи выполнены.

[2019-05-29 05:51] #820 closed, assigned to Rogachev99

[2019-05-29 06:19] Parallusion opened #969 "Этап релиза спринт 7"
- Слить ветку 7 спринта в Testing
#819

[2019-05-29 06:49] ZhezlovaDaria commented on #271
Тест Task_271_5 являлся дубликатом Task_355_5, поэтому был удалён

[2019-05-29 06:50] #271 closed, assigned to ZhezlovaDaria

[2019-05-29 08:17] Parallusion opened #974 "Этап тестирования спринт 7"
- Исправление сценариев в соответствии с найденными багами
- Регрессионное тестирование после исправления всех багов
#819

[2019-05-29 10:06] AlexandraKv commented on #163
| Состояние таблицы контроллера | Аббревиатура министерства [[А-Я]{1,10}] | Полное наименование министерства [[А-Я]{1}[а-я]{1,50} [ [а-я]{1,50}]{0,9}] | Населенный пункт размещения министерства [[[а-я]{1,3]. [А-Я]{1}[а-я]{1,50}] or [[[а-я]{1,3]. [А-Я]{1}[а-я]{1,50}]-[А-Я]{1}[а-я]{1,50}] or [[[а-я]{1,3]. [[а-я]{1,3]. [А-Я]{1}[а-я]{1,50}]-[А-Я]{1}[а-я]{1,50}] or [[[а-я]{1,3]. [[а-я]{1,3]. [А-Я]{1}[а

[2019-05-29 10:07] AnastasiaSpihtorenko commented on #160
| Состояние таблицы контроллера | Сокращенное название | Полное название | Заведующий кафедрой | Институт |
| ------------- | ------------- | ------------- | ------------- | ------------- |
| Таблица не имеет записей | task-160-1 | task-160-1 | task-160-1 | task-160-1 |
| Проверка наличия/отсутствия ограничения уникальности | task-160-2 | task-160-3 | task-160-4 | task-160-5 |

[2019-05-29 10:19] purplegen commented on #21
Добрый день

Сделано @YuriSilenok

Спасибо,
Денис Плотников
17-ИСбо-2б

[2019-05-29 12:09] YuriSilenok commented on #182
Задача снаята по неактуальности и закрыта так как уже реализована

[2019-05-29 12:20] YuriSilenok commented on #180
Зачача снята по неактивности и закрыта так как уже реализована.

[2019-05-29 12:20] #180 closed, assigned to abramovaalina

[2019-05-29 12:21] YuriSilenok commented on #183
Задача снята по бездействию.

[2019-05-29 12:45] #974 closed, assigned to DariaMann

[2019-05-29 18:03] SamuraSwordS commented on #26
Исправил, надеюсь.

[2019-05-30 15:01] PopovMilan opened #975 "Этап разработки для Sprint 6 - Союз"
Разработать статический класс Logs, содержащий три метода GetInfo, GetError и Write

**Метод GetError**
Вход: исключение

Записывает в переменную error:
1. Время вызова метода в формате dd.MM.yyy HH:mm:ss.fff
2. Исключение

Передает переменную в метод Write, данного класса.

**Метод GetInfo**
Вход: информационное сообщение

Записывает в переменную info:
1. Время вызова метода в формате dd.MM.yyy H

[2019-05-30 15:02] PopovMilan opened #976 "Этап мержа для Sprint 6 - Союз"
План #955

[2019-05-30 15:07] PopovMilan opened #977 "Добавить изменения из ветки Union-6 в ветку Testing"
Этап мержа #976

[2019-05-30 15:19] MyachevM commented on #621
Duplicate of #13

[2019-05-30 15:19] #621 closed, assigned to MyachevM

[2019-05-30 16:08] Mikleproxorov opened #978 "Разработать сценарии тестирования класса Logs"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)
#991 функционал
#955  План
#956 Этап тестирования

[2019-05-30 16:35] Mikleproxorov opened #979 "Мануальное тестирование класса Logs"
Количество тестов - 5
Пройдено - 5
Сбои - 0
Заблокировано - 0
Не выполнено - 0

#956 План

[2019-05-30 17:12] ghost opened #980 "Cоздать форму "Добавить кафедру""
План #952
Этап разработки #960

Создать визуальную часть формы "Добавить кафедру"

Форма должна содержать 4 поля:
* Краткое название
* Полное название
* Заведующий кафедрой
* Институт

Форма должна содержать 2 кнопки:

* Добавить
* Очистить

Файл формы должен располагаться тут: `TimetableOfClasses/AddDepartment.cs`
Форма Кафедра тут: `TimetableOfClasses/Department.cs`, смотреть в ветке `17-IDbo-3b

[2019-05-30 19:21] sidelong44 opened #982 "Реализовать модель Кафедра"
План #952
Этап разработки #960

# Модель Кафедра

Требуется создать класс-модель _Кафедра_ с полями:

* Краткое название (`shortTitle`);
* Полное название (`fullTitle`);
* Заведующий кафедрой (`departmentHead`);
* Институт (`institute`).

Для каждого поля реализовать соответствующие readonly-свойства и статические методы их валидации. Метод валидации должен возвращать boolean-значение успешности п

[2019-05-30 20:19] YuriSilenok commented on #90
Извините, но эта задача не является актальной

[2019-05-30 20:19] #90 closed, assigned to Proffet78

[2019-05-30 20:27] YuriSilenok commented on #190
Выполнено #614

[2019-05-30 20:27] #190 closed, assigned to MihailBobylev

[2019-05-30 20:31] YuriSilenok commented on #194
не актуально

[2019-05-30 20:31] #194 closed, assigned to MariNazarova

[2019-05-30 20:32] YuriSilenok commented on #200
не актуально

[2019-05-30 20:32] #200 closed, assigned to bolotovaksenya

[2019-05-30 20:32] YuriSilenok commented on #201
реализовано в спринте

[2019-05-30 20:33] YuriSilenok commented on #3
не актуально

[2019-05-30 20:33] #3 closed, assigned to NesgovorovVS

[2019-05-30 20:33] YuriSilenok commented on #219
не актуально

[2019-05-30 20:33] #219 closed, assigned to altavelor

[2019-05-30 20:33] YuriSilenok commented on #179
не актуально

[2019-05-30 20:33] #179 closed, assigned to stasshtaub

[2019-05-30 20:34] YuriSilenok commented on #94
не актуально
было исправлено в другом баге

[2019-05-30 20:34] #94 closed, assigned to VinogradovAlexandr781227

[2019-05-30 20:43] bolotovaksenya commented on #183
Здравствуйте, @YuriSilenok .
Дело в том, что при выполнении данной задачи наткнулась на похожую задачу для тестирования метода Insert (Model model) - значит ли это, что эта задача клонирует ту?

[2019-05-31 05:55] YuriSilenok commented on #401
Когда ожидать изменений по этой задаче?

[2019-05-31 05:57] YuriSilenok commented on #108
Закрыто по не активности

[2019-05-31 05:57] #108 closed, assigned to MasterDesigner

[2019-05-31 06:00] YuriSilenok commented on #133
@Students-of-the-city-of-Kostroma/17idb
- Где ваша доска (Project)
- Когда ожидать активности по этой задаче?

[2019-05-31 06:28] YuriSilenok commented on #244
При изменении размеров формы все столбцы должны расширяться пропорционально.

[2019-05-31 06:28] YuriSilenok commented on #417
Задача закрыта по не активности

[2019-05-31 06:28] #417 closed, assigned to alexeylisica

[2019-05-31 06:31] YuriSilenok opened #984 "Опечатка. "Вид занятия подготовки" переименовать в "Вид занятия""
Данная опечатка была получена в результате переименовывания Профиля подготовки в Вид занятия.
- В меню справочники.

Шаги:
1. Запустить программу
2. Вабрать пункт меню Справочники

**Ожидаемый результат:** Выпадающий список содержит пункт меню "Вид занятия"
**Фактический результат:** Выпадающий список содержит пункт меню "Вид занятия **подготовки**"

[2019-05-31 06:32] YuriSilenok commented on #404
Задача не актуальна

[2019-05-31 06:32] #404 closed, assigned to Heriuple

[2019-05-31 06:34] YuriSilenok commented on #400
Не актуально

[2019-05-31 06:34] #400 closed, assigned to Heriuple

[2019-05-31 06:34] YuriSilenok commented on #477
не актуально

[2019-05-31 06:35] YuriSilenok commented on #473
Веха должна содержать дату завершения спринта

[2019-05-31 06:39] YuriSilenok commented on #517
Задача снята по не активности и передана @DenisSavelev

[2019-05-31 07:01] sidelong44 commented on #133
Мы же её уже сделали, не?

[2019-05-31 07:28] #105 closed, assigned to bolotovaksenya

[2019-05-31 07:59] YuriSilenok commented on #929
- относительно бага #783 запрос на слияние #825 в котором нет никаких исправлений. Если это так, то я не могу зачесть этот баг.

- #779 зачет в качестве ЛР 3.1

[2019-05-31 08:12] Proffet78 commented on #929
@YuriSilenok,Здравствуйте!

На счёт бага #783, изначально в первом запросе на слияние #790, я добавил условие, при котором баг будет исправлен, но я его залил не из той ветки, по неопытности, также там не отстроена табуляция! (ниже прикрепляю скрин)
В связи с этим вопрос, возможно ли в таком случае засчитать ?
![raaR_EIkQAY](https://user-images.githubusercontent.com/47320491/58691371-6dad8e80-8394

[2019-05-31 11:39] YuriSilenok commented on #187
Ответил устно

[2019-05-31 19:13] Chippa99fm commented on #187
@YuriSilenok , здравствуйте!
Я устранил выявленные вами недочёты и жду проверки.

[2019-06-01 16:39] #982 closed, assigned to sidelong44

[2019-06-01 16:39] #960 closed, assigned to sidelong44

[2019-06-01 17:05] sidelong44 opened #988 "Улучшение валидаторов для моделей"
Предлагаю упростить валидацию моделей и использовать написанный мной класс ValidationUtils (сейчас находится в ветке 17-IDbo-3b-2).

Данное улучшение поможет сократить код и унифицировать проверки данных во всех моделях.

[2019-06-01 22:04] abramovaalina commented on #965
Сценарий добавлен в [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=223449593)

[2019-06-01 22:06] #965 closed, assigned to abramovaalina

[2019-06-02 11:52] YuriSilenok commented on #988
Валидация должна производится в статических методах модели. Название модели начинается с буквы M. 1 метод валидации предназначен для проверки одного поля в модели. Модель должна содержать поля содержащие сведения инициализация которых выполняется в конструкторе и в нем же используются методы валидации. В случае не успешной валидации должно быть выброшено исключение.

[2019-06-02 12:09] YuriSilenok commented on #927
- Откуда взялась такая формулировка?
- Баги должны содержать фактический и ожидаемый результат
- Шаги должны быть оформлены в виде нумерованного списка. https://guides.github.com/features/mastering-markdown/

[2019-06-02 12:17] YuriSilenok commented on #769
Этот спринт сдан?

[2019-06-02 12:18] YuriSilenok commented on #954
Почему 5 багов?

[2019-06-02 12:54] itword7111 commented on #954
мне не хватает 3 бала для зачета, я поднял 5 багов на всякий случай

[2019-06-02 13:11] nrabotko commented on #769
Здравствуйте Юрий Викторович,

Да, этот спринт сдан вам 27 мая.

Спасибо,
Анастасия Работько.
17-ВТбо-1б.

вс, 2 июн. 2019 г., 15:17 Юрий Силенок <notifications@github.com>:

[2019-06-02 14:54] #769 closed, assigned to nrabotko

[2019-06-02 15:39] YuriSilenok commented on #954
зачтено, но на грани, много дубликатов.

[2019-06-02 15:50] YuriSilenok commented on #940
Таблица 1 выглядит нормально.
Пожалуйста, приведите описание сценариев в соответствие с таблицей 1.

[2019-06-02 15:58] YuriSilenok commented on #21
Зачтено

[2019-06-02 15:58] #21 closed, assigned to YuriSilenok

[2019-06-02 16:06] YuriSilenok commented on #26
Все хорошо, одна мелочь, ожидаемый результат прописывается к конкретному шагу.

[2019-06-02 16:15] YuriSilenok commented on #100
Зачтено

[2019-06-02 16:15] #100 closed, assigned to YuriSilenok, bolotovaksenya

[2019-06-02 16:17] YuriSilenok commented on #929
Найдите нужный запрос на слияние и в нем добавьте ссылку на Ваш баг.

[2019-06-02 16:18] PopovMilan commented on #940
Здравствуйте, Юрий Викторович.
Извините за глупый вопрос,  а что является таблицей 1?
Не совсем понял

[2019-06-02 16:20] YuriSilenok commented on #163
- Пожалуйста, добавьте в описание задачи ссылку, а не в комментарии URL
- Откуда взялись такие атрибуты, может быть из таска на разработку?

[2019-06-02 16:29] YuriSilenok commented on #187
-  5.Вызвать метод Update(Model model) класса Cinstitute,передав в него созданный объект класса Minstitute

Созданный объект в каком шаге?
- Какой ожидаемый результат к шагу 5?

[2019-06-02 16:32] YuriSilenok commented on #940
Видимо Вы делаете не по инструкции.
![image](https://user-images.githubusercontent.com/14871471/58764218-30502900-856d-11e9-8eb0-d379c36d40b8.png)

[2019-06-02 18:18] VinogradovAlexandr781227 commented on #133
Здравствуйте

Сделаю сегодня, завтра утром обязательно. Вернее исправлю конфликты. Я
забыл что там были конфликты. Думал она уже зачтена. Извиняюсь за задержку

Спасибо
Александра Виноградов
17-ИСбо-2б

пт, 31 мая 2019 г. в 09:00, Юрий Силенок <notifications@github.com>:

[2019-06-02 18:21] VinogradovAlexandr781227 commented on #287
Здравствуйте

Извините пожалуйста. Моя ошибка. Выдайте пожалуйста новое задание по этой
лабораторной.

Спасибо
Александр Виноградов
17-ИСбо-2б

пт, 31 мая 2019 г. в 08:49, Юрий Силенок <notifications@github.com>:

[2019-06-02 19:15] PopovMilan commented on #940
Прошу прощения, за еще глупый вопрос.
Ошибка в порядке ограничений? Или чего то не хватает в моей таблице?

[2019-06-02 19:37] FvckNeighbors opened #991 "Разработать класс Logs, который записывает логи в файл"
Разработать статический класс Logs, содержащий три метода GetInfo, GetError и Write

**Метод GetError**
Вход: исключение

Записывает в переменную error:
1. Время вызова метода в формате dd.MM.yyy HH:mm:ss.fff
2. Исключение

Передает переменную в метод Write, данного класса.

**Метод GetInfo**
Вход: информационное сообщение

Записывает в переменную info:
1. Время вызова метода в формате dd.MM.yyy H

[2019-06-02 19:37] PopovMilan commented on #940
Состояние таблицы контроллера | Сокращенная запись кафедры [[А-Я][а-я]] | Полная запись кафедры [[А-Я][а-я]] | Заведующий кафедры [[А-Я][а-я]]
-- | -- | -- | --
Изменение записи при отличии всех атрибутов | task-940-1 | task-940-1 | task-940-1
Изменение записи при совпадении только одного атрибута | task-940-2 | task-940-3 | task-940-4
Изменение записи при совпадении всех атрибутов  | task-940-5 |

[2019-06-02 19:59] PopovMilan commented on #940
Вроде так, если я правильно вас понял.

[2019-06-02 20:29] Mikleproxorov commented on #978
Задача выполнена.

[2019-06-02 20:30] #979 closed, assigned to Mikleproxorov

[2019-06-03 07:54] badsster commented on #963
Сценарий по форме "Добавить кафедру" задачи #771 написан и занесен в таблицу.

[2019-06-03 07:57] badsster commented on #964
Сценарий для представления дополненной формы "Кафедра" был написан в таблице сценариев.
@ZhizhikinIvan можно проводить мануальное тестирование.

[2019-06-03 08:14] YuriSilenok commented on #964
Номера сценариев не меняются. Если вы обновляли сценарии 771 таском 964, номера так и останутся 771,

[2019-06-03 08:16] YuriSilenok commented on #964
А где столбцы с шагами и прекондишеном?
В качестве образца по столбцам смотрите лист ЛР04.1

[2019-06-03 08:21] ZhizhikinIvan commented on #967
Мануальное тестирование провёл. Ошибок не обнаружил.

[2019-06-03 08:44] badsster commented on #964
Номера сценариев исправлены, подскажите, где найти ЛР04.1?

[2019-06-03 10:38] YuriSilenok commented on #187
4 и 5 шаги удалить

[2019-06-03 10:40] YuriSilenok commented on #26
зачтено

[2019-06-03 10:40] #26 closed, assigned to YuriSilenok

[2019-06-03 10:52] YuriSilenok opened #995 "Исправить сбои в файле UT_Insert_Croup"
- Выяснить причины сбоев (при необходимости уточнить у преподавателя баг или фича)
- Исправить сценарии если они устарели (изменилась функциональность)
- Исправить автотесты в соответствии со сценариями

[2019-06-03 11:11] YuriSilenok commented on #187
Зачтено

[2019-06-03 11:11] #187 closed, assigned to YuriSilenok

[2019-06-03 12:16] YuriSilenok commented on #940
зачтено

[2019-06-03 12:16] #940 closed, assigned to YuriSilenok

[2019-06-03 12:17] sidelong44 commented on #964
@YuriSilenok

Исправлено

[2019-06-03 12:17] #964 closed, assigned to badsster

[2019-06-03 12:49] YuriSilenok commented on #963
Сценарии не дописаны

[2019-06-03 13:29] MasterDesigner opened #997 "Автоматизировать сценарий unit-тестов для конструктора MTypesOfOccupation(Model model) сущности MTypesOfOccupation"
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=812383542)
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)
[Таск на разработку сценария](https://github.com/Students-of-the-city-of-Kostroma/Stu

[2019-06-03 14:04] YuriSilenok commented on #518
Добрый день,

Если в течении суток по задаче не будет активности, то она будет передана @IlyaPyatin

Спасибо,
Юрий

[2019-06-03 14:07] YuriSilenok commented on #37
Здравствуйте,

если по этой задаче не будет активности в течении суток, то задача будет передана @IlyaPyatin

Спасибо,
Юрий

[2019-06-03 15:55] Proffet78 commented on #927
Здравствуйте, @YuriSilenok

* Формулировка взялась от предложения разработчиков, описывать шаги реализации, так как формулировки "шаги реализации бага" вы не давали, я исправил этот недочет.
* Теперь все баги содержат фактический и ожидаемый результат.
* Теперь шаги оформлены в виде нумерованного списка!

Спасибо!

[2019-06-03 15:59] Proffet78 commented on #929
Здравствуйте, @YuriSilenok

Добавил ссылку в запросе на слияние на баг #783, а также на данную задачу !

Спасибо!

[2019-06-03 17:43] MyachevM opened #998 "Создать форму "Параметры". Вкладка Звонки"
Форма вызывается из меню Настройки-Параметры.
Имеет название формы параметры и повторяет интерфейс как на изображении.
Реализовать только вкладку Звонки
![image](https://user-images.githubusercontent.com/47633738/58822483-4e3a8e00-8640-11e9-8bfc-ae12d381de66.png)

[2019-06-03 17:56] MyachevM commented on #998
Я создал задачу для @FvckNeighbors для закрытия Лаб.1, поэтому назначил ответственным вас для проверки @YuriSilenok

[2019-06-03 19:11] DenisSavelev opened #999 "Добавить обработчик исключений и вызвать в них методы GetError и SetInfo класса Logs"
Добавить обработчик исключений для кнопок:
У "Преподавателя": "Добавить", "Изменить", "Удалить";
У "Добавить преподавателя": "Сохранить", "Удалить";
И вызвать в них методы GetError и SetInfo
В таком виде:
try
{
Logs.SetInfo("Closed AddTeacher");
Код программы
}
catch (Exception ex)
{
Logs.GetError(ex);
}
Этап разработки #975

[2019-06-03 20:25] #999 closed, assigned to DenisSavelev

[2019-06-03 23:21] #975 closed, assigned to FvckNeighbors

[2019-06-04 07:02] #991 closed, assigned to FvckNeighbors, DenisSavelev

[2019-06-04 10:16] AlexandraKv commented on #163
Здравствуйте @YuriSilenok
Замечания учтены и исправлены.

Заранее спасибо.

[2019-06-04 14:33] DariaMann opened #1004 "Исправить сбои в автоматических тестах"
Исправить сбои в тестах.
При необходимости исправить автотесты и сценарии
Список тестов

1. Task_271_1
2. Task_271_2
3. Task_334_1
4. Task_334_2
5. Task_334_3
6. Task_334_4
7. Task_334_5
8. Task_334_6
9. Task_334_7
10. Task_334_8

[2019-06-04 14:41] ifuwmnn opened #1005 "Баг при открытии формы вид занятий"
При открытии формы вид занятий, появляется два окна вместо одного.
![image](https://user-images.githubusercontent.com/47635280/58889326-65858400-86f1-11e9-8830-444c08140322.png)
[Этап разработки](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/1012)
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)

[2019-06-04 15:25] YuriSilenok commented on #183
Дайте ссылку на ту задачу, пожалуйста.

[2019-06-04 15:27] YuriSilenok commented on #952
Проверю на занятии

[2019-06-04 19:21] YuriSilenok commented on #927
Добрый день @Proffet78
- Фактический и ожидаемый результат прописывается после шага приводящий к сбою
- Когда баг поднят, нужно указать версию ПО в котором этот баг найден.
- Когда разработчики заявляют что они исправили ошибку, Вы пытаетесь при помощи сценария в баге воспроизвести сбой. И пишите об этом отчет, что мол в такой-то версии баг не воспроизводится или воспроизводится в такой-то версии.

[2019-06-04 19:32] YuriSilenok commented on #929
Добрый день @Proffet78

Запрос #790 не был смержен, значит те исправления которые были там сделали не попали в релиз и значит они не могут быть засчитаны. Возможно вы в другой ветке вносили изменения или это не вы исправили ошибку?

Спасибо,
Юрий

[2019-06-04 19:35] YuriSilenok commented on #998
@MyachevM Поднято верно. ЛР01 зачтена

[2019-06-04 19:44] YuriSilenok commented on #163
Здравствуйте,

Как на счет моего вопроса?

Спасибо,
Юрий

[2019-06-04 19:53] AlexandraKv commented on #163
Атрибуты я взяла из задачи на разработку.

Спасибо,
Александра

[2019-06-04 19:53] YuriSilenok commented on #160
План разработки
Диаграмма классов

Зачем это тут?

где шаги и ожидаемый результат?

кажется это конфликтует c таблицей 1.

Спасибо,
Юрий

[2019-06-04 19:57] YuriSilenok commented on #517
В качестве ЛР03 вы делали эту задачу?

[2019-06-04 19:58] YuriSilenok commented on #163
Здравствуйте,

А где ссылка на Story?

Спасибо,
Юрий

[2019-06-04 19:59] DenisSavelev commented on #517
Да

[2019-06-04 20:07] AlexandraKv commented on #163
Я добавила ссылку.

Спасибо,
Александра

[2019-06-05 05:47] YuriSilenok commented on #662
Проверю баг в ближайшем релизе

[2019-06-05 05:52] YuriSilenok commented on #694
Снято по бездействию

[2019-06-05 05:54] YuriSilenok commented on #768
На эту задачу должны ссылаться три этапа:
- Разработки
- Тестирования
- Мержа

[2019-06-05 05:57] YuriSilenok commented on #798
- По поводу атрибутов задачи. Эта задача в рамках спринта или ЛР выполняется?

[2019-06-05 06:00] YuriSilenok commented on #822
Снято, так как спринты закончились.

[2019-06-05 06:03] YuriSilenok commented on #840
Эта задача должна иметь:
- более подробное описание графического интерфейса
- ссылку на этап разработки
- метку Story

[2019-06-05 06:05] YuriSilenok commented on #841
- Эта задача является частью задачи #840?
- почему на задачу по созданию таблицы был создан запрос на слияние по созданию формы и контроллера #845?

[2019-06-05 06:09] YuriSilenok commented on #844
- если вы сделали задачу на разработку всех автотестов, тогда каждая задача на разработку автотесов (как подчиненная задача) должна ссылаться на эту задачу.
- согласно Вашего описания я не могу понять для какой сущности будут автоматизированы тесты (меток тоже нет)

[2019-06-05 06:30] YuriSilenok commented on #846
- нужна ссылка на таблицу сценариев
- нужно обозначить источник (номер задачи) в которой разрабатывались сценарии и для которой разрабатывались сценарии

[2019-06-05 06:31] #969 closed, assigned to Rogachev99

[2019-06-05 06:31] #819 closed, assigned to Parallusion

[2019-06-05 06:32] YuriSilenok commented on #863
задача закрыта по не активности

[2019-06-05 06:32] #863 closed, assigned to DariaMann

[2019-06-05 06:33] YuriSilenok commented on #864
задача закрыта по не активности

[2019-06-05 06:33] #864 closed, assigned to MaximTrapeznikov

[2019-06-05 06:33] YuriSilenok commented on #865
задача закрыта по не активности

[2019-06-05 06:33] #865 closed, assigned to MaximTrapeznikov

[2019-06-05 06:34] YuriSilenok commented on #866
задача закрыта по не активности

[2019-06-05 06:34] #866 closed, assigned to MaximTrapeznikov

[2019-06-05 06:34] YuriSilenok commented on #867
задача закрыта по не активности

[2019-06-05 06:34] #867 closed, assigned to MaximTrapeznikov

[2019-06-05 06:36] YuriSilenok commented on #842
Не указана сущность для которой будет вестись тестирование

[2019-06-05 06:55] YuriSilenok opened #1007 "Исправить сбой в автотесте UnitTestOfTimetableOfClasses.UT_Delete_CEnclosures.task_395_1()"
Исправить сбой в автотесте UnitTestOfTimetableOfClasses.UT_Delete_CEnclosures.task_395_1() в ветке Testing. Обратить внимание, что сбои могли возникнуть из-за введение реляционных связей.

[2019-06-05 08:08] MariNazarova opened #1008 "Исправить неверное отображение строк при создании нового вида занятия"
Исправить неверное отображение строк при создании нового вида занятия
[Этап разработки](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/1012)
[План на спринт 3](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)

[2019-06-05 09:27] bolotovaksenya commented on #183
Здравствуйте, @YuriSilenok
#163

[2019-06-05 09:40] YuriSilenok commented on #183
Судя по формулировкам, Ваша задача это мануальные тесты для представления (Формы), а задача #163 это разработка автотестов для контроллера.

[2019-06-05 10:03] MaximTrapeznikov commented on #37
Здраствуйте, @YuriSilenok .

К вопросу: "Удаление существующей строки вы будете осуществлять по совпадению каких атрибутов?"

По совпадению всех атрибутов

Спасибо.

[2019-06-05 15:23] #1004 closed, assigned to DariaMann

[2019-06-05 19:11] AnastasiaSpihtorenko commented on #160
Здравствуйте, Юрий Викторович.

Ошибки исправлены.

Спасибо.

[2019-06-05 19:49] #1008 closed, assigned to MariNazarova

[2019-06-05 20:25] #846 closed, assigned to Tokotoru, ifuwmnn

[2019-06-05 20:25] #872 closed, assigned to ifuwmnn

[2019-06-05 20:25] #874 closed, assigned to Tokotoru

[2019-06-05 20:25] #876 closed, assigned to ifuwmnn

[2019-06-06 10:37] #877 closed, assigned to AlexandraKv

[2019-06-06 10:41] YuriSilenok commented on #877
Эта задача использует данные из какой задачи? я имею ввиду задачу на разработку тестовых сценариев.

[2019-06-06 11:27] ivshr opened #1012 "Этап разработки для спринта 3. 17-ИДбо-3а"
Разработка функционала для формы Вид занятия.
Реализовать функцию  Добавить
Реализовать функцию Изменить
Реализовать функцию Удалить (+Вопрос при удалении),
Реализовать функцию сортировки,
Разработка подсчета количества строк в таблице
Привести имена столбцов в соответствие с программой
Выполнить в соответствии с [планом](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues

[2019-06-06 12:23] Tokotoru opened #1013 "Исправить баг, при котором невозможно изменить полное название вида занятий"
После добавления нового вида занятий невозможно изменить полное  имя вида занятий.

[2019-06-06 12:27] Tokotoru opened #1014 "Исправить баг, при котором возможно изменить краткое имя вида занятий на уже использующиеся краткое имя другого вида занятий"
При изменении уже имеющегося вида занятий можно изменить краткое имя на уже существующее и присвоенное другому виду занятий.

[2019-06-06 12:38] ifuwmnn opened #1015 "Баг в сущности TypesOfOccupation при вызове метода Insert(Model Model)"
При вводе данных, если краткое название вида занятия
 дублирует краткое название уже существующего вида занятия:
ожидание: запись не создаётся
реальность: создаётся запись

[2019-06-06 12:55] YuriSilenok commented on #244
Зачтено

[2019-06-06 12:55] #244 closed, assigned to YuriSilenok

[2019-06-06 13:03] YuriSilenok commented on #163
Зачтено

[2019-06-06 13:04] #163 closed, assigned to YuriSilenok

[2019-06-06 13:58] YuriSilenok commented on #160
зачтено

[2019-06-06 13:58] #160 closed, assigned to YuriSilenok

[2019-06-07 09:21] YuriSilenok commented on #164
Почему эта задача открыта?

[2019-06-07 09:22] Pipyao commented on #164
Для выполнения ЛР-04

[2019-06-07 09:23] YuriSilenok commented on #164
А Вас не смущает что задача с Вас снята?

[2019-06-07 09:24] Pipyao commented on #164
Но, она не была снята, а лишь закрыта и продолжала висеть на мне

[2019-06-07 09:24] DenisSavelev opened #1016 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Update(Model model) сущности Корпус"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)

[2019-06-07 09:25] YuriSilenok commented on #164
А как на счет моего комментария от 17 апреля?

[2019-06-07 09:28] Pipyao commented on #164
А что тогда делать? поднимать новую? просто эта всё еще была не занята.

[2019-06-07 09:28] YuriSilenok commented on #164
как вы определили что она не занята?

[2019-06-07 09:29] Pipyao commented on #164
Она не висела ни на ком другом, а в участвующих кроме Вас и Меня никого нет.

[2019-06-07 09:31] YuriSilenok commented on #164
что вы моежете сказать об этой задаче #272

[2019-06-07 09:32] Pipyao commented on #164
Так ведь это для Unit-тестов.

[2019-06-07 09:32] YuriSilenok commented on #164
А эта задача для чего?

[2019-06-07 09:35] YuriSilenok commented on #164
значит ли это, что уже существуют сценарии и автотесты автоматизированы по ним для задачи которую Вы пеероткрыли?

[2019-06-07 09:35] Pipyao commented on #164
Для того же, но моя была открыта много раньше.Эта задача была открыта 18 марта, а #272 7 апреля, при том что эта задача была закрыта лишь 17.

[2019-06-07 09:36] Pipyao commented on #164
Их ошибка в открытии клонирующей задачи.

[2019-06-07 09:39] YuriSilenok commented on #164
А Ваша ошибка в том, что у задачи просрочен дедлайн и ее выполнили другие люди.
В командной разработке так бывает, если не Вы, то кто-то другой, проект не должен стоять на месте.
Итог:
Эта задача не может быть выполнена, так как проект больше в ней не нуждается.
Возможные ваши действия:
- ПРОДОЛЖИТЬ цепочку писем по сдаче лабораторной работой
- продолжить отстаивать эту работы
- то, на что у меня

[2019-06-07 09:41] Pipyao commented on #164
Понял, тогда я поднимаю новую задачу для другого метода, сущности?

[2019-06-07 09:43] YuriSilenok commented on #1016
С чего вдруг поднят этот таск?

[2019-06-07 09:45] YuriSilenok commented on #164
Нет, Вы пишете мне письмо о том, что бы я выдал задание.
Так как семестр кончился, оно будет несколько специфичное, на исправление сбоев, это предполагает изменение кода автотестов и сценариев (скорее всего)

[2019-06-07 09:45] #164 closed, assigned to Pipyao

[2019-06-07 09:50] DenisSavelev commented on #1016
Для выполнения Лабораторной работы №4

[2019-06-07 09:51] YuriSilenok commented on #1016
понятно, сейчас я закрою эту лавочку.

[2019-06-07 09:52] DenisSavelev commented on #1016
А что тогда делать?

[2019-06-07 09:52] YuriSilenok commented on #1016
напишите письмо, для должников у меня особенные задания

[2019-06-07 09:57] Pipyao commented on #164
Отправил.Жду.

[2019-06-07 09:57] DenisSavelev commented on #517
Что с третьей лабораторной? Я выполнил в срок

[2019-06-07 09:57] YuriSilenok commented on #517
в скором времени  проверю

[2019-06-07 09:59] DenisSavelev commented on #1016
Написал

[2019-06-07 10:01] YuriSilenok commented on #1016
Видел, в скором времени выдам задание.

[2019-06-07 10:08] bolotovaksenya opened #1017 "Невозможно добавить корректный корпус"
Название ветки: 17-ИСбо-2а-7
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1. Открыть справочник "Корпуса"
2. Нажать "добавить"
3. В поле "Название корпуса ввести"Е"
4. В поле "ВУЗ" ввести "КГУ"
5. В поле "Адрес" ввести "Малышковская 4"
6. В поле "Телефон" ввести "89621843133"
7. В поле "Примечание" ввести "ИАСТ"
8. Нажать "сохранить"

**Ожидаемый результат:** Добавление экземпляра в

[2019-06-07 12:04] bolotovaksenya commented on #183
| Функция тестирования | Аббревиатура министерства [[А-Я]{1,10}]  | Полное наименование министерства [[А-Я]{1}[а-я]{1,50} [ [а-я]{1,50}]{0,9}] | Населенный пункт размещения министерства [[[а-я]{1,3]. [А-Я]{1}[а-я]{1,50}] or [[[а-я]{1,3]. [А-Я]{1}[а-я]{1,50}]-[А-Я]{1}[а-я]{1,50}] or [[[а-я]{1,3]. [[а-я]{1,3]. [А-Я]{1}[а-я]{1,50}]-[А-Я]{1}[а-я]{1,50}] or [[[а-я]{1,3]. [[а-я]{1,3]. [А-Я]{1}[а-я]{1,50

[2019-06-07 12:07] Mikleproxorov opened #1018 "Автоматизировать unit-тесты для класса Logs"
#978  [Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)
GetInfo, GetError

#955  план

[2019-06-07 12:10] YuriSilenok commented on #1018
имеется ввиду автоматизация сценариев тестирования или разработка сценариев тестирования?

[2019-06-07 12:11] YuriSilenok commented on #978
в описании должна быть ссылка на Story описывающая работку функционала

[2019-06-07 13:08] YuriSilenok commented on #184
Есть ли Story описывающее форму редактирования Группы?

[2019-06-07 14:32] Mikleproxorov commented on #1018
Автоматизация. Исправил.

[2019-06-07 14:32] Mikleproxorov commented on #978
Добавил ссылку.

[2019-06-07 14:37] YuriSilenok commented on #1018
описание должно содержать ссылку на таск в котором были разработаны эти сценарии тестирования

[2019-06-07 14:37] MasterDesigner opened #1020 "Разработать сценарии тестирования формы Вид занятия"
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=812383542)
[Разработка функционала](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/1021) (Story)

[2019-06-07 15:04] YuriSilenok commented on #1020
- атрибуты?
- зачем ссылка на план тестирования которая на самом деле ведет на план спринта?
- где ссылка на тестируемую Story?

[2019-06-07 15:41] YuriSilenok commented on #517
зачтено

[2019-06-07 15:41] #517 closed, assigned to YuriSilenok

[2019-06-07 15:43] YuriSilenok commented on #1017
Что я должен с этим сделать?

[2019-06-07 16:12] MasterDesigner commented on #1020
Не очень понимаю что подразумевается под атрибутами

Опечатка, исправил

Если под тестируемой Story подразумевается план разработки, то также исправил

[2019-06-07 16:13] YuriSilenok commented on #1020
после цитаты нужно отступать еще одну строку

[2019-06-07 16:15] MasterDesigner commented on #1020
Исправил, атрибуты изначально были, но по неведомой причине исчезли, вернул

[2019-06-07 16:17] YuriSilenok commented on #1020
[ЛР01](https://docs.google.com/document/d/1k8ILnmYVi3Cz-mTge3h6RI0OV4DbAHviQseScRRpUxI/edit#heading=h.sta96g3ennf1)
Достаточно ли описания?

[2019-06-07 16:27] MasterDesigner commented on #1020
Да, благодарю, я честно ставил метки, но они не остались

[2019-06-07 16:29] YuriSilenok commented on #1020
Это ни как не скажется на оценке. Это всего лишь замечание которые не игнорируются.

[2019-06-07 16:31] MasterDesigner commented on #1020
Хорошо, теперь все правильно?

[2019-06-07 17:03] YuriSilenok commented on #1020
- для чего в этой задаче ссылка на план спринта?
- для чего ссылка на этап разработки?

[2019-06-07 18:05] MasterDesigner commented on #1020
В соответствии с планом, который вы рисовали, она лишняя, сейчас уберу

В соответствии с этим же планом ссылка также лишняя, нужны только ссылки на этап тестирования и разработку функционала

[2019-06-07 18:39] YuriSilenok commented on #183
В таблице (в теории) всегда должна содержать корректные данные, если таковые имеются, значит это ошибка разработчиков. Я бы сказал что в первом столбце необходимо описать какую функцию вы собираетесь тестировать. Допустим в первой строке это было бы проверка возможности добавление строки с корректными данными.

Видимо здесь Вы хотели проверить наличие/отсутствие ограничение уникальности для каждог

[2019-06-07 18:41] YuriSilenok commented on #1020
На Story (разработку функционала) когда ожидать ссылку?

[2019-06-07 18:45] YuriSilenok commented on #978
956 это не план

[2019-06-07 18:48] YuriSilenok commented on #1018
это не план

[2019-06-07 18:52] MasterDesigner commented on #1020
Сегодня тимлид его создаст и она появится

[2019-06-07 19:29] ivshr opened #1021 "Функциональные требования к форме "Вид занятия""
Форма "Вид занятия" (TypesOfOccupations) должна содержать следующие столбцы:
  - Вид занятия (FullName)
  - Краткий вид занятия (ShortName)

![image](https://user-images.githubusercontent.com/47637247/59175795-84f03700-8b5f-11e9-94be-962a8fde5d44.png)

На форме должны быть реализованы следующие кнопки:

  - Добавить
При нажатии на кнопку "Добавить" должна открываться форма "Добавление вида занятия

[2019-06-07 19:56] bolotovaksenya commented on #183
@YuriSilenok , замечания учла, таблицу исправила.

[2019-06-08 06:18] #873 closed, assigned to AlexandraKv

[2019-06-08 09:07] MasterDesigner commented on #842
Исправил

[2019-06-08 10:10] Mikleproxorov opened #1022 "Автоматизировать unit-тесты для метода GetError класса Logs"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)
GetError

#955  план

[2019-06-08 12:04] ZhizhikinIvan opened #1024 "При проведении мануального тестирования формы "Кафедра" были найдены баги."
Этап тестирования #961
Задача по мануальному тестированию #967

**Баги:**
1. Данные, вводимые в строку "Зав. кафедры", не должны начинаться с "-".
2. В строке "Зав. кафедры", не может содержаться подряд два символа "-".
3. В строках "Краткое название" и "Полное название", можно вводить цифры (1234 и т.д.) и различные символы (? / \ , и т.д.).
4. В строках "Зав. кафедры" и "Институт", можно вводить

[2019-06-08 12:35] abramovaalina opened #1025 "Разработать сценарии unit-тестов модели ВУЗ LR-04"
Story ВУЗ #176
[Таблица сценариев](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)

[2019-06-08 12:36] YuriSilenok commented on #1024
К прочтению
https://m.habr.com/ru/company/docsvision/blog/264163/

[2019-06-08 12:43] YuriSilenok commented on #1025
Метка лабораторной

[2019-06-08 12:55] YuriSilenok commented on #1025
Ссылка на story?

[2019-06-08 13:41] YuriSilenok commented on #1024
Зачем ссылка на план?

[2019-06-08 13:45] sidelong44 commented on #1024
@ZhizhikinIvan

Почитай, в свободное время поправь

[2019-06-08 14:10] abramovaalina commented on #1025
Сценарий добавлен в [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)

[2019-06-08 14:41] Mikleproxorov commented on #1022
Задача является клоном [задачи](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/1018). Создана ошибочно.

[2019-06-08 14:41] #1022 closed, assigned to Mikleproxorov

[2019-06-08 14:43] YuriSilenok commented on #1025
- все важные ссылки добавляются в описание
- все сценарии тестирования пишутся в общую таблицу. Она есть в папке практика или других задачах такого типа.

[2019-06-08 15:02] abramovaalina commented on #1025
Исправила

[2019-06-08 15:14] YuriSilenok commented on #1025
Вы выбрали пустой таск в качестве стори, в нем нет никакого описания. Обратите внимание на задачу #176 и метки которые у неё есть.

[2019-06-08 15:21] #875 closed, assigned to AnastasiaSpihtorenko

[2019-06-08 15:26] abramovaalina commented on #1025
указала таск 176.

[2019-06-08 16:06] #997 closed, assigned to AnastasiaSpihtorenko

[2019-06-08 17:33] YuriSilenok commented on #1020
Что-то я сценарии найти не могу. Какой у них Test ID?

[2019-06-08 17:37] YuriSilenok commented on #1021
Этот функционал реализован?

[2019-06-08 17:47] YuriSilenok commented on #995
Перечислить test id тестовых сценариев, которые претерпели изменения.
Сослаться на таск по разработке тестовых сценариев.

[2019-06-08 17:50] VinogradovAlexandr781227 commented on #159
Состояние таблицы | Краткое   название института [[А-Я][а-я]] | Полное   название института [[А-Я][а-я]] | Директор   института [[А-Я][а-я]] | ВУЗ   [[А-Я][а-я]]
-- | -- | -- | -- | --
Создание   записи при отличии всех атрибутов | task-159-1 | task-159-1 | task-159-1 | task-159-1
Создание записи при совпадении только одного   атрибута | task-159-2 | task-159-3 | task-159-4 | task-159-5
Создание

[2019-06-08 17:51] VinogradovAlexandr781227 commented on #159
Здравствуйте, Юрий Викторович
Проверьте пожалуйста л.р. №4.1
Спасибо.

[2019-06-08 18:02] MasterDesigner commented on #1020
Сценарий вот https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=812383542
Только из него pre condition исчез, не понимаю кто удалил, придется заново писать

[2019-06-08 18:04] SamuraSwordS commented on #995
Претерпели изменения сценарии: task-251-1, task-251-3, task-251-4, task-251-5, task-251-6, task-251-7, task-251-8, task-251-9, task-251-10.
#251

[2019-06-08 18:06] YuriSilenok commented on #1020
Ссылка на сценарии есть и так в описании.
Я просил Test ID указать

[2019-06-08 18:12] MasterDesigner commented on #1020
Правильно ли я понимаю, что нужно создать на гитхабе отдельный таск для каждого сценария?
На данный момент Test ID:
872
874
876
997

[2019-06-08 18:37] GubanovAndrey opened #1029 "Проверка всех сценариев и юнит тестов сущьности "Ученые знания" + Добавление сценариев на ограничения."
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464)
Добавлены сценарии на проверку ограничений методов Добавить и Изменить
task-361-4, task-361-5, task-363-3, task-363-4
Все юнит тесты соответствуют сценариям.
Задачи на тестирование с меткой Story не найдены.

[2019-06-08 18:39] GubanovAndrey commented on #1029
Здравствуйте

Прошу проверить ЛР4.1

Спасибо

[2019-06-08 19:11] #978 closed, assigned to MyachevM

[2019-06-08 19:37] ivshr commented on #1021
На данный момент большая часть функционала реализована

[2019-06-09 04:50] YuriSilenok commented on #1020
В данном случае вы перечислили test suite. Все эти сценарии были написаны одним человеком?

Почему у этих сюитов такая нумерация?

[2019-06-09 07:53] YuriSilenok commented on #1029
Претерпели ли автотесты изменения?

[2019-06-09 08:57] YuriSilenok commented on #1021
- я не вижу что бы эту стори ссылался запрос на слияние?
- одна Story реализуется одним человеком. Это правило выполняется?
- Это план или стори?

[2019-06-09 09:38] YuriSilenok opened #1031 "В классе CHEI изменить класс родителя Controller на класс DataTable"
1. Переопределить в классе CHEI родителя.
2. Исправить возникшие ошибки

[2019-06-09 10:07] YuriSilenok opened #1032 "Исправить сбои в автотестах расположенных в файле UT_Insert_CTeacher"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit) указам у заголовка тест-комплекта ссылку на гугл документ с исследованием по белому ящику.
- Автоматизировать полученные сценарии
- Перенест

[2019-06-09 10:27] bolotovaksenya opened #1033 "Ликвидация долгов за 4 семестр"
#1017
#1034
#1035
#1037
#1038
#1039
#1041
#1045
#1046

[2019-06-09 10:40] YuriSilenok commented on #995
зачтено

[2019-06-09 10:40] #995 closed, assigned to SamuraSwordS

[2019-06-09 10:47] YuriSilenok commented on #978
а где ссылка на этап тестирования?

[2019-06-09 10:48] bolotovaksenya opened #1034 "В справочнике "Дисциплина" можно добавить поля с некорректными данными"
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1.Открыть справочник "Дисциплина"
2. Нажать "создать"
![image](https://user-images.githubusercontent.com/47633289/59157910-caf3bf00-8abb-11e9-9191-70c1c942d1c5.png)
3. В поле "Полное название дисциплины" ввести 147
4. В поле "Краткое название дисциплины" ввести 222
5. В поле "Цикл дисциплин" ввести 15
![image](https://user-images.githubuse

[2019-06-09 11:03] bolotovaksenya opened #1035 "В справочнике "Группы" можно ввести нулевое количество студентов"
Название ветки: 17-ИСбо-2б-7
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1.Открыть справочник"группы"
2. Нажать "добавить"
3. В поле "Группа" ввести "00-ААаа-0а"
4. В поле "Семестр" ввести "1"
5. В поле "Смена" ввести "1"
6. В поле "Студентов" ввести "0"
7. В поле "Пар/день min" ввести "0"
8. В поле "Пар/день max" ввести "0"
9. В поле "Выходные" ввести "Воскресенье"
10. Нажать "сохр

[2019-06-09 11:06] YuriSilenok opened #1036 "Исправить сбои в автотестах расположенных в файле UT_Update_CTeacher"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit) указам у заголовка тест-комплекта ссылку на гугл документ с исследованием по белому ящику.
- Автоматизировать полученные сценарии
- Перенест

[2019-06-09 11:12] YuriSilenok commented on #1035
Предупреждение о чем? о каком ограничении ?

[2019-06-09 11:22] YuriSilenok commented on #183
Какую функциональность это проверяет?

[2019-06-09 11:25] bolotovaksenya opened #1037 "В справочнике "Профиль подготовки" можно ввести некорректные данные"
Название ветки:17-ИСбо-2б-7
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1. Открыть справочник "Профиль подготовки"
2.Нажать "добавить"
![image](https://user-images.githubusercontent.com/47633289/59158342-97b42e80-8ac1-11e9-818c-29d75b56f9ea.png)
3.В поле "Полное название профиля" ввести "12345678"
4.В поле "Краткое название профиля" ввести "12345678"
5.В поле "Шифр" выбрать "12о12о1

[2019-06-09 11:27] YuriSilenok commented on #1033
- Указать во все баги в ком релизе был найден баг

[2019-06-09 11:29] YuriSilenok commented on #1017
из этого бага непонятно почему корпус не добавляется.
уточните ожидаемый резцльтат

[2019-06-09 11:33] bolotovaksenya opened #1038 "В справочнике "Дисциплина" можно ввести одинаковое количество символов в полях "Полное название" и "Краткое название""
Название ветки:17-ИСбо-2б-7
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1.Открыть справочник "Дисциплина"
2.Нажать "добавить"
![image](https://user-images.githubusercontent.com/47633289/59159083-35f9c180-8acd-11e9-99e2-1c8e2a4dbbbe.png)
3.В поле "Полное название профиля" ввести "ааааа"
4.В поле "Краткое название профиля" ввести "ааааа"
5.В поле "Шифр" выбрать "12"
6. Нажать "создать

[2019-06-09 11:34] YuriSilenok commented on #1033
- баги должны ссылаться на задачу ликвидации

[2019-06-09 11:43] YuriSilenok commented on #1038
в каком релизе найдено?

[2019-06-09 11:48] MasterDesigner commented on #1020
Да, одним человеком.

Нумерация в соответствии с созданными тасками по тестированию на гитхабе.

[2019-06-09 11:48] bolotovaksenya opened #1039 "Некорректное название формы "Добавить Корпус""
Название ветки:17-ИСбо-2а-7
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1.Открыть справочник "Корпус"
![image](https://user-images.githubusercontent.com/47633289/59158599-f3cc8200-8ac4-11e9-963e-f9974c797c3b.png)
2. Нажать "Добавить"
Ожидаемый результат:
Появится форма с добавлением корпуса "Добавить корпус"
Фактический результат:
![image](https://user-images.githubusercontent.com/4

[2019-06-09 11:51] YuriSilenok commented on #1020
номера создаются в соответствии с тасками разработку тестовых сценариев. Это значит что сценарий получает номер в процессе написания, а не в процессе тестирования.

[2019-06-09 11:57] YuriSilenok commented on #1017
в каком релизе вы нашли этот баг?

[2019-06-09 11:59] YuriSilenok commented on #1033
Указать в каждом баге резил в котором он был найден

[2019-06-09 11:59] MasterDesigner opened #1040 "Разработать сценарий тестирования метода Insert(Model model) сущности TypesOfOccupation"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=812383542)
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842

[2019-06-09 12:00] bolotovaksenya opened #1041 "Опечатка в сообщении об отсутсвии записей в зависимом српавочнике при добавлении Корпуса"
Название ветки:17-ИСбо-2б-7
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1. Открыть справочник "Корпус"
![image](https://user-images.githubusercontent.com/47633289/59158697-b963e480-8ac6-11e9-92cc-5d0fbf6969fb.png)
2. Нажать "добавить"
Ожидаемый результат:
Появление формы с предупреждением "В созависимом справочнике ВУЗы отсутствуют записи. ОтКрыть форму для редАКтирования справочник

[2019-06-09 12:02] MasterDesigner opened #1042 "Разработать сценарий тестирования метода Update(Model model) сущности СTypesOfOccupation"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=812383542)
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842

[2019-06-09 12:05] MasterDesigner opened #1043 "Разработать сценарий тестирования метода Delete(Model model) сущности CTypesOfOccupation)"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=812383542)
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842

[2019-06-09 12:10] MasterDesigner opened #1044 "Разработать сценарий unit-тестирования для конструктора MTypesOfOccupation(Model model) сущности MTypesOfOccupation"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=812383542)
Этап тестирования https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/842

[2019-06-09 12:12] MasterDesigner commented on #1020
Исправил, теперь номера следующие:
1040
1042
1043
1044

[2019-06-09 12:12] bolotovaksenya opened #1045 "В справочнике "Преподаватели" невозможно выбрать поле "ученая степень""
Название ветки:17-ИСбо-2б-7
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1.Открыть справочник "Преподаватели"
![image](https://user-images.githubusercontent.com/47633289/59159250-6b071380-8acf-11e9-8d43-a47cb5700b67.png)
2. Нажать "Изменить"
Ожидаемый результат:
Заполнено поле "Ученое звание"
Фактический результат:
![image](https://user-images.githubusercontent.com/47633289/59159275-

[2019-06-09 12:18] bolotovaksenya commented on #183
@YuriSilenok, Что Вы имеете в виду?

[2019-06-09 12:22] bolotovaksenya commented on #1035
@YuriSilenok, ограничение о значении минимального количества студентов

[2019-06-09 12:26] bolotovaksenya opened #1046 "В справочнике "Преподаватели" невозможно выбрать поле "ученое звание""
Название ветки:17-ИСбо-2б-7
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1.Открыть справочник "Преподаватели"
![image](https://user-images.githubusercontent.com/47633289/59159250-6b071380-8acf-11e9-8d43-a47cb5700b67.png)
2. Нажать "Изменить"
Ожидаемый результат:
Заполнены данные поля "Ученую степень"
Фактический результат:
![image](https://user-images.githubusercontent.com/47633289/5

[2019-06-09 12:44] bolotovaksenya commented on #1038
@YuriSilenok , v0.20-Testing

[2019-06-09 12:44] bolotovaksenya commented on #1017
@YuriSilenok , v0.20-Testing

[2019-06-09 13:13] bolotovaksenya opened #1047 "В справочнике "Ученая степень" можно добавить "Краткое название" длиннее "Полное название""
Название ветки: Союз-5
Шаги реализации бага:
1. Открыть справочник "Ученая степень"
![image](https://user-images.githubusercontent.com/47633289/59159311-93434200-8ad0-11e9-86da-51c0bd801487.png)
2. Нажать "Добавить"
3. Ввести"Ргррищтыт" в поле "Сокращенная запись ученой степени"
4.Ввести"Пват" в поле "Полная запись ученой степени"
![image](https://user-images.githubusercontent.com/47633289/5915932

[2019-06-09 14:07] bormolei commented on #1007
Добрый день.

Относительно этой задачи, попробовал выполнить этот тест руками. Тест не
прошел. При попытке добавить корпус возникает Exception , т.к. в поле ВУЗ
берется полное название, а не краткое, из-за этого заполнение формы не
возможно.

Спасибо.

Комаров Виктор.

ср, 5 июн. 2019 г. в 09:55, Юрий Силенок <notifications@github.com>:

[2019-06-09 14:30] GubanovAndrey commented on #1029
Нет, не претерпели.

[2019-06-09 14:47] #1018 closed, assigned to Mikleproxorov

[2019-06-09 15:31] Mikleproxorov opened #1051 "Разработать сценарии тестирования конструктора MAcademicDegree() сущности MAcademicDegree"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881l)

[2019-06-09 15:57] DemiKor commented on #798
* Задача выполняется в рамках ликвидации долга

[2019-06-09 16:36] ivshr commented on #1021
Исправили

Да, каждая задача на разработку реализуется одним человеком

Это задача на разработку функциональности с указанием основных требований

[2019-06-09 17:17] Mikleproxorov opened #1052 "Разработать unit-тесты для конструктора MAcademicDegree() сущности MAcademicDegree"
#1051  [Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)

[2019-06-09 19:31] Mikleproxorov opened #1053 "Дополнить unit-тесты для CAcademicDegree"
Этап тестирования #956

[2019-06-09 19:32] Mikleproxorov opened #1054 "Добавить комментарии к unit-тестам класса Logs"
Этап тестирования #956

[2019-06-09 19:42] #1051 closed, assigned to Mikleproxorov

[2019-06-09 20:23] #1054 closed, assigned to Mikleproxorov

[2019-06-09 20:23] #1052 closed, assigned to Mikleproxorov

[2019-06-09 23:14] #1043 closed, assigned to MasterDesigner

[2019-06-09 23:14] #1042 closed, assigned to MasterDesigner

[2019-06-09 23:16] #1040 closed, assigned to MasterDesigner

[2019-06-09 23:23] #844 closed, assigned to AlexandraKv, AnastasiaSpihtorenko

[2019-06-09 23:25] #841 closed, assigned to MariNazarova

[2019-06-09 23:30] #1044 closed, assigned to MasterDesigner

[2019-06-10 06:19] #840 closed, assigned to MariNazarova

[2019-06-10 06:20] #402 closed, assigned to MariNazarova

[2019-06-10 06:24] #401 closed, assigned to Nosolev

[2019-06-10 06:26] MariNazarova commented on #401
Задача реализована в третьем спринте

[2019-06-10 06:32] #399 closed, assigned to Khajiit-stole-nothing

[2019-06-10 06:33] #398 closed, assigned to Nosolev

[2019-06-10 08:06] #1053 closed, assigned to Mikleproxorov

[2019-06-10 08:07] Mikleproxorov opened #1064 "Исправить ошибку в unit-тесте для конструктора MAcademicDegree"
#1052

[2019-06-10 08:14] YuriSilenok opened #1065 "Исправить сбои в автотестах расположенных в файле UT_Delete_CGroup"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit)
- Перенести комментарии методов в шаблон `///`
- Комментарии должны совпадать с описанием тестового сценария

Этап тестирования #1182

[2019-06-10 08:18] YuriSilenok opened #1066 "Исправить сбои в автотестах расположенных в файле UT_Update_CGroup"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit) указам у заголовка тест-комплекта ссылку на гугл документ с исследованием по белому ящику.
- Автоматизировать полученные сценарии
- Перенест

[2019-06-10 08:44] Jeen99 opened #1067 "Не происходит уведомления, о том что данные уже существуют в форме Учетные звания при попытке добавить идентичные данные"
Баг воспроизводиться в v0.20-Testing

При попытке повторного добавления уже существующего учетного звания через **"Создать и очистить"** не происходит уведомления, о том что данные уже существуют.

Шаги реализации бага:

1. Открыть справочник "Учетные звания"
2. Нажать "добавить"
3. В поле "Сокращенная запись уч. звания" ввести "тест"
4. В поле "Полная запись уч. звания" ввести "тест"
5. Нажать "С

[2019-06-10 08:51] Jeen99 opened #1068 "Неправильная работа индикатора корректности ввода при вводе некорректных данных в поле "Полная запись уч. звания" на форме Добавить уч. звания"
Баг воспроизводиться в v0.20-Testing
При попытке ввода цирф появляется индикатор обозначающий некорректный ввод. Но если после цифр дописать буквы, то символ исчезает, при этом данные нельзя добавить.

Шаги реализации бага:

1. Открыть справочник "Учетные звания"
2. Нажать "добавить"
3. В поле "Полная запись уч. звания" вводим 22
4. В поле "Полная запись уч. звания" добавляем любую букву (пример:

[2019-06-10 08:53] Jeen99 opened #1069 "Некорректное растягивание столбцов на форме Дисциплины при растягивании формы в ширину"
Баг воспроизводиться в v0.20-Testing
При попытке растянуть форму, изменяется только второй столбец, остальные так и остаются не развернутыми.

Шаги реализации бага:

1. Открыть справочник "Дисциплины"
2. Увеличить размер формы в ширину, путем растягивания окна

![image](https://user-images.githubusercontent.com/32433285/59184162-3732f900-8b76-11e9-97cd-f2d21c4e816f.png)

![image](https://user-imag

[2019-06-10 08:54] Jeen99 opened #1070 "Некорректное название формы Добавить Корпус"
Баг воспроизводиться в v0.20-Testing

Шаги реализации бага:

1. Открыть справочник "Корпуса"
2. Нажать "добавить"

![image](https://user-images.githubusercontent.com/32433285/59184273-6ea1a580-8b76-11e9-9398-7cb78f7d12f6.png)

Ожидается: Добавить корпус.

[2019-06-10 08:56] Jeen99 opened #1071 "Поле для ввода не защищено от вставки данных из буфера обмена на форме Добавить Корпус."
Баг воспроизводиться в v0.20-Testing
Поле "Телефон" защищено от ввода букв с клавиатуры, но если попытаться вставить данные, операция проходит успешно.

Шаги реализации бага:

1. Открыть справочник "Корпуса"
2. Нажать "добавить"
3. Переключаемся на поле "Телефон"
4. Копируем в буфер обмена текст "ТЕСТ"
5. При помощи правой кнопки мыши используем команду "Вставить"

![image](https://user-images.git

[2019-06-10 08:59] Jeen99 opened #1073 "Некорректное растягивание столбцов на форме Профиль подготовки при растягивании формы в ширину."
Баг воспроизводиться в v0.20-Testing
При попытке растянуть форму, изменяется только третий столбец, остальные так и остаются не развернутыми.

Шаги реализации бага:

1. Открыть справочник "Профиль подготовки"
2. Увеличить размер формы в ширину, путем растягивания окна

![image](https://user-images.githubusercontent.com/32433285/59184550-08695280-8b77-11e9-98c4-5670e3ebf9b8.png)

![image](https://u

[2019-06-10 09:02] Jeen99 opened #1074 "Некорректный вывод уведомления при добавлении Направления подготовки."
Баг воспроизводиться в v0.20-Testing
Форма выдает, что данные не добавляются, но в таблице они появляются.

Шаги реализации бага:
1. Открыть справочник "Направление подготовки"
2. Нажать "добавить"
3. В поле "Код направления подготовки" вводим "222222"
4. В поле "Наименование направления подготовки" вводим "Радиофизика"
5. Нажать "Создать и очистить"

![image](https://user-images.githubusercontent

[2019-06-10 09:08] #1064 closed, assigned to Mikleproxorov

[2019-06-10 09:08] #956 closed, assigned to Mikleproxorov

[2019-06-10 09:10] Jeen99 opened #1075 "Не возможно использовать горячие клавиши в полях Аудитория и Кафедра при добавлении Аудитории"
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1. Открыть справочник "Аудитории"
2. Нажать "добавить"
3. Переключаемся на поле "Аудитория " или "Кафедра"
4. Пытаемся использовать горячие клавиши (пример: ctrl + V (_при наличии текста в буфере обнена_))

![image](https://user-images.githubusercontent.com/32433285/59185107-4c108c00-8b78-11e9-8eec-4f80361a2485.png)
**Фактический результат

[2019-06-10 09:16] Jeen99 opened #1078 "Ликвидация долгов за 2 Sprint"
Задача для тимлида

[2019-06-10 09:17] Jeen99 commented on #1075
#1078

[2019-06-10 09:17] Jeen99 commented on #1074
#1078

[2019-06-10 09:17] Jeen99 commented on #1073
#1078

[2019-06-10 09:18] Jeen99 commented on #1071
#1078

[2019-06-10 09:18] Jeen99 commented on #1070
#1078

[2019-06-10 09:19] Jeen99 commented on #1069
#1078

[2019-06-10 09:19] Jeen99 commented on #1068
#1078

[2019-06-10 09:19] ivshr opened #1080 "Этап мёржа веток спринт 3. 17-ИДбо-3а"
[План](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/839)
Пожалуйста, выполните этап мёржа в связи с закрытием спринта золотым баллом

[2019-06-10 09:19] Jeen99 commented on #1067
#1078

[2019-06-10 09:21] Jeen99 commented on #1078
@YuriSilenok, выполнил поиск 8-ми багов для закрытия долгов за 2-ой спринт.

[2019-06-10 09:37] YuriSilenok opened #1082 "Исправить сбои в автотестах расположенных в файле UT_Delete_CEnclosures"
- Выявить причину сбоев в автотестах.
- При необходимости исправить автотесты и [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit?usp=sharing)
- Перенести комментарии методов в шаблон` ///`
- Комментарии должны совпадать со описанием тестового сценария

Этап тестирования #1182

[2019-06-10 10:54] Proffet78 commented on #1037
Здравствуйте, @bolotovaksenya !

Почему данная задача была заасанина на меня?

Спасибо!

[2019-06-10 10:54] Proffet78 commented on #1038
Здравствуйте, @bolotovaksenya !

Почему данная задача была заасанина на меня?

Спасибо!

[2019-06-10 15:34] MasterDesigner commented on #1020
Прошу перепроверить сценарий

[2019-06-11 12:46] YuriSilenok commented on #1039
если Вы занимаетесь задачей, то она должна висеть на Вас
![image](https://user-images.githubusercontent.com/14871471/59273056-04fdc600-8c60-11e9-906f-49b89cd6c05d.png)

[2019-06-11 12:48] YuriSilenok commented on #1035
Об этом всём нужно писать

[2019-06-11 17:22] YuriSilenok commented on #1025
сценарии должны содержать конкретные значения

[2019-06-11 17:31] YuriSilenok commented on #159
- `Создание записи при совпадении всех атрибутов` это лишнее
- если прикондишена нет, ячейка просто пустая
- в первой таблице нет 7 теста, у вас в сценариях он есть

[2019-06-11 17:34] YuriSilenok commented on #183
Вы тестируете набор функций, в том числе и ограничения.
Ваш тест проверяет работоспособность какой функциональности?

[2019-06-11 17:43] YuriSilenok commented on #1029
Понять не могу, почему появилась эта задача?

[2019-06-11 17:58] YuriSilenok commented on #1029
а, все понял, по поводу вопроса о претерпевании автотестов.
Если появились новые сценарии, значит они должны быть автоматизированы.
Эта задача появилась из-за отсутствия покрытия автотестастами функциональности в классе CTitle.
Желтым указана непокрытая часть кода, для них и нужны тесты.
![image](https://user-images.githubusercontent.com/14871471/59295055-71da8580-8c8b-11e9-87b0-09056f5cfdbb.png)

[2019-06-11 18:04] GubanovAndrey commented on #1029
Понял , спасибо. Сделаю

[2019-06-11 19:16] bolotovaksenya commented on #183
@YuriSilenok , ограничение на ввод идентичной записи посредством проверки условия наличия подобной записи в таблице

[2019-06-11 19:54] MasterDesigner commented on #1020
Прошло 24 часа, напоминаю о просьбе проверить сценарий

[2019-06-12 08:12] YuriSilenok commented on #1080
Смержено

[2019-06-12 08:12] #1080 closed, assigned to YuriSilenok

[2019-06-12 08:16] YuriSilenok commented on #183
у Вас ограничение сработает только если все атрибуты записи совпадут?

[2019-06-12 08:20] YuriSilenok commented on #1020
24 часа работает с письмами. С задачами работает другое правило. Нужно задачу повесить на того, кто должен с ней поработать.

[2019-06-12 08:27] YuriSilenok commented on #1038
эту информацию нужно указать в описании бага

[2019-06-12 08:35] YuriSilenok opened #1085 "Исправить сбои в автотестах расположенных в файле UT_Insert_CEnclosurse"
- Выявить причину сбоев в автотестах.
- При необходимости исправить автотесты и сценарии
- Перенести комментарии методов в шаблон` ///`
- Комментарии должны совпадать со описанием тестового сценария
#397 Script

Этап тестирования #1182

[2019-06-12 08:41] YuriSilenok opened #1086 "Исправить сбои в автотестах расположенных в файле UT_Delete_CTrainingProfile"
- Выявить причину сбоев в автотестах.
- При необходимости исправить автотесты и сценарии
- Перенести комментарии методов в шаблон` ///`
- Комментарии должны совпадать со описанием тестового сценария
#422 Script

[2019-06-12 08:44] YuriSilenok opened #1087 "Исправить сбои в автотестах расположенных в файле UT_Insert_CUniversity"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit) указам у заголовка тест-комплекта ссылку на гугл документ с исследованием по белому ящику.
- Автоматизировать полученные сценарии
- Перенест

[2019-06-12 11:56] MaximTrapeznikov commented on #37
Здраствуйте, @YuriSilenok .

Сценарии исправлены.

Спасибо.

[2019-06-12 12:39] YuriSilenok commented on #133
Что с этим таском?

[2019-06-12 12:49] YuriSilenok commented on #946
Зачем нужна эта задача?
В рамках какой активности, спринт, ЛР?

[2019-06-12 12:54] YuriSilenok commented on #959
Задача снята

[2019-06-12 14:38] YuriSilenok commented on #37
Здравствуйте.

Если в этом тесте будет сбой, какая функциональность не работает?

Если Вы не повесите задачу на меня, значит я не должен её проверить.

Спасибо.

[2019-06-12 14:52] YuriSilenok commented on #1066
- сценарии не обновлены в соответствии с автотестами

[2019-06-12 15:18] bolotovaksenya commented on #183
@YuriSilenok . да, но возможно в нём нет необходимости, т.к. предыдущие тесты на проверку ограничения на уникальности каждого атрибута по отдельности.

[2019-06-12 17:04] YuriSilenok commented on #183
Все верно, этот тест не нужен

каждый тест должен проверять одну функциональность, думаю с этой функциональностью та же история.

[2019-06-12 17:17] YuriSilenok opened #1088 "Исправить сбои в автотестах расположенных в файле UT_Update_CUniversity"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit) указам у заголовка тест-комплекта ссылку на гугл документ с исследованием по белому ящику.
- Автоматизировать полученные сценарии
- Перенест

[2019-06-12 19:49] VinogradovAlexandr781227 commented on #133
Здравствуйте

Готовился к экзамену. Завтра экзамен пройдёт и 2 дня будут полностью свободными, сделаю и отправлю на проверку.

Спасибо
Виноградов Александр
17-ИСбо-2б

Отправлено с iPhone

[2019-06-12 20:10] bolotovaksenya commented on #183
@YuriSilenok , ошибки учла, исправила

[2019-06-13 17:05] MaximTrapeznikov commented on #37
Здраствуйте, @YuriSilenok .

Удаление существующей строки осущнствляется при совпадении ключевого атрибута "Полное название дисциплины".
Сценарии исправлены.
[Исправлено](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/37#issuecomment-493629282)

Спасибо.

[2019-06-14 08:03] YuriSilenok commented on #1020
Добрый день.

Дополнение. Семестр кончилась и это значит что время для проверки Ваших работ закончилось. Это значит что я буду проверять Ваши работы, но только тогда, когда у меня будет на это время.

Спасибо.

[2019-06-15 11:23] abramovaalina commented on #1025
поправила сценарии

[2019-06-16 19:47] VinogradovAlexandr781227 commented on #159
Состояние таблицы | Краткое название института [[А-Я][а-я]] | Полное название института [[А-Я][а-я]] | Директор института [[А-Я][а-я]] | ВУЗ [[А-Я][а-я]]
-- | -- | -- | -- | --
Создание записи при отличии всех атрибутов | task-159-1 | task-159-1 | task-159-1 | task-159-1
Создание записи при совпадении только одного атрибута | task-159-2 | task-159-3 | task-159-4 | task-159-5

[2019-06-16 19:48] VinogradovAlexandr781227 commented on #159
Здравствуйте, Юрий Викторович
Исправил недоработки в лабораторной
Проверьте пожалуйста л.р. №4.1
Спасибо.

[2019-06-16 20:28] Proffet78 opened #1091 "Проверка всех сценариев и юнит-тестов сущности "Корпус" + Добавление сценариев на ограничения."
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
Задачи на тестирование с меткой Story не найдены.
Добавлены ограничения  в сценарии Update и Insert сущности Корпус:
task-397 и task-396
Существующие автотесты соответствуют написанным сценариям, кроме ограничений, так как они были добавлены в ходе выполнения данного задания.
Так же

[2019-06-16 20:29] Proffet78 commented on #1091
Здравствуйте

Прошу проверить ЛР 4.1

Спасибо

[2019-06-17 12:03] #976 closed, assigned to PopovMilan

[2019-06-17 12:03] #955 closed, assigned to PopovMilan

[2019-06-17 16:41] YuriSilenok opened #1093 "Разработать тестовые сценарии для вкладки День формы Параметры"
Разработать сценарии тестирования для функционального тестирования.
Задача реализована в Story #517

[2019-06-18 07:32] Proffet78 commented on #1038
Здравствуйте, @YuriSilenok !

Прошу проверить выполнение ЛР3.2!

Спасибо

[2019-06-18 10:41] YuriSilenok opened #1095 "Исправить сбои в автотестах расположенных в файле UT_Delete_CInstitute"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit)
- Обновить [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit)
- Перенести комментарии методов в шаблон `///`
- Комментарии должны совпадать с описанием тестового сценария

Этап тестирования #1182

[2019-06-18 10:43] YuriSilenok opened #1096 "Исправить сбои в автотестах расположенных в файле UT_Insert_CInstitute"
- Составить тесты методом белого ящика и [предоставить отчет](https://docs.google.com/document/d/1H6353mZjLjMmCq-1A7IrnKdwBUQXyg81wjauXlad3XY/edit) на гитхаб
- Перенести комментарии методов в шаблон `///`
- Комментарии должны совпадать с описанием тестового сценария

Этап тестирования #1182

[2019-06-18 10:54] YuriSilenok commented on #958
@Proffet78
Краткое название профиля подготовки может дублироваться, уникальным значением для профиля подготовки является шифр направления подготовки.
- Исправить ошибку воспроизводимую в баге.
- Проверить описание и исправить при необходимости в Story #630, сценариях тестирования, автотестах.

[2019-06-18 11:01] stasshtaub commented on #1093
[Ссылка на сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=983700952)

[2019-06-18 11:06] YuriSilenok commented on #37
Зачтено

[2019-06-18 11:06] #37 closed, assigned to YuriSilenok

[2019-06-18 11:13] YuriSilenok commented on #1091
Закрыто, клон #1085

[2019-06-18 11:13] YuriSilenok commented on #1085
Снято по не активности.

[2019-06-18 11:17] YuriSilenok commented on #927
зачтено

[2019-06-18 11:25] YuriSilenok commented on #159
- 6 тест удалить
- прекондишен перенести в шаги и прописать к ним ожидаемый результат

[2019-06-18 11:28] YuriSilenok commented on #1087
Задача снята по бездействию

[2019-06-18 11:31] YuriSilenok commented on #1082
Зачтено

[2019-06-18 11:49] Mikleproxorov opened #1097 "Разработать сценарии для авто-тестов класса Logs"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)
#991 функционал
#955  План
#956 Этап тестирования

[2019-06-18 11:51] #1097 closed, assigned to MyachevM

[2019-06-18 13:38] sidelong44 commented on #966
Таск поднят ошибочно.

[2019-06-18 13:38] #966 closed, assigned to alexeylisica

[2019-06-18 13:40] sidelong44 commented on #1024
Ошибки исправлены

[2019-06-18 13:40] #1024 closed, assigned to sidelong44

[2019-06-18 13:47] alexeylisica commented on #963
Сценарий по форме "Добавить кафедру" задачи #963 написан и занесен в таблицу. Разработано 9 сценариев.

[2019-06-18 13:48] #963 closed, assigned to alexeylisica

[2019-06-18 13:52] sidelong44 commented on #968
Задача выполнена

[2019-06-18 13:52] #968 closed, assigned to NordScandinavian

[2019-06-18 13:53] sidelong44 commented on #967
Задача выполнена

[2019-06-18 13:53] #967 closed, assigned to ZhizhikinIvan

[2019-06-18 13:54] sidelong44 commented on #961
Все подзадачи выполнены

[2019-06-18 13:54] #961 closed, assigned to sidelong44

[2019-06-18 13:58] YuriSilenok commented on #183
Инвертировать дублирование атрибутов в тестовых сценариях.

[2019-06-18 14:03] YuriSilenok commented on #1025
зачтено

[2019-06-18 14:03] #1025 closed, assigned to YuriSilenok

[2019-06-18 14:28] YuriSilenok commented on #1033
Зачтено за 3 спринт

[2019-06-18 14:28] #1033 closed, assigned to bolotovaksenya

[2019-06-18 14:48] #765 closed, assigned to NordScandinavian

[2019-06-18 14:50] YuriSilenok commented on #957
Передано по бездействию

[2019-06-18 14:51] #473 closed, assigned to ivshr

[2019-06-18 14:52] #952 closed, assigned to sidelong44

[2019-06-18 14:52] #962 closed, assigned to sidelong44

[2019-06-18 14:54] YuriSilenok opened #1098 "Разработать тестовые сценарии для вкладки Даты формы Параметры"
Разработать сценарии тестирования для функционального тестирования.
Задача реализована в Story #518

[2019-06-18 15:03] YuriSilenok commented on #1032
зачтено

[2019-06-18 17:00] YuriSilenok commented on #1007
Могу предположить что на данный момент  эта проблема решена.
![image](https://user-images.githubusercontent.com/14871471/59703651-02bcde00-9203-11e9-9c22-16b34c60a8f1.png)
думаю Вам нужно выполнить ряд команд.

[code]

Это позволит Вам получить актуальные изменения.

[2019-06-18 17:14] YuriSilenok commented on #1093
- ожидаемый результат прописать для каждого шага с указанием к какому шагу относится ожидаемый результат.

[2019-06-18 18:01] YuriSilenok commented on #740
Баг не воспроизводится в ветке Testing [коммит](7c38697b2a3fe2c2e3383b0288bc3b02eac44b48)

[2019-06-18 18:11] YuriSilenok commented on #1093
зачтено

[2019-06-18 18:11] #1093 closed, assigned to YuriSilenok

[2019-06-18 18:39] YuriSilenok commented on #133
Эта задача еще актуальна?

[2019-06-18 18:48] YuriSilenok commented on #1020
- ожидаемый результат прописывается для конкретного шага. Необходимо его указывать.
- сценарии избыточны, но ничего страшного

в остальном все нормально.

[2019-06-18 21:23] VinogradovAlexandr781227 commented on #133
Здравствуйте

Если я могу исправить в ней конфликты и это зачтется за лабораторную, то я
сделаю. Просто Я сказал что сделаю её, там сообщение кривое пришло и вы
закрыли эту задачу

Спасибо
Виноградов Александр
17-ИСбо-2б

вторник, 18 июня 2019 г. пользователь Юрий Силенок <notifications@github.com>
написал:

[2019-06-19 07:25] bormolei commented on #1088
Добрый день, @YuriSilenok .
В данных тестах я сбоев не нашел, тесты все выполняются успешно. Из всех поставленных задач единственно что требует исправление это перенести комментарии методов в шаблон.

[2019-06-19 11:17] YuriSilenok commented on #1088
Смотрю

[2019-06-19 11:19] YuriSilenok commented on #1088
Да, действительно, эти тесты проходят без сбоев.

[2019-06-19 11:20] YuriSilenok commented on #1088
Скоро выдам другое задание

[2019-06-19 11:21] YuriSilenok commented on #1088
Duplicate of #892

[2019-06-19 11:23] YuriSilenok commented on #988
кажется Вы это реализовали, прикрепить пожалуйста в запросе ссылку на этот таск

[2019-06-19 12:34] sidelong44 commented on #988
Добрый день. В каком запросе? В PR?

[2019-06-19 12:43] YuriSilenok commented on #988
Да, в пулреквесте.

[2019-06-19 12:54] YuriSilenok commented on #1086
Передано по неактивности

[2019-06-19 15:50] YuriSilenok commented on #183
Зачтено

[2019-06-19 15:50] #183 closed, assigned to YuriSilenok

[2019-06-19 16:28] YuriSilenok commented on #929
задача закрыта по не активности

[2019-06-19 16:48] YuriSilenok commented on #998
Задача снята по не активности

[2019-06-19 17:12] YuriSilenok commented on #133
Вы можете открыть новый запрос на слияние.
При проверке открытых запросов и задач я обращаю внимание на те, по которым не было активности 7 и более дней.

[2019-06-19 17:23] YuriSilenok commented on #768
задача закрыта по неактивности

[2019-06-19 17:23] #768 closed, assigned to sidelong44

[2019-06-19 19:36] bolotovaksenya opened #1099 "Ликвидация долгов за Sprint 4"
#1035
#1039
#288
#1041
#1105

[2019-06-20 08:08] MasterDesigner commented on #1020
Исправил, прошу проверить

[2019-06-20 09:11] VinogradovAlexandr781227 commented on #1086
Здравствуйте

Выдайте мне пожалуйста новую задачу в замен этой

Спасибо
Виноградов Александр
17-ИСбо-2б

среда, 19 июня 2019 г. пользователь Юрий Силенок <notifications@github.com>
написал:

[2019-06-20 14:14] YuriSilenok commented on #1086
Берите #838

[2019-06-20 14:19] YuriSilenok commented on #1020
- неправильная нумерация в Test ID
- если требуется ввести значение, то в сценарии пишется какое именно значение
- начиная с теста task-1020-3 перенести шаги из прекондишена в степы

[2019-06-20 14:24] YuriSilenok commented on #1012
Закрыто по не активности

[2019-06-20 14:24] #1012 closed, assigned to MariNazarova

[2019-06-20 14:27] YuriSilenok commented on #184
зачтено

[2019-06-20 14:27] #184 closed, assigned to YuriSilenok, bolotovaksenya

[2019-06-20 18:11] YuriSilenok commented on #1099
найденный баг #1035 зачтен как 1 из 8 тасков

[2019-06-20 18:14] YuriSilenok commented on #1099
найденный баг #1039 зачтен как 2 из 8 тасков, вы можете исправить этот баг, тогда он зачтется как еще одна задача.

[2019-06-20 18:17] YuriSilenok commented on #1015
Duplicate of #1014

[2019-06-20 18:17] #1015 closed, assigned to Heriuple

[2019-06-20 18:20] YuriSilenok commented on #1013
Полное название вида занятия является первичным ключем. Первичный ключ не подлежит изменению.

[2019-06-20 18:20] #1013 closed, assigned to Nosolev

[2019-06-20 18:21] YuriSilenok commented on #1021
Стори реализовано, замечания устранены

[2019-06-20 18:21] #1021 closed, assigned to MasterDesigner, MariNazarova

[2019-06-20 18:24] YuriSilenok commented on #1005
Баг не воспроизводится в ветке Testing. [коммит ](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/commit/9ff47db38d286d9f5b6fa661a6cf1f7b4703407a)

[2019-06-20 18:24] #1005 closed, assigned to Heriuple

[2019-06-20 18:24] YuriSilenok commented on #842
Закрыт по неактивности

[2019-06-20 18:24] #842 closed, assigned to MasterDesigner

[2019-06-20 18:37] DemiKor commented on #798
Здравствуйте, @YuriSilenok
Не было активности в связи с сессией
Исправил ошибки, которые были записаны в прошлом пуле, и завел новый

[2019-06-20 20:12] bolotovaksenya commented on #1099
@YuriSilenok , почему Вы считаете, что я должна сделать 8 тасков
Если я уже подняла 4 бага и их же исправила
#1035:  #1056
#1039 : #1059
#288:  #1101
#1041:   #1102
 я получается закрыла спринт

[2019-06-20 20:24] MasterDesigner commented on #1020
Нумерацию исправил
Значения, по-моему, везде написаны
Не понимаю зачем нужна из прекондишена в степы переносить, ведь в прекондишине мы выполняем действия до степов?

[2019-06-21 17:32] YuriSilenok commented on #798
долга по спринту или ЛР?

этот вопрос был вызван отсутствием атрибута Веха

[2019-06-21 18:06] YuriSilenok commented on #1039
@bolotovaksenya ретест в ветке Testing, если не воспроизводится сообщить и закрыть

[2019-06-21 18:14] YuriSilenok commented on #1099
Потому что Вы исправили их в ветке для таска, а мержа, на тот момент, небыло.

Я исхожу из тех задач, кторые здесь перечислены.
Спринт без команды альтернативен 8 задачам.
Скажите, вы смотрите на оповещения, у Вас заопрувелные запросы по 10 дней весят, когда я их закрыл, тогда Вы только их переоткрываете и мержите.
Давайте посчитаем как у вас дела на настоящий момент.

1. #1035 - найден баг - нуже

[2019-06-21 18:15] YuriSilenok commented on #1035
требуется ретест в ветке Testing

[2019-06-21 18:16] YuriSilenok commented on #288
@bolotovaksenya ретест в ветке Testing после мержа, если не воспроизводится сообщить и закрыть

[2019-06-21 18:30] YuriSilenok commented on #1020
В прекондишене указывается состояние системы.Например, таблица ВУЗ имеет не менее одной записей. Например если тест направлен на проверку создания института, в котором обязательно должен быть указан существующий ВУЗ. В прикондишене могут быть указаны шаги, но это ооооочень редкая ситуация и распространение этой традиции в сценариях я не смог вовремя присечь. Теперь туда запихивают все что не попод

[2019-06-21 18:30] #1020 closed, assigned to YuriSilenok

[2019-06-21 18:40] bolotovaksenya commented on #1099
@YuriSilenok , ожидающие мержа сделала, ретесты так же провела

[2019-06-21 19:07] bolotovaksenya commented on #1035
@YuriSilenok , ретест провела, сейчас этот баг в ветке Testing не воспроизводится.

[2019-06-21 19:07] #1035 closed, assigned to bolotovaksenya

[2019-06-21 19:09] bolotovaksenya commented on #1039
@YuriSilenok , проверила - более не воспроизводится.

[2019-06-21 19:09] #1039 closed, assigned to bolotovaksenya

[2019-06-21 19:11] bolotovaksenya commented on #1041
@YuriSilenok , в ветке Testing баг не воспроизводится.

[2019-06-21 19:11] #1041 closed, assigned to bolotovaksenya

[2019-06-21 19:40] badsster commented on #1098
[Ссылка на сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
task-1098

[2019-06-21 19:48] YuriSilenok commented on #1099
Вы писали что Вам не приходит оповещение.
Я проверил эту информацию, гитхаб оповещает пользователей об этом.
![image](https://user-images.githubusercontent.com/14871471/59947702-9fd37d00-9476-11e9-8a6f-3ca5ce7e4ad0.png)

[2019-06-21 19:51] YuriSilenok commented on #1099
После мержа ветки нужно удалять

[2019-06-21 19:58] YuriSilenok commented on #1099
1. #1035 - зачтено
2. #1056 - удалить ветку
3. #1039 - зачтено
4. #1059 - удалить ветку
5. #1101 - удалить ветку
6. #1041 - зачтено
7. #1102 - удалить ветку
8. нужна еще одна задача

[2019-06-21 20:03] bolotovaksenya opened #1105 "Ввод некорректных данных в справочнике "ВУЗы" в поле "Фактический адрес""
Название ветки:17-ИСбо-2а-7
Баг воспроизводиться в v0.20-Testing
Шаги реализации бага:
1.Открыть справочник "ВУЗы"
![image](https://user-images.githubusercontent.com/47633289/59948023-85e66a00-9477-11e9-8d21-940b83f1d2fb.png)
2. Нажать "Добавить"
3. В поле "Краткое название" ввести "КГУ"
4. В поле "Полное название" ввести "Костромской Государственный Университет"
5. В поле "Фактический адрес" ввес

[2019-06-21 20:14] bolotovaksenya commented on #1099
@YuriSilenok , ветки удалены

[2019-06-21 20:17] YuriSilenok commented on #1098
Ожидаемый результат прописать к каждому шагу.

[2019-06-21 20:21] YuriSilenok commented on #1105
В ожидаемый результат необходимо прописать привило, по которому определяется что фактический адрес введен верно.

[2019-06-21 20:21] YuriSilenok commented on #1099
8 таск будет?

[2019-06-21 20:22] YuriSilenok commented on #1099
вижу

[2019-06-21 20:25] YuriSilenok commented on #1099
1. #1035 - зачтено
2. #1056 - зачтено
3. #1039 - зачтено
4. #1059 - зачтено
5. #1101 - зачтено
6. #1041 - зачтено
7. #1102 - зачтено
8. #1105 - Уточнить правило проверки ожидаемого результата

[2019-06-21 20:38] bolotovaksenya commented on #1105
@YuriSilenok исправила

[2019-06-21 20:39] YuriSilenok commented on #1036
зачтено

[2019-06-21 20:40] DenisSavelev commented on #1036
Когда можно поставить зачёт в зачётную книжку?

[2019-06-21 20:50] YuriSilenok commented on #1105
зачтено

[2019-06-21 20:51] YuriSilenok commented on #1099
1. #1035 - зачтено
2. #1056 - зачтено
3. #1039 - зачтено
4. #1059 - зачтено
5. #1101 - зачтено
6. #1041 - зачтено
7. #1102 - зачтено
8. #1105 - зачтено

Спринт зачтен

[2019-06-21 20:51] #1099 closed, assigned to bolotovaksenya

[2019-06-21 20:51] YuriSilenok commented on #1036
как сможете, в ведомость в любом случае поставлю

[2019-06-21 20:53] DenisSavelev commented on #1036
Завтра, можно как-нибудь?

пт, 21 июн. 2019 г. в 23:51, Юрий Силенок <notifications@github.com>:

[2019-06-21 20:58] YuriSilenok commented on #1036
точное время не знаю, когда я буду в КГУ

[2019-06-22 14:25] YuriSilenok commented on #1014
Тасков на исправление бага в нашем проекте быть не может.

[2019-06-22 14:25] #1014 closed, assigned to Nosolev

[2019-06-22 14:27] YuriSilenok commented on #518
задача снята по не активности

[2019-06-22 14:29] YuriSilenok commented on #1031
Снято по не активности

[2019-06-22 14:30] YuriSilenok commented on #1047
снято по не активности

[2019-06-22 14:30] YuriSilenok commented on #1046
снято по не активности

[2019-06-22 14:31] YuriSilenok commented on #1045
снято по не активности

[2019-06-22 14:38] YuriSilenok commented on #1078
Добрый день @Rogachev99
- Напоминаю, что если Вы не заасаните на меня задачу, я не буду на нее смотреть. указание никнема лишь дает конкретизацию в обращении.

Спасибо,
Юрий

[2019-06-22 14:39] YuriSilenok commented on #839
спринт сдан

[2019-06-22 14:39] #839 closed, assigned to MasterDesigner, MariNazarova

[2019-06-22 14:40] YuriSilenok commented on #1029
Если по запросу не будет активности 7 дней, задача будет снята.

[2019-06-22 14:41] YuriSilenok commented on #946
задача закрыта по неактивности

[2019-06-22 14:41] #946 closed, assigned to VinogradovAlexandr781227

[2019-06-22 14:49] YuriSilenok commented on #959
Воспроизводится в v0.20-Testing

[2019-06-22 14:53] YuriSilenok commented on #1066
Если в запросе не будет активности в течении 7 дней, задача будет снята.

[2019-06-22 14:54] YuriSilenok commented on #1065
Если в запросе не будет активности в течении 7 дней, задача будет снята.

[2019-06-22 14:54] YuriSilenok commented on #1034
Задача снята

[2019-06-24 05:38] Jeen99 commented on #1078
Добрый день @YuriSilenok
Необходимо каждую задачу на вас заасанить или хватит только этой?
Спасибо.

[2019-06-24 12:45] YuriSilenok commented on #1078
Достаточно только текущую задачу.
Баги и другие типы задач будут жить по своему стандартному циклу.

[2019-06-24 13:09] YuriSilenok commented on #1078
#1075 - необходимо прописать сценарий воспроизведения по шагам, начиная с перехода по меню Справочники. Заголовок должен отвечать на 3 вопроса. Что, где, когда. Что - `Не возможно использовать горячие клавиши`, где - `в полях Аудитория и Кафедра`, когда - `на добавлении аудитории`
#1074 - те же ошибки. Непонятно после нажатия на какую кнопку получается этот фактический результат.
проверить все баг

[2019-06-25 09:00] ZEUS4942 commented on #998
Создал форму "Параметры". Вкладка Звонки.
Проверяющий @YuriSilenok
Вот ссылка на task:
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/tree/task-998

[2019-06-26 10:59] YuriSilenok commented on #984
Задача снята по бездействию

[2019-06-26 12:26] YuriSilenok commented on #998
Когда в заспросе на слияние юудет дано разрешение на слияние и слияние Вами будет выполнено, эту задачу необходимо перевесить на меня.

Обо всех манипуляциях мне приходит уведомление. Я не пропущу Ваш запрос. Не нужно писать в основной задаче о том что запрос готов к проверке, Вы должны указать мнея в соответсвующем поле, что и было Вами сделано.

И да, https://github.com/Students-of-the-city-of-K

[2019-06-26 13:32] YuriSilenok commented on #740
@litdex зачтено за найденый баг

[2019-06-26 13:52] YuriSilenok commented on #1095
Задача снята по бездействию

[2019-06-26 13:52] YuriSilenok commented on #1096
Задача снята по бездействию

[2019-06-26 13:53] YuriSilenok commented on #958
Задача снята по бездействию

[2019-06-26 13:53] YuriSilenok commented on #1085
Задача снята по бездействию

[2019-06-26 13:55] YuriSilenok commented on #159
Задача снята по бездействию

[2019-06-26 14:16] VinogradovAlexandr781227 commented on #838
@YuriSilenok , добрый день.
От какой ветки нужно ответвляться? Т.к. в ветке Testing нет модели и контроллера "Кафедры"?
Спасибо.

[2019-06-26 14:28] litdex commented on #741
Здравствуйте, @YuriSilenok
Баг не воспроизводится в v0.20-Testing

Спасибо,
Максим

[2019-06-26 14:30] litdex commented on #739
Здравствуйте, @YuriSilenok
Баг не воспроизводится в v0.20-Testing

Спасибо,
Максим

[2019-06-26 14:32] YuriSilenok commented on #838
Дизайнеры не доделали мерж, решаю эту проблему здесь #1110

[2019-06-26 14:35] YuriSilenok commented on #741
@litdex зачтено как найденный баг

[2019-06-26 14:40] YuriSilenok commented on #838
Обновите локальную копию ветки Testing  и проверьте, появились ли интересующие Вас классы

[2019-06-26 14:44] YuriSilenok commented on #739
@litdex зачтено как найденый баг.

[2019-06-26 18:32] VinogradovAlexandr781227 commented on #159
Здравствуйте

Извините пожалуйста, был занят другой задачей. Там делать осталось совсем ничего. Повесьте на меня пожалуйста эту задачу и я её доделаю. Там работы на 15 минут

Спасибо
Виноградов Александр
17-ИСбо-2б

Отправлено с iPhone

[2019-06-27 04:08] YuriSilenok commented on #159
Добрый день.

Вам повезло, эту задачу ни кто не забрал.
разберитесь с ней за 7 дней

Спасибо.

[2019-06-28 06:16] YuriSilenok commented on #1105
@litdex зачтено

[2019-06-28 06:28] YuriSilenok commented on #518
почему запрос #1114 был закрыт?

[2019-06-28 07:07] YuriSilenok commented on #1047
@litdex зачтено

[2019-06-28 07:09] YuriSilenok commented on #1047
Этот таск не может быть выдан в качестве ликвидации задолженности.
Необходимо проверить воспроизводимость бага в ближайшем релизе.

[2019-06-28 07:12] YuriSilenok commented on #1105
Этот таск не может быть выдан в качестве ликвидации задолженности.
Необходимо проверить воспроизводимость бага в ближайшем релизе.

[2019-06-28 07:18] YuriSilenok commented on #988
Закрыто по окончанию процесса обучения и смерженному запросу.

[2019-06-28 07:19] YuriSilenok commented on #1086
снято по неактиыности

[2019-06-28 07:20] YuriSilenok commented on #822
Снято по не активности

[2019-06-28 07:23] YuriSilenok commented on #662
Снято по не активности

[2019-06-28 07:25] YuriSilenok commented on #288
Снято по не активности
Эта задача не может быть использована для ликвидации задолженности.

[2019-06-28 09:41] litdex commented on #1046
@YuriSilenok Добрый день, можно ли создать одну ветку для решения #1046 и #1045 ?

[2019-06-28 09:44] YuriSilenok commented on #1046
Да, но этот запрос должен содержать ссылки на эти две задачи

[2019-06-28 10:02] YuriSilenok commented on #1046
@litdex зачтено
Этот баг должен быть проверен в ближайшем релизе и не может выдан в качестве ликцвидации задолжености

[2019-06-28 10:04] YuriSilenok commented on #1045
@litdex зачтено

[2019-06-28 14:37] YuriSilenok commented on #957
Вы пропустили первый шаг описаный в запросе https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/1103#issuecomment-506713261.
Если Вы не понимаете что Вы должны сделать, Вы должны задать вопрос.

[2019-06-28 14:42] YuriSilenok commented on #957
Вы нарушили последовательность действий, почему вы сначало перевесили на меня задачу, а потом пошли закрывать запрос?

[2019-06-29 08:42] DemiKor commented on #798
Долг по зачету годовой давности

[2019-06-29 21:02] Jeen99 commented on #1078
@YuriSilenok, исправил недочеты. Проверьте, пожалуйста.

[2019-06-30 18:32] halfer4444 commented on #1017
@YuriSilenok
Что делать, если баг не воспроизводится?

[2019-06-30 20:15] YuriSilenok commented on #1017
Как вы получили исполняемый файл на котором проводили тестирование?

[2019-06-30 20:16] YuriSilenok commented on #1017
Или даже так, вы проводили тестирование в релизе указанном в баге?

[2019-07-01 06:24] YuriSilenok commented on #1075
В баге кроме ожидаемого результат прописывается и фактический результат.
Ожидаемый результат лучше прописать более конкретно. По сути обработка горячих клавиш осущесествляется, но для пользователя нет явных признаков для этого. Нужно написать в ожидаемый результат что-то типа `В поле корпус и аудитория вставляется вставляется текст из буфера обмена`

[2019-07-01 06:27] YuriSilenok commented on #1074
Это нужно разбить на ожидаемый результат и фактический результат. В ожидамеом результате описать что происходит добавление записи, а в фактическом описать что что выдается предупреждение и добавляется запись.

[2019-07-01 06:28] YuriSilenok commented on #1078
общее замечение.
проработать отдельно фактический и ожидаемый результат.
Человеку который должен будет исправлять должно бытьпоняитно к какому поведению претензия и на какое поведение нужно исправить функциональность.

[2019-07-01 06:30] YuriSilenok commented on #798
Когда закончите с запросом на слияние, перевесьте задачу на меня, я зачту балл.

[2019-07-01 06:36] YuriSilenok commented on #798
зачтено

[2019-07-01 08:41] halfer4444 commented on #1017
@YuriSilenok  В ветке 17-исбо-2а-7 взял исполняемый файл. Произвел шаги реализации бага, но баг не появился. И как посмотреть какой релиз у исполняемого файла?

[2019-07-01 13:48] YuriSilenok commented on #1017
Теперь дела не так обстаят.  Вам не нужно лезть в ветку спринта какой-то команды.
У нас есть релизы. Смотрите ярлык releases
![image](https://user-images.githubusercontent.com/14871471/60441412-f6377d00-9c27-11e9-94c9-a12177ce446b.png)
Вам нужен самый первый zip файл, в релизе v0.20-Testing он называется 1078.zip . его скачиваете, распаковываете, запускаете и тестируете.
![image](https://user-imag

[2019-07-02 06:57] YuriSilenok commented on #984
После успешного слияния, основнгая задача (в даннос случе текущая задача) перевешивается на меня, с целью окончательной проверки и выставление баллов.

[2019-07-02 08:51] VinogradovAlexandr781227 commented on #159
Здравствуйте, Юрий Викторович
Исправил недоработки в лабораторной
Проверьте пожалуйста л.р. №4.1
Спасибо.

[2019-07-02 13:32] YuriSilenok commented on #159
Добрый день.

task-159-2, task-159-2, task-159-5  - нет ожидаемого результат к последнему шагу
task-159-4, некорректная нумерация шагов.

Спасибо,
Юрий

[2019-07-02 13:36] YuriSilenok commented on #822
задачи не меня не вешайте, пока не будет смержен запрос на слияние

[2019-07-02 13:39] YuriSilenok commented on #959
на меня задачу вешать после мержа

[2019-07-02 16:08] halfer4444 commented on #1017
@YuriSilenok Я, возможно, знаю, в чем проблема, но как зайти в схему с таблицами, чтобы поменять направления связей? Связь идет от University к Enclousers, а должна быть наоборот.
![Безымянный](https://user-images.githubusercontent.com/52164390/60528232-a4acf200-9cfc-11e9-970e-cd658a58bae9.png)

[2019-07-02 16:17] YuriSilenok commented on #959
Зачтено

[2019-07-02 16:17] #959 closed, assigned to YuriSilenok

[2019-07-02 16:19] YuriSilenok commented on #822
зачтено

[2019-07-02 16:19] #822 closed, assigned to YuriSilenok

[2019-07-02 16:26] YuriSilenok opened #1123 "Удалить из проекта лишние папки"
- LibOfTimetableOfClassesTests
- UT_MDepartment

[2019-07-02 16:33] YuriSilenok commented on #1017
Связи между таблицами реализуются [здесь](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/Testing/LibOfTimetableOfClasses/RefData.cs)

[2019-07-02 16:34] YuriSilenok commented on #1123
папки удалены

[2019-07-02 16:46] YuriSilenok commented on #1031
зачтено

[2019-07-02 16:46] #1031 closed, assigned to YuriSilenok

[2019-07-02 19:41] DemiKor commented on #694
@YuriSilenok Отсутствует контроллер для сущности Министерство

[2019-07-03 11:28] YuriSilenok commented on #694
Задача закрыта так как нет контроллера Министерства

[2019-07-03 11:28] #694 closed, assigned to DemiKor

[2019-07-03 14:11] YuriSilenok commented on #1029
закрыта по неактивности

[2019-07-03 14:11] #1029 closed, assigned to GubanovAndrey

[2019-07-03 14:13] YuriSilenok commented on #1065
задача снята по неактивности

[2019-07-03 14:16] YuriSilenok commented on #1066
снято по неактивности

[2019-07-03 14:18] YuriSilenok commented on #1098
Если в течении 7 дней не будет активности, задача будет закрыта без возмложности открытия.

[2019-07-03 14:21] YuriSilenok commented on #838
если в течении 7 дней активности по задаче не будет, задача будет снята

[2019-07-04 07:07] YuriSilenok commented on #1038
Зачтено

[2019-07-04 07:07] #1038 closed, assigned to YuriSilenok

[2019-07-04 07:09] YuriSilenok commented on #984
Зачтено

[2019-07-04 07:09] #984 closed, assigned to YuriSilenok

[2019-07-04 09:09] venecon1 commented on #1037
В данной версии Testing данный баг не воспроизводиться, ввод цифр в поля Полное и краткое название запрещен.

[2019-07-04 10:31] YuriSilenok commented on #1037
Это значит что баг уже был исправлен, значит что текущий баг является дубликатом. Если найдёте оригинальный баг, зачту этот баг.

[2019-07-04 10:33] YuriSilenok commented on #1037
И если считаете что вы закончили работать над задачей, с себя её нужно снимать.

[2019-07-04 10:54] venecon1 commented on #1037
Данный баг является оригинальным https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/796.

[2019-07-04 12:23] venecon1 commented on #662
Странно что баг воспроизводился с такими данными так как commit https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/commit/9e53d784cd04fdfb28c42721411299d1cc4b536f#diff-7c3cb1075125cb306633ac81d0eb753b добавил ограничение на ввод символов в поле "Группа" при помощи метода SelectionOfLetters1.
Но по багу скажу что не реализовано проверка на правильность, группы а данная ошибка кот

[2019-07-04 13:30] venecon1 commented on #890
Данный баг более не воспроизводиться. Либо автором указана не полная последовательности действий. Я проверил были ли фиксы связанных файлов их не был. Следовательно баг или локальный или действия описаны не точно. Так как в соответсвии с тестами из [таблицы ](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1153322464) проведенными мною мануально все тес

[2019-07-05 06:17] venecon1 opened #1131 "В справочник "Преподаватель" невозможно добавить преподавателя с теми же параметрами что уже есть"
1. Добавляем в справочник преподавателя со следующими данными
![image](https://user-images.githubusercontent.com/52324023/60701497-9b8e7180-9f04-11e9-80c7-1f3cf0b36b8b.png)
2.Добавляем ещё одного преподавателя с теми же данными

Ожидаемый результат: Добавиться новый преподаватель.
Фактический выдает ошибку:
![image](https://user-images.githubusercontent.com/52324023/60701589-ef00bf80-9f04-11e9-914

[2019-07-05 07:27] YuriSilenok commented on #1037
Зачтено
Duplicate of #796

[2019-07-05 07:27] #1037 closed, assigned to YuriSilenok

[2019-07-05 12:32] YuriSilenok commented on #998
Зачтено

[2019-07-05 12:32] #998 closed, assigned to YuriSilenok

[2019-07-06 11:43] VinogradovAlexandr781227 commented on #159
Здравствуйте.

Нумерацию изменил, но вот по поводу ожидаемого результата не совсем понял. Он там есть.

Спасибо.

[2019-07-06 17:21] YuriSilenok commented on #159
Добрый день,

Что означает число в начале ожидаемого результата?

Спасибо,
Юрий

[2019-07-06 17:40] YuriSilenok commented on #662
Добрый день,

Я понял что Вы разбирались в деталях бага.
Балл ставиться если баг был исправлен.

Спасибо,
Юрий.

[2019-07-07 19:19] VinogradovAlexandr781227 commented on #159
Здравствуйте

Я его копировал ещё со времён выдачи этой работы по примеру вашему и других ребят. Во всех спринтах оно тоже присутствует.

Спасибо
Виноградов Александр
17-ИСбо-2б

сб, 6 июл. 2019 г. в 20:21, Юрий Силенок <notifications@github.com>:

[2019-07-07 19:20] VinogradovAlexandr781227 commented on #1087
Здравствуйте, Юрий Викторович

Проверьте пожалуйста ЛР4.2

Спасибо.

[2019-07-08 11:45] YuriSilenok commented on #1131
Добавить в качестве первичного ключа ИНН физ.лица. ИНН не относится к категории персональных данных.
@venecon1 зачтено в (ТРПО КП) 16-ИСбо-2

[2019-07-08 12:04] YuriSilenok commented on #1017
@halfer4444 я не понимаю что я должен сделать с этой задачей, зачем она на мне висит?

[2019-07-09 09:24] YuriSilenok commented on #1034
Не вешайте задачу на меня, она еще не готова