[2018-04-26 13:00] YuriSilenok commented on #2
UI
![win7_2](https://user-images.githubusercontent.com/14871471/39307231-f1aaf76e-496a-11e8-9a41-e56a688e30af.png)

[2018-04-26 13:03] YuriSilenok commented on #2
- [https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/6]

[2018-04-26 13:44] YuriSilenok commented on #2
-   [ ] #6

[2018-05-17 10:59] YuriSilenok commented on #5
@Jenackl Теперь ошибки которые которые были Вами допущены.

- Вы не заасанили на себя таск, теперь думаю я сам буду асанить таски сам.
- Таск нужно было разрабатывать в определнную ветку, о ней написано в описании таска
- После выполнения нужно было сделать запрос на слияние веток.

[2018-05-17 11:01] YuriSilenok commented on #4
@Jenackl Теперь ошибки которые которые были Вами допущены.

- Вы не заасанили на себя таск, теперь думаю я сам буду асанить таски сам.
- Таск нужно было разрабатывать в определнную ветку, о ней написано в описании таска
- После выполнения нужно было сделать запрос на слияние веток.

[2018-05-23 11:50] blinker44 commented on #3
Готово.

[2018-05-23 13:20] YuriSilenok commented on #7
@NastyaFilyushkina
Здесь вы можете посмотреть образец таблицы со сценариями.
https://docs.google.com/spreadsheets/d/18trOFX6wJZx_5x3npTJBs8UxIA6qZNcX-zqCHgG28Do/edit?ts=5af1599a#gid=0
Это не эталон, но она вам поможет, проверять я буду ее.
Необходимо будет скопировать эту гугл таблицу к себе на гугл диск и когда она будет готова скачать его как таблицу эксель и прикрепить к этому таску.
После испо

[2018-05-23 13:22] YuriSilenok commented on #3
@blinker44 мерж не состоялся, у вас дубликаты в меню. Но думаю вы и так получили на почту комментарий об этой из пулреквеста.

[2018-05-23 18:48] blinker44 commented on #3
Исправил.

[2018-05-29 17:31] NastyaFilyushkina commented on #7
[Сценарий тестирования.xlsx](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/files/2049750/default.xlsx)

[2018-05-30 15:58] YuriSilenok commented on #7
@NastyaFilyushkina Пожалуйста, ознакомьтесь [здесь](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/master/README.md#%D0%A1%D1%82%D0%BE%D0%BB%D0%B1%D1%86%D1%8B-%D0%B2-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B5-%D1%82%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D1%8B%D1%85-%D1%81%D1%86%D0%B5%D0%BD%D0%B0%D1%80%D0%B8%D0%B5%D0%B2) с описанием столбцов в этом документе.
Эти сценарии нуждаю

[2018-05-31 19:08] NastyaFilyushkina commented on #7
[Сценарий тестирования (1).xlsx](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/files/2059705/1.xlsx)

[2018-05-31 20:37] YuriSilenok commented on #5
@Jenackl
Этот таск с Вас снят, так как Вы не проявляете активность по этому таску более недели.

[2018-05-31 20:44] YuriSilenok commented on #4
@Jenackl
Этот таск с Вас снят, так как Вы не проявляете активность по этому таску более недели.

[2018-05-31 21:10] YuriSilenok commented on #7
@NastyaFilyushkina
Столбец **Mapping with matrix** заполняется только в тех строках где сценарии автоматизированы
Столбцы со статусам выполнения тестов не заполняются при составлении тестовых сценариев, а особенно статусы для автоматизации если автоматизации небыло.
В сценариях упомянута фильтрация, в стори о ней ничего не сказано. Тестовые сценарии должны покрывать только заявленную функционально

[2018-06-01 09:50] YuriSilenok commented on #3
@blinker44
Если вы не повесите на меня задачу, я не узнаю о том что ее нужно проверить и как следствие зачесть.

[2018-06-01 14:41] NastyaFilyushkina commented on #7
[Сценарий тестирования (2).xlsx](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/files/2063072/2.xlsx)

[2018-06-02 06:50] YuriSilenok commented on #3
Зачтено

[2018-06-02 06:51] YuriSilenok commented on #3
Зачтено

[2018-06-02 07:01] YuriSilenok commented on #7
@NastyaFilyushkina
Зачтено, какую из какой категории вы хотели бы получить задание
- Разработать стори
- Написать сценарии
- Ручное тестирование

[2018-06-02 12:35] NastyaFilyushkina commented on #7
Я хотела бы ручное тестирование

[2018-06-02 13:16] TanyaMalis commented on #5
[TimetableOfClasses.zip](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/files/2065012/TimetableOfClasses.zip)

[2018-06-03 12:06] YuriSilenok commented on #7
@NastyaFilyushkina
[Это ](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=0&range=F2)ссылка на Ваши сценарии на гугл диске, все оставшиеся сценарии необходимо продолжать в этой же таблице.

[2018-06-04 06:29] Whitetech7417 commented on #19
При нажатии на кнопку : что должно происходить? куда то данные сохранятся которые мы заполнили?

[2018-06-05 04:46] YuriSilenok commented on #19
@Whitetech7417
Если речь идет о кнопке добавить, то должна открыться форма добавления преподавателя.
Если речь идет о кнопке создать, то действий над данными не требуется, просто закройте форму. Пока это пустая болванка.
По большей части цель этого таска проверить как вы сможете работать с репозиторием.

[2018-06-05 07:00] YuriSilenok commented on #16
@DemiKor
Задача снята так как нет активности более 7 дней.

[2018-06-05 18:02] YuriSilenok commented on #27
@NastyaFilyushkina
Привыкайте оперировать двумя понятиями, которые нельзя модицифировать.
Ожидаемый результат (Expected result)
Файтический результат (Actual result)

[2018-06-05 18:10] YuriSilenok commented on #22
@NastyaFilyushkina
Зачтено

[2018-06-05 19:41] YuriSilenok commented on #27
@NastyaFilyushkina
Этот баг является дубликатом к багу #26 Так как суть бага заключается что для числовых значений выполняется посимвольная сортировка.
Баг #26 будет переименован в **Неправильная сортировка в столбце "Размер педагогического стажа" таблицы преподаватели**

[2018-06-05 19:48] YuriSilenok commented on #26
@NastyaFilyushkina Посмотри этот баг, это будет для тебя образцом по оформлению. В нем должно быть только самое необходимое.

[2018-06-05 20:09] YuriSilenok commented on #26
@blinker44
Когда исправите, сначало вы должны выполнить пул реквест, заасанить на меня, если с ним все хорошо, то баг перевестить на того кто его создавал для проверки, как только он будет закрыт, зачту работу. Не забудте указать в пул реквесте ссылку на этот баг.

[2018-06-06 19:23] YuriSilenok opened #30 "Создать модель для преподавателей"
Модель(класс MTeacher) создается отдельным файлом (MTeacher.cs) в проекте(библиотеке) решения.

Это фрагмент диаграммы классов в нотации UML.
![image](https://user-images.githubusercontent.com/14871471/41060292-d72c32da-69d7-11e8-9780-73a20e4ce704.png)
[Ссылка ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)на текущую версию диаграммы классов.

Ре

[2018-06-06 20:06] YuriSilenok commented on #26
@blinker44
Есть ли у Вас идеи как можно поправить этот баг?

[2018-06-07 08:51] Whitetech7417 commented on #19
@YuriSilenok
Залил в pull request файлы проекта. Либо иx нужно было в саму ветку issue -19 заливать?

[2018-06-07 11:16] NastyaFilyushkina commented on #16
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=0&range=F24

[2018-06-07 13:32] YuriSilenok commented on #16
@NastyaFilyushkina
Есть ли сценарии проверяющие это?

[2018-06-07 13:34] YuriSilenok commented on #28
@NastyaFilyushkina
Один баг, можно оба сценария прописать.

[2018-06-07 13:40] YuriSilenok commented on #3
@blinker44
Вы реализовывали этот функционал?

[2018-06-07 15:50] Whitetech7417 commented on #19
@YuriSilenok  залил в ветку. Дальше делать пулреквест в ветку тестировщиков?

[2018-06-07 16:18] YuriSilenok commented on #19
@Whitetech7417 Да

[2018-06-07 17:03] YuriSilenok commented on #5
@TanyaMalis
Были ли реализованы эти функциональности?

[2018-06-07 17:16] Whitetech7417 commented on #19
@YuriSilenok  Обновил ветку issue-19. Дописал там ручной тест(я так понимаю это тест который мы делаем прямо из самой программы) без понятия что вообще стоило мне делать , так как форма может принять в один момент только данные один раз. Ну я сделал чтобы все текст боксы заполнялись определенными данными когда запускается форма. Плюс начал писать сценарий https://docs.google.com/spreadsheets/d/1Dc

[2018-06-07 18:00] NastyaFilyushkina commented on #16
А это должен быть автоматизированный тест или мануальный?

[2018-06-07 18:07] YuriSilenok commented on #19
@Whitetech7417 Ни о каких тестах речи не шло. То что вы видете в конце дискрипшена стори (место где можно ставить галочки), это техническая информация. Никакие сценарии Вам писать не нужно, пока не будет поставлена на это задача в отдельном таске.

[2018-06-07 18:08] YuriSilenok commented on #19
Я так и не увидел что вы ссылались в пулреквесте на эту стори.

[2018-06-07 18:13] Whitetech7417 commented on #19
@YuriSilenok  xорошо, я понял , а что мне нужно описать в пулл реквесте для разработчиков?

[2018-06-07 18:21] YuriSilenok commented on #19
Нужно в пулреквесте в описании поставить решетку и номер стори, после решетки будут подсказки.
В твоем случае это будет решетка 19, если все правльно сделаешь, то в стори в комментариях появится запись что на эту стори ссылается такой-то пулреквест.

[2018-06-07 18:51] NastyaFilyushkina commented on #16
@YuriSilenok
Я сделала.

[2018-06-07 19:00] YuriSilenok commented on #16
@NastyaFilyushkina
А на меня задачу прикрепить?

[2018-06-07 19:01] TanyaMalis commented on #5
@YuriSilenok
Да, только форма c заголовком "Groups"

[2018-06-07 19:09] NastyaFilyushkina commented on #16
А по русски ведь должен заголовок таблицы быть?

[2018-06-07 19:15] YuriSilenok commented on #5
Это плохо, задачи нужно реализовывать в точности.

[2018-06-07 19:18] YuriSilenok commented on #16
На блокировки нужно завести улучшения, с пометкой какую стори оно улучшает

[2018-06-07 19:40] alvhmnv commented on #18
[i№18.xlsx](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/files/2081859/i.18.xlsx)

[2018-06-07 19:45] YuriSilenok commented on #18
Пожалуйста разместите свои сценарии в [этой](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit?usp=sharing) таблице

[2018-06-07 19:45] YuriSilenok commented on #18
Не забывайте о том что я не буду проверять задачу пока вы ее не закрепите за мной

[2018-06-08 07:44] Whitetech7417 commented on #19
@YuriSilenok
Что мне дальше делать?  готов продолжить  работу по разработке.

[2018-06-08 17:55] #30 closed

[2018-06-08 18:08] NastyaFilyushkina commented on #16
@YuriSilenok
А если блокировка из-за бага, например не появление скролла или ,то что таблица не привязана к форме, надо ли заводить улучшения?

[2018-06-08 18:11] YuriSilenok commented on #42
@NastyaFilyushkina А для какой формы?

[2018-06-08 18:13] YuriSilenok commented on #16
Если блокировка из-за бага, то нужно указать ссылко на этот баг в отчете.

[2018-06-08 18:17] NastyaFilyushkina commented on #16
@YuriSilenok
А должна ли по заданию в #3 быть привязана талица к форме?

[2018-06-08 18:19] YuriSilenok commented on #16
В этой стори явно не прописано, если такая функциональность не реализована, то стоит поднять улучшение

[2018-06-08 18:23] NastyaFilyushkina commented on #16
@YuriSilenok
https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/38
Я уже прописала эти сценарии в баги, потому что не появляются скроллы. Пусть тогда разработчик исправляет?

[2018-06-08 18:28] NastyaFilyushkina commented on #16
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=0&range=F24

[2018-06-08 18:30] YuriSilenok commented on #16
Не предусмотрена функция удаления строк.
нужно написать Improvement-42 с ссылкой соответсвенно

[2018-06-08 18:34] YuriSilenok commented on #43
@NastyaFilyushkina Завел этот таск, не заведи дубликат

[2018-06-08 18:39] NastyaFilyushkina commented on #16
@YuriSilenok
Надо еще доделать что-то ?

[2018-06-08 18:47] YuriSilenok commented on #16
Да, в коментариях в сценариях джолжны быть ссылки на улучшения, я тебе на 2 стори тоже поднял улучшение, поставь, пожалуйста, там тоже ссылки.

[2018-06-08 18:51] NastyaFilyushkina commented on #16
Я поставила

[2018-06-08 19:32] basandpnv commented on #17
[Сценарий.xlsx](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/files/2085796/default.xlsx)

[2018-06-08 20:38] alvhmnv commented on #42
Обновил файлы.

[2018-06-09 05:35] YuriSilenok commented on #16
Зачтено

[2018-06-09 05:38] YuriSilenok commented on #17
Пожалуйста, разместите ваши сценарии в общую [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit?usp=sharing)

[2018-06-09 05:40] YuriSilenok commented on #42
Да, все верно, в дальнейшем эта функция будет отключена, не забывайте с себя снимать задачи которыми не занимаетесь.

[2018-06-09 05:41] YuriSilenok commented on #42
Я ожидаю от Вас запрос на пул реквест на слияние веток.
В котором должна быть ссылка на этот таск.

[2018-06-09 05:47] YuriSilenok commented on #28
Зачтено

[2018-06-09 06:32] YuriSilenok commented on #42
@NastyaFilyushkina
Выполнить повторное тестирование.

[2018-06-09 07:44] blinker44 commented on #26
@YuriSilenok
Пока нет, как и с #40
Только если лочить всю таблицу и программно сортировать вызывая свою сортировку через кнопку

[2018-06-09 08:09] basandpnv commented on #17
Разместила

[2018-06-09 08:20] blinker44 commented on #38
Исправлено. Фиксация сделана

[2018-06-09 08:20] blinker44 commented on #41
Исправлено. Фиксация сделана

[2018-06-09 14:31] Whitetech7417 commented on #43
@YuriSilenok

Обновил файлы. Сделал pull request в ветку тестировщиков.

[2018-06-09 16:08] NastyaFilyushkina commented on #46
@YuriSilenok
Текстовое поле это просто поле, в которое можно вводить и буквы и цифры?(На форме в поле я могу вводить и то и то)
Например Фамилия (Текстовое). Если да ,то завести улучшение чтобы можно было вводить только буквы в тестовые поля?

[2018-06-09 16:33] NastyaFilyushkina opened #49 "Неверный заголовок таблицы "Добавить преподавателя""
Затрагивает #19
Подготовлена ветка issue-49
**Шаги:**
1.Нажать на выпадающее меню "Справочники"
2.Из выпадающего меню нажать "Преподаватели"
3.Нажать на кнопку "Создать"
**Фактический результат:**
![image](https://user-images.githubusercontent.com/37622382/41193910-17676928-6c1c-11e8-9b9d-ee68256cac6d.png)
**Ожидаемый результат:** таблица имеет заголовок "Добавить преподавателя"

[2018-06-09 17:02] NastyaFilyushkina commented on #42
@YuriSilenok
В таблице есть сценарий про удаление неотображаемых строк, наверное он совсем не нужен, его удалить или пустые строки просто будут удалятся по кнопке и тест пройден? или нужна еще кнопка для удаления всех неотображаемых строк?

[2018-06-09 18:54] YuriSilenok commented on #33
@Natalia666503
Есть ли у Вас вопросы по этому таску?

[2018-06-09 19:31] YuriSilenok opened #51 "Реализация метода CTeacher.SaveTeacher(ID:Guid, surname:string, name:string, middleName:string, academicDegree:string, AcademicRank:string, SizeOfTeachingExperience:byte):bool"
Затрагивает #33
Реализовывать в ветку issue-51
Метод изменяет значения существующего объекта MTeacher значениями из входных параметров метода.
Метод вернет истину если удалось найти и изменить преподавателя в списоке, иначе вернет ложь.
Значения входных параметров:
- ID:Guid - Идентификатор по которому будет производиться поиск преподавателя в списке преподавателей
-  surname:string - фамилия
- na

[2018-06-09 19:44] YuriSilenok opened #52 "Реализация метода CTeacher.DeleteTeacher(ID:Guid):bool"
Затрагивает #33
Реализовывать в ветку issue-52
Метод удаляет объект MTeacher из списка teacherList.
Метод вернет истину если удалось удалить преподавателя из списка, иначе вернет ложь.
Значения входных параметров:
-  ID:Guid - Идентификатор по которому будет производиться поиск преподавателя в списке преподавателей

[2018-06-09 19:49] YuriSilenok opened #53 "Реализация метода CTeacher.GetData():string[,]"
Затрагивает #33
Реализовывать в ветку issue-53
Метод вернет значения из существующих объектов MTeacher в виде двумерного массива составленного из teacherList

[2018-06-09 19:57] NastyaFilyushkina commented on #46
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=0&range=F75

[2018-06-09 20:02] YuriSilenok commented on #26
@blinker44
Это разрабатываемое ПО реализует шаблон MVC.
Вам необходимо использовать метод который бы возвращал уже отсортированные в нужном порядке данные.
Для этого вы бы могли использовать #54, проблема в том, что эту стори невозможно начать, пока не будет реализована стори #33.
Если у Вас есть возможность обратиться к исполнителю таска #33 @Natalia666503, то напомните ей, что по этой стори уже

[2018-06-09 20:27] YuriSilenok commented on #38
@blinker44
- Вы создали пулреквест в котором сослались на этот баг?

[2018-06-09 20:29] YuriSilenok commented on #41
@blinker44
Вы создали пулреквест в котором указали что он затрагивает этот баг?

[2018-06-09 20:49] YuriSilenok commented on #43
Таск на улучшение закрепляйте на себя, пока не состоится мерж по поднятому пулреквесту. После этого таск необходимо перекинуть на тестировщика NastyaFilyushkina

[2018-06-09 21:04] YuriSilenok commented on #42
@NastyaFilyushkina
Что значит не отображаемые строки?
Если они не отображаются, то их невозможно выделить.
Если это пустые строки (у которых значения в ячейке пустая строка), то таких значений не должно быть, а это формирует ограничение на вводимое значение. Думаю пора вводить форму изменения дисциплины, что бы не происходило через таблицу.

[2018-06-09 21:18] YuriSilenok commented on #46
Я ожидаю что текстовые поля должны игнорировать все символы кроме тех которые относятся к алфавитным (Русский и Английски, оба регистра) и тире (составные имена типа Анна-Мария)

Да, нужно поднять улучшение.

Да, ты уцепилась за золотую жилу под названием верстка. Они не всегда прописываются в стори, но их тоже тестят. Если ты видишь глазами что интерфейс неудобный, это тоже можно поднять как улуч

[2018-06-09 21:27] YuriSilenok commented on #46
И Поле со стажем должно быть таким.
![image](https://user-images.githubusercontent.com/14871471/41196277-fb7b9652-6c44-11e8-9860-4d8fd1ac868b.png)

[2018-06-10 05:16] NastyaFilyushkina commented on #46
Приведите ,пожалуйста, пример негативного теста. Это на символы вводимые в строки?

[2018-06-10 06:10] YuriSilenok commented on #46
Позитивный тест, мы заполняем все необходимые поля и проверяем что на корректный данных создаётся нечто. В негативном тесте мы по сути проверяем все ограничения в отдельности, то есть мы можем по очередно вводить запрещённые символы. Особенность нашей гуи в том что эти символы должны игнорироваться и в общем случае можно составить один тест на попытку ввода всех текстовых полей с символами цифр в

[2018-06-10 08:16] Whitetech7417 commented on #49
@YuriSilenok Bug исправил, перезалил в ветку issue-19.
Сделал pull request на тестирование.

[2018-06-10 11:14] YuriSilenok commented on #49
@Whitetech7417 Ваши ошибки:
- Исправлять нужно было в ветке issue-49, так как баг именно этот таск описывает.
- Вы написали что исправили баг, тогда почему он все еще на вас весит?
- Вы создали пул реквест на исправление этого бага, но на баг не сослались!!!!

[2018-06-10 12:48] Natalia666503 commented on #33
@YuriSilenok
При создании листа объектов класса MTeacher он не видит этого класса

[2018-06-10 17:29] NastyaFilyushkina commented on #46
@YuriSilenok

[2018-06-10 17:37] NastyaFilyushkina commented on #42
@YuriSilenok
Тогда я удалю этот сценарий?

[2018-06-10 17:54] YuriSilenok commented on #49
@NastyaFilyushkina
Проверить исправление бага, если да, закрыть оставив его на себе.

[2018-06-10 17:59] YuriSilenok commented on #33
@Natalia666503
Что нужно проверить
- Необходимый класс имеет атрибут **public**
- файл с контроллером создается в библиотеке, там же где и вызываемый класс.

[2018-06-10 18:06] NastyaFilyushkina commented on #47
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=0&range=F76

[2018-06-10 18:09] YuriSilenok commented on #17
Зачтено

[2018-06-10 18:16] YuriSilenok opened #57 "Ручное тестирование по сценариям функционального тестирования для Story 4"
Затрагивает Story #4, Scenario #17
Выполнить тесты, заполнить [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=0&range=F55), завести баги на меня.

[2018-06-10 18:29] NastyaFilyushkina opened #58 "Масштабирование формы "Добавить преподавателя""
Затрагивает #19
Подготовлена ветка issue-58
При уменьшении/увеличении формы "Добавить преподавателя" элементы должны находится на своих местах и уменьшатся/увеличиваться вместе с формой. Если длинна формы меньше 453, и/или ширина меньше 699 , тогда должны появляться вертикальные и/или горизонтальные скроллы.

[2018-06-10 18:34] #49 closed

[2018-06-10 19:36] Natalia666503 commented on #33
все равно не видит. в ветке issue-30 все есть, а в моей 33 нет  воскресенье, 10 июня 2018г., 20:59 +03:00 от Yuri Silenok  notifications@github.com :

[2018-06-11 08:43] basandpnv opened #60 "Неправильная сортировка по столбцу "Вместительность" в таблице "Аудитории""
Затрагивает Story #4, Scenario #17
Тестовый сценарий № 16
Шаги:
1.Нажать на выпадающее меню "Справочники"
2.Выбрать - "Аудитории"
3.Ввести в первые 3 строки в столбец "Вместительность" заданные значения:
   1 строка - столбец Вместительность "40"
   2 строка - столбец Вместительность "25"
   3 строка - столбец Вместительность "100"
4.Нажать на заголовок столбца "Вместительность"
Фактический резуль

[2018-06-11 08:52] basandpnv opened #61 "Не сохраняется сортировка при добавлении новой строки в столбце "Вместительность" таблицы "Аудитории""
Затрагивает Story #4, Scenario #17
Шаги:
1. Нажать на выпадающее меню "Справочники"
2. Выбрать - "Аудитории"
3. Ввести в первые 3 строки любые данные значения в каждую ячейку
4. Нажать на заголовок столбца "Номер"
5. Заполнить еще одну строку произвольными данными
6. Нажать Enter
Фактический результат:
![5](https://user-images.githubusercontent.com/38126706/41221623-531305fc-6d6d-11e8-9b60-0f4c863

[2018-06-11 14:25] YuriSilenok commented on #33
@Natalia666503
Сделал для вашей ветки git rebase Testing
Вам необходимо выполнить команду git pull чтобы получить эти изменения

[2018-06-11 14:39] YuriSilenok opened #62 "Создать модель для объекта Дисциплина"
Затрагивает #3
Модель(класс MDiscipline) создается отдельным файлом (MDiscipline.cs) в проекте(библиотеке) решения.
Реализовать в ветку issue-62
[Ссылка ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)на текущую версию диаграммы классов.

[2018-06-11 14:52] YuriSilenok commented on #46
@NastyaFilyushkina
Проблема в понимании Test Data. [Описание ](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable#test-data)каждого из столбцов.
То что вводится в поля описывается в самих шагах.
Тест дата в вашей строри вообще не требуется

[2018-06-11 16:12] YuriSilenok commented on #42
Да.

[2018-06-11 16:17] YuriSilenok commented on #47
Зачтено

[2018-06-11 16:47] YuriSilenok opened #63 "Ручное тестирование по сценариям функционального тестирования формы "Группы""
Для стори #5 сценарии #18

[2018-06-11 16:49] NastyaFilyushkina commented on #42
@YuriSilenok
Мне закрыть баг, оставив на себе?

[2018-06-11 17:50] YuriSilenok commented on #57
Зачтено

[2018-06-11 17:50] #57 closed

[2018-06-11 18:12] NastyaFilyushkina commented on #63
@YuriSilenok
Я протестировала сценарии, но  ,по-моему мнению, сценарии неполные, потому что я уже тестировала такие формы и знаю что сортировка там нарушена, но в сценариях тесты содержат такие данные, при которых эти ситуации не возникнут
Например вот это
 1 строка - столбец Численность ""25"
 2 строка - столбец Численность ""19"
 3 строка - столбец Численность ""22"
если добавить в ячейку одну ц

[2018-06-11 19:11] NastyaFilyushkina opened #68 "Не появляется скролл в таблице "Группы" при изменении размеров формы"
Затрагивает #5
Подготовлена ветка issue-68
Сценарий №1.
Шаги:
 1.Нажать на выпадающее меню "Справочники"
 2.Выбрать - "Группы"
 3.Уменьшить форму, чтобы форма была меньше ширины таблицы.
Фактический результат:
изображение
![image](https://user-images.githubusercontent.com/37622382/41251844-deb11166-6dc3-11e8-97ed-ff552a6bea78.png)
Ожидаемый результат: Появление горизонтального скролла.
Сценарий №2

[2018-06-11 19:20] YuriSilenok commented on #46
Мы предполагаем что то что мы вводим в текстовые поля могут автоматически изменяться в процессе ввода, это значит что каждое из полей в отдельности может быть изменено там где и не должно быть. Этим я хочу сказать, что ввод значение в текстовое поле это отдельный шаг, а ожидаемым результатом для этого шага будет конкретное значение. Представьте что будет функция в поле фамилия которая первую букву

[2018-06-11 19:22] YuriSilenok commented on #42
Да

[2018-06-11 20:59] blinker44 commented on #41
@YuriSilenok
Всё также в ветку testing?

[2018-06-11 20:59] NastyaFilyushkina commented on #46
@YuriSilenok
Я правильно поняла что мне надо сделать?
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=0&range=A92

[2018-06-12 08:03] YuriSilenok commented on #63
@NastyaFilyushkina
Сформировал специально для этого небольшой таск.

[2018-06-12 08:09] #62 closed

[2018-06-12 08:11] YuriSilenok commented on #41
Да, story, bug, improvment мержутся в ветку Testing

[2018-06-12 08:33] YuriSilenok commented on #46
Да, там все готово?

[2018-06-12 08:33] YuriSilenok commented on #46
Да, там все готово?

[2018-06-12 08:46] #52 closed

[2018-06-12 08:50] YuriSilenok commented on #26
@blinker44
Назначаю Вам стори #54
Реализовав ее, вы сможете и исправить ошибку сортировки, если непонятно как это связано, задайте вопрос.

[2018-06-12 09:11] NastyaFilyushkina commented on #46
ну в сценариях да, сейчас я только улучшения заведу и все готово.

[2018-06-12 09:16] NastyaFilyushkina opened #72 "Вводимы данные в поля формы "Добавить преподавателя " должны автоматически изменятся."
Затрагивает #19
Подготовлена ветка issue-72
При вводе значений текстовых полей с буквы в нижнем регистре(первая буква значения), она заменяется на ту же букву в верхнем регистре, после "-"  регистр первой буквы тоже заменяется на верхний.
Если включен caps lock, пользователю сообщается об этом, при печати с включенным caps lock буквы меняют свой регистр (первые буквы значений переходят в верхний,

[2018-06-12 09:41] YuriSilenok commented on #66
Komar1k - из группы 16-ВТ Владислав Комаров

[2018-06-12 10:02] NastyaFilyushkina opened #73 "Неправильная сортировка по столбцам таблицы "Группы""
Затрагивает #5
Подготовлена ветка issue-73
Сценарий №1
**Шаги:**
1.Нажать на выпадающее меню "Справочники"
2.Из выпадающего меню нажать "Группы"
3.Ввести в колонку "Шифр"
 1 строка - столбец Шифр "9-ИС-2"
 2 строка - столбец Шифр "116-ИД-3"
 3 строка - столбец Шифр "15-ИС-2"
 4 строка - столбец Шифр "16-ИС-6"
 5 строка - столбец Шифр "16-ИС-13"
4.Нажать на заголовок столбца "Шифр" , чтобы сортиров

[2018-06-12 11:13] YuriSilenok commented on #69
Зачтено

[2018-06-12 11:17] YuriSilenok commented on #63
Зачтено

[2018-06-12 11:17] #63 closed

[2018-06-12 14:07] YuriSilenok commented on #76
@NastyaFilyushkina
Попробуйте сделать это, я помогу.
Вам может понадобиться
- класс Assert который сравнивает фактическое и ожидаемое значение
- typeof(Guid) вернет тип который можно сравнивать с MTeacher.ID.GetType()

[2018-06-12 19:27] NastyaFilyushkina commented on #76
@YuriSilenok
Диаграмма в #30 отличается от полной диаграммы классов этим
![image](https://user-images.githubusercontent.com/37622382/41311999-972bf9f2-6e8e-11e8-994f-bf15085ae854.png)
Я не исправляла в репозитории, но я скачала архив и делала там , я поправила это поле в классе MTeacher, и делала тесты, но я столкнулась с такой проблемой ,что типы полей ,которые я сравнивала с нужными типами, не м

[2018-06-12 22:01] blinker44 commented on #41
@YuriSilenok
Есть проблема:
![image](https://user-images.githubusercontent.com/38395077/41319654-401b25ae-6ea5-11e8-8c55-b88d082bd4a0.png)

[2018-06-13 11:44] blinker44 commented on #54
Фиксация сделана. Проблема из комментария к таску #41  осталась

[2018-06-13 14:36] YuriSilenok commented on #59
@basandpnv
Проверить что баг исправлен

[2018-06-13 14:54] YuriSilenok opened #81 "Автоматизация тестов для метода CTeacher.AddTeacher(surname:string, name:string, middleName:string, academicDegree:string, AcademicRank:string, SizeOfTeachingExperience:byte):bool"
Затрагивает #50
Реализовать в ветку issue-81

Автоматизироватиь тестовые [сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=0&range=A11):
От issue-2-10 до issue-2-21 включительно
При автоматизации этих сценариев нужно помнить что вы тестируете котроллер (контроллер реализует бизнес-логику, ограничение и т.д.). Вам не нужно автоматизировать дейст

[2018-06-13 16:57] YuriSilenok commented on #72
Проверить и закрыть

[2018-06-13 16:59] YuriSilenok commented on #76
Ох, зря Вы на мой пример посмотрели, я там с потоками начинал работать что бы пример подготовить работы с фомой с точки зрения пользователя.

[2018-06-13 17:02] YuriSilenok commented on #76
Залейте в репозиторий, я хотел бы посмотреть

[2018-06-13 17:05] YuriSilenok commented on #41
@blinker44
Есть ли среди ниже перечисленных команд которой вы не пользовались?
git pull
git checkout issue-41
git add .
git commit -m "my comment"
git push

[2018-06-13 17:39] NastyaFilyushkina commented on #72
@YuriSilenok
Это улучшение сделано, но вы закрыли не исправленный баг #56

[2018-06-13 17:39] #72 closed

[2018-06-13 17:54] YuriSilenok commented on #76
Залейте все в ветку issue-76, это  только ваша ветка, до пул реквеста ваши измененеия ни как кого не повлияют

[2018-06-13 17:56] YuriSilenok commented on #72
Извините, был напуган...

[2018-06-13 18:18] NastyaFilyushkina commented on #76
Я залила

[2018-06-13 18:31] NastyaFilyushkina commented on #76
тест в классе TestOfLib

[2018-06-14 16:12] YuriSilenok commented on #53
@TanyaMalis
Вы забыли на меня этот таск перекинуть

[2018-06-14 17:19] YuriSilenok opened #84 "Написать Unit Test для метода CTeacher.DeleteTeacher(ID:Guid):bool"
Затрагивает #52
Реализовать в ветку issue-84

[2018-06-14 19:06] TanyaMalis commented on #53
@YuriSilenok
Вы сказали, что код покажете

[2018-06-14 19:15] TanyaMalis commented on #56
@YuriSilenok
Не очень поняла, какой таск делать - 72 или 56

[2018-06-14 19:20] alvhmnv commented on #56
Я же сделал и 56 и 72

[2018-06-15 06:39] NastyaFilyushkina commented on #56
но на меня то не перекинули для проверки исправления.

[2018-06-15 07:47] NastyaFilyushkina commented on #56
@YuriSilenok
Я нашла еще один сценарий бага, мне заводить новый ? И некорректные символы не игнорируются, они просто удаляются при переходе к другой строке. Так и задумывалось или надо сделать чтобы они совсем не могли вводится?

[2018-06-15 09:27] YuriSilenok commented on #53
@TanyaMalis
Изменения в коде смотреть [здесь](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/86/files)

[2018-06-15 12:38] YuriSilenok opened #88 "Описать в диаграмме классов (UML) объекты из файла MTeacher.cs"
Затрагивает #30
В ветке Testing модержится актуальная версия этого файла.
Дополнить диаграмму недостающими элементами.
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing) на диаграмму.

[2018-06-15 15:14] basandpnv commented on #58
Как я понимаю разрабатывать надо в ветку issue-58, но она не создана

[2018-06-15 15:18] YuriSilenok opened #92 "Написать сценарии для модульного тестирования метода CTeacher.SaveTeacher(ID:Guid, surname:string, name:string, middleName:string, academicDegree:string, AcademicRank:string, SizeOfTeachingExperience:byte):bool"
Затрагивает #51

[2018-06-15 15:31] YuriSilenok opened #93 "Написать сценарии для модульного тестирования метода CTeacher.DeleteTeacher(ID:Guid):bool"
Затрагивае #52

[2018-06-15 16:01] #84 closed

[2018-06-15 16:58] YuriSilenok commented on #56
@NastyaFilyushkina
Баги заводи все что посчитаешь нужными на меня, там их разгребу.
Предполагалось что некоррекнты символы должны игнорироваться уже в процессе ввода данных, а не при уходе фокуса.

@alvhmnv
Тут я действительно накосячил, не посмотрел что это баг.

[2018-06-15 18:58] alvhmnv commented on #56
@YuriSilenok, я неправильно понял задание значит насчёт игнорирования сразу
Готов исправить

[2018-06-15 22:49] NastyaFilyushkina commented on #88
https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit

[2018-06-16 16:39] YuriSilenok commented on #58
@basandpnv
Действительно не было, странно, теперь точно есть.

[2018-06-16 17:40] YuriSilenok commented on #56
@alvhmnv По возможности он к вам вернется. Есть ли у Вас задачи?

[2018-06-16 17:44] YuriSilenok commented on #88
@NastyaFilyushkina
Какая-то странная там стрелка, почему она в виде рисунка? Векторная которую я радом нарисовал не подойдет?

[2018-06-16 17:46] #88 closed

[2018-06-16 19:32] YuriSilenok commented on #54
@blinker44 Вы собираетесь доделывать таск?

[2018-06-16 19:39] YuriSilenok commented on #38
@blinker44 Прошло 7 дней с последней вашей активности, если Вы не выйдете на связь по этому таску, таск будет с Вас снят.

[2018-06-16 19:44] YuriSilenok opened #96 "Проектирование модели для объекта Аудитория"
Основываясь на описании формы Аудитории #4 [дополнить ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)диаграмму классов в нотации UML

[2018-06-16 20:31] YuriSilenok commented on #40
@blinker44
По этому таску у Вас не было активности более 7 дней, завтра если активности не будет, таск будет снят.

[2018-06-16 20:34] TanyaMalis commented on #96
@YuriSilenok
На номер аудитории и ее вместительность поставила int или byte достаточно было?

[2018-06-16 20:38] YuriSilenok commented on #96
- Какой номер аудитории в которой у нас лекция проходит?
-Существует правило, если над данными есть смысл выполнять арифметические операции, то это числовой тип данных, а например номер телефона, номер страхового полиса, это все строки, хотя состоят только из цифр.

[2018-06-16 20:40] #51 closed

[2018-06-16 20:45] TanyaMalis commented on #96
@YuriSilenok
Да,  этот номер аудитории
Я посмотрела просто в модели MTeacher, там стаж преподавателя тоже byte стоит, решила так же сделать

[2018-06-16 20:46] TanyaMalis commented on #96
Поменять их на string?

[2018-06-16 20:52] YuriSilenok commented on #96
Со стажем можно делать мат операции, например отобрать тех у кого стаж больше 10 лет, или посчитать суммарный стаж всех сотрудников. Спроектируйте, потом посмотрю

[2018-06-16 21:29] TanyaMalis commented on #96
Реализация этой модели в таск тоже входит?

16 июня 2018 г. 23:52 пользователь "Yuri Silenok" <notifications@github.com>
написал:

[2018-06-16 21:31] TanyaMalis commented on #96
https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit

[2018-06-17 10:17] #53 closed

[2018-06-17 10:19] YuriSilenok commented on #54
@blinker44
Через 3 дня задача с Вас будет снята, проявите активность

[2018-06-17 17:37] TanyaMalis commented on #96
@YuriSilenok
Таск зачтен?

[2018-06-17 18:28] Natalia666503 commented on #97
https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit

[2018-06-17 18:30] YuriSilenok commented on #97
Зачтено

[2018-06-17 21:33] alvhmnv commented on #56
@YuriSilenok, да, у меня сейчас задача с автоматизацией тестирования

[2018-06-19 08:24] YuriSilenok opened #102 "Написать сценарии для модульного тестирования модели MDiscipline"
Затрагивает #62
Сценарии для модульного тестирования составлять на вкладке 1/2018 UT
Понимать что Ваши сценарии будут манипулировать не формой, а объектами без бизнес-логики.
То есть проверки публичных полей, идентификаторов или свойств сводяться к тому что-бы проверять их тип данных с которым они должны работать и что они хронят то что в них положили.
По идее методов в модели не должно быть.

[2018-06-19 10:30] blinker44 commented on #40
@YuriSilenok
Реализую в течение ближайших дней
Если возникнут вопросы, я к вам обращусь

[2018-06-19 22:06] YuriSilenok commented on #41
@blinker44 баги перекидываются на тестера только тогда мерж состоялся, а не когда он только открыт. Обычно после мержа стараюсь сам перекидывать баги на автора, но если я забуду, можете сделать это самостоятельно.

[2018-06-20 13:50] YuriSilenok commented on #102
@alvhmnv
[Ознакомьтесь ](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/tree/master#%D0%A1%D1%82%D0%BE%D0%BB%D0%B1%D1%86%D1%8B-%D0%B2-%D1%82%D0%B0%D0%B1%D0%BB%D0%B8%D1%86%D0%B5-%D1%82%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D1%8B%D1%85-%D1%81%D1%86%D0%B5%D0%BD%D0%B0%D1%80%D0%B8%D0%B5%D0%B2)пожалуйста с тем что должно содержаться в столбцах, сценарии нужно переписать в соответствии с э

[2018-06-20 13:58] alvhmnv commented on #102
@YuriSilenok
Ошибки в столбце - Test Data
или не только это неправильно

[2018-06-20 14:14] YuriSilenok commented on #102
Сценарии пишутся для стори, в твоем случае для 62
Test title - написать что тестируется, конкретно какое поле какого класса, как раз то что в указано в Description
Description - описывает особенности, в твоем случае не изменяется
Test Data - у тебя вообще должна быть не заполнено
Steps у тебя должна содержать шаги, в данном случае тебе нужно прописать по шагам как ты будешь проверять
Pre-condition

[2018-06-20 17:28] TanyaMalis commented on #109
@YuriSilenok
Класса CDiscipline еще нет, его мне тоже создать надо?

[2018-06-20 18:13] YuriSilenok commented on #102
Так, еще раз, сценарии для 62 стори, а не для 102, 102 это таск на написание ценариев, которыми ты будешь тестировать стори 62

[2018-06-20 18:16] alvhmnv commented on #102
извиняюсь, упустил этот пункт в замечаниях

[2018-06-20 18:58] YuriSilenok commented on #109
@TanyaMalis
Все верно, я перестал делать таски которые создают пустой каркас класса, и тот кто делает первый метод объявляет класс.

[2018-06-20 19:01] YuriSilenok commented on #102
И здесь тоже поправить

[2018-06-20 19:03] TanyaMalis commented on #109
@YuriSilenok
То есть, чтобы сделать метод SaveTeacher, мне нужно будет ждать присоединения этой ветки?

[2018-06-20 19:03] YuriSilenok commented on #102
Может быть присвоить? какого объекта?

[2018-06-20 19:08] YuriSilenok commented on #102
Если учитывать твой прекондишен то шагов у тебя будет ровно 1, и один ожидаемый результат в котором ты должен ожидать тип String

[2018-06-20 19:09] YuriSilenok commented on #109
Не будет такой ветки, нужно в Вашей сделать этот класс

[2018-06-20 19:12] TanyaMalis commented on #109
@YuriSilenok
У меня стоит еще реалицая метода SaveTeacher в ветку issue-110, из нее же не будет виден созданный в этой ветке класс, значит там тот же самый класс создать надо?

[2018-06-20 19:12] alvhmnv commented on #102
а почему не правильно пункт со сравнением
мы же можем использовать Assert потом, чтобы истину или ложь получить
может я просто неправильно заполнил прекондишен, потому что не совсем понял что именно нужно  там

[2018-06-20 19:35] YuriSilenok commented on #109
Да, я потом мержконфликт решу, это не проблема

[2018-06-20 19:38] YuriSilenok commented on #102
По вашему алгоритму мы всегда должны ожидать истину. Мы должны написать что ожидаем, при тесте получаем фактический результат и тест пройден если ожидаемый результат совпадает с фактическим. В ожидаемом результате можно прописывать увеличение списков, возвращение двумерного массива конкретного содержимого

[2018-06-20 19:50] alvhmnv commented on #102
так и не понял
и вообще сценарии не верные или только в ожидаемом результате

[2018-06-20 20:30] alvhmnv commented on #102
хорошо, это поправил

[2018-06-20 20:39] YuriSilenok commented on #102
Почему вы решили что у ID тип данных String?

[2018-06-20 20:40] alvhmnv commented on #102
поторопился

[2018-06-20 20:49] YuriSilenok commented on #102
Мне для того что бы понять Вашу логику, почему в прекондишенах, в первом сценарии нет инициализация тестируемого поля, а в других тестах есть?

[2018-06-20 20:54] alvhmnv commented on #102
я почему-то думал, что id автоматически задаётся

[2018-06-20 21:01] NastyaFilyushkina commented on #93
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=683731494&range=E9

[2018-06-20 21:03] NastyaFilyushkina commented on #91
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=683731494&range=E13

[2018-06-20 21:08] alvhmnv commented on #102
где-то видел пример ваш, по-моему Насте вы показывали как можно создать тестируемый объект, и там это поле не инициализировалось тоже, поэтому подумал, что значение там автоматически есть какое-то уже при создании объекта

[2018-06-20 21:08] NastyaFilyushkina commented on #56
@YuriSilenok
Что делать с этим таском? Его надо переделать чтобы символы игнорировались сразу, а не после перехода к другому полю.

[2018-06-20 21:11] YuriSilenok opened #115 "Реализовать метод +DeleteDiscipline(ID:Guid):bool из класса CDiscipline"
Реализовать в ветку issue-115
[Ссылка ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)на текущую версию диаграммы классов.

[2018-06-20 21:12] #58 closed

[2018-06-20 21:15] YuriSilenok commented on #93
Вы пишете сценарии для тестирования некоторой стори 52, судя из заголовков ваших сценариев вы пишите сценарии для тестирования сценариев.

[2018-06-20 21:19] YuriSilenok commented on #91
Тоже самое, тесты должны содержать ID стори а не таска на написание сценариев

[2018-06-20 21:23] YuriSilenok commented on #102
Это класс для хранения данных, в нем нет никакой логики, в последствии правильность задания всех полей ляжет на контроллер

[2018-06-20 21:29] alvhmnv commented on #102
Не понимаю тогда, почему в вашем примере не инициализируется это поле так же
вот нашёл пример этот

mT = new MTeacher(){ mT.Name = "", mT.Surname = "", mT.MiddleName = "", mT.SizeOfTeachingExperience = 0, mT.AcademicDegree = "", mT.AcademicRank = ""}

Вообще что-то все мимо, не понимаю, что мне нужно исправлять сейчас в сценариях

[2018-06-20 21:38] NastyaFilyushkina commented on #91
Я переделала

[2018-06-20 21:41] NastyaFilyushkina commented on #94
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=683731494&range=E17

[2018-06-20 21:54] NastyaFilyushkina commented on #56
Таск надо переделать, чтобы символы игнорировались сразу при вводе и новый баг
Сценарий №11
Шаги:
1.Нажать на выпадающее меню "Справочники"
2.Из выпадающего меню нажать "Преподаватели"
3.Нажать на кнопку "Добавить преподавателя"
4.Ввести в поля заданные значения.
Фамилия "Иванов-"
Имя "Иван-"
Отчество "Иванович-"
Фактический результат:
![image](https://user-images.githubusercontent.com/37622382/41

[2018-06-21 18:21] NastyaFilyushkina commented on #90
@YuriSilenok
ветки 90 нет

[2018-06-21 18:45] NastyaFilyushkina commented on #38
Я нахожусь в ветке 38, но исправлений сценариев 2 и 4 не вижу
![image](https://user-images.githubusercontent.com/37622382/41738904-18c8885e-759c-11e8-8984-7a0e8a1773c5.png)
![image](https://user-images.githubusercontent.com/37622382/41738916-21c39c5a-759c-11e8-8e23-7d00d0def7e3.png)
Я точно в ветке, в которой нужно?

[2018-06-21 19:23] YuriSilenok commented on #102
Я не говорил что нужно исправить, я хотел услышать обоснование того почему ID не инициализируется. Согласно диаграмме дополнительно конструкторы никакие не созданы. И решение о том будет ли инициализироваться поле или нет, это на усмотрение сценариста. Причем существует возможность сделать один прекондишен для нескольких сценариев.

[2018-06-21 19:39] alvhmnv commented on #102
Вообще объединить ячейки и прописать один  прекондишен или просто одинаковые везде

[2018-06-21 19:44] YuriSilenok commented on #91
сценарий 1. не согласен с третьим шагом. Это скорее ожидаемый результат для второго пункта. То есть вы в ожидаемом результате должны прописать что метод должен вернуть false  кроме этого мы ожидаем что количество преподавателей не изменилось. Этот метод не является статическим и не может быть просто вызван, для начало нужно создать экземпляр контроллера, и вот у этого экземпляра нужно вызвать мето

[2018-06-21 19:52] YuriSilenok commented on #94
Сценарий 1. У нас нет пустого массива, есть пустой список преподавателей, массив мы получаем в результате вызова массива. По поводу ожидаемого результат, тот кто будет исполнять этот сценарий, он не в курсе как правильно и не должен сидеть и разбираться в этом, эта задача как раз того кто пишет этот сценарий. В ожидаемом результате нужно будет сказать что полученный двумерный массив будет содержат

[2018-06-21 20:02] YuriSilenok commented on #93
Ошибочное - видимо негативный тест, сначала нужно делать позитивный тест, проверить что вообще работает на корректных данных, а потом уже ломать изо всех сил. И информации о том что это негативный тест пишется в Discription. Я понимаю что у нас всего один входной параметр для этого метода, но все равно нужно прописывать кто пустой, так как по началу я подумал о пустом списке преподавателей. Опять

[2018-06-21 20:09] NastyaFilyushkina commented on #91
@YuriSilenok
Я под третьим шагом подразумеваю метод assert.isfalse/istrue, только я напутала с результатами (мне его точно удалять?). И экземпляр контроллера не создается в конструкторе тестового класса в этом случае, а мы просто заполняем его поля? Или мне все равно это надо прописывать?

[2018-06-21 20:13] YuriSilenok opened #117 "Реализовать метод +DeleteDiscipline(ID:Guid):bool из класса CDiscipline"
Реализовать в ветку issue-117
[Ссылка ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)на текущую версию диаграммы классов.

[2018-06-21 20:15] TanyaMalis commented on #117
@YuriSilenok
Создание этого метода же предыдущий таск

[2018-06-21 20:28] NastyaFilyushkina commented on #91
Про третий шаг до меня дошло)

[2018-06-21 21:47] NastyaFilyushkina commented on #95
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=683731494&range=E25
Я думаю при неправильном заголовке должно выбрасываться исключение, но я не знаю надо ли вообще эти тесты на неправильные значения.

[2018-06-22 08:36] TanyaMalis commented on #118
@YuriSilenok
Ветка не создана

[2018-06-22 17:53] NastyaFilyushkina commented on #92
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=683731494&range=E31

[2018-06-22 19:41] NastyaFilyushkina commented on #89
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=683731494&range=E2 я не знаю какие тесты еще можно добавить

[2018-06-23 15:04] YuriSilenok commented on #40
Здесь можете не отписывать, я вижу все по пуллреквесту.

[2018-06-23 15:10] YuriSilenok commented on #115
На меня можете не асанить стори, вы можете закрывать их самостоятельно когда пулреквест будет удачно смержен.

[2018-06-23 15:15] YuriSilenok commented on #90
1. Переключиться на вкладку Code
2. Переключиться на ветку Testing
![image](https://user-images.githubusercontent.com/14871471/41811063-164e3d8c-7711-11e8-8428-b76a73c6814b.png)
3. Ввести название ветки и нажать на кнопку создания ветки, тогда создаваемая ветка будет содержать все то что есть в ветке Testing
![image](https://user-images.githubusercontent.com/14871471/41811082-68ed947a-7711-11e8-9a

[2018-06-23 15:17] YuriSilenok commented on #102
Объединить

[2018-06-23 15:45] YuriSilenok commented on #117
Дубликат

[2018-06-23 15:45] #117 closed

[2018-06-23 17:01] YuriSilenok opened #120 "Проектирование контроллера для объекта Аудитории"
На[ диаграмме класса](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) начертить класс реализующий методы для объекты аудитории

[2018-06-23 17:16] YuriSilenok commented on #94
#53 звучит как **Реализация метода CTeacher.GetData():string[,]** именно этот текст и нужно указывать

Я не понимаю почему Вы ставите переносы в ручную?

Кто-то автоматизировал сценарии?

[2018-06-23 17:22] YuriSilenok commented on #93
В целом нормально, только когда вы автоматизируете, то столбец **Mapping with matrix** заполняется, у него указывается имя файла в который писались автоматические тесты

[2018-06-23 17:22] #93 closed

[2018-06-23 17:28] YuriSilenok commented on #91
Не уверен что я правильно понял, но у тестового класса вроде как нет конструктора (никогда им не пользовался, так как не было необходимости).

Контроллер нужно создавать и заполнять если это есть в сценарии в каждом тесте, не используйте поля тестового класса.

[2018-06-23 17:29] YuriSilenok commented on #91
Если у вас вопрос, вы его задаете в комментариях, и мне на почту придет этот вопрос ос всеми ссылками, можно не асанить на меня этот так, асанить лучше когда таск нужно проверить.

[2018-06-23 17:38] YuriSilenok commented on #95
Меня этот вопрос тоже гнобил. Мы можем или проигнорировать и ожидать массив в не сортированном виде или выбрасывать исключение с текстом что столбец такой-то не найден. ДАвай все же будем ожидать исключение. Это хоть и ресурсоемко, но вы сможем сообщить о неудаче при сортировке, а если не выбрасывать, то пользователь этого метода будет думать что он отсортирован и ни как об этом не узнает. Нужно о

[2018-06-23 17:47] YuriSilenok commented on #118
Предлагаю создать ее самостоятельно, [здесь ](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/90#issuecomment-399685696)описание

[2018-06-23 17:48] TanyaMalis commented on #120
https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit

[2018-06-23 17:50] TanyaMalis commented on #118
@YuriSilenok
На основе Testing?

[2018-06-23 17:53] NastyaFilyushkina commented on #91
Так я сделала

[2018-06-23 17:56] NastyaFilyushkina commented on #94
Потому что мой ноут не хочет делать перенос хорошо, и мне приходится делать самой. Никто не автоматизировал. Заголовок изменила

[2018-06-23 18:07] NastyaFilyushkina commented on #95
Исключения заполнила, вроде все сделано

[2018-06-23 18:20] YuriSilenok commented on #92
Почему это так, почему это не в одну строку?

[2018-06-23 18:29] YuriSilenok commented on #89
#30 не так называется

Тестировщик при выполнении сценария не должен использовать ничего кроме самих сценариев. Тем более нет ссылки на диаграммы, ищи свещи эту диаграмму.

Сценарий 1, но вот степов будет много, степ это каждое поле и ожидаемый результат соответственно будет некий тип данных, который нужно прописать

[2018-06-23 18:33] YuriSilenok commented on #102
#62 Называется не так

Остальное нормально, остальное нормально

[2018-06-23 18:34] YuriSilenok commented on #89
Как вариант вы можете посмотреть сценарии issue-62, это даже правильнее так как при автоматизации теста, первый же сбой приврет тест, и остальные типы не будут проверены

[2018-06-23 18:38] YuriSilenok commented on #120
Ссылка на документ есть в описании таска, нет необходимости ее дублировать, тем более в техническом виде, для сценариев это может быть актуально если эта ссылка позволяет сразу перейти непосредственно к тестам.

[2018-06-23 18:38] #120 closed

[2018-06-23 18:48] YuriSilenok opened #121 "Реализовать метод +GetData():string[,]:bool из класса CAuditor"
Реализовать в ветку issue-121
[Ссылка ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)на текущую версию диаграммы классов.

[2018-06-23 18:51] YuriSilenok commented on #60
Для исправления бага подготавливается функционал #121

[2018-06-23 18:57] YuriSilenok commented on #118
Да, мы ее активно эксплуатируем

[2018-06-23 19:00] YuriSilenok commented on #94
Есть три режима отображения текста в ячейке, возможно всё дело вних? Если это не поможет, хотел бы увидеть скрин проблемы
![image](https://user-images.githubusercontent.com/14871471/41812730-b8874106-7730-11e8-8db0-e937acfacace.png)

[2018-06-23 19:01] NastyaFilyushkina commented on #92
Уточнила что правильные параметры-это не пустые,такого же типа как
указаны в параметрах метода.

[2018-06-23 19:02] YuriSilenok commented on #94
А чего тогда в ячейке **Automated** указано что уже автоматизировано, если планируется автоматизировать ставиться **To be**

[2018-06-23 19:05] NastyaFilyushkina commented on #94
Я раньше не видела этой кнопки, спасибо

[2018-06-23 19:06] YuriSilenok commented on #95
Массив будет не пустым, у него будет одна строка с именами столбцов

[2018-06-23 19:08] YuriSilenok commented on #95
Должны быть конкретные значения, так как тестировщик увидев в столбце 100, 9 подумает что это нормальная сортировка. но это нормально только для строк, а для чисел это не верно

 содержащий
 соответсвующие значения
из списка преподавателей
отсортированый в выбранном
 порядке"

[2018-06-23 19:12] alvhmnv commented on #102
Поправил

[2018-06-23 19:26] YuriSilenok opened #124 "Реализовать метод +AddAuditor(number:string, floor:byte, building:string, spacious:int):bool из класса CAuditor"
Реализовать в ветку issue-124
[Ссылка ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)на текущую версию диаграммы классов.

[2018-06-23 19:29] YuriSilenok opened #125 "Реализовать метод +SaveAuditor(ID:Guid, number:string, floor:byte, building:string, spacious:int):bool из класса CAuditor"
Реализовать в ветку issue-125
[Ссылка ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)на текущую версию диаграммы классов.

[2018-06-23 19:40] YuriSilenok commented on #91
Не хотел бы вас расстраивать, но циклов в тестовых сценариях не должно быть.

Это ведь число должно быть, а не строка.

Это не степ, это ожидаемый результат ко второму шагу. Ожидаемый результат проверяется после выполнения степа. То есть после вызова методы вы должны проверить что в писке преподавателей количество элементов увеличилось на 1.

[2018-06-23 19:43] YuriSilenok commented on #92
Скажите, если я задам полю фамилия, вот такое значение типа string "98w&%W", это правильно? я хочу сказать что вы должны давать тестовые случаи, более конкретные.

[2018-06-23 19:48] YuriSilenok commented on #94
В любой непонятной ситуации нужно писать письмо с вопросом.

Нужно ли говорить, что нужно пробежаться по сценариям и для своих сценариев в ненужных местах убрать искусственные переносы, если встретятся у других такое (специально не искать) сообщить в каких стори это присутствует.

[2018-06-23 19:57] YuriSilenok commented on #56
@alvhmnv Игнорирование одного символа? Для примера в таблице Unicode всего 65536 символов, из них должны вводиться только русские буквы верхнего и нижнего регистра, Вы будете делать ~65000 заглушек? Рекомендую ознакомиться с [этим ](https://msdn.microsoft.com/ru-ru/library/system.char_methods(v=vs.110).aspx) материалом особенно обратите на IsLetter(Char).

[2018-06-23 20:02] YuriSilenok commented on #102
Зачтено

[2018-06-23 20:02] #102 closed

[2018-06-23 20:09] Natalia666503 commented on #111
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=683731494

[2018-06-23 20:13] TanyaMalis commented on #112
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=683731494

[2018-06-23 21:21] alvhmnv commented on #56
@YuriSilenok не понимаю, как тогда, например, для такой обработки игнорировать ещё и англ алфавит не прибегая опять к тем же условиям, чтобы были раньше у меня

if (!Char.IsLetter(e.KeyChar)  && e.KeyChar != Convert.ToChar(8) && e.KeyChar != Convert.ToChar(45))
e.Handled = true;

[2018-06-24 10:33] NastyaFilyushkina commented on #92
Я просто думаю это будет контролироваться на уровне формы, для создания преподавателя мы же сделали игнорирование символов, кстати это еще один баг, при копировании текста в поле неправильные символы не будут игнорироваться. Это заводить как новый баг или писать в #56 ? Или может просто запретить вставку в поля формы?

[2018-06-24 12:47] YuriSilenok commented on #128
Рекомендую приступать к этой задаче после после реализации #115, так как на основе него вы можете первично получить набор данных в двумерный массив, а потом его сортировать...если конечно пойдете по этому пути

[2018-06-24 13:00] YuriSilenok commented on #61
Первоначальное получение данных #121 и сортировка данных #128 должны быть получены при помощи контроллера.

[2018-06-24 13:18] YuriSilenok commented on #111
Название у 99 стори не такое

А так в целом все хорошо

[2018-06-24 18:54] YuriSilenok commented on #111
Зачтено
Я буду задачи накидывать по старой схеме, те задачи которые останутся не реализованными, а баллы все получены, перекинуть на меня с комментарием что курсовик сдан, или можете перекинуть эти задачи самостоятельно на того человека которому хотите помочь.

[2018-06-24 18:54] YuriSilenok commented on #111
@TanyaMalis @NastyaFilyushkina
Зачтено
Я буду задачи накидывать по старой схеме, те задачи которые останутся не реализованными, а баллы все получены, перекинуть на меня с комментарием что курсовик сдан, или можете перекинуть эти задачи самостоятельно на того человека которому хотите помочь.

[2018-06-24 18:55] YuriSilenok commented on #92
Не про таск
Я буду задачи накидывать по старой схеме, те задачи которые останутся не реализованными, а баллы все получены, перекинуть на меня с комментарием что курсовик сдан, или можете перекинуть эти задачи самостоятельно на того человека которому хотите помочь.

[2018-06-24 19:23] YuriSilenok commented on #92
На самом деле это очень философский вопрос, должен ли пользователь иметь возможность вводить запрещенные символы, есть собственно несколько подходов к этому, первый когда пользвователь не может ввести, когда он может ввести но его предупреждают тут же об это и когда он может ввести и его предупреждают при попытке отправки данных. Мы ни где это не определяли какой у нас именно вариант. Если смотрет

[2018-06-24 19:49] TanyaMalis commented on #111
@YuriSilenok
Вы мне зачли его в журнале, но это таск не мой, а @Natalia666503

[2018-06-24 19:54] YuriSilenok commented on #56
Вы описывали при помощи регулярок, в этом случае это правильно. я думаю Вам стоит продолжить эту тему, только постараться сделать не несколько регулярок, а написать одно условие соответствующее правилу. Я думаю вам поможет в этом этот сайт https://regex101.com/
Если возникнут проблемы с описанием шаблона, пишите, разберемся.

[2018-06-24 19:55] YuriSilenok commented on #111
Да, действительно это так. Сейчас все поправлю

[2018-06-25 09:52] Whitetech7417 commented on #67
@YuriSilenok после исправления залить в ветку issue 67?

[2018-06-25 10:08] YuriSilenok commented on #67
- если ветки нет, создать ветку из тестовой
- на ПК переключиться на созданную ветку
- вы ней изменить код
- проиндексировать, закомитить, выгрузить изменения
- сделать запрос на пулреквест (желательно с тем же названием что и таск)

[2018-06-25 18:32] #124 closed

[2018-06-25 19:31] NastyaFilyushkina commented on #95
Можно я просто уточню, что "получен массив отсортированный в выбранном порядке (буквы по алфавиту/в обратном алфавитном порядке, числа по возрастанию/убыванию)" ?

[2018-06-25 19:45] NastyaFilyushkina commented on #94
Исправила

[2018-06-25 19:59] NastyaFilyushkina commented on #91
Еще сделала ввод некорректных данных

[2018-06-25 20:33] alvhmnv commented on #56
Мне не приходит в голову, как можно все в одно сделать, ведь для разных полей разные символы должны быть, где-то пробел, а где то дефис,
про повторяющийся код вы так же написали в пулл реквесте, объединить все методы я могу только разве что с использованием тегов для определенных полей, но код опять же повторяться будет, потому что символы разные должны быть

[2018-06-26 02:47] YuriSilenok commented on #56
Не актуально

[2018-06-26 02:52] YuriSilenok commented on #92
Если преподаватель добавляется в список преподавателей, значит этот список должен увеличиваться, это тоже должно быть в ожидаемом результате.

[2018-06-26 02:55] YuriSilenok commented on #91
Ожидаемые результаты должны быть максимально точными, если что-то увеличивается, нужно сказать на сколько или во сколько, дать какую-то математическую зависимость, если мы точно не можем сказать, что должно быть 4 элемента в списке.

[2018-06-26 03:06] YuriSilenok commented on #95
Это минимум, но нужно однозначно указать какой столбец какому правилу сортировки будет соответствовать.

[2018-06-26 03:52] NastyaFilyushkina commented on #92
Метод изменяет значения существующего объекта MTeacher значениями из входных параметров метода.Метод вернет истину если удалось найти и изменить преподавателя в списке, иначе вернет ложь.. Мы же просто изменяем выбранного, зачем добавлять  в список?

[2018-06-26 08:11] #121 closed

[2018-06-26 08:11] #125 closed

[2018-06-26 08:13] TanyaMalis commented on #128
@YuriSilenok
Курсовик сдан

[2018-06-26 12:07] NastyaFilyushkina commented on #91
Я указала количество.

[2018-06-26 12:29] YuriSilenok commented on #128
Доделать

[2018-06-26 12:30] YuriSilenok commented on #121
Могу проставить в зачетку в удобное для обоих время, я нахожусь на Ленина 20 (ЭКЗАКТПРО)

[2018-06-26 12:35] YuriSilenok commented on #92
Да, я перепутал с другими сценариями, в любом случае для этого метода должны ожидать что количество элементов в списке не меняется. Делов в том что прогроаммисты, иногда, что бы поработать с неким элементом могут забирарать элемент из списка, а потом ложить его обратно.

[2018-06-26 12:39] YuriSilenok commented on #92
Что бы это лучше понять, мы должны проверять те элементы системы, с которыми хоть как-то работает этот метод. В нашем случае это только список.

[2018-06-26 12:49] YuriSilenok opened #132 "Начертить диаграмму классов в нотации UML"
Чертить в [этот](https://docs.google.com/drawings/d/1tKvef0w5NeM1dLPM_j2UJq8U-fJl_lFHy9hd0rhvPJc/edit?usp=sharing) файл
Файл с кодом [Demo.txt](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/files/2137158/Demo.txt)

[2018-06-26 14:37] alvhmnv commented on #132
Что-то сделал, но думаю недочетов много, может что-то ещё и понял неправильно
Укажите на ошибки

[2018-06-26 18:17] YuriSilenok commented on #132
Другой таск?

Выявленные недостатки
- [Абстрактый метод и класс не помечены](https://jenyay.net/Programming/Uml)
- по диаграмме у вас модель (M) объекта реализует интерфейс контроллера (C), в коде не так

[2018-06-26 18:28] YuriSilenok opened #134 "Автоматизация сценариев для MGroups"
Затраггивает #111 #99
Реализовать в ветку issue-134
Имя тестового файла UT_MGroup

[2018-06-26 18:31] YuriSilenok opened #135 "Автоматизация сценариев для MAuditor"
Затрагивает #112 #98
Реализовать в ветке issue-135
Имя тестового файла UT_MAuditor

[2018-06-26 18:35] YuriSilenok commented on #95
Зачтено

[2018-06-26 18:37] YuriSilenok commented on #92
Кому балл дарить будем?

[2018-06-26 18:41] alvhmnv commented on #132
Это поправил. Насчет "ещё", да, если можно, то несколько тасков пожалуйста
и ещё я на почте вопрос по поводу доступа к журналу писал

[2018-06-26 18:56] YuriSilenok opened #136 "Автоматизация сценариев для MDiscipliner"
Затрагивает #102 #62
Реализовать в файл issue-136
Имя тестового файла UT_MDiscipline

[2018-06-26 19:00] YuriSilenok commented on #81
А что у вас с этим таском?

[2018-06-26 19:02] YuriSilenok commented on #132
У вас есть таск по которому нет активности 13 дней
[Это ссылка](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/assigned/alvhmnv) по которой вы сможете посмотреть какие на вас есть таски на этом проекте

[2018-06-26 19:03] alvhmnv commented on #81
а вы мне на консультации тогда сказали не нужно делать его, и пока не обращать на него внимания, поэтому дали задачу дальше

[2018-06-26 19:04] YuriSilenok commented on #132
по поводу журнала, доступ дал, не забывайте что есть понятие приоритетных задач, и запросы на доступ к журналы не являются таковыми. Соответсвенно сейчас горячая пора ликвидации долгов, и очередь обработки почты увеличена.

[2018-06-26 19:07] YuriSilenok commented on #81
Да, теперь припоминаю, этот таск блокировался потому что сценарии были недописаны, теперь они дописаны. #91 , можно приступать к таску. Имя тестового файла UT_CTeacher

[2018-06-26 19:08] YuriSilenok commented on #81
Сценарии брать с вкладки 1/2018 UT

[2018-06-26 19:17] alvhmnv commented on #81
хорошо, попробую, но  если будет возможность, назначьте ещё тасков пожалуйста

[2018-06-27 11:09] blinker44 commented on #26
@YuriSilenok
Что мне в итоге делать? Для педагогического стажа нужна сортировке как для int чисел, мне программно её реализовывать? Если да, то использую принцип из соседних моих тасков. Просто буду использовать не Compare, а обычные операции сравнения

[2018-06-27 12:06] Natalia666503 commented on #128
@YuriSilenok Я не очень понимаю, что здесь делать надо. Можете, пожалуйста, объяснить или заменить на другой таск?

[2018-06-27 12:09] blinker44 commented on #26
@YuriSilenok
Понял.
Тогда мне также следует изменить часть кода связанную с сравнением.

[2018-06-27 14:19] YuriSilenok commented on #26
не знаю о каком конкретном месте вы говорите, но можете поэксперементировать

[2018-06-27 14:21] YuriSilenok commented on #128
Посмотреть как это реализовано в других контроллерах,там из-за плохой архитектуры получится копипаст.

[2018-06-27 15:14] blinker44 commented on #26
@YuriSilenok
А что мне делать, если в столбец, допустим, занесены числа, но одно или несколько из них содержит символ не являющийся цифрой? Мне это проверять, или это не в моей области ответственности
На данный момент подправил сортировку под числа в #40 , в следствие чего такой вопрос и появился. Я не учитываю возможное наличие "нецифр"

[2018-06-27 18:02] Natalia666503 commented on #134
@YuriSilenok  у меня 15 версия студии

[2018-06-27 18:09] YuriSilenok commented on #40
Комбинированное поле...я могу снать это задае с Вас, так как оно слишком объемное.

[2018-06-28 11:28] blinker44 commented on #40
@YuriSilenok
То есть, нужно учитывать значения после точек?
А код действительно может выглядеть так, как в тесте? Код обычно только числовой
Если снимите задание, то таск за мной пропадет?

[2018-06-28 17:48] YuriSilenok commented on #40
Будет зачтен, так как не по твоей вине.

[2018-06-28 21:50] blinker44 commented on #40
@YuriSilenok
Я не могу оценить свою работу. Если есть те, кто справился бы лучше, то снимайте пожалуй.
Могу продолжить, но должен знать что конкретно от меня сейчас нужно
Commit'ы в #26 и этом тасках пушнул

[2018-06-29 09:59] YuriSilenok commented on #89
@Natalia666503 теперь это Ваш таск

[2018-06-29 10:05] YuriSilenok opened #141 "Добавит свойство Count для классов CDiscipline, CTeacher, CAuditor"
Реализовать в ветку issue-141
Это свойство возвращает количество объектов из списка типа int

[2018-06-29 10:13] YuriSilenok commented on #115
@basandpnv Ключевое слово **после** того пул реквест будет смержен, у вас он еще открыт.

[2018-06-29 10:14] YuriSilenok commented on #115
@basandpnv прошу прощение, попутал ссылки, нашел пул реквест смерженый

[2018-06-29 10:14] #115 closed

[2018-06-29 10:15] YuriSilenok commented on #40
Баг недействителен, так как код должен воспринимать как строка целиком.

[2018-06-29 10:16] #73 closed

[2018-06-29 12:43] Natalia666503 commented on #89
https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=683731494

[2018-06-29 13:23] YuriSilenok commented on #89
Зачтено

[2018-07-01 19:41] YuriSilenok commented on #26
@blinker44
Так, кажется вы не в курсе жизненного цикла бага.
1. Он поднимается тестировщиком (иногда разработчиком) на разработчика (чаще старшего разработчика)
2. На баг создается ветка и назначается исполнителью
3. После исполнения поднимается пулреквест
4. Если пул реквест одобрен и произошел мерж, только тогда таск с багом назначается тестировщику.
5. и уже после проверки тестировщиком баг зак

[2018-07-01 19:45] YuriSilenok commented on #66
Задача снята по неактивности

[2018-07-01 19:46] YuriSilenok commented on #66
Прежде чем приступить к задаче, выполните обновление этой ветки относительно ветки Testing, командой git rebase

[2018-07-01 19:49] YuriSilenok commented on #66
При этом функцию удаления строки должна использовать соответствующий метод из контроллера, если увидите что данный таск требует предварительного выполнения других тасков, например не реализована функция загрузки данных из контроллера, то напишите об этом.

[2018-07-01 21:29] YuriSilenok commented on #133
Как дела?

[2018-07-03 08:49] YuriSilenok commented on #26
Ветку пересоздал

[2018-07-04 12:32] Natalia666503 commented on #68
@YuriSilenok Данная ветка находится в master, а не в Testing. В ней нет нужной мне формы.

[2018-07-04 14:20] YuriSilenok commented on #68
Да, действительно, я ее удалил и пересоздал

[2018-07-04 23:35] YuriSilenok opened #150 "Событие генерируемое после добавление учителя"
Реализовать в ветку issue-150
Создать публичное событие AfterAdding в классе CTeacher, генерируемое после того как произошло добавление преподавателя в список преподавателей.
Первый параметр события возвращает экземпляр контроллера вызвавший событие, второй параметр является экземпляром класса модели добавленного преподавателя
[Описание как это делается](https://docs.microsoft.com/ru-ru/dotnet/sta

[2018-07-04 23:54] YuriSilenok commented on #132
Зачтено

[2018-07-04 23:54] #132 closed

[2018-08-23 17:59] YuriSilenok opened #155 "Требования к UI для формы "Преподаватели""
Залоговок формы должен иметь имя "Преподаватели"
Столбцы таблицы должны занимать всю ширину контенера талицы, в случае нехватки пространства должны появиться сролбары для вертикальной и горизонтальной прокрутки.
Контейнер таблицы не должен иметь функционала для добавления, удаления или редактирования данных в таблице.
Форма должна открывать не в модальном режиме.
![image](https://user-images.githu

[2018-10-04 12:04] #135 closed

[2018-10-16 09:11] YuriSilenok commented on #136
Задача снята из-за отсутствия активности.

[2018-10-16 09:23] YuriSilenok opened #156 "Реализовать метод +GetData():string[,] из класса CAuditor"
Реализовать в ветку issue-156
[Ссылка ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)на текущую версию диаграммы классов.

[2018-10-16 09:43] YuriSilenok opened #158 "Реализовать метод +Add(group:MGroup):bool из класса CGroup"
Реализовать в ветку issue-
[Ссылка ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)на текущую версию диаграммы классов.

[2018-10-16 16:36] Whitetech7417 commented on #68
В какую ветку мне залить исправленную версию? @YuriSilenok

[2018-10-16 17:36] YuriSilenok commented on #68
@Whitetech7417
Хм, как не странно, но этот баг уже поправлен и даже с мержен в ветку [Testing](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/tree/Testing)
Есть конечно вопрос  что было исправлено в таком случае и в какой ветке, но пока не будем об этом.
Давай сведем эту задачу к проверке этого бага, что он не воспроизводится.

[2018-10-16 17:47] Whitetech7417 commented on #68
@YuriSilenok баг не воспроизводится.
пробовал даже параметры менять , Both стояло изначально как надо, все идет по сценарию.

[2018-10-17 09:36] YuriSilenok commented on #68
@Whitetech7417
Нужно прикрепить скрины.

[2018-10-17 10:49] Whitetech7417 commented on #68
@YuriSilenok На скрине показал один общий момент (когда появляются оба скрола)
![image](https://user-images.githubusercontent.com/38256956/47081443-5067ed80-d213-11e8-88e1-e65bbe13ade5.png)
Боковой скролл
![image](https://user-images.githubusercontent.com/38256956/47081469-62499080-d213-11e8-99ec-c32b9dd3d60f.png)
Нижний скролл
![image](https://user-images.githubusercontent.com/38256956/47081476-6

[2018-10-17 10:56] YuriSilenok commented on #68
Отлично. Зачтено. Скоро выдам новые таски.

[2018-10-17 10:56] #68 closed

[2018-10-17 11:01] YuriSilenok commented on #133
Не актуально

[2018-10-17 12:37] #92 closed

[2018-10-17 16:29] Whitetech7417 commented on #159
@YuriSilenok а что делать? из какой ветки качать проект? как создавать Unit test отдельный проект или добавить в тот который скачаю?

[2018-10-17 17:12] YuriSilenok commented on #159
Автоматизировать сценарии которые уже написаны

Сделать свою ветку с правильным именем из ветки Testing

Нужно добавить к существующему проекту юнит тестирования в файле имя которого указано в issue

[2018-10-18 18:16] YuriSilenok commented on #159
@Whitetech7417
В репозитории новый коммит в ветке Testing с существенными изменениями.
рекомендую выполнить команду [git rebase](https://git-scm.com/book/ru/v1/%D0%92%D0%B5%D1%82%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B2-Git-%D0%9F%D0%B5%D1%80%D0%B5%D0%BC%D0%B5%D1%89%D0%B5%D0%BD%D0%B8%D0%B5)

[2018-10-18 20:28] YuriSilenok commented on #142
1. выполните для вашей ветки git rebase, за последнее время были существенные изменения.
2. Задачу я переформулирую в связи с этими изменениями. Ждите следующего комментария который будет пояснением к уточненному заданию.

[2018-10-18 20:32] YuriSilenok commented on #142
@itword7111
Образец реализации этого метода можете взять из класса CDiscipline
Если будут вопросы по этому таску, задавайте их хдесь

[2018-10-18 20:37] YuriSilenok commented on #150
Задание весьма сложное, требует демонстрации. Если нужно еще больше заданий, напишите письмом или здесь

[2018-10-18 20:58] YuriSilenok commented on #160
Образец

[2018-10-18 21:08] YuriSilenok commented on #142
Добавлено новое описание

[2018-10-19 08:43] YuriSilenok commented on #142
**Обновлено поведение**
Метод добавляет новую дисциплину в том случае если поле шифр(cipher) является уникальным и не может быть пустым значениями. Если добавление в таблицу произошло, то метод вернет истину, в других случаях возвращается лож. Поле шифр должно проверять содержание на соответсвие маски. Первые два символа это цифры, далее следует символ черты, множество заглавных букв, одна буква н

[2018-10-19 09:52] itword7111 commented on #142
rebase - это перенести изменение текущей ветки в другую? В какую перенести?

[2018-10-19 09:54] itword7111 commented on #142
В master?

[2018-10-19 09:58] YuriSilenok commented on #142
Нет, в нашем случае смысл другой, ваша ветка должна содержать актуальные изменения ветки Testing. Так как вы делали свою ветку из ветки Testing

[2018-10-19 10:20] itword7111 commented on #142
я делал в ветке issue-142
то есть перенести изменения в origin/Testing?

[2018-10-19 10:57] itword7111 commented on #142
при слиянии появились проблемы в csproj файле

[2018-10-19 11:11] YuriSilenok commented on #142
Нужно больше информации.
Скрин ошибки например.
Скорее всего это мержконфликт

[2018-10-19 11:29] itword7111 commented on #142
![default](https://user-images.githubusercontent.com/38357886/47215795-5d1f4980-d3ab-11e8-8975-703db9141691.PNG)

[2018-10-19 11:35] YuriSilenok commented on #142
[скопируйте](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/Testing/TimetableOfClasses/TimetableOfClasses.csproj) и выполните коммит только этого файла и продолжите rebase

[2018-10-19 17:56] YuriSilenok commented on #157
Задача более не является актуальной. Реализована при помощи класса родителя для всех наследников.
В репозитории есть три основные деятельности соответсвующие [трем проектам](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/projects).
Вы можете выбрать из любого этих проектов который будет ближе Вам.
Вы можете самостоятельно выбирать таски если он никому не назначен и находится

[2018-10-19 19:28] YuriSilenok commented on #61
Не актуально

[2018-10-19 19:28] #61 closed

[2018-10-19 19:32] YuriSilenok commented on #81
Ждем пул реквеста

[2018-10-19 19:39] #60 closed

[2018-10-19 19:39] YuriSilenok commented on #151
Не актуально

[2018-10-19 19:40] #155 closed

[2018-10-19 19:42] YuriSilenok commented on #134
@serega111198
Видимо дело не идет из-за незнания языка C#, могу предложить разработку сценариев. Эта задача не требует навыка программирования.

[2018-10-19 19:45] YuriSilenok commented on #26
задача не актуальная.

[2018-10-19 19:47] YuriSilenok commented on #136
@asOldEye
Добрый день, у вас возникли трудности в решении данной задачи?
через 4 (во вторник) дня задача будет снята.

[2018-10-20 08:44] blinker44 commented on #158
Не могу закрыть или перевесить таск, нет возможности
![image](https://user-images.githubusercontent.com/38395077/47253553-2dc91500-d45d-11e8-947b-3de3cad63f54.png)

[2018-10-20 08:45] blinker44 commented on #158
Не могу закрыть или перевесить таск, нет возможности
![image](https://user-images.githubusercontent.com/38395077/47253580-987a5080-d45d-11e8-96ee-909b1943d9d4.png)

[2018-12-28 14:28] YuriSilenok opened #1 "Реализовать метод Delete(model:Model) для класса CDiscipline унаследованного от класса Controller"
Реализовать в ветку task-1

**Поведение**:
метод удаляет переданную дисциплину в том случае если поля
[code]
есть в списке. Если удаление из таблицы произошло, то метод вернет истину, в других случаях возвращается ложь.

[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing) на диаграмму классов.

Ветка [task-1](https://github.com/Students-of-the

[2019-01-29 14:28] YuriSilenok opened #2 "Разработать сценарии тестирования конструктора CTeacher() : base("Преподаватель") для класса CTeacher унаследованного от класса Controller"
Реализовать сценарии пригодные для Unit-тестирования в [эту](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548) таблицу
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit?usp=sharing)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)

[2019-02-04 19:02] map82top opened #3 "Разработать сценарии тестирования для класса MGroup пригодных в автоматизации."
Разработать сценарии пригодные для Unit-тестирования в эту [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму

[2019-02-04 19:53] Chippa99fm opened #4 "Автоматизация сценариев для метода Update(model:Model) сущности Teacher"
Разработать сценарии пригодные для Unit-тестирования в эту [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p).
[Ссылка ](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)на диаграм

[2019-02-04 19:54] KharlamovaAlexandra opened #5 "Разработать сценарии тестирования пригодные для автоматизации модульным тестированием метода Delete(Model model) сущности Преподаватель"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)

[2019-02-04 20:04] VinogradovAlexandr781227 opened #6 "Автоматизация unit-test для метода Update(Model model) сущности Teacher"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)

[2019-02-04 20:13] VinogradovAlexandr781227 commented on #4
Вау!!! Классная работа!!!

[2019-02-04 20:15] Chippa99fm commented on #4
Спасибо!! Так приятно!!

[2019-02-04 20:16] SamuraSwordS opened #7 "Автоматизация тестирования юнит-тестами для автоматизации unit-test для метода Delete(Model model) сущности Teacher"
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p).

[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).

[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.

[2019-02-04 20:21] Chippa99fm commented on #6
Работа хороша!!

[2019-02-04 20:23] VinogradovAlexandr781227 commented on #6
Пасяба))

[2019-02-04 20:43] Proffet78 opened #8 "Автоматизация тестирования юнит-тестами для класса MGroup"
Протестировать код по существующим сценариям, которы описаны в этой [таблице](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit?usp=sharing)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диа

[2019-02-05 06:48] YuriSilenok commented on #3
Добрый день @map82top

[Ссылка](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548) на таблицу со сценариями должна остатья прежней.

Заасанить нужно на меня.

Других замечаний нет.

Спасибо.

[2019-02-05 07:14] YuriSilenok commented on #5
Добрый день  @KharlamovaAlexandra

Для этой задачи нет описания.
Обратите внимание на [аналог](https://gitlab.com/YuriSilenok/Student-timetable/issues/183) вашей задачи, не все метки присутсвуют.

Спасибо.

[2019-02-05 07:43] YuriSilenok commented on #4
Добрый день @Chippa99fm

В заголовке задачи упомянута сущность преподаватель, в метках фигурирует группа.

@VinogradovAlexandr781227 не нужно устраивать беспредел, на каком основании вы закрыли таск? он выполнен?

[2019-02-05 07:50] YuriSilenok commented on #6
Добрый день.

Метки не соответвуюь заголовку.
ССылка на сценарии не ведет к общему документу.

Спасибо.

[2019-02-05 07:53] YuriSilenok commented on #8
Добрый день.

Задача должна быть заасанина на того кто с ней должен поработать, то есть на меня. Я посмотрел и ссылка на сценарии должна вести на общую таблицу. Так же у вас должна быть метка Model/

Спасибо.

[2019-02-05 09:07] yuliagolubevaa5 opened #9 "Автоматизация тестирования юнит-тестами конструктора CTeacher() для сущности Teacher"
Сценарий Unit-тестирования в [этой](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548) таблице
[План тестирования](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit?usp=sharing)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing) на диаграмму классов.[

[2019-02-05 09:09] KharlamovaAlexandra commented on #5
Добрый день!

Нужно ли оповещать вас по почте после того как задание было переделано или
вы увидите это сами?

С уважением, Харламова Александра
17-ИСбо-2б

вт, 5 февр. 2019 г. в 10:14, Юрий Силенок <notifications@github.com>:

[2019-02-05 09:54] noliss opened #10 "Автоматизация unit-test для конструктора сущности Group"
[План](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p) тестирования.

[Диаграмма](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) классов.

[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).

[2019-02-05 10:33] Mikleproxorov opened #11 "Реализовать метода Update(Model model) сущности Group"
**Поведение:**
в метод передается объект, проверяется его существование в таблице, если такой есть, далее метод изменяет информацию о существующей группе в том случае если поля

`       byte population;`
`        string cipher;`

являются уникальными и не пустыми (производится проверка). Если изменение произошло, то метод вернет истину, в других случаях метод возвращает ложь.
[Ссылка](https://docs

[2019-02-05 12:47] purplegen opened #12 "Реализовать метод Insert(Model model) класса CTeacher унаследованного от класса Controller"
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов

[2019-02-05 12:49] SergeAlekseev opened #13 "Разработать сценарии тестирования пригодные для автоматизации модульным тестированием метода Insert(Model model) сущности Преподаватель"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=1813879881)

[2019-02-05 13:45] YuriSilenok commented on #8
Если вы не работаете над задачей в данный момент, задачц с себя нужно снимать.
Вам не в комментарии нужно ссылку вставить новую ссылку, а в дискрипшен.
Его можно отредактировать кнопкой Edit.
![image](https://user-images.githubusercontent.com/14871471/52277277-5bcb5a00-2965-11e9-9bc8-3d1d2f89a89a.png)

[2019-02-05 13:51] Proffet78 commented on #8
Добрый день!

Я исправил ваше замечание!

Спасибо.

[2019-02-05 13:56] YuriSilenok commented on #5
Добрый день.

Что бы я задачу посмотрел, нужно ее заасанить на меня.

Спасибо.

[2019-02-05 14:08] YuriSilenok commented on #10
Добрый день.

- Нужно заасанить на меня что бы я начал с этой задачей работать.
- нет меток
- нет вехи

Спасибо.

[2019-02-05 14:10] YuriSilenok commented on #11
Добрый день.

- Что бы я с не асанить на меня
- Нет дискрипшена
- нет меток
- нет вехи

Спасибо

[2019-02-05 14:14] Takunava opened #14 "Реализовать конструктор CGroup() : base("Группа") для класса CGroup унаследованного от класса Controller"
Реализовать в ветку task-14
Поведение:
Инициализирует заголовок таблицы и ограничения уникальности столбцов.
Для группы уникальными являются комбинация двух полей (составной ключ)
[code]
Примером может служить конструктор  **CDiscipline() : base("Дисциплина")**
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.

[2019-02-05 14:16] Takunava commented on #14
``

[2019-02-05 14:19] YuriSilenok commented on #4
Зачтено

[2019-02-05 14:22] noliss commented on #10
Добрый день.
Не имею возможности что-либо изменять, соответственно и проставлять метки.
![qwerty](https://user-images.githubusercontent.com/45510680/52279260-3ab93800-296a-11e9-80c7-70397881c7d9.png)

[2019-02-05 14:22] YuriSilenok commented on #12
Добрый день,

у Вас не указана веха.

Спасибо.

[2019-02-05 14:25] Mikleproxorov commented on #11
Что такое "асанить" и как это делается?
Что такое вехи?
Также не совсем понимаю что надо написать в дискрипшене и как ставить метки.

вт, 5 февр. 2019 г. в 17:10, Юрий Силенок <notifications@github.com>:

[2019-02-05 14:28] YuriSilenok commented on #8
Добрый день,

Ваш дискрипшен говорит о разработке сценариев тестирование, а заголовок говорит об автоматизации тестирования, что у Вас на самом деле?

Спасибо.

[2019-02-05 14:31] YuriSilenok commented on #13
Добрый день.

Обратите на описание лейбла Auto test, им помечаются задачи на автоматизацию тестирования
У вас не указана веха.

Спасибо.

[2019-02-05 14:33] YuriSilenok commented on #3
Зачтено

[2019-02-05 14:35] YuriSilenok commented on #5
Зачтено

[2019-02-05 14:37] YuriSilenok commented on #7
Добрый день,
почему была удалена метка контроллера, обратите внимание на описание метки Преподаватель.
Спасибо.

[2019-02-05 14:38] YuriSilenok commented on #14
Добрый день,
Что у вас происходит с задачей?
Она не должна быть закрытой.

[2019-02-05 14:40] YuriSilenok commented on #11
![image](https://user-images.githubusercontent.com/14871471/52280455-009d6580-296d-11e9-8457-5de1b1df4cc0.png)
![image](https://user-images.githubusercontent.com/14871471/52280493-13179f00-296d-11e9-8606-aa85da90dea8.png)
Вы можете найти эти атрибуты с права от задачи
![image](https://user-images.githubusercontent.com/14871471/52280512-2460ab80-296d-11e9-8fcc-cc9716ad867b.png)

[2019-02-05 14:42] YuriSilenok commented on #12
Зачтено

[2019-02-05 14:45] YuriSilenok commented on #10
Заасаньте на меня когда все будет готово

[2019-02-05 14:48] YuriSilenok commented on #8
Клсаа MGroup относиться к модели, сам таск относиться к автоматизации тестирования, проверьте метки, у вас есть лишние.

[2019-02-05 14:49] YuriSilenok commented on #7
Зачтено

[2019-02-05 14:51] YuriSilenok commented on #10
Что значит реализовать сценарии в таблицу?
Юнит-тест это код который тестирует другой код по существующим сценариям которые написаны в каком-то документе, в данном случае в таблице.

[2019-02-05 14:53] YuriSilenok commented on #13
Не указана веха
Обратите внимание  на описание метки Insert(Model model)

[2019-02-05 14:55] YuriSilenok commented on #11
Нет дискрипшена
В целом вы уже близки к истине.

[2019-02-05 14:58] YuriSilenok commented on #8
У Вас та же ошибка что и [здесь](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/10#issuecomment-460665820)

[2019-02-05 14:58] Mikleproxorov commented on #11
А что конкретно должно быть в дескрипошене?

вт, 5 февр. 2019 г. в 17:55, Юрий Силенок <notifications@github.com>:

[2019-02-05 15:00] YuriSilenok commented on #11
[Здесь](https://gitlab.com/YuriSilenok/Student-timetable/issues) вы найдете исчерпывающее количество примеров.

[2019-02-05 15:04] SergeAlekseev commented on #13
Здравствуйте, Юрий Викторович.

Обратил внимание на описание метки Insert(Model model) и добавил метку Controller.
Понял, что такое веха и указал.

Спасибо.

[2019-02-05 15:10] YuriSilenok commented on #13
Зачтено

[2019-02-05 15:13] YuriSilenok commented on #8
МGroup относиться к модели, и должен иметь соответвующую метку и не должен иметь метку на контроллер.

[2019-02-05 15:19] YuriSilenok commented on #11
Я так и не увидел дискрипшен

[2019-02-05 15:21] Takunava commented on #14
Здравствуйте.
Я не смог добавить метки, поэтому закрыл.
Метки добавить не получалось

[2019-02-05 15:23] Mikleproxorov commented on #11
Готов (наверное)

вт, 5 февр. 2019 г. в 18:19, Юрий Силенок <notifications@github.com>:

[2019-02-05 15:24] YuriSilenok commented on #10
О чем  Вам говорит описание лейбла Script?

[2019-02-05 15:25] YuriSilenok commented on #10
План тестирования, разработки, что за план?

[2019-02-05 15:30] MaximTrapeznikov opened #15 "Автоматизация тестирования юнит-тестами для метода Insert(Model model) класса СTeacher"
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p).

[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).

[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.

[2019-02-05 15:33] YuriSilenok commented on #10
Зачтено

[2019-02-05 19:23] PopovMilan opened #16 "Разработать сценарии тестирования пригодных для автоматизации модульными тестами для метода Insert(Model model) сущности Группа"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
Реализовать сценарии пригодные для Unit-тестирования
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Диаграмма классов](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#sli

[2019-02-05 20:04] DenisSavelev opened #17 "Автоматизация unit-test для метода Insert(Model model) сущности Group"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
Реализовать сценарии пригодные для Unit-тестирования
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Диаграмма классов](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#sli

[2019-02-05 20:51] KudelinRoman opened #18 "Реализовать метод Delete(Model model) сущности Teacher"
Разработать метод Delete(Model model) сущности Teacher
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов

[2019-02-06 06:53] DariaMann opened #19 "Автоматизация тестирования юнит-тестами для метода Update(Model model) сущности Group"
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов

[2019-02-06 09:09] YuriSilenok commented on #8
зачтено

[2019-02-06 09:18] YuriSilenok commented on #14
Добрый день.
Зачем была добавлена метка Insert(Model model)?

[2019-02-06 09:30] YuriSilenok commented on #15
Зачтено

[2019-02-06 09:43] YuriSilenok commented on #11
Зачтено

[2019-02-06 09:49] YuriSilenok commented on #9
зачтено

[2019-02-06 10:03] YuriSilenok commented on #16
Добрый день.
Каким образом к этой задаче относиться метка Teacher?

[2019-02-06 10:13] YuriSilenok commented on #17
Добрый день.
У Вас не правильно выставлены метки.
Типы задач.
Задачи на разработку функциональности - помечается ярлыком Story. Все задачи относятся к одной из четырех сущностей: Преподаватель, Группа, Аудитория, Дисциплина. Задача должна иметь соответствующую этой сущности одноименную англоязычную метку. Если упомянут класс который начинается с большой буквы M, например MGroup, то задача должна б

[2019-02-06 10:15] YuriSilenok commented on #18
Добрый день. У Вас не хватает меток.

Типы задач.
Задачи на разработку функциональности - помечается ярлыком Story. Все задачи относятся к одной из четырех сущностей: Преподаватель, Группа, Аудитория, Дисциплина. Задача должна иметь соответствующую этой сущности одноименную англоязычную метку. Если упомянут класс который начинается с большой буквы M, например MGroup, то задача должна быть помечена

[2019-02-06 10:24] YuriSilenok commented on #6
Зачтено

[2019-02-06 12:46] YuriSilenok commented on #18
зачтено

[2019-02-06 13:48] PopovMilan commented on #16
Добрый день.
 Понял, что совершил ошибку добавив лишнюю, не из своего задания, сущность.
Спасибо.

[2019-02-06 14:45] YuriSilenok commented on #16
Зачтено

[2019-02-06 15:23] MihailBobylev opened #20 "Автоматизация тестирования юнит-тестами для класса MDiscipline"
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102).
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.

[2019-02-06 16:20] ZhezlovaDaria opened #21 "Разработать сценарии тестирования пригодных для автоматизации модульными тестами для метода Delete(Model model) сущности Group"
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102).
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).
[Ссылка](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0) на диаграмму классов.

[2019-02-06 16:27] Parallusion opened #22 "Реализовать метод Delete(Model model) сущности Group унаследованного от класса Controller"
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing) представлена по ссылке.

**Алгоритм поведения**
Если поле шифр(cipher) есть в списке, то метод удаляет переданную группу.
Если произошло удаление из таблицы, то метод вернёт истину, в других случаях - ложь.

[2019-02-06 16:36] bormolei opened #23 "Автоматизация unit-test для метода Delete(Model model) сущности Group"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).
[План разработки](https://docs.google.com/spreadsheets/d/11uPdKMmzZklleijGcBAKoStnVHY2_9qBwRPOpR1y0vM/edit#gid=389498935)
[Диаграмма классов.](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)

[2019-02-06 16:53] YuriSilenok commented on #20
Здравствуйте.
Судя по Вашему заголовку, у Вас поднята задача на поднятие задачи. Я вам такую задачу ставил в письме, Вы соответственно должны задачу поднять на автоматизацию.
Почему Вы выставили метки Controller и Model?
Спасибо.

[2019-02-06 16:56] YuriSilenok commented on #21
Здравствуйте.
Могли бы Вы обосновать такой набор меток?
Спасибо.

[2019-02-06 16:57] YuriSilenok commented on #22
Зачтено

[2019-02-06 17:00] YuriSilenok commented on #23
Здравствуйте.
Ошибка в том что у вас поднята задача для создания задачи, а нужно было создать задачу на автоматизацию.
Могли бы обосновать почему не нужно другие метки добавлять?
А так же я не увидел у Вас веху
Спасибо.

[2019-02-06 17:05] ZhezlovaDaria commented on #21
Здравствуйте.

Метка "Delete(Model model)" относиться к методу, для которого необходимо написание сценария тестов.
Метка "Group" относиться к сущности.
Метка "Unit test" так как требуется автоматизация unit-test'a.
Метка "Auto test" как следствие предыдущего пункта: требуется автоматизация.

Метка Model была лишней.

Спасибо.

[2019-02-06 17:11] YuriSilenok commented on #21
Противоречит ли состояние меток вот этому высказыванию из инструкции?

[2019-02-06 17:13] YuriSilenok commented on #20
Я просил пояснить почему вы выставили метки Controller и Model, а не удалять их. Вопрос тогда второй, почему вы удалили эти метки?

[2019-02-06 17:24] bormolei commented on #23
Добавил метку auto-test, так как автоматизация тестирования

[2019-02-06 17:27] MihailBobylev commented on #20
Удалил из-за неправильно понятой задачи.
Нам не нужен Controller, так как, если задача имеет цель разработки конструктор, метод вставки, метод обновления или удаления, то задача должна быть помечена меткой Controller, а у меня такого задания нет, а Model нужен, так как, если упомянут класс который начинается с большой буквы M, то задача должна быть помечена меткой Model.

[2019-02-06 17:30] DenisSavelev commented on #17
Я пересмотрел метки

[2019-02-06 17:32] YuriSilenok commented on #23
Я бы сказал что еще одной метки не хватает

[2019-02-06 17:33] ZhezlovaDaria commented on #21
Здравствуйте.

Да, противоречит.
Поняла, что допустила ошибку и метка "Auto test" здесь не требуется, так как целью является не сама автоматизация, однако требуется метка "Controller".
Так же добавила метку "Script", так как требуется написание сценариев.

Спасибо.

[2019-02-06 17:33] YuriSilenok commented on #20
Зачтено

[2019-02-06 17:34] DenisSavelev commented on #17
Добрый вечер. Я пересмотрел метки

ср, 6 февр. 2019 г. в 13:13, Юрий Силенок <notifications@github.com>:

[2019-02-06 17:36] Jeen99 opened #24 "Разработать сценарий тестирования для автоматизации модульного тестирования для класса MDiscipline"
Написать сценарий тестирования пригодных для автоматизации unit-test для класса MDiscipline.
[Таблица](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4dd88760eb_0_128)
[Диаграмма классов](https://docs.google.com/drawings/d/1o

[2019-02-06 17:40] YuriSilenok commented on #21
Зачтено

[2019-02-06 17:43] YuriSilenok commented on #17
Здравствуйте.
На каком основании была закрыта задача, она выполнена?
Почему на меня не заасанили?
Спасибо

[2019-02-06 17:44] YuriSilenok commented on #24
Зачтено

[2019-02-06 17:55] bormolei commented on #23
Добавил метку Controller , так как идет парой с меткой Delete.

[2019-02-06 18:21] DenisSavelev commented on #17
Здравствуйте, промахнулся видимо, я открыл

ср, 6 февр. 2019 г. в 20:43, Юрий Силенок <notifications@github.com>:

[2019-02-06 18:39] YuriSilenok commented on #17
Здравствуйте.
Один вопрос решили, со вторым что? Почему на меня не заасанили (назначили)?
Спасибо.

[2019-02-06 18:39] YuriSilenok commented on #23
Зачтено

[2019-02-06 18:57] DenisSavelev commented on #17
Решил, не заметил 😅

ср, 6 февр. 2019 г. в 21:39, Юрий Силенок <notifications@github.com>:

[2019-02-06 18:58] YuriSilenok commented on #17
Зачтено

[2019-02-06 19:53] GubanovAndrey opened #25 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием для конструктора сущности CDiscipline"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)

[2019-02-07 06:35] YuriSilenok commented on #25
Добрый день.
Вы в этой задаче должны указать что нужно сделать, а не что делаете.
Остальное в норме.
Спасибо

[2019-02-07 06:37] YuriSilenok commented on #14
Добрый день.
Я не просил удалять эту метку, я спросил зачем она была добавлена?
Могли бы Вы пояснить зачем были добавлены остальные метки?
Спасибо.

[2019-02-07 06:50] Takunava commented on #14
Здравствуйте.
Controller, потому что это задача на разработку конструктора
Group, потому что задача относится к сущности Group
Insert(Model model), потому что данная метка ставится вместе с меткой Controller
new(), потому что это задача на разработку конструктора
Story, потому что это задача на разработку функциональности

[2019-02-07 06:58] ssas18 opened #26 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием для метода Update(Model model) сущности Group"
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102).
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).
[Ссылка](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0) на диаграмму классов.

[2019-02-07 07:01] YuriSilenok commented on #14
Здравствуйте.
Могли бы Вы уточнить где была взята эта формулировка или на основании какого описания Вы сделали такой вывод?

Спасибо.

[2019-02-07 07:06] YuriSilenok commented on #26
Здравствуйте.
Зачтено.
Маленькое замечание. заголовок долежн отвечать на вопрос "Что сделать?"
Спасибо.

[2019-02-07 09:06] FvckNeighbors opened #27 "Написание сценариев тестирования пригодных для автоматизации unit-test для метода конструктора сущности Group"
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102).
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548).
[Ссылка](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0) на диаграмму классов.

[2019-02-07 11:10] YuriSilenok commented on #27
Добрый день.
Могли бы Вы пояснить почему были выбраны такие метки?
К какой части модели MVC относится тестируемая функциональность?
Спасибо.

[2019-02-07 14:39] JennyShel18 opened #28 "Автоматизация тестирования юнит-тестами конструктора сущности Discipline"
Разработать сценарии, подходящие для unit-тестов в эту [таблицу](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму  кл

[2019-02-07 16:35] Takunava commented on #14
Здравствуйте.
![image](https://user-images.githubusercontent.com/47320250/52426460-15196380-2b0f-11e9-930a-a1a6e6e14d5a.png)
Вот тут написано что её надо использовать вместе с меткой Controller.

[2019-02-07 16:37] Takunava commented on #14
Но похоже я что-то не так понял

[2019-02-07 18:53] YuriSilenok commented on #28
Здравствуйте,
Вы закончили с этой задачей?
Спасибо.

[2019-02-07 18:55] YuriSilenok commented on #19
Здравствуйте.
Зачтено.
Спасибо.

[2019-02-07 18:58] JennyShel18 commented on #28
Добрый вечер!
Никак не могу разобраться с метками, в данный момент села разбираться с
этой проблемой
Вопрос заключается в том, что не могу выбрать какие - либо лейблы и даже
ассайтить, почему то нельзя редактировать
Если поможете решить данную проблему, буду благодарна
Щелкунова Евгения
17-ИСбо-2а

чт, 7 февр. 2019 г. в 9:53 ПП, Юрий Силенок <notifications@github.com>:

[2019-02-07 19:04] YuriSilenok commented on #14
Описание получилось двусмысленным. Имелось ввиду что если вы ставите эту метку Insert, то нужно поставить метку контроллер.
Ниже цитата из задания, доработанная пару дней назад. Рекомендую прочитать добавленный раздел "Типы задач". Он даст большее понимание назначения меток и когда их ставить.

[2019-02-07 19:09] YuriSilenok commented on #28
Здравствуйте,
я вижу проблему, вы не приняли приглашение которое должно было Вам придти на почту.
Спасибо.

[2019-02-07 19:14] YuriSilenok commented on #28
перевешивают задачу всегда в последнюю очередь.
Сперва изменения задачи, потом перевешивание.
Перевесьте на меня когда закончите

[2019-02-07 19:14] JennyShel18 commented on #28
Спасибо, поняла свою ошибку

[2019-02-07 19:19] YuriSilenok commented on #28
Вы закончили?
Задача кому назначена?
Кто с ней должен поработать?

[2019-02-07 19:21] YuriSilenok commented on #28
Вы читали раздел "типы задач" в лабораторной работе?

[2019-02-07 19:30] JennyShel18 commented on #28
Перечитала еще раз, надеюсь сейчас правильнее решение

[2019-02-07 23:27] FvckNeighbors commented on #27
Добрый день.

Script - так как задача на разработку сценариев.
Auto test - так как автоматизация тестирования.
Unit test - потому что модульное тестирование.
new() - так как сценарий для метода конструктора.
Group - потому что задача затрагивает сущность Группа.

Данная тестируемая функциональность относится к компоненту Контроллер в модели MVC. Поэтому добавил метку Controller.

Спасибо.

[2019-02-08 05:02] Takunava commented on #14
Здравствуйте.
Я так понимаю что метка Insert(Model model) не нужна, да?

[2019-02-08 05:03] Takunava commented on #14
А метка контроллер нужна, потому что задача имеет цель разработки конструктора

[2019-02-08 06:40] YuriSilenok opened #29 "Реализовать конструктор CAuditor() : base("Аудитория") для класса CAuditor унаследованного от класса Controller"
Реализовать в ветку task-29

**Поведение:**
Инициализирует заголовок таблицы и ограничения уникальности столбцов.
Для аудитории уникальными являются комбинация четырех полей (составной ключ)

[code]
Примером может служить конструктор `CDiscipline() : base("Дисциплина")`

[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing) на диаграмму классов.

[2019-02-08 06:53] YuriSilenok commented on #28
Здравствуйте.
Могли бы вы пояснить текущий выбор меток?
Спасибо.

[2019-02-08 07:02] YuriSilenok commented on #27
Здравствуйте.
Можно ли назвать эти метки взаимоисключающими?

Script - так как задача на разработку сценариев.

Вы читали раздел "Типы задач" в лабораторном практикуме?
Если Вам больше нечего делать по задаче, то вы должны ее с себя снять.
Спасибо.

[2019-02-08 07:07] YuriSilenok commented on #14
Здравствуйте @Takunava .
Если Вы закончили работать с задачей, то вы должны с себя ее снять и назначить тому, кто должен с ней работать дальше, если таковой есть.
Спасибо.

[2019-02-08 08:04] YuriSilenok commented on #14
**Поле Assignees**
В этом поле указывается человек (или общая учетная запись команды) который в данный должен заниматься этой задачей. Задача может назначаться другому человеку, при этом с себя задачу нужно снять, так как Вы ее передаете для решения какого-либо вопроса. Задача не должна находиться без исполнителя. Случаи когда задача может передаться другому пользователю:
- Для проверки выполнения

[2019-02-08 14:54] YuriSilenok commented on #14
Зачтено

[2019-02-08 18:41] JennyShel18 commented on #28
Здравствуйте.
Так как все задачи относятся к одной из четырех сущностей, то я поставила
метку Discipline. Так как задача ставится на автоматизацию тестирования, то
указывается метка auto-test.
Спасибо.

пт, 8 февр. 2019 г. в 09:53, Юрий Силенок <notifications@github.com>:

[2019-02-09 10:26] YuriSilenok commented on #28
Здравствуйте.
Нашел логическую ошибку в описании меток.
Думаю именно из-за этого у Вас не хватает одной метки.
Спасибо.
![image](https://user-images.githubusercontent.com/14871471/52519587-4ceaed00-2c6e-11e9-927f-8aec720cf627.png)

[2019-02-09 17:29] YuriSilenok commented on #29
Здравствуйте.
Пожалуйста, перевешивайте основную задачу только после того как буде закрыт вопрос с пулреквестом. Это позволит не забыть выставить Вам баллы своевременно.
Если вы выполнили все работы по задаче, то лучше снимать с себя задачу.
Вот [документ ](https://drive.google.com/open?id=1k8ILnmYVi3Cz-mTge3h6RI0OV4DbAHviQseScRRpUxI)описывающий текущие правила работы с задачами.
Спасибо.

[2019-02-09 18:38] JennyShel18 commented on #28
Здравствуйте.
Спасибо, поняла свой недочёт.

[2019-02-10 09:10] YuriSilenok commented on #28
Здравствуйте.
Теперь все верно.
Зачтено.
Спасибо.

[2019-02-10 19:35] YuriSilenok commented on #14
Здравствуйте @netever
Эта Ваша новая задача.
Спасибо.

[2019-02-10 22:59] FvckNeighbors commented on #27
Здравствуйте.
Извиняюсь за столь долгий ответ.
Да читал "типы задач", но не правильно понял сначала. Убрал auto test.
Благодарю

[2019-02-11 07:03] YuriSilenok commented on #27
Здравствуйте @FvckNeighbors
Зачтено.
Спасибо.

[2019-02-11 09:20] YuriSilenok commented on #29
Здравствуйте.
Выставлено в журнал.
Спасибо.

[2019-02-11 09:20] #29 closed, assigned to YuriSilenok

[2019-02-11 10:00] stasshtaub opened #32 "Реализовать метод Insert(Model model) сущности Discipline"
**Поведение:** метод добавляет новую дисциплину в том случае если поля
[code]
являются уникальными и не пустыми. Если добавление в таблицу произошло, то метод вернет истину, в других случаях метод возвращает ложь.

[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.

[2019-02-11 10:21] YuriSilenok commented on #32
Здравствуйте.
Измените дискрипшен в соответствии с этими задачами [1](https://gitlab.com/YuriSilenok/Student-timetable/issues/169) и [2](https://gitlab.com/YuriSilenok/Student-timetable/issues/187)
Спасибо.

[2019-02-11 10:21] NordScandinavian opened #33 "Поднятие задачи для написания сценариев тестирования пригодных для автоматизации unit-test для метода Update(Model model) сущности Discipline"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/spreadsheets/d/11uPdKMmzZklleijGcBAKoStnVHY2_9qBwRPOpR1y0vM/edit#gid=389498935)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)

[2019-02-11 10:25] YuriSilenok commented on #33
Здравствуйте.
- У вас отсутствует дискрипен.
- Не хватает меток

Спасибо

[2019-02-11 10:28] YuriSilenok commented on #32
Зачтено.

[2019-02-11 10:28] abramovaalina opened #34 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Insert(Model model) сущности Дисциплина"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)

[2019-02-11 10:33] ghost opened #35 "Автоматизировать сценарии тестирования методом юнит-тестирования для метода Update(Model model) сущности Discipline"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Диаграмма классов](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0)

[2019-02-11 10:36] YuriSilenok commented on #34
Ответил устно

[2019-02-11 10:38] YuriSilenok commented on #35
Ответил устно

[2019-02-11 10:39] NordScandinavian commented on #33
Здравстуйте.
Добавил:
- метку
- дискрипшн

Спасибо

[2019-02-11 10:43] badsster opened #36 "Разработка метода Update(Model model) сущности Discipline"
**Поведение:**
В данный метод передается объект, проверяется его существование в таблице, если такой есть. Далее метод изменяет информацию о существующей группе в том случае ,если поля

` byte population;`

` string cipher;`

являются уникальными и не пустыми (производится проверка).
Если изменение произошло, то метод вернет истину, в других случаях метод возвращает ложь.
[Ссылка](https://docs.goo

[2019-02-11 10:57] YuriSilenok commented on #33
Здравствуйте.
- [Ознакомьтесь ](https://docs.google.com/document/d/1k8ILnmYVi3Cz-mTge3h6RI0OV4DbAHviQseScRRpUxI/edit)с требованиями к заголовку и Ваша задача не должна ставиться на поднятие задача, а должна ставить задачу.
- Могли бы Вы пояснить такой набор меток?

Спасибо.

[2019-02-11 11:01] YuriSilenok commented on #34
Здравствуйте,
Могли бы пояснить такой набор меток?
Спасибо.

[2019-02-11 11:03] YuriSilenok commented on #36
Здравствуйте.
Могли бы пояснить такой набор меток?
Спасибо

[2019-02-11 13:07] cdvinvate opened #37 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Delete(model:Model) сущности Дисциплина"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
Реализовать сценарии пригодные для Unit-тестирования
[План разработки](https://docs.google.com/spreadsheets/d/11uPdKMmzZklleijGcBAKoStnVHY2_9qBwRPOpR1y0vM/edit#gid=389498935)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму к

[2019-02-11 13:34] YuriSilenok commented on #37
Здравствуйте @cdvinvate .
Обратите внимание что у в поле Assignees сейчас два пользователя.
Значит ли это что вы еще что-то делаете над задачей?
Обратите внимание на описание этого поля в [методичке](https://docs.google.com/document/d/1k8ILnmYVi3Cz-mTge3h6RI0OV4DbAHviQseScRRpUxI/edit).
Спасибо.

[2019-02-11 13:55] cdvinvate commented on #37
Добрый день.
В поле Assignees два пользователя из-за моей невнимательности.
Больше я не произвожу над задачей никаких действий.
Спасибо.

[2019-02-11 14:39] YuriSilenok commented on #37
Добрый день.
Работа зачтена.
Спасибо.

[2019-02-11 18:02] alexeylisica opened #38 "Автоматизация unit-test для метода Insert(Model model) сущности Discipline"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Диаграмма классов](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0)

[2019-02-12 08:23] YuriSilenok commented on #38
Здравствуйте.
Зачтено.
Спасибо.

[2019-02-13 07:59] abramovaalina commented on #34
здравствуйте,
unit test так как задача затрагивает модульное тестирование
script так как нужно написать сценарий тестирования
insert (Model model) задача относится к методу insert
auto test указано, что сценарий тестирования для автоматизации

[2019-02-13 08:16] badsster commented on #36
Здравствуйте.
- Метка Story является меткой задачи на разработку функциональности и ставится, если данная задача:
а)создаётся преподавателем и берётся на исполнение студентом;
б)студент создаёт ветку имя которой соответствует описанному выше шаблону, где номер в имени ветки это номер задачи;
в)после положительной проверки изменений, студент выполняет мерж веток и перевешивает основную задачу на пр

[2019-02-13 11:50] YuriSilenok commented on #34
Здравствуйте.

Вы не перевесили на меня задачу, почему?

Это цитата из инструкции.

Вы написали

Значит ли это что формулировки "Если задача ставиться на автоматизацию тестирования" и "сценарий тестирования для автоматизации" являются равноценными?

Спасибо.

[2019-02-13 11:54] YuriSilenok commented on #36
Здравствуйте @badsster

Почему Вы не перевесили задачу?
Вы видели раздел [Типы задач и метки](https://docs.google.com/document/d/1k8ILnmYVi3Cz-mTge3h6RI0OV4DbAHviQseScRRpUxI/edit)?

Спасибо.

[2019-02-14 15:30] AnastasiaSpihtorenko opened #39 "Автоматизация тестирования юнит-тестами для конструктора класса Auditor"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Диаграмма классов](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0)

[2019-02-14 15:41] YuriSilenok commented on #39
Здравствуйте.
Одно замечание.
Если Вы перевешиваете задачу на другого человека, то с себя ее нужно снять, попробуйте.
Я пока кое-что здесь переименую, так как ошибся при выдаче задания.
Спасибо.

[2019-02-14 15:44] YuriSilenok commented on #39
Зачтено
Оценка появиться через несколько минут, как сформирую списки группы

[2019-02-14 16:15] ifuwmnn opened #40 "Реализовать метод Insert(model:Model) класса Auditor"
реализовать в ветку issue-169

Приступать после реализации конструктора #167

**Поведение**: метод добавляет новую аудиторию в том случае если поля

[code]

являются уникальными и не пустыми. Если добавление в таблицу произошло, то метод вернет истину, в других случаях метод возвращает ложь.

[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing)

[2019-02-14 16:24] ivshr opened #41 "Разработать сценарии тестирования пригодные для автоматизации модульным тестированием для конструктора класса CAuditor"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)

[2019-02-14 16:34] YuriSilenok commented on #40
Здравствуйте @ifuwmnn
Вы закончили работать на задачей?
Спасибо.

[2019-02-14 16:37] YuriSilenok commented on #41
Здравствуйте.
Могли бы Вы пояснить выбор меток зеленого (#0e8a16) цвета?
Спасибо.

[2019-02-14 16:57] ivshr commented on #41
Здравствуйте.

Метка Script - указывается, если задача ставиться на написание сценариев. Метка Auto test была указана по ошибке.

Спасибо.
Щербаков Иван.
17-ИДбо-3а.

[2019-02-14 17:10] Tokotoru opened #42 "Разработать сценарии тестирования пригодные для автоматизации модульным тестированием для класса MAuditor"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)

[2019-02-14 18:31] AlexandraKv opened #43 "Автоматизация тестирования юнит-тестами для автоматизации unit-test для метода Delete(Model model) сущности Discipline"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Диаграмма классов](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0)

[2019-02-14 19:35] ghost opened #44 "Автоматизация сценариев для метода Update(model:Model) класса CAuditor унаследованного от класса Controller"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548
)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit
) на диаграмму классов.
Имя файла, содержащего автотесты UT_CAuditor

[2019-02-14 19:42] YuriSilenok commented on #41
Поздравляю @ivshr
Зачтено

[2019-02-14 19:46] YuriSilenok commented on #42
Здравствуйте @Tokotoru .
Обратите внимание что заголовок задачи должен отвечать на вопрос "что сделать?", об этом было прописано в задании.

Могли бы Вы пояснить выбор меток?

[2019-02-14 19:48] YuriSilenok commented on #41
Проглядел, Вы забыли поставить метку контроллера.

[2019-02-14 19:54] ivshr commented on #41
Спасибо.
Щербаков Иван.
17-ИДбо-3.

[2019-02-14 20:03] nrabotko opened #45 "Автоматизация тестирования юнит-тестами для класса MAuditor"
Протестировать код по существующим сценариям, которые описаны в этой [таблице](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit?usp=sharing)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.p)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на ди

[2019-02-14 20:07] YuriSilenok commented on #25
Увидел что у Вас не хватает метки, вместе с меткой конструктора какая еще метка должна ставиться?

[2019-02-14 20:10] YuriSilenok commented on #43
Зачтено

[2019-02-14 20:19] Tokotoru commented on #42
Добрый вечер.

Заголовок задачи был исправлен.

Метка Auditor - задача относится к типу Аудитория.
Метка Model - название класса начинается с большой буквы M.
Метка Skript - задача на написание сценариев.
Метка Unit test - задача относится к тестовым сценариям для unit-тестирования.
Метка new() удалена.
Метка Model добавлена.

Спасибо.
Рагожник Никита.
17-ИДбо-3а.

[2019-02-14 20:51] MariNazarova opened #46 "Разработать метод Update(Model model) сущность Auditor"
Поведение:
в метод передается объект, проверяется его существование в таблице, если такой есть, далее метод изменяет информацию о существующей аудитории в том случае если поля
[code]
являются уникальными и не пустыми (производится проверка). Если изменение произошло, то метод вернет истину, в других случаях метод возвращает ложь.
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3Wg

[2019-02-15 05:10] YuriSilenok commented on #44
Здравствуйте @AndreiDevyaterikov.
Вы не прошли тестирование по гугл форме, 3 пункт в лабораторной работе.
По самой задаче замечаний нет.
Спасибо.

[2019-02-15 05:19] YuriSilenok commented on #45
Добрый день @nastyarabotko .
Я ошибочно добавил Вас не в ту команду.
На почту должно придти еще одно приглашение в правильную команду.
Работа зачтена.
Спасибо.

[2019-02-15 05:22] YuriSilenok commented on #42
Добрый день.
Теперь все верно.
Зачтено.
Спасибо.

[2019-02-15 05:25] YuriSilenok commented on #46
Добрый день @MariNazarova
Вы закончили работать над задачей?
Если да, то обратите внимание что поле Assignees не заполнено.
Спасибо.

[2019-02-15 06:40] YuriSilenok commented on #44
Здравствуйте @AndreiDevyaterikov
Видел что Вы заполнили форму, а раз проблема решена, пора перевешивать задачу.
Спасибо.

[2019-02-15 14:39] YuriSilenok commented on #46
Зачтено

[2019-02-15 19:23] ghost opened #47 "Автоматизация сценариев для метода Update(model:Model) класса CAuditor унаследованного от класса Controller"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.
Имя файла, содержащего автотесты UT_CAuditor

[2019-02-16 16:03] YuriSilenok commented on #25
Здравствуйте.
Заголовок задачи должен отвечать на вопрос "Что сделать?"
Спасибо.

[2019-02-16 16:20] YuriSilenok opened #50 "Таблица содержащая сведения о группах должна иметь только один уникальный столбец"
Столбец **byte population;** необходимо вывести из составного ключа.
Этот баг затрагивает #14

[2019-02-16 16:29] YuriSilenok commented on #12
@netever  Зачтено

[2019-02-16 16:29] #12 closed, assigned to YuriSilenok

[2019-02-16 16:29] #14 closed, assigned to YuriSilenok

[2019-02-16 16:30] YuriSilenok commented on #14
@netever зачтено

[2019-02-16 16:35] ghost commented on #47
Задача закрыта, так как является дубликатом задачи #44

[2019-02-16 18:34] YuriSilenok commented on #44
Зачтено

[2019-02-16 18:42] netever commented on #32
@YuriSilenok
Здравствуйте.
Я не понимаю, что от меня требуется? Метод Insert уже реализован.
Спасибо.

[2019-02-16 18:44] netever commented on #50
@YuriSilenok
Здравствуйте.
Хочу уточнить, нужно ли мне изменения заливать в 14 таск или делать пул реквест именно на этот?
Спасибо.

[2019-02-16 18:47] YuriSilenok commented on #50
Здравствуйте @netever
Для этого бага task-50 делается новая ветка, все как обычно.
Спасибо.

[2019-02-16 18:49] YuriSilenok commented on #32
Здравствуйте @netever
Да, действительно, видимо это задача была поднята ошибочно.
Сейчас подберу что нибудь другое.
Спасибо.

[2019-02-16 18:49] #32 closed, assigned to YuriSilenok

[2019-02-16 18:55] YuriSilenok commented on #5
Здравствуйте @KharlamovaAlexandra
Поясните пожалуйста, почему Вы делали не свое задание?
Ваша задание было

А Вы подняли задачу на написание сценариев.
Спасибо

[2019-02-16 19:21] KharlamovaAlexandra commented on #5
Добрый вечер!

Видимо возникло какое - то недоразумение. Мне пришло два письма с домашним
заданием и получилось так, что я не обратила внимание на первое и начала
выполнять задание из второго.Прилагаю скриншоты писем.

С уважением, Харламова Александра
17-Исбо-2б

сб, 16 февр. 2019 г. в 21:55, Юрий Силенок <notifications@github.com>:

[2019-02-17 12:12] YuriSilenok commented on #18
Зачтено

[2019-02-17 12:19] YuriSilenok commented on #46
Здравствуйте @netever,
Это Ваша новая задача на реализацию.
Спасибо.

[2019-02-17 12:19] YuriSilenok commented on #11
Здравствуйте @netever,
Это Ваша новая задача на реализацию.
Спасибо.

[2019-02-17 12:48] YuriSilenok opened #54 "Конструктор контроллера Аудитории содержит неправильный составной ключ."
Затрагивает #29
Этот баг содержится и к багу документации, это значит что в задаче #29 необходимо сделать соответствующие исправления.

К составному ключу относятся только **два** поля, номер аудитории (string number) и корпус (string building) в котором находится аудитория.

[2019-02-17 12:50] YuriSilenok commented on #50
@netever Зачтено

[2019-02-17 12:50] #50 closed, assigned to YuriSilenok

[2019-02-17 13:12] YuriSilenok opened #56 "У таблицы Дисциплина отсутствует первичный ключ"
Значения столбца Название (Name) должны быть уникальными.

[2019-02-17 13:13] #18 closed, assigned to YuriSilenok

[2019-02-17 13:23] YuriSilenok commented on #5
Добрый день.
Если Вы пишете письмо на адрес гитхаба, то ваши фото  и другие файлы могу не прикрепиться, как это произошло сейчас. Лучше отвечать на гитхабе. Всегда проверяйте корректность сообщений.

Я нашел эти два письма. Это произошло по нескольким причинам.

1. Была прервана цепочка писем, (это требование из документа "Как писать письма?") тему нужно было переименовать, а не писать новое письм

[2019-02-17 13:26] YuriSilenok opened #59 "Разработать метод Update(Model model) в классе CTeacher"
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.

[2019-02-17 13:30] YuriSilenok commented on #46
Зачтено

[2019-02-17 13:30] #46 closed, assigned to YuriSilenok

[2019-02-17 15:14] YuriSilenok commented on #56
зачтено

[2019-02-17 15:14] #56 closed, assigned to YuriSilenok

[2019-02-17 15:24] YuriSilenok commented on #11
@netever зачтено

[2019-02-17 15:24] #11 closed, assigned to YuriSilenok

[2019-02-17 15:30] YuriSilenok commented on #59
Зачтено

[2019-02-17 15:30] #59 closed, assigned to YuriSilenok

[2019-02-17 15:42] YuriSilenok commented on #54
Зачтено

[2019-02-17 15:42] #54 closed, assigned to YuriSilenok

[2019-02-18 08:47] ifuwmnn commented on #40
Здравствуйте @YuriSilenok
Я закончил задание.
Извените за долгое ожидание.
Спасибо.

[2019-02-18 08:49] YuriSilenok commented on #40
Здравствуйте. @ifuwmnn
Вам нужно указать веху (Milestone)
И сначала пишут комментарий, а потом перевешивают задачу.
Пожалуйста, сохраните форматирование описания как в исходной задаче.
Спасибо.

[2019-02-18 12:10] YuriSilenok commented on #1
Здравствуйте @DenisSavelev
Что за хулиганство?
Зачем Вы поставили метку Group?
Спасибо.

[2019-02-18 12:12] YuriSilenok commented on #1
Здравствуйте @Whitetech7417
Задача с Вас снята из-за бездействия по ней.
Спасибо.

[2019-02-18 12:13] YuriSilenok commented on #1
@SergeAlekseev Здравствуйте
Это Ваша новая задача.
Спасибо.

[2019-02-18 12:15] YuriSilenok commented on #22
Здравствуйте @KharlamovaAlexandra
Это ваша задача к ЛР03
Спасибо.

[2019-02-18 13:34] YuriSilenok commented on #40
Здравствуйте @SamuraSwordS
Эта Ваша задача на разработку.
Прошу учесть что эта задача еще не закончена пользователем @ifuwmnn
Но сведений в этой задаче достаточно для реализации ее.
Спасибо.

[2019-02-18 13:44] YuriSilenok commented on #36
Здравствуйте @Chippa99fm
Эта Ваша задача на разработку.
Она еще не завершена по ЛР01 пользователем @badsster
Но содержит все необходимые данные.
Спасибо.

[2019-02-18 15:28] YuriSilenok commented on #22
Ошибочно поднято.

[2019-02-18 15:28] #22 closed, assigned to KharlamovaAlexandra

[2019-02-18 15:52] GubanovAndrey commented on #25
Здравствуйте.
Понял.
Спасибо.

[2019-02-18 16:00] YuriSilenok opened #66 "Добавление нового преподавателя"
Пользователь должен иметь возможность добавлять нового преподавателя.
Список преподавателей находиться на форме **Преподаватели** по пути Справочник-Преподаватели
Пользователь заполняет форму **Добавить преподавателя** и нажимает на кнопку **Создать**
После этого форма **Добавить преподавателя** закрывается, а в коде создается экземпляр модели Преподаватель и передается методу Insert контроллера П

[2019-02-18 16:22] YuriSilenok opened #67 "Обновление данных таблицы Преподаватели"
К таблицы (DataGridView) Преподаватели на форме Преподаватели привязать через свойство DataSource таблицу контроллера CTeacher. Обратить внимание на существующие методы родительского класса.

[2019-02-18 17:18] YuriSilenok commented on #1
Зачтено

[2019-02-18 17:18] #1 closed, assigned to SergeAlekseev

[2019-02-18 17:35] KharlamovaAlexandra commented on #66
Здравствуйте, @YuriSilenok
Хочу уточнить задание. Мне нужно создать метод +MTeacher(surname:string,name:string,middleName:string,academicRank:string, sizeOfTeacheingExperience:byte):base()  класса +MTeacher в https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/blob/Testing/LibOfTimetableOfClasses/MTeacher.cs данном документе?

Харламова Александра, 17-ИСбо-2б

[2019-02-18 18:12] YuriSilenok opened #69 "Реализован новый элемент NumericUpDown взамен выпадающего списка."
На форме Добавить преподавателя, заменить выпадающий список на элемент NumericUpDown который принимает значения [0; 60] с шагом 1. Новый элемент должен сохранить привязку к краям формы как и выпадающий список.

Ветка [task-69](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/tree/task-69).

[2019-02-18 18:35] YuriSilenok opened #70 "Разработать метод Insert(Model model) класса CGroup"
реализовать в ветку task-70

**Поведение**:
метод добавляет новую группу в том случае если поле

[code]
являются уникальными и не пустыми. Если добавление в таблицу произошло, то метод вернет истину, в других случаях метод возвращает ложь.

[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit?usp=sharing) на диаграмму классов.

[2019-02-18 18:53] YuriSilenok commented on #25
Зачтено.

[2019-02-18 19:17] MyachevM opened #71 "Написание сценариев тестирования пригодных для автоматизации модульного тестирования для метода Update(Model model) сущности Auditor"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.

[2019-02-18 22:31] DenisSavelev commented on #1
Здравствуйте, я ничего не ставил, вот только сейчас на почту то вошёл

пн, 18 февр. 2019 г. в 15:11, Юрий Силенок <notifications@github.com>:

[2019-02-19 07:39] YuriSilenok commented on #66
Добрый день @KharlamovaAlexandra
Нет. О создании метода не шла речь. В задании сказано что Вы должны создать экземпляр модели Преподаватель. Вы знаете что такое "создать экземпляр класса"?
Спасибо.

[2019-02-19 08:00] YuriSilenok commented on #71
Здравствуйте.
- Вы подняли задачу на поднятие задачи?
- Метки не соответствуют описанию из ЛР
- Описание задачи содержи неправильно оформленную ссылку.
- Комментарий и описание это не одно  и то же. Описание всегда можно отредактировать. Удалите комментарий, если эта функция еще доступна.
Спасибо.

[2019-02-19 08:10] KharlamovaAlexandra commented on #66
Здравствуйте, @YuriSilenok

Получается мне надо в методе private void AddTeacher(object sender, EventArgs e) создавать  MTeacher newTeacher = (MTeacher)model и вызывать метод Insert класса CTeacher?

Спасибо,
Харламова Александра,
17-ИСбо-2б

[2019-02-19 08:19] YuriSilenok commented on #70
Зачтено

[2019-02-19 08:19] #70 closed, assigned to isengrims

[2019-02-19 09:21] YuriSilenok commented on #1
Здравствуйте @DenisSavelev
Обратите на историю изменений 5 февраля в 22:57
![image](https://user-images.githubusercontent.com/14871471/53003789-d190f480-3440-11e9-8fb1-44af40419be4.png)
Пожалуйста, будьте внимательнее.
Спасибо.

[2019-02-19 09:38] YuriSilenok commented on #66
Добрый день, @KharlamovaAlexandra
Ход мысли верный.
Реализуйте задачу, если я увижу ошибки, я укажу на них.
Спасибо.

[2019-02-19 09:42] YuriSilenok commented on #71
Здравствуйте @MyachevM
- На какой вопрос должен отвечать заголовок?
- Метки не соответствую описанию из ЛР, если Вы считаете что соответствуют, то поясните почему.
Спасибо.

[2019-02-19 09:57] YuriSilenok commented on #66
@KharlamovaAlexandra Что Вас побудило переименовать заголовок задачи?

[2019-02-19 09:59] KharlamovaAlexandra commented on #66
Добрый день

Посмотрела на задание одногруппника, который сделал так же. Извиняюсь, так
не надо было делать.

Харламова Александра 17-Исбо-2б

On Tue, 19 Feb 2019 at 12:57, Юрий Силенок <notifications@github.com> wrote:

[2019-02-19 10:02] KharlamovaAlexandra commented on #66
Здравствуйте, @YuriSilenok
Тогда что значит "Добавить в описание задачи название добавленной ветки." в задании?
Харламова Александра, 17-ИСбо-2б

[2019-02-19 10:46] YuriSilenok commented on #66
Видимо это не очень очевидно.
Добавлю это в задание к ЛР01 и продублирую письмом.
![2019-02-19_13-41-55](https://user-images.githubusercontent.com/14871471/53009476-a6ac9d80-344c-11e9-971f-da02303e2985.png)

[2019-02-19 11:09] YuriSilenok opened #74 "Создать форму Добавить группу"
На форме **Группы** под таблицей в нижнем правом углу добавить кнопу с текстом **Добавить**. Он должна быть привязана к нижнему и правому краю формы. При нажатии на кнопку **Добавить** должна открыться форма **Добавить группу**.

Форма добавить группу должна содержать элементы управления:

- Строковое поле для ввода Шифра группы
- Числовое поле для ввода численности группы. Минимальная численность

[2019-02-19 11:58] YuriSilenok commented on #36
@Chippa99fm Нехорошо подсказывать.
Зачтено.

[2019-02-19 12:08] YuriSilenok commented on #67
Зачтено

[2019-02-19 12:08] #67 closed, assigned to altavelor

[2019-02-19 12:25] YuriSilenok commented on #66
Suggestions - имеет смысл "советовать", "предлагать"
Вы назначили меня проверяющим в запросе?

[2019-02-19 12:36] Khajiit-stole-nothing opened #76 "Разработать метод Delete(Model model) сущности Auditor"
**Поведение**: метод удаляет переданную аудиторию в том случае если поля
[code]
есть в списке. Если удаление из таблицы произошло, то метод вернет истину, в других случаях возвращается ложь.
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.

[2019-02-19 12:56] YuriSilenok commented on #40
@SamuraSwordS зачтено, баллы выставлю.
Задача будет закрыта позже, после того как закончат с этой задачей все остальные.
Спасибо.

[2019-02-19 13:28] YuriSilenok opened #77 "Создать форму Добавить дисциплину"
На форме **Дисциплины** под таблицей в нижнем правом углу добавить кнопу с текстом **Добавить**. Он должна быть привязана к нижнему и правому краю формы. При нажатии на кнопку **Добавить** должна открыться форма **Добавить дисциплину**.

Форма **Добавить дисциплину** должна содержать элементы управления:

* Строковое поле для ввода Шифра дисциплины
* Строковое поле для ввода Названия дисциплины
*

[2019-02-19 15:40] YuriSilenok commented on #69
Вы видели письмо по поводу того как называются элементы задачи?
Могли бы вы учесть это при выполнении пункта ЛР03

[2019-02-19 15:51] MihailBobylev commented on #69
Здравствуйте.

Добавил.

вт, 19 февр. 2019 г. в 18:40, Юрий Силенок <notifications@github.com>:

--
Спасибо.
Бобылев Михаил.
17-ИСбо-2а

[2019-02-19 16:02] YuriSilenok commented on #69
Куда Вы добавили?

[2019-02-19 16:04] MihailBobylev commented on #69
В описание задачи
[image: image.png]

вт, 19 февр. 2019 г. в 19:03, Юрий Силенок <notifications@github.com>:

--
Спасибо.
Бобылев Михаил.
17-ИСбо-2а

[2019-02-19 16:11] YuriSilenok commented on #69
А теперь, не поленитесь, зайдите на гитхам и посмотрите как выглядит Ваше сообщение.
Спрошу по другому. Вы в **_задачу_** добавили название ветки?

[2019-02-19 16:31] MihailBobylev commented on #69
Теперь, вроде, добавил.

[2019-02-19 16:43] YuriSilenok commented on #69
А убрать где не нужно?

[2019-02-19 16:45] MihailBobylev commented on #69
Убрал везде лишние, где раньше добавил.

[2019-02-19 16:53] YuriSilenok commented on #69
В запросе есть две нерешенные проблемы

[2019-02-19 17:11] MihailBobylev commented on #69
Извините, думал, что отправил сообщение, но оно не отправилось.

[2019-02-19 18:02] YuriSilenok commented on #66
Зачтено

[2019-02-19 18:02] #66 closed, assigned to KharlamovaAlexandra

[2019-02-19 18:07] YuriSilenok opened #78 "Устранить предупреждения"
реализовать в ветку task-78
![image](https://user-images.githubusercontent.com/14871471/53035770-3cfdb500-3487-11e9-8c53-0574917eb027.png)

[2019-02-19 18:30] YuriSilenok opened #79 "Создать форму Добавить аудиторию"
На форме **Аудитории** под таблицей в нижнем правом углу добавить кнопу с текстом **Добавить**. Она должна быть привязана к нижнему и правому краю формы. При нажатии на кнопку **Добавить** должна открыться форма **Добавить аудиторию**.

Форма **Добавить аудиторию** должна содержать элементы управления:

- Строковое поле для ввода номера аудитории
- Строковое поле для ввода названия корпуса
- Число

[2019-02-19 18:40] YuriSilenok commented on #69
Зачтено

[2019-02-19 18:40] #69 closed, assigned to MihailBobylev

[2019-02-20 06:12] YuriSilenok commented on #77
Куда вы должны были написать об этом?

[2019-02-20 06:35] Jeen99 commented on #77
Я не правильно задание понял?
![default](https://user-images.githubusercontent.com/32433285/53071224-a2d35680-34f2-11e9-8fc2-9f2fb00c6bcb.png)

[2019-02-20 07:49] YuriSilenok commented on #77
Этот скрин видели?
![2019-02-19_13-41-55](https://user-images.githubusercontent.com/14871471/53074967-1f6b3280-34fd-11e9-9b86-f5b49a77e02e.png)

[2019-02-20 07:53] abramovaalina commented on #34
Здравствуйте. Скорее всего это разные формулировки.

[2019-02-20 08:18] YuriSilenok commented on #34
Поясните все Ваши действия.
Почему Вы убрали метки Auto test и Script и Добавили метку Controller?
С себя задачу снимайте, если закончили на нед ней работать.
И задачу нужно перевешивать только после того как Вы закончили над ней работать, а не до.

[2019-02-20 14:16] YuriSilenok opened #82 "Неправильное добавление преподавателя преподавателя в таблицу преподавателей"
Шаги.
1. Справочники-Преподаватели
2. Нажать кнопку Добавить
3. (Форма заполнена тестовыми данными.) Нажать кнопку Создать
Ожидаемый результат: Создается одна запись. Все ячейки заполнены. Дополнительных столбцов не создается.
Фактический результат: Создаются дубликаты столбцов, и только в них содержаться данные. Исходные столбцы остались не заполнены.
![image](https://user-images.githubuserconten

[2019-02-20 16:20] abramovaalina commented on #34
auto test - я убрала потому что подумала, что это разные формулировки. значит метка неверная.
script - возможно это было лишнее действие, так как данная метка используется если есть задача написать сценарий. как раз такая задача и поставлена.
controller - добавила, так как задача относится к методу Insert.

[2019-02-20 16:23] YuriSilenok commented on #34
Зачтено

[2019-02-20 18:27] Pipyao opened #83 "Автоматизировать сценарии для метода Delete(model:Model) класса CAuditor унаследованного от класса Controller"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.
Имя файла, содержащего автотесты UT_CAuditor

[2019-02-20 19:54] YuriSilenok opened #85 "Обновление данных таблицы Группы"
К таблицы (DataGridView) Группы на форме Группы привязать через свойство DataSource таблицу контроллера CCroup. Обратить внимание на существующие методы родительского класса. Все контроллеры доступны в классе Controllers.

Ветка task-85.

[2019-02-21 08:54] YuriSilenok commented on #83
Здравствуйте.
- Заголовок не отвечает на нужный вопрос
- Нет описания к задаче
- Поле Assignees заполнено не верно
- Метки заполнены не верно
Спасибо.

[2019-02-21 10:41] YuriSilenok commented on #76
Ошибся.
У Вас не верно заполнено поле Assignees

[2019-02-21 13:42] YuriSilenok commented on #82
Спасибо что поправили веху.
Зачтено.

[2019-02-21 13:42] #82 closed, assigned to ZhezlovaDaria

[2019-02-21 14:11] Pipyao commented on #83
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Ссылка](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit) на диаграмму классов.
Имя файла, содержащего автотесты UT_CAuditor

[2019-02-21 14:19] YuriSilenok commented on #83
Здравствуйте.
Вторая подсказка о том, что такое описание задачи.
![image](https://user-images.githubusercontent.com/14871471/53175069-4eb49900-35fc-11e9-86cc-40697871306e.png)

- Заголовок не отвечает на нужный вопрос.
- Нет описание задачи

Советую прочитать более внимательно инструкция к [ЛР01](https://docs.google.com/document/d/1k8ILnmYVi3Cz-mTge3h6RI0OV4DbAHviQseScRRpUxI/edit)

[2019-02-21 17:29] NesgovorovVS opened #89 "Автоматизация тестирования модульными тестами для метода Delete(Model model) сущности Auditor"
[сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)
[план разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)

[2019-02-22 06:59] YuriSilenok opened #90 "Изменить структуру класса Controller"
Класс **Controller** унаследовать от класса **DataTable** и убрать атрибут абстрактности.
Из класса **Controller**:

- Убрать статическое поле **DataSet**
- Убрать поле **table**
- Входной параметр конструктора передать в конструктор родителя.
- Методы **Insert, Update, Select** удалить.

Автоматические тесты выполнять не нужно, в место них проверить, что класс Controller не имеет синтаксических о

[2019-02-22 07:14] YuriSilenok opened #91 "Создать интерфейс для классов наследников контроллера"
Создать интерфейс с именем **IController** и объявить методы **Insert, Update, Delete** каждый из которых возвращает тип **bool** и имеет входной параметр **Model model**
Классы наследники от родителя класса **Controller,** должны так же унаследоваться от интерфейса **IController**

Ветка task-91.

[2019-02-22 13:18] YuriSilenok opened #94 "Программа терпит крах, если удалить преподавателя когда таблица преподавателей пуста"
Steps:
1. Перейти по меню Справочники-Преподаватели
2. Нажать на кнопку Удалить.
Ожидаемый результат: Никаких изменений.
Фактический результат: System.ArgumentOutOfRangeException: "Индекс за пределами диапазона. Индекс должен быть положительным числом, а его размер не должен превышать размер коллекции.

[2019-02-22 14:51] YuriSilenok opened #95 "Из наследников класса Model удалить перечисление"
В классах MGroup, MAuditor, MTeacher, MDiscipline удалить перечисление.
`public enum Keys`
task-95

[2019-02-22 14:56] YuriSilenok commented on #89
Зачтено

[2019-02-22 15:43] YuriSilenok commented on #76
Зачтено

[2019-02-23 09:01] YuriSilenok commented on #77
Зачтено

[2019-02-23 09:01] #77 closed, assigned to Rogachev99

[2019-02-23 09:06] YuriSilenok commented on #85
Зачтено

[2019-02-23 09:06] #85 closed, assigned to Parallusion

[2019-02-23 09:19] YuriSilenok opened #97 "Кнопка удаления группы из таблицы Группы"
Перейдите по верхнему меню Справочники-Группы.
В правом нижнем углу формы Группы разместить 2 кнопки, удалить и правее добавить.
При нажатии на кнопку удалить, удаляется выделенная запись в таблице Группы. Если запись не выделена, никаких действий происходить не должно.

[2019-02-24 10:02] YuriSilenok commented on #97
Добрый день.

Когда Вам пришло уведомление о задаче, вы по ссылке должны были попасть на вкладку Issue.
Вкладка Code содержит сам репозиторий, который вам нужно склонировать.
Для большего понимания я добавлю ссылку на репозиторий в инструкцию к ЛР03
На 8 слайде вы можете увидеть фрагмент знакомого интерфейса.

Эту форму Вы сможете найти запустив проект из склонированного репозитория.
Я добавлю в о

[2019-02-24 14:48] ghost commented on #97
Добрый вечер.

У меня не получается создать строку.
При нажатии на кнопку "Добавить"  сообщается о необработанном исключении

System.InvalidOperationException: "Строки нельзя программным способом добавить в коллекцию строк DataGridView, если элемент управления привязан к данным."

Вот то, как я пытаюсь добавить строку

[code]

[2019-02-24 15:23] YuriSilenok commented on #97
Здравствуйте.

Вы молодец. Правильно поставили вопрос. Все верно, мешают привязанные ресурсы. Так как мы эксплуатируем паттерн MVC, то вы не должны пытаться манипулировать представлением (или в частности графическим интерфейсом). Нужно управлять данными через контроллер. Найдите форму AddTeacher. Там есть кнопка создающая преподавателя через контроллер. Думаю у вас получиться сделать по аналогии.

[2019-02-24 15:30] YuriSilenok commented on #35
Здравствуйте.
- Не правильно перевесили задачу.
- Заголовок задачи не отвечает на нужный вопрос
- Не сценарий, а сценари_и_
- Не все метки выставлены
Спасибо.

[2019-02-24 15:36] ZhizhikinIvan opened #98 "Написать сценарии тестирования пригодных для автоматизации модульного тестирования для метода Delete(Model model) сущности Teacher."
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Диаграмма классов](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0)

[2019-02-24 15:53] YuriSilenok commented on #98
Здравствуйте.
Обратите внимание на замечания:
- Тема не соответствует требованиям
- Метки не соответствует требованиям
- Веха была указана после того как Вы перевесили задачу.
- Не сценарий и сценарии

Спасибо

[2019-02-24 16:57] YuriSilenok commented on #35
Зачтено

[2019-02-24 18:45] ghost commented on #97
Добрый вечер.

Должна ли функционировать кнопка "Добавить" ?

[2019-02-24 20:48] YuriSilenok commented on #97
Нет, кнопка "Добавить" не должна функционировать, если хотите, можете повесить на нее заглушку по добавлению одной записи, потом она будет открывать форму где пользователь сможет заполнить данные для создаваемой группы.

[2019-02-24 22:40] sidelong44 opened #99 "Написать сценарии тестирования пригодные для автоматизации unit-test для метода Delete(Model model) сущности Discipline"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/spreadsheets/d/11uPdKMmzZklleijGcBAKoStnVHY2_9qBwRPOpR1y0vM/edit#gid=389498935)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)

[2019-02-25 06:02] YuriSilenok commented on #99
Зачтено

пн, 25 февр. 2019 г., 1:40 Ilya Sergeev <notifications@github.com>:

[2019-02-25 08:42] VinogradovAlexandr781227 commented on #94
Здравствуйте. Можно ли сделать вот так? Или это не очень рентабельно?

try { DG.Rows.RemoveAt(DG.SelectedCells[0].RowIndex); } catch { MessageBox.Show("Ошибка"); }

[2019-02-25 09:50] bolotovaksenya opened #100 "Написать сценарии тестирования пригодные для автоматизации модульного тестирования для метода Insert(Model model) сущности Auditor"
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Диаграмма классов](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0)

[2019-02-25 10:47] NordScandinavian commented on #33
Здравствуйте,
Поменял метки в соответствии с поставленной задачей.
Добавил дискрипшн.
Спасибо.

[2019-02-25 15:36] YuriSilenok commented on #74
Здравствуйте @Proffet78 .
Так как Вы не проявляли активность по этой задаче, она снята с Вас.
Сообщите письмом когда Вы будете готовы выполнять лабораторные работы.
Спасибо.

[2019-02-25 16:01] YuriSilenok commented on #94
Здравствуйте.
Нет. Отлов исключений это всегда долгая операция.
В ожидаемом результате прописано что никаких изменений не должно произойти, это значит что и всплывающих сообщений тоже не должно быть.
При исправлении ошибок нужно ликвидировать ошибку, а не бороться с ее последствиями (сбоями)
Спасибо.

[2019-02-25 16:06] YuriSilenok commented on #100
Здравствуйте.
- Заголовок не отвечает на нужный вопрос
- Неправильно выставлены метки
Спасибо.

[2019-02-25 16:08] YuriSilenok commented on #33
Здравствуйте.

* [Ознакомьтесь ](https://docs.google.com/document/d/1k8ILnmYVi3Cz-mTge3h6RI0OV4DbAHviQseScRRpUxI/edit)с требованиями к заголовку и Ваша задача не должна ставиться на поднятие задачи, а должна ставить задачу.
* Могли бы Вы пояснить такой набор меток?

Спасибо.

[2019-02-25 17:03] YuriSilenok commented on #98
Здравствуйте.
Обратите внимание на замечания:
* На какой вопрос должен отвечать заголовок?
* Почему Вы выбрали такой набор меток?

Спасибо

[2019-02-25 17:46] map82top commented on #42
Какие ограничения могут быть на поле корпус?

[2019-02-25 18:39] map82top commented on #42
Входной   параметр | Позитивный класс | Негативный класс
-- | -- | --
А - номер аудитории | a1 ∈ [1; +∞) - _целое число_ -  **удачное создание   класса(удачное изменение значения свойства)** | a2 ∈ (-∞; 1) - _целое число_ - **ошибка при создание класса(ошибка   при изменении значения свойства)**
  |   | a3 ∈ не целые числа - **ошибка при создание класса(ошибка при изменении значения   свойства)**

[2019-02-25 18:51] KharlamovaAlexandra commented on #13
Входной параметр | Позитивный класс
-- | --
Surname | ∈ a , a ∈[A-Я]{1}[а-я]{1,50} or ∈ b , b ∈ [А-Я]{1}[а-я]{1,50}-[А-Я]{1}[а-я]{1,50}
Name | ∈ a , a ∈[A-Я]{1}[а-я]{1,50} or ∈ b , b ∈ [А-Я]{1}[а-я]{1,50}-[А-Я]{1}[а-я]{1,50}
MiddleName | ∈ a , a ∈[A-Я]{1}[а-я]{1,50} or ∈ b , b ∈ [А-Я]{1}[а-я]{1,50}-[А-Я]{1}[а-я]{1,50} or null
AcademicDegree | ∈ a , a ∈[Кандидат наук] or ∈ b , b ∈  [Доктор наук] or

[2019-02-25 18:53] KharlamovaAlexandra commented on #13
Добрый вечер @YuriSilenok , можно узнать насколько моя таблица соответствует заданию?

[2019-02-26 06:10] YuriSilenok opened #103 "Реализовать функционал кнопок "Создать и закрыть" и "Создать и очистить" для формы "Добавить дисциплину""
При реализации функционала использовать контроллер.
Контроллер находятся в классе Controllers

[2019-02-26 06:21] YuriSilenok commented on #13
Здравствуйте @KharlamovaAlexandra
- Нет столбца для негативных классов
- 1 входной параметр 1 буква. смотрите слайды
- стилистическое оформление не сохранено
- 1 класс описывается в одной ячейке.

Спасибо.

[2019-02-26 09:52] KharlamovaAlexandra commented on #13
Входной параметр | Позитивный класс | Негативный класс
-- | -- | --
Surname | ∈ a1 , a1 ∈[A-Я]{1}[а-я]{1,50}∈ a2 , a2 ∈ [А-Я]{1}[а-я]{1,50}-[А-Я]{1}[а-я]{1,50} | ∈ a3 , a3 = null∈ a4 , a4 ∈[A-Z]{1}[a-z]{1,50}∈ a5 , a5 ∈[A-Z]{1}[a-z]{1,50}-[A-Z]{1}[a-z]{1,50}∈ a6, a6 ∈[0-9]{1,50}
Name | ∈ b1, b1 ∈[A-Я]{1}[а-я]{1,50}∈ b2, b2 ∈ [А-Я]{1}[а-я]{1,50}-[А-Я]{1}[а-я]{1,50} | ∈ b3 , b3 = null∈ b4 , b4 ∈[A-Z

[2019-02-26 09:58] KharlamovaAlexandra commented on #13
Добрый день,@YuriSilenok
Посмотрите пожалуйста у меня первую часть задания.
Сильный - Нормальный: (a1,b1,c1,d1,e1,f1);(a2,b2,c2,d2,e2,f2);(a3,b3,c3,d3,e3,f3);(a4,b4,c4,d4,e4,f4);(a5,b5,c5,d5,e5,f5);(a6,b6,c6,d6,e6,f1);(a1,b1,c1,d7,e7,f2);(a2,b2,c2,d8,e8,f3);(a3,b3,c3,d9,e1,f4);(a4,b4,c4,d10,e2,f5);

[2019-02-26 10:04] ZhezlovaDaria commented on #16
Входные параметры | Позитивные классы | Негативные классы
-- | -- | --
A - Шифр (chipher) | а1∈[0-9]{2}-[А-Я]{2}[а-я]{2}-[0-9]{1}[а-я]{0,1} - _Название группы подходит под шифр._ **Допустим возврат значения true, если другие параметры корректны.** | а2 ∉ [0-9]{2}-[А-Я]{2}[а-я]{2}-[0-9]{1}[а-я]{0,1}  - _Название группы не подходит под шифр._ **Возврат значения false.**
B - Численность (population)

[2019-02-26 15:16] MasterDesigner opened #104 "Автоматизировать тестирование модульными тестами для метода Insert(Model model) класса CAuditor"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)

[2019-02-26 17:21] YuriSilenok commented on #42
Здравствуйте,
так как подход в тестировании будет сменен (в место классов эквивалентности будет тестирование методом белый ящик) то классы эквивалентности не могут быть приняты в качестве ЛР, но если Вас интересует ошибки в том что Вы уже сделали, я могу проверить по Вашему желанию.
Спасибо.

[2019-02-26 17:26] map82top commented on #42
Да, проверьте, пожалуйста.

[2019-02-26 19:11] bolotovaksenya opened #105 "Написать сценарии тестирования пригодные для автоматизации модульного тестирования для метода Insert(Model model) сущности Auditor"
[сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)
[план разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)

[2019-02-26 19:18] bolotovaksenya commented on #100
[сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Диаграмма классов](https://docs.google.com/drawings/d/1o-V0BRXdX8lOUZobmxeg3WgOUZHcyNoL7iSdGPOcBnQ/edit)
[план разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)

[2019-02-27 05:40] YuriSilenok commented on #13
Здравствуйте,
так как подход в тестировании будет сменен (в место классов эквивалентности будет тестирование методом белый ящик) то классы эквивалентности не могут быть приняты в качестве ЛР, но если Вас интересует ошибки в том что Вы уже сделали, я могу проверить по Вашему желанию.
Спасибо.

[2019-02-27 05:49] YuriSilenok commented on #16
Здравствуйте,
так как подход в тестировании будет сменен (в место классов эквивалентности будет тестирование методом белый ящик) то классы эквивалентности не могут быть приняты в качестве ЛР, но если Вас интересует ошибки в том что Вы уже сделали, я могу проверить по Вашему желанию.
Спасибо.

[2019-02-27 12:53] YuriSilenok opened #107 "Кнопки Отмена, Создать и очистить, Создать и закрыть для формы Добавить преподавателя"
Размер кнопок: 75*37
Положение кнопок:
- Распологаются в нижнем правом углу формы, имеют привязку к правому и нижнему углу
- Следуют друг за другом с ева на право: Отмена, Создать и очистить, Создать и закрыть.
Функционал:
- Отмена - закрывает форму
- Создать и очистить: Создает экземпляр модели Преподаватель и передает его в контроллер в метод Insert. Если вставка прошла успешно, очищает все поля

[2019-02-27 14:30] YuriSilenok commented on #104
Добрый день.
- Обратите внимание на какой вопрос должен отвечать заголовок

В остальном замечаний нет.

Спасибо.

[2019-02-27 17:58] YuriSilenok commented on #42
Здравствуйте.
В классах эквивалентности там где Вы пишите _целое число_. Это необязательная часть, используется при неочевидности или сложности описания границ класса эквивалентности. Но если указывать их, то нужно указывать отличительные особенности. То есть, целые числа большие нуля в математической записи a1 ∈ [1; +∞) ∩ ℤ
[Здесь](https://ru.wikipedia.org/wiki/%D0%A2%D0%B0%D0%B1%D0%BB%D0%B8%D1%8

[2019-02-27 18:00] KharlamovaAlexandra commented on #13
Добрый вечер, @YuriSilenok
Я бы хотела узнать свои ошибки в уже проделанной части работы.
Спасибо.
С уважением, Александра

[2019-02-27 18:06] YuriSilenok commented on #100
Что Вы должны сделать когда закончили работать над задачей?

[2019-02-27 18:08] YuriSilenok commented on #105
1. Как правило закрывает задачу тот, кто в данный момент ответственный за нее.
2. Если задача закрывается не по причине ее выполнения, то нужно указать, по какой причине она закрывается.

[2019-02-27 18:17] map82top commented on #42
К сожалению, когда вы давали задание вы не дали ссылку на задачу #79, поэтому я не знал какие значения являются валидными. Спасибо за развёрнутое объяснение! 

[2019-02-27 18:37] YuriSilenok commented on #83
Зачтено

[2019-02-27 18:45] YuriSilenok commented on #104
Зачтено

[2019-02-27 18:50] YuriSilenok commented on #13
Добрый вечер.
У Вас форма записи данных неправильная в таблице.
Думаю [эти](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/42#issuecomment-467965366) комментарии помогут понять если не все, то большую половину.
Спасибо, Юрий

[2019-02-27 18:55] YuriSilenok commented on #42
Добрый вечер.

Пожалуйста, зайдите на гитхаб в эту задачу, посмотрите как выглядит [Ваше сообщение](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/42#issuecomment-467972176).

В мире тестирования предполагают только то, где может быть баг, а относительно того, как должна работать исследуемая функциональность всегда задают кучу вопросов и могут положиться только на спе

[2019-02-28 11:40] ifuwmnn commented on #40
Здравствуйте @YuriSilenok
Я закончил задание.
Извините за долгое ожидание.
Спасибо.

[2019-02-28 16:37] YuriSilenok commented on #76
зачтено

[2019-02-28 16:37] #76 closed, assigned to Takunava

[2019-02-28 17:07] YuriSilenok commented on #97
зачтено

[2019-02-28 17:17] YuriSilenok commented on #100
Здравствуйте
- На какой вопрос должен отвечать заголовок?
- Расскажите, почему Вы выбрали такой набор меток?
Спасибо.

[2019-02-28 18:17] YuriSilenok commented on #40
@ifuwmnn  зачтено.

[2019-02-28 18:17] #40 closed, assigned to ifuwmnn

[2019-02-28 19:06] YuriSilenok commented on #90
@ssas18 здравствуйте,
Так как Вы не проявляли активность долгое время эта задача передается @Proffet78

[2019-03-01 19:31] YuriSilenok opened #108 "Создать форму "Рабочие учебные планы""
Вызывается из стартовой формы в верхнем меню пунктом Документы-Рабочие учебные планы.
Имя формы RUP
Графический интерфейс:
- Заголовок формы **Рабочие учебные планы**
- Таблица привязанная к всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка **Добавить** имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в правом нижнем углу ф

[2019-03-02 10:10] YuriSilenok opened #109 "Создать форму "Справочники""
Вызывается из стартовой формы в верхнем меню пунктом Справочники-Справочники.
Имя формы Directory
Графический интерфейс:
- Заголовок формы **Справочники**
- Таблица привязанная к всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка **Добавить** имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в правом нижнем углу формы.
- Кноп

[2019-03-02 12:13] YuriSilenok commented on #91
Здравствуйте.
Так как Вы не проявляли активности по этой задачи, задача с Вас снята.
Сообщите мне когда будете готовы браться за ЛР03.
Спасибо.

[2019-03-02 12:32] YuriSilenok commented on #91
Здравствуйте @Parallusion
Теперь это Ваша задача.
Спасибо.

[2019-03-02 13:35] itword7111 commented on #2
Здравствуйте, что нужно писать в сценарии?

[2019-03-02 16:54] YuriSilenok opened #110 "Создать форму редактирования или добавления записи таблицы."
Реализована в ветке task-110-1
Форма имеет имя AddOrEditDirectory и минимальный размер 266;300
Вызывается не модально из формы **Справочники** (меню Справочники-Справочники) при нажатии на кнопку **Добавить** или при двойном клике ЛКМ по строке или ячейке таблицы.
Заголовок формы должен носить одно из двух названий: **Редактировать запись** или **Добавить запись**. Какой именно будет заголовок зав

[2019-03-02 19:21] itword7111 commented on #2
мне писать следующий сценарий после 4 сценариев тут https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548
?

[2019-03-02 21:04] KharlamovaAlexandra commented on #109
Добрый вечер @YuriSilenok
Можно получить комментарии к содержанию метода и пояснить, что имеется в виду под ресурсами элемента управления?
Непонятны эти две строки: "Метод извлекает имя таблицы и записывает в заголовок формы.
В ресурсы элемента управления типа DataGridView передать table (входной параметр метода)."
Спасибо

[2019-03-03 07:13] YuriSilenok commented on #95
Здравствуйте @bormolei
Так как вы не проявляли по это задачи, задача с Вас снята.
Спасибо.

[2019-03-03 07:13] YuriSilenok commented on #95
Здравствуйте @Chippa99fm
Теперь это Ваша задача.
Спасибо.

[2019-03-03 07:18] YuriSilenok commented on #36
Здравствуйте @badsster
Я задачу закрою, но ее доделать нужно.
Спасибо.

[2019-03-03 07:20] YuriSilenok commented on #74
Здравствуйте @GubanovAndrey
Так как Вы не проявляли активность по этой задаче, она снята с Вас.
Сообщите письмом когда Вы будете готовы выполнять лабораторные работы.
Спасибо.

[2019-03-03 08:07] YuriSilenok opened #111 "Создать форму "ВУЗы""
Вызывается из стартовой формы в верхнем меню пунктом Справочники-ВУЗы.
Имя формы University
Графический интерфейс:

- Заголовок формы ВУЗы
- Таблица привязанная к всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка Добавить имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в правом нижнем углу формы.
- Кнопка Удалить имеет ста

[2019-03-03 08:13] YuriSilenok opened #112 "Создать форму "Министерства""
Вызывается из стартовой формы в верхнем меню пунктом Справочники-Министерства
Имя формы Ministry
Графический интерфейс:

- Заголовок формы Министерства
- Таблица привязанная к всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка Добавить имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в правом нижнем углу формы.
- Кнопка Удал

[2019-03-03 08:34] YuriSilenok commented on #2
Здравствуйте.
Задание было выдано месяц назад.
Оно уже потеряло свою актуальность.
Поправьте свой комментарий так, что бы ссылка не отображала URL.
Думаю мы с Вами пойдем несколько другим путем.
Так как на задачи Вы реагируете долго, то Вы будете поднимать баги.
В [этом](https://drive.google.com/open?id=1k8ILnmYVi3Cz-mTge3h6RI0OV4DbAHviQseScRRpUxI) документе Вы можете ознакомиться с некоторым опис

[2019-03-03 09:14] YuriSilenok commented on #109
Здравствуйте @KharlamovaAlexandra
Если Вы задаете несколько вопросов, оправдано использование списков.
Используйте цитаты, это оправдано в тех случаях, когда у Вас есть вопрос к конкретному фрагменту текста.

Я надеюсь что Вы пробовали [искать информацию](https://www.google.com/search?q=datagridview+source&oq=DataGridView+%D1%8B%D1%89%D0%B3%D0%BA%D1%81%D1%83&aqs=chrome.1.69i57j0l5.13763j0j7&source

[2019-03-03 09:49] KharlamovaAlexandra commented on #109
Добрый день @YuriSilenok

1. Как следует из описания задачи после создания формы
![1](https://user-images.githubusercontent.com/47320583/53693391-d8105c00-3db0-11e9-9e6f-884a80ade639.PNG)
в ее коде требуется создать метод UploadTable.
![2](https://user-images.githubusercontent.com/47320583/53693397-f0807680-3db0-11e9-9af3-6cbcbef85821.PNG)
Если я правильно поняла задание, то метод должен извлекать

[2019-03-03 18:51] YuriSilenok commented on #109
Здравствуйте.

Этот момент времени будет метод UploadTable

table это и есть источник данных переданный в метод UploadTable. У вашей таблицы будетет свойство Source или как-то так. Вот в него и нужно присвоить таблицу.

Спасибо.

[2019-03-03 19:01] Parallusion commented on #91
Добрый вечер.

При запуске юнит тестов (кнопка выполнить все), сборка проходит успешно (внизу пишет об этом), но результат выполнения тестов не отображается вообще никак. С чем может быть это связано?

Спасибо
Смирнов Илья.
17-ИСбо-2А
![image](https://user-images.githubusercontent.com/47377888/53700094-f05b9780-3dff-11e9-894b-e99d9f701721.png)

[2019-03-04 05:18] YuriSilenok opened #118 "Создать форму "Ученые степени""
Реализована в ветке task-118
Вызывается из стартовой формы в верхнем меню пунктом Справочники-Ученые степени
Имя формы AcademicDegree
Графический интерфейс:

- Заголовок формы Ученые степени
- Таблица привязанная ко всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка Добавить имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в

[2019-03-04 05:29] YuriSilenok commented on #95
Здравствуйте.
В качественных критериях оценки ЛР сказано что тесты должны пройдены удачно.
Если исправления связанные с заданием вызывают пробелмы, то у Вас дву пути.
- Спросить что Вам с этим делать
- Попытаться решить Самостоятельно проблему.

У Вас получилось решить эту проблему Самостоятельно. Вы правильно сделали что удалили индексаторы.

Если У Вас возникают вопросы по задаче, задавать их ну

[2019-03-04 05:31] YuriSilenok commented on #95
Зачтено

[2019-03-04 05:31] #95 closed, assigned to Chippa99fm

[2019-03-04 05:40] YuriSilenok commented on #112
Зачтено

[2019-03-04 05:40] #112 closed, assigned to SergeAlekseev

[2019-03-04 05:49] YuriSilenok opened #119 "Создать форму "Ученые звания""
Вызывается из стартовой формы в верхнем меню пунктом Справочники-Ученые звания
Имя формы AcademicTitle
Графический интерфейс:

- Заголовок формы Ученые звания
- Таблица привязанная ко всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка Добавить имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в правом нижнем углу формы.
- Кно

[2019-03-04 05:54] YuriSilenok commented on #91
Здравствуйте.

Попробуйте очистить и перетроить решение, для этого:
- В обозревателе роешения кликнуть ПКМ на решение и выбрать Очистить решение
- В обозревателе решения кликнуть ПКМ на решение и выбрать Перестроить решение
- В верхнем меню Тест - Выполнить - Все тесты (используйте обозреватель тестов для просмотра результатов тестирования и не используйте для первичного запуска тестов)

Спасибо.

[2019-03-04 06:03] Parallusion commented on #91
Здравствуйте.

Сделал всё по инструкции, к сожалению, НЕ заработало.
1 скрин. Результат очистки.
2 скрин. Результат перестроения.
3 скрин. Результат выполнения тестов.
![image](https://user-images.githubusercontent.com/47377888/53713522-3a726680-3e5c-11e9-95fa-f8f53c204dbf.png)
![image](https://user-images.githubusercontent.com/47377888/53713532-41997480-3e5c-11e9-9824-724e213d0241.png)
![image](h

[2019-03-04 06:49] YuriSilenok commented on #91
Здравствуйте.
Я хотел бы подключиться через TeamViewer к вашему компьютеру и посмотреть что не так.
Если Вы согласны, отправьте мне на почту ID и пароль и время когда я бы мог подключиться.
Вы используете VS2017?
Спасибо.

[2019-03-04 07:10] bolotovaksenya commented on #100
Формулировка заголовок запроса на слияние совпадает с названием задачи, для которой создан запрос. Описание запроса должен содержать ссылку на номер задачи.
Выбрала метки по условию задачи

[2019-03-04 10:49] purplegen commented on #110
Здравствуйте, @YuriSilenok.

Как мне реализовывать задачу, если форма в которой надо реализовать задачу еще не создана?

Спасибо.

[2019-03-04 10:58] YuriSilenok commented on #100
Здравствуйте.
Пожалуйста используйте нумерацию и цитирование. Это упрощает чтение.
- Вы создали запрос на слияние?

- А эта цитата зачем?

- Я хотел бы увидеть логику выбора каждой из этих меток.

Спасибо.

[2019-03-04 11:00] YuriSilenok commented on #110
Здравствуйте.

Уточнил заголовок задачи. Я бы ожидал что Вы создадите форму согласно описания этой задачи.
Уточните, что Вы имеете ввиду под "форма в которой надо реализовать".

Спасибо.

[2019-03-04 11:37] purplegen commented on #110
@YuriSilenok

Я думал, что помимо создания формы, нужно еще прописать её вызов.

Спасибо.

[2019-03-04 11:44] YuriSilenok commented on #110
@isengrims

Теперь Ваш вопрос понятен.
Нет, ее вызов реализовывать не нужно, так как, Вы правильно подметили, вызывающей формы нет.
В место этого добавил Вам две заглушки.
На них Вы можете реализововать вызов вашей формы в различных режимах.
Не забудте выполнить команду git pull для ветки Testing
![image](https://user-images.githubusercontent.com/14871471/53731507-07e06200-3e8c-11e9-9d8b-baed84de1

[2019-03-04 13:27] YuriSilenok commented on #78
Здравствуйте @MaximTrapeznikov
Так как Вы не проявляете активности по этой задаче, задача с Вас снята
Спасибо.

[2019-03-04 13:28] MihailBobylev opened #122 "Создана форма "Ученые звания""
[Задача](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/119).

[2019-03-04 13:31] #122 closed, assigned to MihailBobylev

[2019-03-04 13:32] YuriSilenok commented on #78
Здравствуйте @PopovMilan
Это Ваша новая задача.
Ее необходимо реализовать в ветку task-78-1
Спасибо

[2019-03-04 13:36] YuriSilenok commented on #94
Задача снята по бездействию

[2019-03-04 13:37] YuriSilenok commented on #94
@Pipyao Это Ваша новая задача

[2019-03-04 14:24] Parallusion commented on #91
![image](https://user-images.githubusercontent.com/47377888/53739215-46811700-3ea2-11e9-8086-ecde728bda29.png)
Не получается запушить обратно на сайт. В чём проблема?

Спасибо.
Смирнов Илья.
17-ИСбо-2А

[2019-03-04 15:14] yuliagolubevaa5 commented on #103
Здравствуйте, @YuriSilenok .
Дело в том, что при нажатии кнопок у меня не записываются добавленные дисциплины в общий список дисциплин и я не знаю, как это исправить.
Подскажите, пожалуйста.
Заранее благодарю.
![image](https://user-images.githubusercontent.com/47320351/53742220-328ce380-3ea9-11e9-9eaa-dda51581978d.png)

[2019-03-04 18:59] Proffet78 commented on #90
@YuriSilenok , здравствуйте!
Не совсем понимаю подзадачу номер 3:
"Входной параметр конструктора передать в конструктор родителя."
Не могли бы вы мне разъяснить пожалуйста!

Спасибо!

[2019-03-05 08:43] YuriSilenok commented on #107
Здравствуйте @cdvinvate
Задача снята по не активности.
Спасибо.

[2019-03-05 08:44] YuriSilenok commented on #107
@ZhezlovaDaria это Ваша новая задача.

[2019-03-05 09:14] YuriSilenok commented on #91
Выполните git pull, git status, покажите результат. Подозреваю реверт вы делали через вэб-интерфейс, а последние изменения с сервера не получили.

[2019-03-05 11:02] Parallusion commented on #91
Первый revert делал не я, а другой студент и откатывал он свои изменения, которые слил в Testing. А потом у меня сам commit прошёл успешно, изменения видны в комите под названием commit, они корректны. А затем я использовал revert на некорректный коммит и изменения некорректного комита должны были откатиться. Так что по логике должно быть всё нормально.

Правильный вариант решения задачи находится

[2019-03-05 15:50] YuriSilenok commented on #103
Так как таблице не указан ресурс. Вы можете это прописать в конструкторе форма Дисциплины
`dataGriedView1.Source = Controllers.CDiscipline.Select();`
Должно по идее начать работаь после этого.

[2019-03-05 16:15] VinogradovAlexandr781227 commented on #94
Здравствуйте

Я готов приступить к лабораторной работе 3.1, снятой по бездействию.

Спасибо
Александр Виноградов
17-ИСбо-2б

пн, 4 мар. 2019 г. в 16:37, Юрий Силенок <notifications@github.com>:

[2019-03-05 16:16] GubanovAndrey commented on #74
Здравствуйте.

Я готов приступить к  лабораторной работе № 3.1, снятой по бездействию.

Спасибо.
Губанов Андрей
17-ИСбо-2а

вс, 3 мар. 2019 г. в 10:20, Юрий Силенок <notifications@github.com>:

[2019-03-05 16:56] yuliagolubevaa5 commented on #103
Должно по идее начать работаь после этого.
Спасибо, теперь действительно работает. Однако в форме Дисциплины теперь появились поля ID, Code, Name вместо русскоязычных "Код" и "Наименование". Мне нужно это исправлять?
![image](https://user-images.githubusercontent.com/47320351/53822306-8b7b7b00-3f80-11e9-8cd2-01d3605019f0.png)

[2019-03-05 17:04] Nosolev opened #128 "Разработать сценарии тестирования пригодных для автоматизации unit-test для метода Insert(Model model) класса CTeacher"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
Реализовать сценарии пригодные для Unit-тестирования
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Ссылка на диаграмму классов](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8

[2019-03-05 17:38] YuriSilenok commented on #90
Здравствуйте.
Этой подсказки достаточно?
[code]
Спасибо.

[2019-03-05 18:17] YuriSilenok opened #129 "Создать форму Профили подготовки"
Вызывается из стартовой формы в верхнем меню пунктом Справочники-Профили подготовки
Имя формы TrainingProfiles
Графический интерфейс:

- Заголовок формы Профили подготовки
- Таблица привязанная ко всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка Добавить имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в правом нижнем углу

[2019-03-05 18:23] YuriSilenok commented on #91
Я бы сказал что все это мы должны обсуждать в запросе на слияние

[2019-03-06 06:30] YuriSilenok commented on #107
Зачтено

[2019-03-06 06:30] #107 closed, assigned to ZhezlovaDaria

[2019-03-06 06:44] YuriSilenok commented on #119
Зачтено

[2019-03-06 13:28] YuriSilenok opened #133 "Создать форму Кафедры"
Вызывается из стартовой формы в верхнем меню пунктом Справочники-Кафедры подготовки
Имя формы Department
Графический интерфейс:

- Заголовок формы Кафедры
- Таблица привязанная ко всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка Добавить имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в правом нижнем углу формы.
- Кнопка

[2019-03-06 13:30] YuriSilenok commented on #94
Добрый день.

Вы должны были написать мне на почту

Спасибо

*Yuri Silenok* | QA Analyst, Consolidated FT team | *Exactpro*

BUILD SOFTWARE TO TEST SOFTWARE

вт, 5 мар. 2019 г. в 19:17, Александр Виноградов <notifications@github.com>:

[2019-03-06 13:30] YuriSilenok commented on #74
Добрый день.

Жду от Вас письма на почту

Спасибо

*Yuri Silenok* | QA Analyst, Consolidated FT team | *Exactpro*

BUILD SOFTWARE TO TEST SOFTWARE

*D*&*M:* +7 953 665 79 34 | *W: *exactpro.com
*Follow us:* LinkedIn
<https://www.linkedin.com/company/exactpro-systems-llc/>| Twitter
<https://twitter.com/exactpro>| Facebook
<https://www.facebook.com/exactpro/>| Instagram
<https://instagram.com/exactp

[2019-03-06 14:21] YuriSilenok commented on #103
Нет. Не нужно.На это потом баг поднимем.

[2019-03-06 14:23] YuriSilenok commented on #128
Зачтено

[2019-03-06 15:14] YuriSilenok commented on #91
Зачтено

[2019-03-06 15:14] #91 closed, assigned to Parallusion

[2019-03-06 18:53] YuriSilenok commented on #118
Зачтено

[2019-03-06 18:53] #118 closed, assigned to altavelor

[2019-03-06 20:07] YuriSilenok opened #137 "Создать форму Институты"
Реализовано в ветку task-137
Вызывается из стартовой формы в верхнем меню пунктом Справочники-Институты подготовки
Имя формы Institutes
Графический интерфейс:

- Заголовок формы Институты
- Таблица привязанная ко всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка Добавить имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в пр

[2019-03-06 20:10] YuriSilenok opened #138 "Создать форму Корпуса"
Вызывается из стартовой формы в верхнем меню пунктом Справочники-Кафедры подготовки
Имя формы Enclosures
Графический интерфейс:

- Заголовок формы Корпуса
- Таблица привязанная ко всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка Добавить имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в правом нижнем углу формы.
- Кнопка

[2019-03-06 22:00] Proffet78 commented on #90
Здравствуйте!

Прошу помощи.
Что мне с этим делать ?
Я пытался отправить коммит.

Спасибо,
![default](https://user-images.githubusercontent.com/47320491/53916883-53edfb00-4074-11e9-92c3-d77af6e9abcc.PNG)

[2019-03-07 08:19] VinogradovAlexandr781227 commented on #133
Сколько столбцов и строчек должно быть в таблице и какими значениями их заполнять?

[2019-03-07 08:44] YuriSilenok opened #139 "Создать форму Виды занятий"
Вызывается из стартовой формы в верхнем меню пунктом Справочники-Виды занятий подготовки
Имя формы TypesOfOccupations
Графический интерфейс:

- Заголовок формы Виды занятий
- Таблица привязанная ко всем сторонам формы. И имеет отступ 3px от кнопок снизу.
- Кнопка Добавить имеет стандартные размеры и привязку к правому и нижнему краю формы. Отступ со всех сторон 3px. Расположена в правом нижнем угл

[2019-03-07 08:46] YuriSilenok commented on #90
Здравствуйте.

Попробуйте перевести то, что написано желтым.
Если это не поможет, напишите мне о том, что вы поняли из перевода.

Спасибо.

[2019-03-07 13:32] YuriSilenok commented on #133
Ничего добавлять не нужно. Таблица пустая. Потом будет привязываться источник данных. Это только гуя.

[2019-03-07 18:19] Whitetech7417 opened #142 "Программа крашиться(вылетает), если удалить дисциплину в пустой таблице "дисциплина""
**Шаги для реализации бага:**

1. Перейти по меню Справочники-Дисциплины
2. Нажать на кнопку Удалить.

**Ожидаемый результат:** Изменений нет.
**Фактический результат:** Программа вылетает, и выдает ошибку(исключение). Метод в котором вылетает ошибка private void Delete_Click(object sender, EventArgs e)

[2019-03-07 19:01] Whitetech7417 opened #143 "Невозможно удалить несколько учителей"
**Шаги для реализации бага:**

1. Перейти по меню Справочники-Преподаватели
2. Выбрать несколькиx преподавателей нажать кнопку "Удалить"

**Ожидаемый результат:** удаление несколькиx учителей.
**Фактический результат:** Удаляет одного учителя.
Я так понимаю там реализован функционал удаления последнего. Это неверно. нужно удалять выбранного, а не последнего из списка.

[2019-03-07 19:13] Whitetech7417 opened #144 "Некорректное отображение таблицы при открытии"
**Шаги для реализации бага:**
Перейти по меню Справочники-Группы

**Ожидаемый результат:**
Столбец численность отображается
на скриншоте видно, что столбца "численность" между ID и Шифр не видно
![image](https://user-images.githubusercontent.com/38256956/53980965-b6053980-4122-11e9-8f80-95b575f042f7.png)

**Фактический результат:**
Не отображается корректно Столбец "численность"
На скриншоте приме

[2019-03-07 19:14] Whitetech7417 opened #145 "Некорректная обработка "Добавить преподавателя""
**Шаги для реализации бага:**

В верхнем меню выбрать Справочники-Преподаватели

1. Нажать кнопку "Добавить"
2. Открыть текстовый редактор и напечатать в нем имя в середине которого будет пробел
3. Скопировать из текстового редактора имя с пробелом и вставить его в поле "Имя" формы "Добавить преподавателя" (ПКМ по полю, затем "Вставить")
4. Нажать кнопку "Создать и закрыть"

**Ожидаемый результат:

[2019-03-07 19:36] YuriSilenok commented on #90
Здравствуйте, зачем Вы это мне написали?

[2019-03-07 19:43] Proffet78 commented on #90
Здравствуйте!

Изначально, когда я перевел, я не совсем понял, что от меня требовалось, поэтому я написал это вам. Позднее я сам смог разобраться, просто забыл удалить комментарий, прошу меня извинить, постараюсь больше не загружать вас ненужной информацией!

Спасибо.

[2019-03-08 18:44] YuriSilenok commented on #110
Здравствуйте.
До конца задача еще не решена.
Вы выполнили [мерж ](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/commit/62a7f7cbc2686fb7ae46c9860281258c8ad8c680)из ветки Testin в ветку task-110-1.
При этом было удалено часть элементов меню, которыми вызывалась Ваша форма в различных режимах.
Вам нужно их восстановить создав ветку task-110-2 из ветки Testing
Плюс к этому, в м

[2019-03-08 18:55] YuriSilenok commented on #90
Здравствуйте.
- Комментарии могут удаляться только если они ошибочные
- Я не просил присылать мне перевод, я просил что бы Вы рассказали свое понимание этого перевода. И вообще происходящей ситуации.

Спасибо.

[2019-03-08 19:50] YuriSilenok commented on #94
Здравствуйте @Pipyao
Если это действительно так, то Вам необходимо перевесить текущую задачу на пользователя @VinogradovAlexandr781227 и написать письмо в ветку в котором Вы уже просили выдать задачу.

[2019-03-09 07:57] YuriSilenok commented on #142
Здравствуйте @Whitetech7417
Повысил привилегии для вашей команды.
Теперь у вас есть возможность управлять метаданными задачи.
Спасибо.

[2019-03-09 10:15] YuriSilenok commented on #109
Зачтено

[2019-03-09 10:15] #109 closed, assigned to KharlamovaAlexandra

[2019-03-09 11:28] YuriSilenok commented on #144
Здравствуйте @Whitetech7417
Что значит корректно?

Спасибо.

[2019-03-09 12:02] Whitetech7417 commented on #144
Добрый день @YuriSilenok
Я так понимаю, что при открытии формы, верстка windows form должна верстаться так чтобы видны были сразу все столбцы. Я не уверен что я логически правильно мыслю.
Но к сожалению баги как то сложно искать когда функциональности не так много, поэтому цепляюсь за каждую мелочь.
Спасибо

[2019-03-09 15:36] Whitetech7417 opened #151 "Второй экземпляр формы "Справочники" крашит программу"
Баг затрагивает issue #109

**Шаги для реализации бага:**

1. Перейти по меню "Справочники-Справочники"
2. Открыть еще один раз "Справочники-Справочники".
3. Во второй форме кликнуть на столбец "numbers"

**Ожидаемый результат:** Ничего не происходит
**Фактический результат:**
При попытке работы с второй формой вылетает ошибка (исключение)
![image](https://user-images.githubusercontent.com/3825695

[2019-03-09 15:45] Whitetech7417 opened #152 ""Дисциплины", при добавлении дисциплины кнопка "удалить" не активна"
Когда заxодишь в "дисциплины" кнопка "удалить" активна. При добавлнии преподавателя она становиться не активной.
Предполагаема ошибка в условии класса Discipline.cs
private void DG_Disc_SelectionChanged(object sender, EventArgs e)

**Шаги для реализации бага:**

1. Перейти по меню Справочники-Дисциплины
2. Создать Дисциплину

**Ожидаемый результат:** Кнопка "Удалить" активна
**Фактический результа

[2019-03-09 15:50] Whitetech7417 opened #153 "[Дисциплина] При удалении нескольких строк, удаляется только одна"
**Шаги для реализации бага:**

1. Перейти по меню Справочники-Дисциплины
2. Создать несколько Дисциплин
3. Выбираем несколько дисциплин для удаления

**Ожидаемый результат:** Удаляет выбранные дисциплины
**Фактический результат:** Удаляет самую первую в списке выборки дисциплину.

[2019-03-09 17:05] purplegen commented on #110
@YuriSilenok

Т.е мне сейчас нужно только восстановить кнопки?

Спасибо

[2019-03-11 13:09] YuriSilenok commented on #90
Почему [этот](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/141) запрос у Вас Выполнен?

[2019-03-11 13:14] Proffet78 commented on #90
Здравствуйте.

Этот запрос был ошибочным. Так как я впервые начал работать с GitHub, я не до конца понимал, что мне нужно было сделать и поэтому я изначально сделал его, и потом сам выполнил и закрыл, моя ошибка.  Потом я уточнил у своих одногруппников и в связи с этим,  я создал новый [запрос](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/pull/146) .

Спасибо.

[2019-03-11 13:19] YuriSilenok commented on #144
Теперь увидел.
При уменьшении ширины формы, столбце "Численность" перестает отображаться.
Это нормальный баг.
Вы молодец.
Но результат не может быть просто картинкой. Картинка это способ облегчить преставления того что написано. Это значит, что что-то должно быть написано.
Пожалуйста, исправьте описание бага.
Учтите что читающий не держит в голове что "Численность" это заголовок столбца.

[2019-03-11 13:20] YuriSilenok commented on #144
Здравствуйте @Pipyao
Это  Ваша задача к ЛР03.
Спасибо.

[2019-03-11 13:52] YuriSilenok commented on #145
Для воспроизведения.

Общее замечание для всех багов, используйте нумерованный список, а слова ожидаемый результат и фактический результат нужно выделять жирным.

Покажу здесь для образца.

**Steps:**
1. В верхнем меню выбрать Справочники-Преподаватели
2. Нажать кнопку "Добавить"
3. Открыть текстовый редактор и напечатать в нем имя в середине которого будет пробел
4. Скопировать из текстового реда

[2019-03-11 14:03] YuriSilenok commented on #110
Зачтено

[2019-03-11 14:04] #110 closed, assigned to isengrims

[2019-03-11 18:52] Whitetech7417 commented on #144
@YuriSilenok
Обновил описание,
Спасибо за понимание.

[2019-03-11 18:56] Whitetech7417 commented on #145
@YuriSilenok ошибку понял, По багу нет вопросов?

[2019-03-12 09:57] YuriSilenok commented on #139
Зачтено

[2019-03-12 09:57] #139 closed, assigned to Rogachev99

[2019-03-12 10:31] YuriSilenok commented on #74
Зачтено

[2019-03-12 10:31] #74 closed, assigned to nrabotko

[2019-03-13 04:17] YuriSilenok commented on #151
Баг не воспроизвелся, могли Вы проверить его воспроизведение у себя на компьютере.
Если баг воспроизведется, сообщите версию ОС и VS.

[2019-03-13 12:37] Whitetech7417 commented on #151
@YuriSilenok  Я немного не так описал баг. При открытии второй формы, попробуйте в ней покликать на поля и в частности на поле "nubmers"

[2019-03-13 13:35] Whitetech7417 opened #157 "Некорректное отображение столбца в "дисциплины""
**Шаги для реализации бага:**
Перейти по меню Справочники-Дисциплины

**Ожидаемый результат:**
Столбец "наименование" отображается (его видно изначально при открытии)

![image](https://user-images.githubusercontent.com/38256956/54282787-c64b6780-45ad-11e9-9c3d-9fd0e02f1a6a.png)

**Фактический результат:**

Не отображается корректно Столбец "численность"
На скриншоте заметно, что столбца "численнос

[2019-03-13 19:20] YuriSilenok commented on #143
Здравствуйте @Whitetech7417 .
Используйте форматирование в описании бага
Спасибо.

[2019-03-13 19:21] YuriSilenok commented on #142
Здравствуйте @Whitetech7417 .
Используйте форматирование в описании бага
Спасибо.

[2019-03-13 19:22] YuriSilenok commented on #145
Здравствуйте @Whitetech7417 .
Используйте форматирование в описании бага
Я ожидаю что Вы внесете изменение в описание бага.
Кнопка Edit
![image](https://user-images.githubusercontent.com/14871471/54308170-7afd7d00-45de-11e9-86f5-33658b3fd260.png)

Спасибо.

[2019-03-13 19:25] YuriSilenok commented on #144
Здравствуйте @Whitetech7417 .
Используйте форматирование в описании бага
Спасибо.

[2019-03-14 13:02] Whitetech7417 commented on #145
@YuriSilenok готово.

[2019-03-14 13:05] Whitetech7417 commented on #144
@YuriSilenok готово.

[2019-03-14 13:08] Whitetech7417 commented on #142
@YuriSilenok готово.
Спасибо.

[2019-03-14 13:08] Whitetech7417 commented on #143
@YuriSilenok готово.

[2019-03-15 10:28] YuriSilenok commented on #145
@Whitetech7417 Зачтено

[2019-03-15 10:28] YuriSilenok commented on #145
@stasshtaub Ваша новая задача

[2019-03-15 10:49] YuriSilenok commented on #90
Нужно откатить изменения.

[2019-03-15 11:46] YuriSilenok commented on #144
@Whitetech7417 Зачтено

[2019-03-15 11:48] YuriSilenok commented on #157
@Whitetech7417 Зачтено

[2019-03-15 16:45] stasshtaub commented on #145
@YuriSilenok Когда я пытаюсь запустить программу для воспроизведения бага из созданной ветки (task-145), VS выдает ошибку: **"Два имени выходных файлов разрешаются в один и тот же выходной путь: "obj\Debug\TimetableOfClasses.AddTeacher.resources"**

[2019-03-16 22:13] Proffet78 commented on #90
Здравствуйте.
Не совсем понимаю как это сделать (откатить изменения). Не могли бы вы мне помочь?
Спасибо.

[2019-03-17 12:06] YuriSilenok commented on #111
Зачтено

[2019-03-17 12:06] #111 closed, assigned to SamuraSwordS

[2019-03-17 14:59] YuriSilenok commented on #105
[Дубликат](https://github.com/Students-of-the-city-of-Kostroma/Student-timetable/issues/100)

[2019-03-18 13:01] DenisSavelev opened #159 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Insert(Model model) сущности Институт"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)

[2019-03-18 13:03] PopovMilan opened #160 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Insert(Model model) сущности Кафедра"
[Сценарии](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
#982 - Описание модели

[2019-03-18 13:03] Takunava opened #161 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Delete(Model model) сущности Институт"
[План разработки.](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Сценарий.](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Ссылка](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0) на диаграмму классов.

[2019-03-18 13:06] ghost opened #162 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Delete(Model model) сущности Кафедра"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Ссылка](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0) на диаграмму классов

[2019-03-18 13:11] DenisSavelev commented on #159
Сценарии
Реализовать сценарии пригодные для Unit-тестирования
План разработки
Диаграмма классов

[2019-03-18 13:18] FvckNeighbors opened #163 "Разработать сценарий тестирования пригодных для автоматизации модульными тестами для метода Insert(Model model) сущности Министерство"
[Сценарии.](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)

[2019-03-18 13:36] Pipyao opened #164 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Delete(Model model) сущности Аудитория"
[Сценарий](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Ссылка](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0) на диаграмму классов

[2019-03-18 16:58] map82top commented on #128
Состояние таблицы контроллера CTeacher | Атрибут INN ∈ [0-9]{10 &12} | Атрибут surname ∈ [A-Я]{1}[а-я]{0,49} | Атрибут name ∈ [A-Я]{1}[а-я]{0,49} | Атрибут middlename ∈ [A-Я]{1}[а-я]{0,49} | Атрибут academicDegree <> null (лучше поменять на перечисление) | Атрибут academicRank <> null (лучше поменять на перечисление) | Атрибут sizeOfTeachingExperience ∈ [0-50]
-- | -- | -- | -- | -- | -- | -- | --

[2019-03-18 17:49] map82top commented on #128
Нашел задачу #13 очень похожую на мою. Как нужно разрешить данный конфликт?

[2019-03-19 18:31] YuriSilenok commented on #143
@Whitetech7417 Зачтено

[2019-03-19 19:36] YuriSilenok commented on #151
Не воспроизводится.
При клике на столбец "number", произошла сортировка в обоих окнах.
![image](https://user-images.githubusercontent.com/14871471/54636334-49c9f480-4a97-11e9-8487-014ff34cfde5.png)

[2019-03-19 19:38] YuriSilenok commented on #142
@Whitetech7417 зачтено

[2019-03-20 06:05] MihailBobylev opened #166 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Insert(Model model) сущности ВУЗ"
[План разработки](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102).
[Сценарий](https://docs.google.com/spreadsheets/d/1z89kyDKWUYUOjZVjVTJZ_0lOJeD7eQB3OKzh6513cnc/edit?usp=sharing).
[Ссылка](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0) на диаграмму классов.

[2019-03-20 06:11] bormolei opened #167 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Delete(Model model) сущности Корпус"
Сценарий
План разработки
Ссылка на диаграмму классов

[2019-03-20 06:25] Parallusion opened #168 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Delete(Model model) сущности ВУЗ"
[План разработки.](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
Сценарий.
[Ссылка на диаграмму классов.](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0)

[2019-03-20 06:29] Parallusion opened #169 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Delete(Model model) сущности ВУЗ"
[План разработки.](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Сценарий.](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Ссылка на диаграмму классов.](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0)

[2019-03-20 06:32] Parallusion commented on #168
Является дубликатом #169

[2019-03-20 06:32] #168 closed, assigned to Parallusion

[2019-03-20 18:36] #4 closed, assigned to YuriSilenok

[2019-03-20 18:36] #6 closed, assigned to YuriSilenok

[2019-03-20 18:36] #7 closed, assigned to YuriSilenok

[2019-03-20 18:37] #8 closed, assigned to YuriSilenok

[2019-03-20 18:37] #9 closed, assigned to YuriSilenok

[2019-03-20 18:37] #10 closed, assigned to YuriSilenok

[2019-03-20 18:37] #15 closed, assigned to YuriSilenok

[2019-03-20 18:37] #19 closed, assigned to YuriSilenok

[2019-03-20 18:37] #20 closed, assigned to YuriSilenok

[2019-03-20 18:37] #23 closed, assigned to YuriSilenok

[2019-03-20 18:37] #28 closed, assigned to YuriSilenok

[2019-03-20 18:37] #33 closed, assigned to NordScandinavian

[2019-03-20 18:37] #35 closed, assigned to YuriSilenok

[2019-03-20 18:37] #38 closed, assigned to YuriSilenok

[2019-03-20 18:37] #39 closed, assigned to YuriSilenok

[2019-03-20 18:37] #43 closed, assigned to YuriSilenok

[2019-03-20 18:37] #44 closed, assigned to YuriSilenok

[2019-03-20 18:37] #45 closed, assigned to YuriSilenok

[2019-03-20 18:37] #71 closed, assigned to MyachevM

[2019-03-20 18:37] #83 closed, assigned to YuriSilenok

[2019-03-20 18:37] #89 closed, assigned to YuriSilenok

[2019-03-20 18:37] #98 closed, assigned to ZhizhikinIvan

[2019-03-20 18:37] #104 closed, assigned to YuriSilenok

[2019-03-20 18:41] YuriSilenok commented on #90
Ответственный за задачу Вы, не перевешивайте ее на меня.

[2019-03-20 18:46] YuriSilenok commented on #5
Снято по не активности

[2019-03-20 18:53] YuriSilenok commented on #21
@isengrims Вы занимаетесь этой задачей?

[2019-03-20 18:54] YuriSilenok commented on #24
@

[2019-03-20 18:54] #24 closed, assigned to Chippa99fm

[2019-03-20 18:54] YuriSilenok commented on #26
@SamuraSwordS Вы занимаетесь этой задачей?

[2019-03-20 18:55] #27 closed, assigned to KudelinRoman

[2019-03-20 18:55] #42 closed, assigned to altavelor

[2019-03-20 18:56] #41 closed, assigned to SergeAlekseev

[2019-03-20 19:02] YuriSilenok commented on #94
@VinogradovAlexandr781227 Задача снята по бездействию

[2019-03-20 19:28] YuriSilenok commented on #78
Зачтено.

[2019-03-20 19:28] #78 closed, assigned to PopovMilan

[2019-03-20 19:32] YuriSilenok commented on #151
зачтено, все равно балл поставлю

[2019-03-20 19:41] YuriSilenok commented on #145
Вам нужно выполнить команду rebase.
Она позволит переместить начало вашей ветки к последнему коммиту ветки Testing.
Это произошло из-за попадания в ветку Tedting некачественного коммита.

[2019-03-20 19:45] YuriSilenok commented on #90
Под откатом изменений понимается команда revert. Она позволяет выполнить обратные действия некоторому коммиту. Вам следует прочесть о том как выполняется эта команда и и попробовать откатить изменения в вашем репозитории который вы получили в ЛР02. У Вас как раз там должен быть коммит на мерж двух веток.

[2019-03-20 20:01] stasshtaub commented on #145
Здравствуйте.

Вы отправили мне две задачи: 145 и 152. Какую из них мне брать?

ср, 20 мар. 2019 г., 22:41 Юрий Силенок <notifications@github.com>:

[2019-03-20 21:28] ZhezlovaDaria commented on #16
Состояние таблицы контроллера | Шифр chipher∈ [0-9]{2}-[А-Я]{2}[а-я]{2}-[0-9]{1}[а-я]{0,1} | Численность population∈[0;50]
-- | -- | --
Добавление данных в пустую таблицу | task-16-1 | task-16-1
Добавление данных с дублирующими атрибутами | task-16-2 | task-16-3

[Сценарий task-16](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)

[2019-03-21 12:19] yuliagolubevaa5 opened #171 "Разработать сценарии тестирования пригодных для автоматизации модульным тестированием метода Insert(Model model) сущности Корпус"
[План разработки.](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_102)
[Сценарий.](https://docs.google.com/spreadsheets/d/114F1wKsHoGB75gmF2p_XUR5zgbUb6IeQNX1ziO_BSIw/edit#gid=2120214548)
[Ссылка на диаграмму классов.](https://docs.google.com/presentation/d/1sLkafCqJTvIAcyZ1jfNw0JrZq8o33WYKGot23z7EfzA/edit#slide=id.g4e940e7976_0_0)

[2019-03-21 13:16] KharlamovaAlexandra commented on #13
Состояние таблицы контроллера | Surname ∈ [[A-Я]{1}[а-я]{1,50} or А-Я]{1}[а-я]{1,50}-[А-Я]{1}[а-я]{1,50}] | Name ∈ [[A-Я]{1}[а-я]{1,50} or [А-Я]{1}[а-я]{1,50}-[А-Я]{1}[а-я]{1,50} ] | MiddleName ∈[[A-Я]{1}[а-я]{1,50} or [А-Я]{1}[а-я]{1,50}-[А-Я]{1}[а-я]{1,50} or null] | AcademicDegree ∈["Кандидат наук" or "Доктор наук" or null or "кандидат наук" or "доктор наук" ] | AcademicRank ∈[ "Доцент" or "Про

[2019-03-21 13:17] KharlamovaAlexandra commented on #13
Здравствуйте, @YuriSilenok
Хочется узнать правильно ли выполнена таблица выше, что бы перейти к заполнению таблицы сценариев.